In [2]:
import pandas as pd

In [1]:
from src.config import ROOT_DIR, RESULTS
from os.path import join
import os
os.chdir(RESULTS)

Project Directory: /data2/mito_lineage

In [6]:
df = pd.read_csv("/data2/isshamie/mito_lineage/data/processed/mtscATAC/2020_11_18_Croker/MTblacklist_mtasnucl/PBMC_J/outs/peaks.bed",
            sep="\t", header=None)

In [7]:
df

          0         1         2
0      chr1    267855    268166
1      chr1    778415    779111
2      chr1    817144    817529
3      chr1    827106    827916
4      chr1    869790    869945
...     ...       ...       ...
44826  chrY  56873577  56874589
44827  chrY  56875175  56875240
44828  chrY  56877275  56877497
44829  chrY  56880574  56880605
44830  chrM         0     16569

[44831 rows x 3 columns]