# Using vireo for multiplexing, followed by lineage tracing of those groups

# 1. Set up

In [1]:
import os
os.chdir("/data2/mito_lineage/")#Analysis/multiplex")

In [2]:
# papermill --cwd /data2/mito_lineage -p INDIR {INDIR} -p OUTDIR data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/clones -p  src/vireo/2_MT_Lineage_Construct.ipynb

In [3]:
pwd

'/data2/mito_lineage'

### Remove this when running in snakemake

## 1.1 Parameters

In [4]:
# INDIR=""
# OUTDIR=""
# N_DONORS=5
INDIR= "data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex"
OUTDIR= "data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/clones"
N_DONORS=5
DEBUG=False

In [5]:
# # Parameters
# #INDIR="data/CHIP_april08_2021/MTblacklist/chrM/pseudo/minC200_minAF0.0001/numC25000_ispropFalse/"
# INDIR=""
# OUTDIR=""
# #OUTDIR="data/CHIP_april08_2021/MTblacklist/chrM/pseudo/minC200_minAF0.0001/numC25000_ispropFalse/lineages"
# N_DONORS=5

## 1.2 Import packages

In [14]:
from os.path import join, exists, dirname
from icecream import ic
from glob import glob
import mplh.cluster_help as ch
import os
from vireoSNP.plot.base_plot import heat_matrix
from vireoSNP import Vireo
import src.pseudo_batch as pb
import vireoSNP
ic(vireoSNP.__version__)
from tqdm import tqdm
import numpy as np
from scipy import sparse
from scipy.io import mmread
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from src.vireo.vireo_utils import run_vireo, plot_vireo_out, extract_clusters, run_elbo, separate_donors
%load_ext autoreload
%autoreload 2
from src.vireo.vireo_utils import run_lineage
#np.set_icoptions(formatter={'float': lambda x: format(x, '.5f')})

0.4.2
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
if not DEBUG:
    ic.disable()

# 2 Lineage construction for each donor

In [9]:
# num_cores = 12# N_DONORS #multiprocessing.cpu_count()
# inputs = tqdm(np.arange(N_DONORS))
# for n in np.arange(N_DONORS):
#     ic('n', n)
#     run_lineage(n, INDIR, OUTDIR, n_clone_list=[5, 10, 20, 40, 100], rerun_model=False)

In [10]:
n_clone_list=[20, 40, 100]

In [11]:
cells_meta = pd.read_csv(join(INDIR, f"cells_meta.tsv"), sep='\t')

cells_meta=cells_meta.astype({"donor_index": "Int64", "donor": "Int64"})
cells_meta

,new index,ID,raw ID,condition,donor,donor_index
0,1,AAACGAATCTTACTCA-1_Input,AAACGAATCTTACTCA-1,Input,0,1
1,2,AAAGGATAGTCGTGAG-1_Input,AAAGGATAGTCGTGAG-1,Input,2,1
2,3,AAATGAGGTCAATACC-1_Input,AAATGAGGTCAATACC-1,Input,NaN,NaN
3,4,AAATGCCAGGAACCGT-1_Input,AAATGCCAGGAACCGT-1,Input,4,1
4,5,AAATGCCCACCGAAAG-1_Input,AAATGCCCACCGAAAG-1,Input,NaN,NaN
...,...,...,...,...,...,...
4793,4794,TTTGTGTCATTCTTTG-1_Flt3l,TTTGTGTCATTCTTTG-1,Flt3l,0,1136
4794,4795,TTTGTGTTCAAGAGGC-1_Flt3l,TTTGTGTTCAAGAGGC-1,Flt3l,0,1137
4795,4796,TTTGTGTTCGCAGATT-1_Flt3l,TTTGTGTTCGCAGATT-1,Flt3l,1,788
4796,4797,TTTGTGTTCGCTATAG-1_Flt3l,TTTGTGTTCGCTATAG-1,Flt3l,3,949
4797,4798,TTTGTGTTCTTCTTCC-1_Flt3l,TTTGTGTTCTTCTTCC-1,Flt3l,1,789

In [12]:
def run_lineage_wrap(indir, outdir, n_donors, n_clone_list, cells_meta):
    for clone in n_clone_list:
        cells_meta_col = f"lineage{clone}"
        curr_outdir = join(outdir, cells_meta_col)
        if not exists(curr_outdir):
            os.mkdir(curr_outdir)
        curr_cells_meta = cells_meta.copy()
        all_cells_meta = [] #concat across donors
        
        for donor in np.arange(n_donors):
            print(f'clone: {n_clone_list} donor: {donor}')
            curr_ad_f = join(indir, f"donor{donor}.AD.mtx")
            curr_dp_f = join(indir, f"donor{donor}.DP.mtx")
            curr_labels_f = join(indir, f"donor{donor}.labels.txt")
            curr_vcf_f = join(indir, f"donor{donor}.vcf")
            curr_labels_rawID = join(indir, f"cell_labels.donor{donor}.txt")
            prefix=f"donor{donor}_"
            ic(curr_ad_f)
            ic(curr_dp_f)
            curr_ad = mmread(curr_ad_f).tocsc()
            curr_dp = mmread(curr_dp_f).tocsc()
            curr_labels = pd.read_csv(curr_labels_f, index_col=0)
            curr_vcf = pd.read_csv(curr_vcf_f, sep='\t')
            ic('curr_vcf')
            ic(curr_vcf.head())
            #curr_cells_meta = pd.read_csv(curr_labels_rawID, index_col=0)
            ic('curr_labels')
            ic(curr_labels.head())
            prefix = f"donor{donor}_"
            model_name = f"{prefix}lineage_{clone}"
            modelCA, elbo = run_vireo(curr_ad, curr_dp, clone, n_cores=32, plot_qc=True,out_f=join(curr_outdir, model_name))
            try:
                doublet_prob = modelCA.predict_doublet(AD, DP, update_GT=False, update_ID=False)[0].sum(axis=1)
            except AttributeError: # New version of Vireo 2021
                #doublet_prob = vireoSNP.utils.vireo_doublet.predict_doublet(modelCA,AD, DP, update_GT=False, update_ID=False)[0].sum(axis=1)
                doublet_prob = vireoSNP.utils.vireo_doublet.predict_doublet(modelCA, curr_ad, curr_dp, update_GT=False, update_ID=False)[0].sum(axis=1)
            

            separate_donors(curr_ad, curr_dp, modelCA, curr_cells_meta, curr_outdir,
                            doublet_prob,
                            prob_thresh=0.9, doublet_thresh=0.9,
                            cells_ind_col='donor_index',
                            out_name="lineage", prefix=prefix, cells_filt_col="donor", 
                            cells_filt_val=donor, vars_meta=curr_vcf)
            all_cells_meta.append(pd.read_csv(join(curr_outdir, f"{prefix}cells_meta.tsv"), sep='\t'))

        # Concat cells_meta across donors
        all_cells_meta = pd.concat(all_cells_meta, axis=0)
        all_cells_meta = all_cells_meta.astype({"lineage_index": "Int64", "lineage": "Int64"})
        ic('all_cells_meta', all_cells_meta.head())
        all_cells_meta.to_csv(join(curr_outdir, "cells_meta.tsv"), sep='\t')
    return

In [13]:
run_lineage_wrap(INDIR, OUTDIR, N_DONORS, n_clone_list, cells_meta)

data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor0.AD.mtx
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor0.DP.mtx
curr_vcf
  index_x #CHROM    POS REF_x ALT  strand_correlation_x     vmr_x  \
0     NaN   chrM  16512   NaN   C                   NaN       NaN
1   73A>G   chrM     73   73A   G              0.996919  0.382955
2  146T>C   chrM    146  146T   C              0.993106  0.591151
3  150C>T   chrM    150  150C   T              0.979327  0.670372
4  195T>C   chrM    195  195T   C              0.990257  0.623396

   n_cells_over_5_x  n_cells_over_20_x  \
0               NaN                NaN
1             119.0              116.0
2               2.0                1.0
3              61.0               49.0
4              44.0               31.0

   old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Input/MT/cellr_True/Input_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                1.0
2                                                2.0
3                                                3.0
4                                                4.0

   ... n_cells_over_20_y  \
0  ...               NaN
1  ...             329.0
2  ...               NaN
3  ...             177.0
4  ...              22.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Control/MT/cellr_True/Control_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                2.0
2                                                NaN
3                                                3.0
4                                                4.0

      index     REF  strand_correlation       vmr  n_cells_over_5  \
0  16512T>C  16512T            0.772501  0.013277             0.0
1     73A>G     73A            0.995236  0.339875          2768.0
2    146T>C    146T            0.990833  0.665951            15.0
3    150C>T    150C            0.977151  0.800561           714.0
4    195T>C    195T            0.971955  0.669470          1103.0

  n_cells_over_20  \
0             0.0
1          2699.0
2             6.0
3           664.0
4          1027.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Flt3l/MT/cellr_True/Flt3l_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                              368.0
1                                                3.0
2                                                6.0
3                                                9.0
4                                               11.0

   new ID
0     495
1       1
2       2
3       3
4       4

[5 rows x 25 columns]
curr_labels
   new index                        ID              raw ID condition  donor  \
0          1  AAACGAATCTTACTCA-1_Input  AAACGAATCTTACTCA-1     Input    NaN
1          9  AAGATAGTCGGTACTA-1_Input  AAGATAGTCGGTACTA-1     Input    NaN
2         13  AATGTCGCACCACGAC-1_Input  AATGTCGCACCACGAC-1     Input    NaN
3         32  AGGCGAAAGTGCTGAG-1_Input  AGGCGAAAGTGCTGAG-1     Input    NaN
4         50  CAACCAACACCGTCTT-1_Input  CAACCAACACCGTCTT-1     Input    NaN

   donor_index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
cell meta
             new index                        ID              raw ID  \
donor_index
1                    1  AAACGAATCTTACTCA-1_Input  AAACGAATCTTACTCA-1
2                    9  AAGATAGTCGGTACTA-1_Input  AAGATAGTCGGTACTA-1
3                   13  AATGTCGCACCACGAC-1_Input  AATGTCGCACCACGAC-1
4                   32  AGGCGAAAGTGCTGAG-1_Input  AGGCGAAAGTGCTGAG-1
5                   50  CAACCAACACCGTCTT-1_Input  CAACCAACACCGTCTT-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      0      NaN            NaN
2               Input      0      NaN            NaN
3               Input      0      NaN            NaN
4               Input      0      NaN            NaN
5               Input      0      NaN            NaN
[ -1   0   1   2   3   5   8   9  10  12  13  14  17  18  25  26  28  29
  31  32  35  38  39  41  46  48  49  50  53  54  56  57  58  62  63  67
  68  74  77  78  79  80  81  87  88  90  91 100 101 103 105 106 107 108
 110 112 114 116 117 118 119 123 125 126 129 130 131 132 138 139 145 147
 148 149 150 152 153 155 157 160 161 162 163 165 166 168 169 170 171 172
 173 174 175 176 177 178 179 180 181 182 183 188 190 192 198 209 212 215
 220 226 227 230 233 237 239 241 244 245 246 247 248 249 250 251 253 255
 256 257 258 260 261 264 266 268 269 271 273 275 277 283 284 285 289 291
 292 293 295 296 298 299 300 301 302 304 305 306 310 312 313 315 316 317
 318 319 320 321 322 323 329 330 334 335 336 337 338 339 341 343 345 346
 347 348 351 353 354 355 356 357 359 360 362 363 364 365 366 367 368 370
 372 373 375 376 379 380 381 383 384 386 387 390 393 394 395 397 398 400
 402 403 404 406 407 408 409 410 412 413 414 415 416 417 419 421 422 423
 424 425 426 430 432 433 434 436 437 441 444 445 446 449 450 451 453 454
 455 458 460 461 462]
lineage 0: 70 cells
(4353, 3)
(4353, 3)
curr_ad    Position  Cell  Count
0         1     1    911
2         3     1     15
3         4     1      2
4         5     1     14
6         6     1    260
donor0_lineage0
[ -1   1   2   3   4   5   7   8   9  12  13  14  15  16  17  20  21  22
  24  25  26  28  33  34  35  36  38  39  40  41  42  43  45  46  48  49
  51  53  54  55  56  57  58  59  60  62  63  64  65  67  68  69  74  77
  80  81  82  83  84  85  86  87  88  89  90  91  92  99 100 101 103 105
 106 107 108 109 110 112 114 116 117 118 119 120 121 123 124 125 126 129
 130 131 132 133 134 136 138 139 144 145 146 147 148 149 150 152 153 155
 157 158 160 161 163 165 166 167 168 169 170 171 172 174 175 176 177 178
 179 180 181 182 183 185 186 188 190 198 209 212 215 226 230 252 264 266
 292 299 312 313 317 329 332 334 343 346 352 354 357 360 366 375 376 380
 381 384 400 413 417 419 424 425 432 453 462]
lineage 1: 8 cells
(479, 3)
(479, 3)
curr_ad    Position  Cell  Count
0         1     1   4552
4         4     1     45
5         5     1     25
6         6     1   1659
8         7     1     11
donor0_lineage1

[ -1   1   2   3   4   5   7   8   9  10  12  13  14  17  19  20  22  26
  28  29  32  33  35  38  39  40  41  43  44  45  46  48  49  50  51  53
  54  56  57  58  60  62  63  64  67  68  74  77  79  80  81  82  84  87
  88  89  90  91  93  96  97 100 101 103 105 106 108 110 111 112 114 115
 116 118 119 120 123 125 126 129 130 131 132 134 136 138 139 143 145 147
 148 149 150 151 152 153 155 156 157 158 160 161 162 163 165 166 167 168
 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 188 190 192
 197 198 209 212 213 214 215 216 217 223 226 228 230 234 238 239 240 241
 243 245 246 247 249 250 253 257 258 261 262 264 266 268 269 271 273 280
 283 284 285 286 291 292 296 298 299 301 302 304 306 310 312 313 314 315
 318 321 334 336 339 341 342 343 345 346 347 354 357 358 360 362 363 365
 370 372 375 376 379 380 381 384 386 387 390 393 395 397 398 400 402 403
 406 407 410 412 413 414 419 421 423 424 429 430 432 433 435 436 445 447
 450 451 458 461]
lineage 2: 21 cells
(1202, 3)
(1202, 3)
curr_ad     Position  Cell  Count
0          1     1   2829
5          5     1     12
6          6     1   1063
10         9     1   3317
11        10     1      4
donor0_lineage2
[ -1   1   2   3   5   8   9  10  12  13  14  17  25  26  28  29  32  35
  38  39  41  43  46  48  49  50  53  54  56  57  58  62  63  67  68  74
  77  78  80  81  87  88  90  91 100 101 103 105 106 107 108 110 112 114
 116 117 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150
 152 153 155 157 160 161 162 163 165 166 168 169 170 171 172 173 174 175
 176 177 178 179 180 181 182 183 188 190 198 209 212 217 226 230 233 239
 244 245 246 248 249 250 253 255 257 258 260 261 264 266 268 269 273 275
 276 284 285 291 292 295 296 298 299 301 305 306 310 312 313 315 316 317
 318 323 329 330 334 335 336 337 338 340 341 343 345 352 354 357 360 362
 363 367 370 372 373 375 376 379 380 381 383 384 386 388 393 394 395 397
 398 400 401 403 405 406 407 410 412 413 414 417 419 424 425 426 429 430
 432 433 436 444 445 451 453 456 458 460 461]
lineage 3: 17 cells
(1163, 3)
(1163, 3)
curr_ad     Position  Cell  Count
0          1     1    477
4          4     1      4
6          5     1    141
9          6     1      8
10         7     1    336
donor0_lineage3
[ -1   0   1   2   3   4   5   8   9  10  12  13  14  15  16  17  18  20
  21  22  23  24  25  26  28  29  32  33  34  35  36  37  38  39  40  41
  42  43  46  48  49  50  51  52  53  54  56  57  58  60  61  62  63  64
  65  67  68  69  70  71  73  74  76  77  78  79  80  81  82  83  84  86
  87  88  89  90  91  92  96 100 101 103 105 106 107 108 110 111 112 113
 114 115 116 117 118 119 121 123 125 126 127 128 129 130 131 132 133 134
 138 139 140 143 145 146 147 148 149 150 152 153 155 156 157 158 160 161
 162 163 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 185 186 187 188 190 191 193 194 195 197 198 200 201 202 203
 204 205 206 207 208 209 210 211 212 213 214 215 216 217 219 220 221 222
 223 224 225 226 227 228 229 230 239 241 244 245 248 249 253 257 258 261
 264 266 267 268 271 275 277 284 285 292 296 299 301 304 305 306 310 311
 312 313 317 318 320 321 323 325 329 330 334 337 339 341 343 345 346 347
 352 357 358 360 362 363 365 367 370 372 375 376 379 380 381 386 387 388
 392 394 398 400 402 403 409 410 412 413 414 417 418 419 421 423 426 430
 433 436 441 444 450 455 456 457 458 460 461 462]
lineage 4: 82 cells
(4244, 3)
(4244, 3)
curr_ad    Position  Cell  Count
0         1     1   3550
1         2     1      2
3         4     1      2
4         5     1      9
5         6     1      6
donor0_lineage4
[ -1   1   2   3   4   5   7   8   9  10  11  12  13  14  15  17  18  20
  21  22  23  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39
  40  41  42  45  46  47  48  49  50  51  53  54  55  56  57  58  59  61
  62  63  64  65  67  68  69  70  71  72  74  76  77  78  79  80  81  82
  83  84  85  86  87  88  90  91  93  94  95  96  97 100 101 102 103 105
 106 107 108 109 110 111 112 113 114 115 116 117 118 119 121 122 123 125
 126 127 128 129 130 131 132 133 134 135 137 138 139 141 142 143 144 145
 146 147 148 149 150 152 153 155 156 157 158 160 161 162 163 165 166 167
 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185
 186 187 188 190 194 196 198 212 214 215 219 223 225 226 230 231 232 233
 239 240 241 242 244 245 246 247 248 249 250 253 255 261 264 266 267 268
 269 279 282 284 285 286 287 289 291 292 295 296 299 301 302 304 306 310
 312 313 315 317 318 320 321 323 325 329 331 334 335 337 341 343 345 346
 347 352 353 354 357 360 362 363 365 367 372 373 375 376 378 379 380 381
 383 386 387 390 393 395 398 400 403 406 408 409 410 412 413 414 417 418
 420 421 423 424 425 426 430 432 433 434 436 441 444 453 455 458 460 462]
lineage 5: 31 cells
(1916, 3)
(1916, 3)
curr_ad    Position  Cell  Count
0         1     1   7497
4         4     1     40
5         5     1     28
6         6     1   2140
9         8     1      4
donor0_lineage5
[ -1   0   1   2   3   4   5   7   8   9  10  12  13  14  17  18  20  21
  22  25  26  28  29  30  31  32  34  35  36  38  39  40  41  42  43  45
  46  47  48  49  50  51  53  54  55  56  57  58  60  61  62  63  64  65
  67  68  69  70  71  73  74  76  77  78  79  80  81  82  83  84  85  86
  87  88  89  90  91  93  96 100 101 103 105 106 107 108 109 110 112 113
 114 116 117 118 119 123 125 126 127 128 129 130 131 132 133 136 138 139
 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 160 161 162
 163 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181
 182 183 186 187 188 190 193 195 197 198 199 200 201 203 204 208 209 212
 213 214 215 217 218 219 220 221 222 223 224 226 227 228 230 239 241 244
 245 246 248 249 250 253 256 258 262 264 266 268 269 272 278 281 283 284
 285 286 292 295 296 298 299 301 304 305 306 312 313 315 316 318 320 321
 323 328 329 334 335 336 337 341 343 345 346 347 352 353 354 356 357 358
 360 362 363 367 370 371 372 375 378 379 380 381 386 387 390 391 393 397
 398 400 403 407 409 410 412 413 414 417 419 421 423 424 425 426 430 432
 433 434 435 436 437 442 452 453 455 461]
lineage 6: 32 cells
(1848, 3)
(1848, 3)
curr_ad    Position  Cell  Count
0         1     1   6597
1         2     1      8
2         3     1      2
4         5     1     43
5         6     1     41
donor0_lineage6
[ -1   3   4   5   8   9  10  12  13  14  15  17  20  21  22  28  35  38
  39  40  41  42  45  46  48  49  50  51  53  54  55  56  57  58  59  60
  62  63  65  67  68  70  71  72  74  76  77  78  79  80  81  82  83  84
  85  86  87  88  90  91  93  96 100 101 103 105 106 107 108 110 111 112
 114 116 117 118 119 121 123 125 126 131 132 138 139 143 144 145 147 148
 149 150 152 153 155 157 158 160 161 162 163 165 166 167 168 169 170 171
 172 174 175 176 177 178 179 180 181 183 185 188 190 193 197 200 205 207
 208 209 212 220 223 226 228 229 230 239 241 245 250 266 268 269 271 281
 284 292 295 299 301 304 310 312 313 334 336 339 341 343 357 362 365 375
 379 380 381 385 386 391 392 393 394 395 398 400 403 407 412 413 423 429
 430 432 433 439 458]
lineage 7: 9 cells
(579, 3)
(579, 3)
curr_ad     Position  Cell  Count
0          1     1   8107
4          2     1    113
5          3     1     30
6          4     1   1910
10         6     1   7267
donor0_lineage7
[ -1   0   2   3   4   5   7   9  10  12  13  14  16  17  18  22  25  26
  28  31  32  33  35  36  38  39  40  41  42  43  46  48  49  50  52  53
  54  56  57  58  60  62  63  64  66  67  68  69  70  71  74  76  77  78
  79  80  81  82  84  85  86  87  88  89  90  91  96 100 101 103 105 106
 107 108 110 111 112 114 115 116 117 119 120 123 125 126 127 129 130 131
 132 134 135 137 138 139 143 145 147 148 149 150 152 153 155 157 158 160
 161 162 163 164 165 166 167 168 169 170 171 172 174 175 176 177 178 179
 180 181 182 183 188 189 190 193 194 197 198 200 201 204 207 208 209 212
 213 214 215 217 218 219 221 224 225 226 228 230 233 239 241 243 244 245
 246 248 249 250 253 255 256 257 258 261 262 264 266 268 269 270 271 273
 275 277 279 284 285 286 289 290 291 292 295 296 299 301 302 305 306 310
 312 313 316 317 318 320 321 323 324 325 329 334 335 336 338 339 341 343
 345 346 347 348 351 352 353 357 358 360 362 363 366 367 370 372 373 375
 376 379 380 381 383 384 386 387 389 393 394 395 396 398 400 402 406 407
 408 410 412 413 414 415 416 417 418 419 421 423 424 425 426 427 430 432
 433 436 437 441 444 445 451 453 455 456 460 461]
lineage 8: 47 cells
(2537, 3)
(2537, 3)
curr_ad    Position  Cell  Count
0         1     1   4396
4         4     1     70
5         5     1     21
6         6     1   1763
8         7     1      5
donor0_lineage8
[ -1   0   1   2   3   5   8   9  10  12  13  14  17  18  25  26  28  29
  32  34  35  38  39  40  41  43  46  48  49  50  53  54  56  57  58  62
  63  67  68  74  76  77  78  79  80  81  87  88  90  91 100 101 103 105
 106 107 108 110 112 114 116 117 118 119 123 125 126 129 130 131 132 138
 139 145 147 148 149 150 152 153 155 157 159 160 161 162 163 165 166 168
 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 187 188 190
 198 209 212 215 217 226 230 231 233 234 237 238 239 240 241 244 245 246
 247 248 249 250 253 254 255 256 257 258 259 260 261 264 266 268 269 271
 272 273 274 275 277 278 281 282 284 285 286 287 288 289 291 292 293 294
 295 296 297 298 299 301 302 304 305 306 309 310 311 312 313 314 315 316
 317 318 319 320 321 322 323 324 328 329 330 331 332 334 335 336 337 339
 341 343 345 346 347 351 352 353 354 356 357 360 362 363 365 366 367 370
 372 374 375 376 377 379 380 381 383 384 386 387 388 389 390 393 394 395
 397 398 399 400 402 403 405 407 408 409 410 412 413 414 415 417 418 419
 421 422 423 424 425 426 427 429 430 431 432 433 434 436 437 439 441 443
 444 445 449 451 453 454 455 458 460 461 462]
lineage 9: 144 cells
(7285, 3)
(7285, 3)

curr_ad     Position  Cell  Count
0          1     1    635
6          6     1    260
10         8     1    852
13        10     1     64
14        11     1     18
donor0_lineage9
[ -1   0   1   2   3   4   5   8   9  10  12  13  14  17  20  21  22  25
  26  28  29  31  34  35  38  39  40  41  44  45  46  47  48  49  50  51
  52  53  54  56  57  58  61  62  64  65  67  68  70  71  74  76  77  79
  80  81  82  84  87  88  89  91  99 100 101 103 104 105 106 107 108 109
 110 112 114 116 117 118 119 121 123 124 125 126 127 129 130 131 132 138
 139 140 142 143 144 145 147 148 149 150 152 153 155 157 160 161 162 163
 165 166 167 168 169 171 172 173 174 175 176 177 178 179 180 181 182 183
 188 190 193 198 201 209 212 215 217 219 220 222 226 229 230 233 235 239
 241 244 245 246 247 248 249 250 253 255 256 257 258 261 264 266 267 268
 269 271 272 275 279 284 285 289 292 293 295 296 297 298 299 301 302 303
 304 305 306 310 312 313 315 318 321 329 330 334 336 337 338 341 343 345
 346 347 354 355 357 360 362 363 365 367 372 375 376 379 380 386 387 389
 390 393 395 400 402 403 408 409 410 412 413 414 415 417 418 419 423 425
 426 429 430 432 434 436 437 438 440 441 444 445 447 453 456 458 460 461
 462]
lineage 10: 28 cells
(1524, 3)
(1524, 3)
curr_ad    Position  Cell  Count
0         1     1   3706
1         2     1      8
4         5     1     40
5         6     1     16
6         7     1   1001
donor0_lineage10
[ -1   2   3   5   8   9  10  12  13  14  17  25  26  28  32  35  38  39
  41  43  46  48  49  50  53  54  56  57  58  62  63  67  68  74  77  78
  79  80  81  87  88  90  91 100 101 103 105 106 107 108 110 112 114 116
 117 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152
 153 155 157 160 161 162 163 165 166 168 169 171 172 174 175 178 180 181
 182 183 188 190 198 209 212 215 226 230 233 239 240 241 242 244 245 246
 248 249 250 253 255 256 257 258 261 263 264 266 268 269 271 275 277 278
 282 283 284 285 286 290 291 292 295 296 298 299 301 302 305 306 310 311
 312 313 316 318 321 323 327 328 329 330 331 334 336 339 341 343 345 346
 348 352 353 354 355 357 360 362 363 367 370 372 373 375 376 379 380 381
 384 386 387 390 391 393 395 397 398 400 402 403 407 409 412 413 414 415
 417 418 419 422 423 425 430 432 433 436 438 444 445 448 450 453 454 455
 456 458 460 461]
lineage 11: 38 cells
(1994, 3)
(1994, 3)
curr_ad     Position  Cell  Count
0          1     1    379
4          3     1      6
6          4     1     79
10         6     1    324
13         8     1      5
donor0_lineage11
[ -1   1   2   3   5   8   9  10  12  13  14  17  25  26  28  31  34  35
  38  39  41  43  46  48  49  50  53  54  56  57  58  62  63  67  68  74
  76  77  79  80  81  87  88  90  91 100 101 103 105 106 108 110 112 114
 116 117 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150
 152 155 157 160 161 162 163 165 166 168 169 170 171 172 174 175 176 177
 178 179 180 181 182 183 188 190 198 212 215 217 230 237 239 241 244 245
 246 248 249 250 253 261 264 266 268 269 271 284 290 292 295 296 299 301
 304 305 310 312 313 315 316 317 329 334 335 336 337 338 341 343 356 357
 360 362 370 372 380 386 387 390 393 395 398 400 403 407 409 410 412 413
 420 421 423 425 427 429 430 432 433 434 444 460 461]
lineage 12: 13 cells
(803, 3)
(803, 3)
curr_ad     Position  Cell  Count
0          1     1    203
6          5     1     79
10         7     1    153
35        17     1      2
36        18     1    168
donor0_lineage12
[ -1   1   2   3   4   5   8   9  10  12  13  14  15  16  17  18  20  21
  22  23  25  26  28  31  32  33  34  35  36  39  40  41  42  45  46  48
  49  50  51  52  53  54  55  56  57  58  61  62  63  65  66  68  69  70
  71  74  76  77  78  80  81  82  83  84  87  88  89  90  91  92  93  94
  96 100 101 103 105 106 107 108 109 110 112 114 116 117 118 120 121 123
 125 126 127 129 130 132 133 134 137 138 139 140 143 144 145 146 147 148
 149 150 152 153 155 157 158 160 161 162 163 164 165 166 167 168 169 170
 171 172 173 174 175 176 177 178 179 180 181 185 186 187 188]
lineage 13: 2 cells
(224, 3)
(224, 3)
curr_ad    Position  Cell  Count
0         1     1   3293
3         3     1      2
4         4     1     95
5         5     1      7
6         6     1   1476
donor0_lineage13
[ -1   1   2   3   5   8   9  10  12  13  14  17  25  26  28  31  35  38
  39  41  43  46  48  49  50  53  54  56  57  58  62  63  67  68  74  77
  79  80  81  87  88  90  91 100 101 103 105 106 107 108 110 112 114 116
 117 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152
 153 155 157 160 161 162 163 165 166 168 169 170 171 172 173 174 175 176
 177 178 179 180 181 182 183 188 190 198 209 212 217 226 230 234 237 239
 241 245 246 247 248 249 250 253 254 255 257 258 261 264 266 267 268 269
 271 272 275 277 283 284 285 286 291 292 295 296 298 299 304 305 306 308
 310 312 313 315 316 317 320 323 324 325 329 331 334 335 336 337 338 343
 345 346 347 348 353 354 356 357 360 361 362 363 364 367 370 371 372 375
 378 379 380 381 384 386 387 389 390 391 393 400 401 402 403 406 407 408
 410 412 413 414 417 419 422 425 426 429 430 432 433 435 440 441 445 451
 453 456 458 460 461]
lineage 14: 32 cells
(1743, 3)
(1743, 3)
curr_ad     Position  Cell  Count
0          1     1    316
6          5     1     96
9          6     1     22
10         7     1    280
11         8     1      6
donor0_lineage14
[ -1   3   4   5   7   8   9  10  12  13  14  15  20  25  26  28  29  30
  32  34  35  36  37  38  39  40  41  42  43  44  45  46  48  49  50  52
  53  54  55  56  57  58  61  62  63  67  68  71  74  75  77  78  79  80
  81  84  87  88  89  90  91  93 100 101 103 105 106 108 110 112 113 114
 115 116 117 118 119 120 123 125 126 128 129 130 131 132 133 138 139 143
 144 145 146 147 148 149 150 152 153 155 157 158 160 161 162 163 165 166
 168 169 170 171 172 174 175 176 177 178 179 180 181 182 183 188 190 198
 209 212 215 217 220 230 239 240 241 244 245 246 248 249 250 253 255 257
 258 261 262 264 265 266 268 269 271 278 284 285 290 291 292 295 296 298
 299 301 304 305 306 310 312 313 316 317 318 320 321 323 329 334 335 336
 337 338 339 341 343 344 345 346 350 351 353 354 357 360 362 365 367 370
 372 375 376 379 380 383 386 387 393 395 397 398 400 402 403 406 407 408
 409 410 412 413 414 417 418 419 421 422 423 425 430 432 436 444 449 453
 455 458 460 461]
lineage 15: 28 cells
(1546, 3)
(1546, 3)
curr_ad    Position  Cell  Count
0         1     1   4079
4         2     1     96
5         3     1     14
6         4     1   1656
8         5     1     34
donor0_lineage15
[ -1   0   1   2   3   5   8   9  10  12  13  14  17  25  26  28  31  32
  34  35  38  39  41  46  48  49  50  53  54  56  57  58  62  63  67  68
  74  76  77  79  80  81  87  88  91 100 101 103 105 106 107 108 110 112
 114 116 117 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149
 150 152 153 155 157 159 160 161 162 163 165 166 168 169 170 171 172 173
 174 175 176 177 178 179 180 181 182 183 188 190 198 209 212 215 217 226
 230 233 236 239 241 244 245 246 247 248 249 250 253 254 256 257 258 259
 260 261 262 264 266 268 269 271 272 273 274 275 277 284 285 286 287 289
 290 291 292 295 296 298 299 301 302 303 304 305 306 310 312 313 316 317
 318 320 321 322 323 324 325 327 329 334 336 337 339 341 342 343 345 346
 347 351 352 354 357 360 362 363 364 365 367 368 370 372 375 376 379 380
 381 382 383 384 386 387 390 392 393 395 396 397 398 400 402 403 406 407
 408 409 410 412 413 414 415 417 418 419 421 423 425 426 427 430 431 432
 433 436 437 441 443 444 449 453 454 455 456 458 460 461]
lineage 16: 55 cells
(2783, 3)
(2783, 3)
curr_ad     Position  Cell  Count
0          1     1    265
4          5     1      4
6          6     1     95
10         8     1    320
11         9     1      3
donor0_lineage16
[ -1   1   2   3   5   8   9  10  12  13  14  17  18  25  26  28  29  31
  32  35  38  39  40  41  43  46  48  49  50  53  54  56  57  58  62  63
  67  68  74  77  78  79  80  81  86  87  88  90  91 100 101 103 105 106
 107 108 110 112 114 116 117 118 119 123 125 126 129 130 131 132 138 139
 145 147 148 149 150 152 153 155 157 160 161 162 163 165 166 168 169 170
 171 172 174 175 176 178 179 180 181 182 183 188 190 198 207 209 212 215
 217 226 230 231 235 239 241 244 245 246 247 248 249 251 253 258 261 264
 266 269 271 272 273 277 281 284 285 286 287 290 291 292 295 296 299 300
 301 304 306 310 311 312 313 314 315 317 320 321 323 324 329 330 334 336
 337 339 341 343 345 346 347 351 352 353 354 356 357 358 359 360 361 362
 363 365 367 372 375 376 379 380 381 384 386 387 390 391 393 394 395 398
 400 401 402 403 406 408 409 410 411 412 413 414 416 417 418 419 421 423
 424 425 426 428 429 430 432 436 437 441 444 449 452 454 455 456 457 458
 460 461 462]
lineage 17: 49 cells
(2691, 3)
(2691, 3)
curr_ad     Position  Cell  Count
0          1     1   1067
4          4     1     12
6          5     1    412
10         7     1   1064
11         8     1     38
donor0_lineage17

[ -1   1   2   3   5   8   9  10  12  13  14  17  25  26  35  38  39  41
  46  48  49  50  53  54  56  57  58  62  63  67  68  74  77  78  79  80
  81  87  88  90  91 100 101 103 105 106 107 108 110 112 114 116 117 118
 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 153 155
 157 160 161 162 163 165 166 168 169 170 171 172 175 176 177 178 179 180
 181 182 183 188 190 212 215 226 238 239 247 249 253 258 261 262 264 266
 275 278 282 284 285 286 299 302 307 312 314 317 322 323 329 331 334 337
 339 341 343 351 352 357 362 363 367 370 372 380 386 395 397 398 400 406
 407 408 410 413 415 421 423 426 432 433 444 453]
lineage 18: 9 cells
(539, 3)
(539, 3)
curr_ad     Position  Cell  Count
0          1     1    168
4          4     1      5
6          5     1     70
10         7     1    151
13         9     1      3
donor0_lineage18
[ -1   0   2   3   4   5   6   8   9  12  13  14  15  17  25  26  28  31
  33  35  37  38  39  40  41  42  45  46  48  49  53  54  57  58  62  63
  67  68  69  74  77  79  80  81  82  87  88  90  91  98 100 101 104 105
 106 108 110 112 114 115 116 117 119 123 125 126 129 130 131 132 138 139
 144 145 146 147 148 149 150 152 153 155 157 159 160 161 162 163 165 166
 168 169 170 171 172 173 174 175 177 178 180 181 182 183 188 190 198 209
 212 215 226 230 239 245 246 247 248 249 253 256 257 258 261 264 266 268
 269 271 272 279 281 283 284 285 286 291 292 295 296 299 301 304 305 306
 310 312 313 317 318 320 321 323 324 325 333 334 335 336 337 343 346 347
 351 353 357 360 362 363 364 367 369 370 372 373 375 376 379 380 384 386
 389 390 391 393 394 397 398 400 402 403 408 409 410 412 413 417 418 419
 420 421 423 424 425 426 428 429 430 432 434 436 437 449 450 451 453 458
 460 461 462]
lineage 19: 22 cells
(1144, 3)
(1144, 3)
curr_ad    Position  Cell  Count
0         1     1   1976
1         2     1      2
3         3     1      2
4         4     1     18
5         5     1      8
donor0_lineage19
cell meta
             new index                        ID              raw ID  \
donor_index
1                    1  AAACGAATCTTACTCA-1_Input  AAACGAATCTTACTCA-1
2                    9  AAGATAGTCGGTACTA-1_Input  AAGATAGTCGGTACTA-1
3                   13  AATGTCGCACCACGAC-1_Input  AATGTCGCACCACGAC-1
4                   32  AGGCGAAAGTGCTGAG-1_Input  AGGCGAAAGTGCTGAG-1
5                   50  CAACCAACACCGTCTT-1_Input  CAACCAACACCGTCTT-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      0       13              1
2               Input      0        5              1
3               Input      0        5              2
4               Input      0        5              3
5               Input      0        4              1
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor1.AD.mtx
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor1.DP.mtx
curr_vcf
  index_x #CHROM    POS REF_x ALT  strand_correlation_x     vmr_x  \
0     NaN   chrM  16512   NaN   C                   NaN       NaN
1   73A>G   chrM     73   73A   G              0.996919  0.382955
2  146T>C   chrM    146  146T   C              0.993106  0.591151
3  150C>T   chrM    150  150C   T              0.979327  0.670372
4  195T>C   chrM    195  195T   C              0.990257  0.623396

   n_cells_over_5_x  n_cells_over_20_x  \
0               NaN                NaN
1             119.0              116.0
2               2.0                1.0
3              61.0               49.0
4              44.0               31.0

   old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Input/MT/cellr_True/Input_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                1.0
2                                                2.0
3                                                3.0
4                                                4.0

   ... n_cells_over_20_y  \
0  ...               NaN
1  ...             329.0
2  ...               NaN
3  ...             177.0
4  ...              22.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Control/MT/cellr_True/Control_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                2.0
2                                                NaN
3                                                3.0
4                                                4.0

      index     REF  strand_correlation       vmr  n_cells_over_5  \
0  16512T>C  16512T            0.772501  0.013277             0.0
1     73A>G     73A            0.995236  0.339875          2768.0
2    146T>C    146T            0.990833  0.665951            15.0
3    150C>T    150C            0.977151  0.800561           714.0
4    195T>C    195T            0.971955  0.669470          1103.0

  n_cells_over_20  \
0             0.0
1          2699.0
2             6.0
3           664.0
4          1027.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Flt3l/MT/cellr_True/Flt3l_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                              368.0
1                                                3.0
2                                                6.0
3                                                9.0
4                                               11.0

   new ID
0     495
1       1
2       2
3       3
4       4

[5 rows x 25 columns]
curr_labels
   new index                        ID              raw ID condition  donor  \
0         11  AAGGTTCGTTCCAGTA-1_Input  AAGGTTCGTTCCAGTA-1     Input    NaN
1         16  ACAGCGCCATAGCAGG-1_Input  ACAGCGCCATAGCAGG-1     Input    NaN
2         31  AGCGTGCAGAACTAAC-1_Input  AGCGTGCAGAACTAAC-1     Input    NaN
3         34  AGGCGTCAGAACAGGA-1_Input  AGGCGTCAGAACAGGA-1     Input    NaN
4         46  ATGTTTCTCTCGACCT-1_Input  ATGTTTCTCTCGACCT-1     Input    NaN

   donor_index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

cell meta
             new index                        ID              raw ID  \
donor_index
1                   11  AAGGTTCGTTCCAGTA-1_Input  AAGGTTCGTTCCAGTA-1
2                   16  ACAGCGCCATAGCAGG-1_Input  ACAGCGCCATAGCAGG-1
3                   31  AGCGTGCAGAACTAAC-1_Input  AGCGTGCAGAACTAAC-1
4                   34  AGGCGTCAGAACAGGA-1_Input  AGGCGTCAGAACAGGA-1
5                   46  ATGTTTCTCTCGACCT-1_Input  ATGTTTCTCTCGACCT-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      1      NaN            NaN
2               Input      1      NaN            NaN
3               Input      1      NaN            NaN
4               Input      1      NaN            NaN
5               Input      1      NaN            NaN
[ -1   0   1   2   5   7   8   9  10  12  15  16  19  23  24  26  27  31
  32  33  37  38  39  40  42  45  46  47  48  49  50  51  52  53  55  56
  57  61  62  67  68  69  74  75  76  78  80  81  83  86  87  89  90  91
  96  97  99 100 101 102 103 105 107 109 111 112 113 114 118 119 120 122
 123 124 126 128 131 132 133 138 140 141 142 144 145 146 148 149 151 152
 153 156 157 158 159 161 162 164 165 166 168 170 171 172 173 174 175 176
 177 178 179 183 184 196 207 210 228 230 233 234 236 242 244 245 246 249
 254 257 260 261 263 264 268 271 283 286 287 290 293 299 305 306 309 310
 314 317 318 320 324 325 332 333 334 337 338 339 344 349 350 353 355 359
 362 365 366 367 371 372 373 378 379 381 382 383 389 390 391 398 399 403
 409 411 412 423 425 436 438 444 445 446]
lineage 0: 10 cells
(579, 3)
(579, 3)
curr_ad    Position  Cell  Count
0         1     1   3257
1         2     1      5
2         3     1   1599
6         5     1   1939
8         6     1      6
donor1_lineage0
[ -1   0   1   2   4   5   8   9  12  13  15  16  18  20  23  24  26  32
  33  34  37  38  39  40  45  47  48  49  51  52  53  55  56  57  61  62
  65  66  67  68  69  70  73  74  75  76  77  79  80  81  85  86  87  89
  90  93  96  97  99 100 102 103 105 106 107 109 111 112 113 114 115 117
 118 119 120 123 124 125 127 131 132 133 139 140 142 144 145 146 148 149
 151 153 156 157 158 159 161 162 164 165 166 167 168 170 171 172 173 174
 175 176 177 178 184 196 198 207 210 211 213 214 215 217 224 229 236 238
 241 243 246 249 252 253 256 257 261 263 266 270 276 283 286 287 288 290
 291 293 297 299 303 305 306 309 310 312 315 317 320 325 328 331 333 334
 337 338 339 345 346 349 350 351 353 355 359 362 365 366 371 372 376 379
 383 385 388 389 390 392 394 397 398 399 403 406 413 415 417 418 422 436
 444 445]
lineage 1: 22 cells
(1049, 3)
(1049, 3)
curr_ad    Position  Cell  Count
0         1     1   3640
1         2     1      3
2         3     1   2298
5         5     1      2
6         6     1   2082
donor1_lineage1
[ -1   0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16
  18  19  20  22  23  24  26  28  29  30  31  32  33  35  36  37  38  39
  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57
  58  59  60  61  62  64  65  66  67  68  69  70  71  72  74  75  76  77
  78  79  80  81  82  83  85  86  87  88  89  90  91  92  93  96  97  99
 100 101 102 103 104 105 106 107 109 110 111 112 113 114 116 117 118 119
 120 121 122 123 124 125 126 127 128 129 131 132 133 135 136 139 140 141
 142 144 145 146 148 149 150 151 152 153 154 156 157 158 159 161 162 163
 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 182
 184 186 187 189 190 191 192 193 195 196 198 199 201 202 205 206 207 210
 212 213 214 215 217 219 220 221 222 224 225 226 228 229 236 238 240 241
 245 246 249 251 257 260 261 266 268 270 271 276 277 282 284 286 287 291
 293 297 303 305 306 312 314 317 321 325 327 328 331 334 335 338 345 346
 347 350 353 355 356 359 365 366 367 371 372 373 378 379 381 383 384 385
 386 388 389 391 392 396 398 402 407 410 411 415 417 418 422 434 436 437
 438 443 446]
lineage 2: 49 cells
(2469, 3)
(2469, 3)
curr_ad    Position  Cell  Count
0         1     1   4353
2         3     1   2117
6         7     1   2086
8         9     1     55
9        10     1     24
donor1_lineage2
[ -1   1   2   3   5   6   8   9  12  13  14  15  16  23  24  30  33  38
  39  40  41  42  43  45  47  48  49  51  52  53  54  55  56  57  59  62
  63  67  68  71  74  76  78  79  80  82  83  86  87  89  93  97  99 100
 101 102 103 104 105 106 109 111 112 113 114 117 118 119 120 122 123 126
 128 131 132 133 138 140 142 145 146 148 149 156 157 158 160 161 162 163
 166 167 168 169 172 173 174 175 177 178 179 182 184 185 189 206 207 210
 214 217 246 260 261 272 283 286 287 303 306 314 315 328 334 337 344 350
 353 359 365 367 371 378 383 389 403 415 417 444]
lineage 3: 6 cells
(325, 3)
(325, 3)
curr_ad    Position  Cell  Count
0         1     1   4658
2         2     1   1439
4         4     1      6
6         5     1   1985
7         6     1     24
donor1_lineage3
[ -1   0   1   2   3   5   7   8   9  12  15  16  20  22  24  26  32  33
  35  37  38  39  40  41  45  47  48  49  50  52  53  55  56  57  59  62
  64  65  67  68  69  70  71  74  75  76  77  78  79  80  81  82  83  84
  85  86  87  89  90  92  93  94  96  97  99 100 101 102 103 104 105 106
 107 109 111 112 113 114 116 117 118 119 120 121 122 123 124 125 126 127
 129 130 131 132 133 135 138 139 140 142 144 145 146 148 149 151 153 154
 156 157 158 159 161 162 163 164 165 166 167 168 170 171 172 173 174 175
 176 177 178 179 184 190 195 196 207 210 212 213 214 215 224 226 228 234
 238 241 242 243 244 245 246 249 251 253 254 259 260 261 263 264 268 269
 276 277 282 283 284 286 287 290 291 292 293 299 303 305 306 309 310 312
 314 315 317 320 322 325 327 328 331 332 334 335 337 338 339 344 345 350
 353 355 358 362 365 367 371 372 373 375 376 378 380 381 383 386 388 389
 390 391 396 397 398 399 400 402 403 404 407 409 411 415 416 418 425 427
 434 436 438 439 442 444]
lineage 4: 19 cells
(1026, 3)
(1026, 3)
curr_ad    Position  Cell  Count
0         1     1   6631
1         2     1      4
2         3     1   3914
3         4     1      4
6         6     1   4091
donor1_lineage4
[ -1   1   5   7   8   9  10  11  12  15  16  23  24  26  27  30  33  37
  38  39  40  45  47  48  49  52  53  55  56  57  61  62  67  68  74  75
  76  77  78  79  80  86  87  89  90  96  97  99 100 101 102 103 105 107
 109 111 112 113 114 118 119 120 123 124 125 126 132 133 140 142 144 145
 146 148 149 151 153 156 157 158 159 161 162 164 165 166 167 168 170 171
 172 173 174 175 176 177 178 179 184 195 196 197 199 202 205 210 212 213
 214 217 220 224 228 234 235 236 238 239 240 241 243 244 245 246 247 249
 251 253 254 256 257 258 260 261 262 263 264 266 268 275 277 278 280 282
 283 286 287 290 291 293 297 298 299 303 304 305 306 307 308 309 310 312
 314 315 317 320 325 326 327 328 331 332 334 336 337 339 342 344 345 346
 349 350 353 355 356 358 359 362 365 367 368 370 371 372 373 375 378 381
 383 384 385 389 390 391 394 395 396 397 398 399 400 403 407 409 410 411
 414 415 417 418 422 427 429 430 433 436 437 438 439 442 445]
lineage 5: 40 cells
(2025, 3)
(2025, 3)
curr_ad     Position  Cell  Count
0          1     1    958
2          2     1    285
6          3     1    235
13         9     1    934
16        10     1    788
donor1_lineage5
[ -1   1   2   3   5   6   7   8  10  11  12  13  15  20  23  24  28  32
  33  34  37  38  39  40  45  47  48  49  52  55  56  57  59  61  62  64
  67  68  74  76  77  79  85  86  87  89  90  92  96  97  99 100 101 102
 103 105 107 109 111 114 117 118 119 120 123 124 125 126 127 128 132 133
 139 140 142 144 145 146 148 149 151 153 154 156 157 158 159 161 162 163
 164 165 166 167 168 170 171 172 173 174 175 176 178 179 182 183 184 198
 205 206 210 212 214 217 218 219 224 228 232 234 235 236 241 244 245 249
 260 261 265 267 278 281 283 286 291 293 299 303 304 305 306 307 312 315
 317 319 325 331 332 334 337 338 350 353 355 356 359 362 365 371 372 378
 381 385 389 390 391 393 396 398 399 400 403 405 407 409 410 411 412 413
 417 425 432 434 436 444]
lineage 6: 13 cells
(669, 3)
(669, 3)
curr_ad    Position  Cell  Count
0         1     1   4290
2         2     1   2289
4         4     1      2
6         5     1    164
7         6     1     11
donor1_lineage6
[ -1   1   2   5   7   8   9  11  12  15  16  24  26  30  33  37  38  40
  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76  79  80  86
  87  89  90  96  97  99 100 101 102 103 105 107 109 111 112 113 114 118
 119 120 123 124 125 126 132 133 140 142 144 145 146 148 149 151 153 156
 157 158 159 161 162 164 165 166 167 168 169 170 171 172 173 174 175 176
 177 178 179 184 196 210 228 235 236 238 242 244 245 246 249 253 256 257
 260 261 262 263 264 266 271 276 283 284 286 287 291 293 294 297 298 299
 303 305 306 307 312 314 319 320 325 328 331 332 334 337 344 345 349 350
 353 355 356 359 362 364 365 367 371 372 373 378 381 382 383 384 385 389
 390 394 395 396 397 398 399 403 404 405 407 412 414 417 418 422 423 426
 427 432 434 435 436 437 438 442]
lineage 7: 17 cells
(1034, 3)
(1034, 3)
curr_ad     Position  Cell  Count
0          1     1    170
2          2     1     52
6          4     1     84
13         9     1    191
16        10     1    152
donor1_lineage7

[ -1   1   2   5   7   8   9  10  12  15  16  23  24  26  33  37  38  39
  40  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76  77  78
  79  80  85  86  87  89  90  97  99 100 101 102 103 105 107 109 111 112
 113 114 118 119 120 123 124 125 126 132 133 140 142 144 145 146 148 149
 151 156 157 158 159 161 162 164 166 167 168 170 171 172 173 174 175 176
 177 178 179 183 184 189 192 195 196 198 199 205 206 207 208 210 212 214
 215 217 222 224 225 226 234 235 236 238 240 241 242 245 246 249 251 253
 257 260 261 264 267 268 275 276 278 282 283 286 287 290 291 293 297 303
 305 306 309 310 311 312 315 317 320 321 325 327 328 330 331 332 334 339
 343 345 346 350 351 352 353 354 355 356 359 364 365 366 367 368 371 372
 373 375 376 378 379 380 381 383 384 385 388 389 390 391 396 397 398 399
 400 403 404 409 410 411 415 417 418 419 420 422 423 429 430 434 436 439
 444 445]
lineage 8: 30 cells
(1498, 3)
(1498, 3)
curr_ad     Position  Cell  Count
0          1     1   1400
2          2     1    451
6          4     1    849
11         8     1      2
13         9     1   1402
donor1_lineage8
[ -1   1   2   3   5   7   8   9  10  12  15  16  23  24  26  27  29  30
  32  33  37  38  39  40  45  47  48  49  52  53  55  56  57  61  62  67
  68  74  75  76  77  78  79  80  86  87  89  90  96  97  99 100 101 102
 103 105 107 109 111 112 113 114 118 119 120 123 124 125 126 132 133 140
 142 144 145 146 148 149 151 153 156 157 158 159 161 162 164 165 166 167
 168 170 171 172 173 174 175 176 177 178 179 183 184 188 190 195 196 207
 210 214 215 224 228 229 234 235 236 237 238 239 240 241 242 244 245 246
 248 249 250 251 252 253 254 256 257 259 260 261 262 263 264 266 267 268
 269 271 272 273 274 275 276 277 278 279 281 282 283 286 287 290 291 293
 294 297 298 299 303 305 306 308 309 310 312 313 314 315 316 317 318 320
 321 322 325 326 327 328 329 331 332 333 334 337 338 339 343 344 345 346
 349 350 351 352 353 355 357 358 359 362 365 366 367 368 371 372 373 375
 376 377 378 379 381 382 383 385 386 388 389 390 391 393 394 396 397 398
 399 400 401 402 403 404 407 409 410 411 412 415 416 417 418 420 421 422
 423 427 428 430 433 434 436 437 438 442 444 445 446]
lineage 9: 73 cells
(4484, 3)
(4484, 3)
curr_ad     Position  Cell  Count
0          1     1   1369
2          2     1    380
3          3     1      8
6          5     1    675
10         8     1    104
donor1_lineage9
[ -1   1   2   5   7   8   9  10  12  15  16  18  21  23  24  25  27  28
  29  30  32  33  34  38  39  40  42  45  46  47  48  49  52  53  55  56
  57  59  60  61  62  64  67  68  69  74  75  76  77  78  79  80  81  85
  86  87  89  90  93  96  97  99 101 102 103 105 107 109 111 112 113 114
 118 119 120 123 124 125 126 128 131 132 133 138 140 142 144 145 146 148
 149 151 153 156 157 158 161 162 164 165 166 167 168 170 171 172 173 174
 175 176 177 178 179 184 188 189 195 196 198 199 202 204 205 206 207 210
 211 213 214 215 216 217 219 220 221 224 225 227 228 236 238 240 241 244
 245 246 249 253 259 260 261 264 271 276 277 283 287 291 294 295 297 298
 299 305 306 309 312 315 317 320 322 325 332 334 337 344 346 350 353 356
 359 360 365 366 367 368 371 372 373 376 377 381 383 386 388 389 394 396
 398 399 400 404 407 408 409 412 414 416 417 422 423 424 433 444 445 446]
lineage 10: 30 cells
(1441, 3)
(1441, 3)
curr_ad     Position  Cell  Count
0          1     1   4475
2          2     1   2769
6          4     1   2722
9          6     1      2
10         7     1      2
donor1_lineage10
[ -1   1   2   5   7   8   9  10  12  15  23  24  26  30  32  33  37  38
  39  40  42  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76
  77  78  79  80  86  87  89  90  96  97  99 100 101 102 103 105 107 109
 111 112 113 114 118 119 120 123 124 125 126 132 133 140 142 144 145 146
 148 149 151 153 156 157 158 159 161 162 164 165 166 167 168 170 171 172
 173 174 175 176 177 178 179 184 202 205 206 210 212 214 215 220 224 225
 234 238 241 245 246 249 254 261 270 271 275 276 283 290 291 303 306 319
 320 325 327 331 332 337 340 345 350 355 356 359 365 372 378 383 388 389
 391 393 394 395 396 397 400 401 403 404 405 407 415 433 439 445]
lineage 11: 9 cells
(579, 3)
(579, 3)
curr_ad    Position  Cell  Count
0         1     1   1179
2         2     1    308
6         4     1    656
8         5     1    100
9         6     1    113
donor1_lineage11
[ -1   1   2   5   6   7   8   9  10  11  12  13  14  15  16  18  19  20
  21  23  24  26  28  29  30  31  32  33  34  37  38  39  40  41  42  44
  45  46  47  48  49  50  52  53  55  56  57  58  59  60  61  62  64  65
  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  83  84
  85  86  87  89  90  91  92  93  95  96  97  98  99 100 101 102 103 104
 105 106 107 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123
 124 125 126 127 128 131 132 133 134 136 139 140 141 142 144 145 146 148
 149 150 151 152 153 154 156 157 158 159 161 162 163 164 165 166 167 168
 169 170 171 172 173 174 175 176 177 178 179 180 182 183 184 186 189 190
 194 195 196 198 199 201 202 203 204 205 206 207 209 210 212 213 214 215
 216 217 219 220 221 224 225 226 229 230 236 244 245 247 249 260 261 267
 268 273 275 276 283 286 287 290 291 293 297 299 303 306 309 311 315 317
 319 320 325 326 328 334 337 338 339 341 345 346 349 350 353 355 356 359
 361 365 367 368 369 371 372 373 375 378 379 380 383 385 386 388 389 391
 394 398 399 405 407 408 411 412 414 417 422 430 431 438 445]
lineage 12: 29 cells
(1629, 3)
(1629, 3)
curr_ad     Position  Cell  Count
0          1     1   4944
2          2     1   3016
6          4     1   3032
8          6     1      2
10         8     1      2
donor1_lineage12
[ -1   0   1   2   5   6   7   8   9  10  12  15  16  18  19  20  21  23
  24  26  30  31  32  33  34  37  38  39  40  41  42  43  44  45  47  48
  49  50  51  52  53  55  56  57  59  60  61  62  64  65  66  67  68  69
  70  71  74  75  76  77  78  79  80  81  82  83  85  86  87  89  90  91
  93  96  97  99 100 101 102 103 104 105 107 108 109 110 111 112 113 114
 117 118 119 120 121 123 124 125 126 127 131 132 133 134 136 139 140 142
 144 145 146 148 149 151 153 156 157 158 159 161 162 163 164 165 166 167
 168 169 170 171 172 173 174 175 176 177 178 179 181 182 183 184 189 190
 195 196 199 200 205 206 207 210 213 214 215 217 221 223 224 225 226 228
 229 230 232 233 234 236 238 241 242 244 245 246 249 251 253 254 256 257
 260 261 262 263 264 266 267 268 271 276 277 278 282 283 286 287 288 290
 291 293 297 298 299 300 303 304 305 306 308 310 312 314 315 316 317 318
 320 321 322 325 327 328 330 331 332 334 337 338 339 340 343 345 346 349
 350 353 355 356 359 362 365 366 367 368 371 372 373 374 376 378 379 380
 381 382 383 385 386 388 389 390 391 392 393 394 395 396 397 398 399 400
 401 403 404 405 407 408 409 410 411 412 413 415 417 418 419 422 425 429
 430 434 436 437 438 441 442 444 445 446]
lineage 13: 37 cells
(2101, 3)
(2101, 3)
curr_ad    Position  Cell  Count
0         1     1   4941
1         2     1     14
2         3     1   2626
6         5     1   2738
7         6     1     25
donor1_lineage13
[ -1   0   1   5   7   8   9  10  12  13  15  16  20  23  24  26  27  28
  29  31  33  37  38  39  40  42  45  46  47  48  49  51  52  55  56  57
  59  60  62  65  67  68  71  72  74  75  76  78  79  80  82  83  84  86
  87  88  89  90  93  96  97  99 102 103 104 105 107 109 110 111 112 113
 114 116 117 118 119 121 122 123 124 125 126 128 131 132 133 140 141 142
 143 144 145 146 148 149 151 153 154 155 156 157 158 161 162 164 165 166
 167 168 170 171 172 173 174 175 178 179 184 196 198 200 205 207 210 212
 214 224 234 238 240 241 242 243 245 246 249 253 260 261 266 267 270 271
 273 276 277 278 282 283 286 287 290 291 297 298 299 301 303 305 306 315
 316 319 320 325 327 331 332 334 338 339 343 349 350 353 355 359 362 365
 367 371 372 373 378 379 380 381 383 384 385 386 387 388 389 390 393 394
 397 398 399 400 403 414 415 417 418 419 429 432 436 444 445]
lineage 14: 17 cells
(903, 3)
(903, 3)
curr_ad    Position  Cell  Count
0         1     1   4495
1         2     1      4
2         3     1   2556
6         4     1   2623
8         5     1      2
donor1_lineage14
[ -1   1   2   5   7   8   9  11  12  15  16  23  24  26  27  29  30  33
  37  38  39  40  42  45  47  48  49  52  53  55  56  57  61  62  67  68
  74  75  76  78  79  80  86  87  89  90  96  97  99 100 101 102 103 105
 107 109 111 112 113 114 118 119 120 123 124 125 126 132 133 140 142 144
 145 146 148 149 151 153 156 157 158 159 161 162 164 165 166 167 168 170
 171 172 173 174 175 176 177 178 179 184 196 209 210 214 224 228 229 234
 235 236 238 241 242 244 245 246 247 249 251 253 261 263 264 271 272 275
 276 277 278 283 284 286 287 291 293 297 303 305 306 309 310 312 314 315
 320 325 327 328 331 332 334 337 338 339 340 344 345 346 350 353 355 358
 359 363 365 367 368 371 372 373 376 378 379 380 383 385 386 388 389 392
 394 398 399 404 409 411 413 414 415 418 421 422 423 429 430 432 437 438
 442 445 446]
lineage 15: 21 cells
(1342, 3)
(1342, 3)
curr_ad     Position  Cell  Count
0          1     1    800
2          2     1    220
6          4     1    351
10         7     1      2
13         9     1    914
donor1_lineage15

[ -1   1   2   5   7   8   9  12  15  23  24  26  29  33  38  45  47  48
  49  52  55  56  57  62  67  68  74  76  80  87  89  90  99 100 101 102
 103 107 111 112 113 114 118 119 120 123 124 125 132 133 140 142 145 146
 148 149 153 156 157 158 161 165 166 168 171 172 173 174 175 176 177 178
 179 184 214 228 234 236 241 242 245 246 249 256 257 260 261 277 278 286
 287 291 294 309 312 325 328 332 334 350 351 353 355 356 359 362 365 367
 372 378 381 383 389 390 394 398 399 404 411 415 422 429 436 444]
lineage 16: 8 cells
(377, 3)
(377, 3)
curr_ad     Position  Cell  Count
0          1     1    233
2          2     1     93
6          4     1    123
13         8     1    257
16         9     1    179
donor1_lineage16
[ -1   1   2   5   6   7   8   9  10  11  12  15  16  18  19  22  23  24
  26  27  31  32  33  34  35  37  38  39  40  41  45  47  48  49  51  52
  53  55  56  57  58  59  60  61  62  64  67  68  69  70  71  74  75  76
  77  79  80  81  82  86  87  88  89  90  93  96  97  99 100 101 102 103
 104 105 106 107 109 111 112 113 114 115 116 117 118 119 120 124 125 126
 131 132 133 134 136 138 140 142 144 145 146 148 149 153 154 156 157 158
 159 161 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178
 179 182 184 196 200 207 210 214 215 228 229 233 234 235 236 238 241 242
 243 244 245 246 252 257 260 261 264 266 271 272 274 276 277 283 286 290
 291 292 293 294 299 302 303 305 306 309 312 313 314 315 317 318 325 327
 328 334 343 345 350 353 355 356 359 362 365 371 376 378 379 381 382 383
 384 386 389 397 398 399 400 405 407 409 415 422 429 436 438 445]
lineage 17: 12 cells
(735, 3)
(735, 3)
curr_ad     Position  Cell  Count
0          1     1   3831
2          2     1   1596
6          4     1   1758
9          7     1      2
11         9     1     82
donor1_lineage17
[ -1   0   1   2   4   5   6   7   8   9  10  12  13  14  15  16  17  19
  20  22  23  24  26  30  31  32  33  34  35  37  38  39  40  41  44  45
  47  48  49  50  51  52  53  55  56  57  58  59  60  61  62  64  65  67
  68  69  70  71  73  74  75  76  77  78  79  80  81  82  83  84  85  86
  87  89  90  92  93  96  97  99 100 101 102 103 104 105 106 107 109 110
 111 112 113 114 115 116 117 118 119 120 122 123 124 125 126 127 128 129
 131 132 133 134 136 137 138 139 140 141 142 144 145 146 147 148 149 151
 152 153 156 157 158 159 161 162 163 164 165 166 167 168 169 170 171 172
 173 174 175 176 177 178 179 180 181 184 214 249 260 261 264 283 305 306
 308 332 348 355 367 371 389 397 398 433 445]
lineage 18: 7 cells
(574, 3)
(574, 3)
curr_ad    Position  Cell  Count
0         1     1   3457
2         3     1   1959
6         6     1   2835
8         8     1     27
9         9     1      5
donor1_lineage18
[ -1   1   5   6   8   9  12  13  15  18  19  20  23  24  26  29  30  31
  32  33  34  38  39  40  45  47  48  49  52  54  55  56  57  58  59  60
  62  64  67  68  69  70  71  74  76  78  79  80  81  84  86  87  88  89
  90  93  97  99 100 101 102 103 104 107 109 111 112 113 117 118 119 120
 122 123 124 125 127 131 132 133 136 139 140 142 143 144 145 148 149 151
 153 154 156 157 158 159 161 164 165 166 167 168 169 170 172 173 174 175
 176 177 183 184 235 271 283 286 306 325 334 355 365 383 389 399 444]
lineage 19: 3 cells
(192, 3)
(192, 3)
curr_ad    Position  Cell  Count
0         1     1   6308
2         2     1   3713
6         3     1   3134
7         4     1      6
9         5     1      4
donor1_lineage19
cell meta
             new index                        ID              raw ID  \
donor_index
1                   11  AAGGTTCGTTCCAGTA-1_Input  AAGGTTCGTTCCAGTA-1
2                   16  ACAGCGCCATAGCAGG-1_Input  ACAGCGCCATAGCAGG-1
3                   31  AGCGTGCAGAACTAAC-1_Input  AGCGTGCAGAACTAAC-1
4                   34  AGGCGTCAGAACAGGA-1_Input  AGGCGTCAGAACAGGA-1
5                   46  ATGTTTCTCTCGACCT-1_Input  ATGTTTCTCTCGACCT-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      1       10              1
2               Input      1       12              1
3               Input      1        2              1
4               Input      1       18              1
5               Input      1      NaN            NaN
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor2.AD.mtx
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor2.DP.mtx
curr_vcf
  index_x #CHROM    POS REF_x ALT  strand_correlation_x     vmr_x  \
0     NaN   chrM  16512   NaN   C                   NaN       NaN
1   73A>G   chrM     73   73A   G              0.996919  0.382955
2  146T>C   chrM    146  146T   C              0.993106  0.591151
3  150C>T   chrM    150  150C   T              0.979327  0.670372
4  195T>C   chrM    195  195T   C              0.990257  0.623396

   n_cells_over_5_x  n_cells_over_20_x  \
0               NaN                NaN
1             119.0              116.0
2               2.0                1.0
3              61.0               49.0
4              44.0               31.0

   old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Input/MT/cellr_True/Input_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                1.0
2                                                2.0
3                                                3.0
4                                                4.0

   ... n_cells_over_20_y  \
0  ...               NaN
1  ...             329.0
2  ...               NaN
3  ...             177.0
4  ...              22.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Control/MT/cellr_True/Control_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                2.0
2                                                NaN
3                                                3.0
4                                                4.0

      index     REF  strand_correlation       vmr  n_cells_over_5  \
0  16512T>C  16512T            0.772501  0.013277             0.0
1     73A>G     73A            0.995236  0.339875          2768.0
2    146T>C    146T            0.990833  0.665951            15.0
3    150C>T    150C            0.977151  0.800561           714.0
4    195T>C    195T            0.971955  0.669470          1103.0

  n_cells_over_20  \
0             0.0
1          2699.0
2             6.0
3           664.0
4          1027.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Flt3l/MT/cellr_True/Flt3l_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                              368.0
1                                                3.0
2                                                6.0
3                                                9.0
4                                               11.0

   new ID
0     495
1       1
2       2
3       3
4       4

[5 rows x 25 columns]
curr_labels
   new index                        ID              raw ID condition  donor  \
0          2  AAAGGATAGTCGTGAG-1_Input  AAAGGATAGTCGTGAG-1     Input    NaN
1         15  ACAGAAATCTGGCACG-1_Input  ACAGAAATCTGGCACG-1     Input    NaN
2         23  ACCCAAAAGGAAGGTA-1_Input  ACCCAAAAGGAAGGTA-1     Input    NaN
3         25  ACCTGCTCACGCGTTG-1_Input  ACCTGCTCACGCGTTG-1     Input    NaN
4         30  AGCCGCAGTCCGTGCA-1_Input  AGCCGCAGTCCGTGCA-1     Input    NaN

   donor_index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

cell meta
             new index                        ID              raw ID  \
donor_index
1                    2  AAAGGATAGTCGTGAG-1_Input  AAAGGATAGTCGTGAG-1
2                   15  ACAGAAATCTGGCACG-1_Input  ACAGAAATCTGGCACG-1
3                   23  ACCCAAAAGGAAGGTA-1_Input  ACCCAAAAGGAAGGTA-1
4                   25  ACCTGCTCACGCGTTG-1_Input  ACCTGCTCACGCGTTG-1
5                   30  AGCCGCAGTCCGTGCA-1_Input  AGCCGCAGTCCGTGCA-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      2      NaN            NaN
2               Input      2      NaN            NaN
3               Input      2      NaN            NaN
4               Input      2      NaN            NaN
5               Input      2      NaN            NaN
[ -1   0   1   2   5   8   9  10  12  13  16  17  24  26  28  31  32  34
  35  39  40  42  47  49  50  51  54  55  57  58  59  63  64  69  70  76
  79  81  82  83  89  90  92  93 101 102 104 105 106 107 108 110 112 114
 116 117 118 119 123 125 126 129 130 131 132 138 139 146 148 150 151 152
 154 155 157 159 162 163 164 165 167 168 170 171 172 173 174 176 177 178
 179 180 181 182 183 184 185 190 200 211 213 217 219 228 232 233 235 240
 242 244 246 247 252 253 255 261 264 266 267 268 270 271 273 278 280 286
 287 288 292 295 298 299 301 302 303 304 308 310 311 313 315 317 319 320
 321 322 327 329 333 335 336 338 340 342 345 346 353 354 357 358 360 361
 362 364 366 369 371 374 375 378 379 380 383 384 385 386 395 398 400 402
 407 409 410 411 412 416 419 421 423 425 428 429 430 431 434 436 439 441
 446 447 449 454 455 456]
lineage 0: 24 cells
(938, 3)
(938, 3)
curr_ad     Position  Cell  Count
0          1     1      2
6          5     1     85
9          6     1    121
41        21     1    151
60        31     1      2
donor2_lineage0
[ -1   0   3   4   5   7   8   9  10  11  12  13  14  15  16  18  19  20
  21  24  26  27  28  29  31  33  34  35  36  37  39  40  41  42  43  44
  46  47  49  50  51  53  54  55  56  57  58  59  61  62  63  64  66  67
  68  69  70  71  72  73  75  76  78  79  80  81  82  83  84  85  86  87
  88  89  90  92  93  95  97 101 102 104 105 106 107 108 109 110 111 112
 113 114 115 116 117 118 119 120 121 122 123 125 126 127 128 129 130 131
 132 133 134 135 137 138 139 140 141 142 144 145 146 147 148 151 152 154
 155 156 157 158 159 160 162 163 164 165 167 168 169 170 171 172 173 174
 175 176 177 178 179 180 181 182 183 184 185 187 190 193 194 195 199 200
 201 202 206 208 209 210 211 213 215 216 217 219 221 223 224 228 229 230
 231 240 244 248 255 257 267 268 286 298 299 308 310 317 323 333 357 361
 366 369 378 386 400 409 413 455]
lineage 1: 20 cells
(675, 3)
(675, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          5     1   1127
8          6     1     28
9          7     1   1586
11         9     1      4
donor2_lineage1
[ -1   2   3   5   8   9  10  11  13  16  24  26  28  29  31  32  34  35
  36  39  40  41  42  46  47  49  50  51  54  55  57  59  61  63  64  69
  70  71  72  76  78  79  81  82  83  87  89  90  92  93  95  97 101 102
 104 105 106 108 109 110 112 114 116 117 118 119 123 125 126 129 130 131
 132 137 138 139 142 146 148 149 150 151 152 154 155 157 159 162 163 164
 165 167 168 170 171 172 173 174 176 177 179 180 182 183 184 185 187 188
 190 194 200 211 213 217 219 228 232 240 242 244 247 248 251 252 253 255
 257 259 260 261 263 264 267 268 270 271 275 276 279 280 285 286 287 288
 291 292 293 294 295 296 298 299 301 302 304 306 308 310 311 312 313 314
 315 318 319 320 322 324 326 327 328 333 335 336 337 338 340 342 345 346
 347 348 351 352 353 354 355 357 360 361 362 364 366 369 371 372 374 375
 378 379 380 385 386 389 392 393 395 397 398 400 402 403 406 407 409 410
 411 412 413 414 416 417 419 421 422 423 424 425 427 428 429 431 433 434
 435 439 440 441 446 447 448 449 450 453 454 455 456]
lineage 2: 41 cells
(1224, 3)
(1224, 3)
curr_ad    Position  Cell  Count
0         1     1      6
3         2     1     35
4         3     1      2
6         4     1   1971
9         5     1   3419
donor2_lineage2
[ -1   1   4   5   7   8  10  11  13  14  16  17  21  24  26  27  28  29
  32  33  35  36  39  40  41  42  43  46  47  49  50  51  54  55  57  58
  59  60  61  62  64  66  68  69  70  71  72  74  75  76  79  80  81  82
  83  84  87  89  90  91  93  95  97 100 101 102 104 105 106 107 108 110
 112 114 116 117 118 119 121 122 123 125 126 127 129 130 131 132 133 136
 137 138 139 142 146 148 150 151 152 154 155 157 158 159 162 163 164 167
 168 172 173 174 175 176 178 179 180 181 183 184 185 190 193 195 200 202
 211 213 216 217 219 221 223 228 237 240 244 247 249 252 253 254 255 259
 267 268 271 274 275 277 280 283 286 287 288 289 290 291 292 296 299 301
 302 304 306 308 310 311 314 315 317 319 320 322 327 333 336 337 340 342
 344 347 352 354 357 360 361 362 366 370 371 373 375 378 379 380 385 388
 389 393 395 398 400 402 403 409 411 412 413 414 415 416 417 419 421 422
 423 429 431 434 435 441 446 454 455]
lineage 3: 19 cells
(583, 3)
(583, 3)
curr_ad     Position  Cell  Count
5          3     1      3
6          4     1   3467
8          5     1   2075
9          6     1   4891
14         9     1      2
donor2_lineage3
[ -1   0   1   2   3   5   8   9  10  13  16  17  24  26  28  29  32  35
  39  40  41  42  47  49  50  51  54  55  57  58  59  63  64  69  70  76
  78  79  80  81  82  83  89  90  92  93 101 102 104 105 106 107 108 110
 112 114 116 117 118 119 123 125 126 129 130 131 132 138 139 146 148 150
 151 152 154 155 157 159 162 163 164 165 167 168 170 171 172 173 174 176
 177 178 179 180 181 182 183 184 185 190 191 200 211 213 215 216 217 221
 228 232 239 240 241 242 244 247 248 249 250 251 252 253 255 257 259 261
 263 264 267 268 270 271 273 274 276 278 280 282 285 286 287 288 290 292
 293 295 296 298 299 301 302 304 306 308 310 311 312 313 314 315 317 318
 320 322 327 333 335 336 337 338 339 340 341 342 345 346 347 348 349 352
 353 354 357 358 360 361 362 366 369 371 374 375 376 377 378 379 380 381
 382 383 384 385 392 394 395 397 398 400 402 403 404 406 407 409 410 411
 412 413 414 415 416 417 418 419 421 422 423 424 427 428 429 430 434 439
 441 444 445 447 449 453 454 455]
lineage 4: 48 cells
(1595, 3)
(1595, 3)
curr_ad     Position  Cell  Count
6          6     1    216
9          7     1    455
18        12     1      8
41        20     1    768
42        21     1     18
donor2_lineage4
[ -1   1   2   3   5   7   8   9  10  11  13  16  17  21  23  26  28  29
  31  32  35  36  39  40  41  42  43  44  46  47  49  50  51  54  55  56
  57  58  59  64  68  69  70  71  72  75  76  78  79  80  82  83  85  86
  87  88  89  90  91  92  93  97 101 102 104 107 108 109 110 111 112 114
 115 116 117 118 119 121 122 123 126 127 129 130 133 134 136 137 138 139
 146 147 148 150 151 152 154 155 157 159 160 162 163 164 165 167 168 169
 170 171 172 173 175 176 177 179 180 181 182 183 184 185 187 190 197 199
 200 202 206 207 208 209 211 213 216 217 219 221 225 228 230 232 240 242
 244 246 247 251 252 253 255 264 267 268 270 271 277 278 281 282 285 286
 287 288 292 295 296 298 299 300 301 304 308 311 319 320 323 333 336 338
 340 342 345 347 353 357 360 361 362 366 371 374 375 379 380 385 386 389
 393 394 395 397 400 402 406 408 411 412 413 418 419 424 430 434 447 449
 454]
lineage 5: 15 cells
(465, 3)
(465, 3)
curr_ad    Position  Cell  Count
0         1     1     53
2         2     1     20
4         4     1      2
6         5     1   2880
8         6     1     45
donor2_lineage5
[ -1   0   5   8   9  13  16  20  21  22  24  26  28  29  33  35  36  40
  41  42  43  44  47  48  49  50  51  53  54  55  56  57  58  59  60  61
  62  63  64  66  69  70  71  73  76  78  79  81  82  83  84  85  86  87
  90  92  93  94  95  97 102 103 104 105 106 107 108 110 111 112 114 116
 117 118 119 121 122 123 125 127 128 129 130 131 134 135 137 138 139 142
 145 146 148 150 151 152 154 155 157 158 159 162 163 164 167 168 169 170
 171 173 175 176 177 178 179 180 181 182 183 184 185 186 187 188 190 200
 217 242 247 252 253 255 260 261 264 266 267 278 287 292 295 299 305 308
 311 320 322 327 328 333 336 338 342 345 357 359 360 362 366 371 378 379
 395 400 407 414 420 421 428 446 451 453 454 455 456]
lineage 6: 6 cells
(270, 3)
(270, 3)
curr_ad     Position  Cell  Count
0          1     1     33
1          2     1      6
6          3     1   2415
9          4     1   3542
17         7     1      2
donor2_lineage6

[ -1   0   1   5   8   9  10  11  13  16  17  24  26  28  29  31  32  34
  35  39  40  42  44  47  49  50  51  54  55  57  58  59  63  64  69  70
  76  79  81  82  83  89  90  92  93 101 102 104 105 106 107 108 110 112
 114 116 117 118 119 123 125 126 129 130 131 132 138 139 146 148 150 151
 152 154 155 157 159 162 163 164 165 167 168 170 171 172 173 174 176 177
 178 179 180 181 182 183 184 185 190 192 200 213 217 228 232 236 238 240
 242 244 247 248 251 252 253 255 256 257 259 260 261 264 267 268 269 270
 271 274 279 280 286 287 288 291 292 294 295 296 298 299 300 301 302 304
 305 306 308 310 311 313 314 315 317 318 319 320 321 322 323 327 328 332
 333 335 336 338 340 342 345 346 347 351 352 353 354 356 357 358 359 360
 361 362 364 366 369 371 372 374 375 378 379 380 383 385 386 389 392 393
 394 395 400 402 403 404 406 407 408 409 410 411 412 414 416 417 418 419
 420 421 423 424 425 426 428 429 431 432 433 434 435 437 441 442 446 447
 448 449 450 451 453 454 455 456]
lineage 7: 56 cells
(1875, 3)
(1875, 3)
curr_ad     Position  Cell  Count
0          1     1     10
6          4     1    257
9          5     1    383
11         7     1      6
35        18     1      2
donor2_lineage7
[ -1   0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  16  17
  19  20  21  24  26  28  29  30  31  32  33  34  35  36  37  39  40  41
  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59
  60  61  62  63  64  66  67  68  69  70  71  72  73  74  75  76  77  78
  79  80  81  82  83  84  85  86  87  88  89  90  92  93  94  95  97  99
 101 102 104 105 107 108 109 110 111 112 114 115 116 117 118 119 120 121
 122 123 125 126 127 128 129 130 131 132 133 134 136 137 138 139 141 142
 144 145 146 147 148 150 151 152 153 154 155 157 158 159 160 161 162 163
 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181
 182 183 184 185 186 187 188 189 190 194 195 198 199 200 204 205 206 209
 210 211 212 213 215 216 217 218 219 220 221 222 224 225 227 228 229 230
 231 232 234 252 267 280 288 295 306 310 311 327 378 386 400 413 416 419]
lineage 8: 25 cells
(803, 3)
(803, 3)
curr_ad     Position  Cell  Count
6          7     1   1504
7          8     1      6
9         10     1   2217
11        12     1      3
14        15     1      3
donor2_lineage8
[ -1   1   2   5   8   9  10  11  13  16  17  24  26  28  29  31  32  34
  35  39  40  42  44  47  49  50  51  54  55  57  58  59  63  64  69  70
  76  79  80  81  82  83  89  90  92  93 101 102 104 105 106 107 108 110
 112 114 116 117 118 119 123 125 126 129 130 131 132 138 139 146 148 150
 151 152 154 155 157 159 162 163 164 165 167 168 170 171 172 173 174 175
 176 177 178 179 180 181 182 183 184 185 190 194 200 213 217 219 228 232
 235 240 242 244 246 247 248 249 251 252 253 255 256 257 259 260 261 264
 265 266 267 268 270 271 272 273 274 275 277 278 280 281 282 286 287 288
 289 291 292 293 295 296 298 299 301 302 304 306 308 310 311 313 314 315
 317 319 320 321 322 323 324 327 328 329 333 334 335 336 337 338 339 340
 341 342 344 345 346 347 351 352 353 354 355 356 357 360 361 362 364 366
 367 368 369 371 372 374 375 378 379 380 382 383 385 386 388 389 390 391
 393 395 396 397 398 400 402 403 406 407 408 409 410 411 412 413 414 415
 416 417 418 419 420 421 422 423 424 426 427 428 429 430 431 434 435 438
 441 444 445 446 447 448 449 450 452 453 454 455 456]
lineage 9: 92 cells
(3319, 3)
(3319, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          4     1    124
9          5     1    261
30        15     1    161
36        19     1      4
donor2_lineage9
[ -1   0   1   3   5   7   8   9  10  11  13  14  15  17  20  21  24  26
  28  29  32  33  34  35  39  40  41  42  43  44  47  49  50  51  52  53
  54  55  57  58  59  61  62  63  64  66  69  70  71  72  73  75  76  78
  79  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95 101 102
 104 105 106 107 109 110 112 114 115 116 117 118 119 120 121 123 125 126
 127 128 129 130 131 132 133 138 139 140 142 145 146 148 150 151 152 154
 155 157 159 160 162 163 164 166 167 168 169 170 171 173 175 176 177 178
 179 180 181 182 183 184 185 187 188 189 190 195 196 199 200 202 203 206
 209 211 213 216 217 219 224 228 230 232 235 240 242 244 247 248 249 251
 255 259 260 261 263 264 266 268 271 274 276 283 286 287 288 292 293 295
 298 299 304 306 308 309 310 311 315 317 320 328 333 335 336 340 342 348
 353 355 357 360 361 362 364 366 371 374 375 376 377 378 379 380 385 389
 391 397 398 400 403 407 409 410 411 412 413 417 423 425 426 428 442 444
 445 449 451 454 455 456]
lineage 10: 27 cells
(740, 3)
(740, 3)
curr_ad     Position  Cell  Count
0          1     1     10
1          2     1      2
6          5     1   2806
9          7     1   3954
10         8     1      2
donor2_lineage10
[ -1   0   2   3   5   7   8   9  10  11  13  16  17  18  19  20  21  22
  26  27  28  29  31  32  33  34  35  36  39  40  41  42  43  45  46  47
  48  49  50  51  52  53  54  55  56  57  58  59  61  62  63  64  66  67
  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85
  86  87  88  89  90  91  92  93  94  95  97  98 101 102 103 104 105 106
 107 108 110 111 112 114 115 116 117 118 119 121 122 123 125 126 127 128
 129 130 132 133 134 137 138 139 140 142 144 145 146 147 148 150 151 152
 153 154 155 157 158 159 160 162 163 164 165 167 168 169 170 171 172 173
 174 175 176 177 178 179 180 181 182 183 184 185 186 187 189 190 196 200
 206 211 213 215 216 217 224 227 228 230 233 240 242 244 252 253 255 261
 268 278 286 287 288 292 295 296 301 311 312 313 317 319 322 324 327 333
 335 336 340 342 345 354 357 361 362 366 371 374 379 385 392 398 400 402
 403 409 410 411 412 413 416 427 428 430 434]
lineage 11: 16 cells
(647, 3)
(647, 3)
curr_ad     Position  Cell  Count
0          1     1     46
6          5     1   3381
9          7     1   5661
10         8     1      7
12        10     1      4
donor2_lineage11
[ -1   0   1   2   3   5   8   9  10  11  12  13  16  17  24  26  28  29
  31  32  34  35  39  40  42  44  47  49  50  51  54  55  57  58  59  63
  64  69  70  76  78  79  80  81  82  83  89  90  92  93 101 102 104 105
 106 107 108 110 112 114 116 117 118 119 123 125 126 129 130 131 132 138
 139 146 148 150 151 152 154 155 157 159 162 163 164 165 167 168 170 171
 172 173 174 175 176 177 178 179 180 181 182 183 184 185 189 190 200 211
 213 217 219 222 228 232 235 238 240 241 242 244 246 247 248 249 251 252
 253 255 257 258 259 260 261 262 263 264 266 267 268 269 270 271 274 275
 276 277 278 280 281 283 284 285 286 287 288 290 291 292 293 294 295 296
 298 299 300 301 302 304 305 306 307 308 309 310 311 312 313 314 315 317
 319 320 321 322 324 327 333 334 335 336 337 338 340 342 343 345 346 347
 351 352 353 354 357 358 360 361 362 363 364 365 366 368 369 370 371 374
 375 377 378 379 380 381 382 383 385 386 389 393 394 395 396 397 398 400
 401 402 403 404 406 407 408 409 410 411 412 413 414 415 416 417 418 419
 420 421 422 423 424 425 427 428 429 430 431 434 435 439 441 443 444 445
 446 447 449 450 452 453 454 455 456]
lineage 12: 127 cells
(3731, 3)
(3731, 3)
curr_ad     Position  Cell  Count
6          6     1    147
9          7     1    283
27        16     1      2
41        24     1    283
84        46     1      2
donor2_lineage12
[ -1   1   5   8   9  10  11  12  13  16  17  19  24  26  28  29  32  33
  34  35  40  41  42  46  47  49  50  53  54  55  57  59  63  69  70  76
  79  81  82  83  84  86  89  90  92  93 101 102 104 105 106 108 109 110
 112 114 116 117 118 119 121 123 125 126 129 130 131 132 138 146 148 151
 152 154 155 157 158 162 163 164 165 168 169 170 171 172 173 174 176 177
 180 182 183 184 185 186 190 195 200 206 211 213 216 217 219 220 221 228
 233 235 240 242 244 251 252 253 255 267 268 274 283 286 287 290 292 295
 296 299 301 310 311 314 316 317 319 320 327 328 333 335 336 338 342 346
 347 352 356 357 361 363 369 371 375 378 379 380 385 395 400 412 413 414
 419 425 434 442 445 447 449 453 454 455 456]
lineage 13: 10 cells
(415, 3)
(415, 3)
curr_ad     Position  Cell  Count
0          1     1     77
6          3     1   1364
9          4     1   2566
10         5     1     96
11         6     1      2
donor2_lineage13
[ -1   0   1   5   7   8   9  10  12  13  14  16  17  18  19  20  24  26
  29  30  32  34  35  40  41  42  43  46  47  49  50  51  52  53  54  55
  56  57  58  59  60  61  63  64  65  66  69  70  72  73  75  76  78  79
  81  82  83  84  85  87  89  90  92  93  97 101 102 104 105 107 108 109
 110 111 112 113 114 116 117 118 119 120 121 123 125 126 127 129 131 133
 134 137 138 139 140 142 145 146 147 148 150 151 152 154 155 157 158 159
 160 162 163 164 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 183 184 185 186 190 200 204 213 240 244 247 249 251 252 253 255 256
 261 264 267 268 270 281 284 288 290 291 292 295 298 299 301 304 305 306
 308 311 313 320 327 328 329 333 334 338 340 341 342 345 347 354 357 360
 361 362 366 369 374 375 379 380 382 383 384 385 386 398 400 402 407 408
 409 411 412 413 416 417 418 419 421 427 428 430 432 434 447 448 449 453]
lineage 14: 9 cells
(424, 3)
(424, 3)
curr_ad    Position  Cell  Count
0         1     1     25
1         2     1      6
2         3     1      5
6         4     1   2384
8         5     1      2
donor2_lineage14

[ -1   0   4   5   7   8   9  10  11  13  14  16  17  18  19  21  22  24
  29  30  31  32  34  35  37  39  40  41  42  43  45  46  47  48  50  51
  53  55  58  59  61  64  66  68  69  70  71  72  73  75  76  77  79  80
  81  82  83  84  85  86  89  90  92  94  95  96  97 102 104 108 110 111
 114 115 116 117 118 119 120 121 123 124 125 126 128 131 132 134 138 139
 140 143 144 145 146 147 148 150 151 152 154 155 159 160 162 163 164 165
 167 168 170 171 172 173 174 175 176 177 178 179 180 181 184 185 186 188
 189 190]
lineage 15: 2 cells
(176, 3)
(176, 3)
curr_ad    Position  Cell  Count
0         1     1     23
1         2     1     18
6         4     1    382
8         5     1     29
9         6     1   7142
donor2_lineage15
[ -1   2   5   8   9  10  11  13  16  17  18  20  21  24  26  28  31  32
  35  38  40  41  43  44  46  47  48  49  50  51  54  55  56  57  58  59
  60  62  63  67  69  70  71  72  73  76  79  80  82  84  85  86  87  89
  90  91  92  93  95  97 101 102 104 105 106 108 110 111 112 114 115 116
 117 118 119 120 123 125 126 127 128 131 132 133 134 136 138 139 140 143
 146 147 148 151 152 154 155 157 159 160 162 163 164 165 167 168 169 170
 171 172 173 174 175 176 177 179 180 184 185 188 190 200 201 211 213 219
 221 240 242 244 251 252 264 268 277 296 301 306 308 314 317 324 325 327
 333 342 353 357 360 361 366 369 372 374 379 383 385 386 393 400 413 416
 419 455]
lineage 16: 5 cells
(283, 3)
(283, 3)
curr_ad     Position  Cell  Count
0          1     1     46
6          3     1   2756
9          4     1   4045
10         5     1     47
12         7     1      9
donor2_lineage16
[ -1   2   5   8  10  11  13  16  24  26  28  29  32  35  39  40  41  42
  43  46  47  49  50  51  53  54  55  57  58  59  63  64  69  70  76  79
  81  82  83  89  90  92  93 101 102 104 105 106 107 108 110 112 114 116
 117 118 119 123 125 126 129 130 131 132 138 139 146 147 150 151 152 154
 155 157 159 162 164 165 167 168 170 171 172 173 174 175 176 177 181 182
 183 184 185 186 187 190 199 200 202 204 211 213 214 217 228 232 240 242
 244 252 253 255 260 261 263 267 268 271 274 280 286 292 295 296 298 299
 301 304 306 310 311 315 317 318 328 333 336 338 340 342 347 350 352 357
 358 360 361 371 374 375 378 379 385 388 393 395 397 400 402 410 411 412
 413 415 416 423 427 429 431 434 441 442 454 455]
lineage 17: 12 cells
(410, 3)
(410, 3)
curr_ad     Position  Cell  Count
0          1     1      8
6          3     1    879
9          4     1   2042
14         7     1      2
36        14     1     10
donor2_lineage17
[ -1   0   3   5   7   8   9  10  13  16  19  20  25  26  29  32  35  36
  39  40  41  42  43  44  46  47  49  50  51  52  54  55  58  59  60  61
  62  64  66  69  70  71  76  78  79  82  84  90  93  94  95 101 102 104
 105 106 107 108 110 112 114 115 116 119 122 123 125 126 127 129 130 131
 139 140 146 148 151 152 154 155 157 159 162 163 164 165 167 168 169 170
 171 173 174 175 177 178 179 181 184 185 187 189 190 200 202 211 213 221
 232 244 247 252 253 255 260 261 267 268 269 271 276 278 288 299 301 306
 308 310 311 314 315 330 333 336 342 345 347 351 357 360 361 369 370 371
 379 380 385 400 411 412 419 424 427 428 430 434 447 455]
lineage 18: 8 cells
(271, 3)
(271, 3)
curr_ad    Position  Cell  Count
0         1     1      8
4         3     1      2
6         4     1   1445
8         5     1      2
9         6     1   2180
donor2_lineage18
[ -1   1   5   8   9  10  13  16  26  32  35  39  40  41  42  44  47  49
  50  54  55  57  58  59  64  69  70  76  79  81  82  83  89  90  92  93
 104 108 110 114 116 117 118 119 123 125 126 129 130 132 138 139 150 151
 152 154 159 162 163 164 165 167 168 170 171 173 174 176 178 179 180 181
 182 183 184 185 190 200 210 213 217 226 228 230 232 240 243 244 248 249
 251 253 255 260 261 264 267 268 273 274 276 278 280 286 292 295 299 301
 308 310 311 317 319 327 333 336 340 342 345 347 357 360 361 362 366 369
 371 372 374 379 385 386 388 393 395 399 400 402 410 412 413 419 421 424
 429 430 434 449 454]
lineage 19: 7 cells
(259, 3)
(259, 3)
curr_ad     Position  Cell  Count
2          2     1      8
6          3     1    399
9          4     1    703
14         7     1      2
17         8     1     42
donor2_lineage19
cell meta
             new index                        ID              raw ID  \
donor_index
1                    2  AAAGGATAGTCGTGAG-1_Input  AAAGGATAGTCGTGAG-1
2                   15  ACAGAAATCTGGCACG-1_Input  ACAGAAATCTGGCACG-1
3                   23  ACCCAAAAGGAAGGTA-1_Input  ACCCAAAAGGAAGGTA-1
4                   25  ACCTGCTCACGCGTTG-1_Input  ACCTGCTCACGCGTTG-1
5                   30  AGCCGCAGTCCGTGCA-1_Input  AGCCGCAGTCCGTGCA-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      2        1              1
2               Input      2       14              1
3               Input      2        5              1
4               Input      2       11              1
5               Input      2        1              2
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor3.AD.mtx
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor3.DP.mtx
curr_vcf
  index_x #CHROM    POS REF_x ALT  strand_correlation_x     vmr_x  \
0     NaN   chrM  16512   NaN   C                   NaN       NaN
1   73A>G   chrM     73   73A   G              0.996919  0.382955
2  146T>C   chrM    146  146T   C              0.993106  0.591151
3  150C>T   chrM    150  150C   T              0.979327  0.670372
4  195T>C   chrM    195  195T   C              0.990257  0.623396

   n_cells_over_5_x  n_cells_over_20_x  \
0               NaN                NaN
1             119.0              116.0
2               2.0                1.0
3              61.0               49.0
4              44.0               31.0

   old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Input/MT/cellr_True/Input_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                1.0
2                                                2.0
3                                                3.0
4                                                4.0

   ... n_cells_over_20_y  \
0  ...               NaN
1  ...             329.0
2  ...               NaN
3  ...             177.0
4  ...              22.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Control/MT/cellr_True/Control_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                2.0
2                                                NaN
3                                                3.0
4                                                4.0

      index     REF  strand_correlation       vmr  n_cells_over_5  \
0  16512T>C  16512T            0.772501  0.013277             0.0
1     73A>G     73A            0.995236  0.339875          2768.0
2    146T>C    146T            0.990833  0.665951            15.0
3    150C>T    150C            0.977151  0.800561           714.0
4    195T>C    195T            0.971955  0.669470          1103.0

  n_cells_over_20  \
0             0.0
1          2699.0
2             6.0
3           664.0
4          1027.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Flt3l/MT/cellr_True/Flt3l_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                              368.0
1                                                3.0
2                                                6.0
3                                                9.0
4                                               11.0

   new ID
0     495
1       1
2       2
3       3
4       4

[5 rows x 25 columns]
curr_labels
   new index                        ID              raw ID condition  donor  \
0          7  AACCGATAGCCTTTGA-1_Input  AACCGATAGCCTTTGA-1     Input    NaN
1         14  ACAATCGAGTATACCC-1_Input  ACAATCGAGTATACCC-1     Input    NaN
2         19  ACAGGCCGTTGAATAG-1_Input  ACAGGCCGTTGAATAG-1     Input    NaN
3         20  ACATGCAGTCATAGCT-1_Input  ACATGCAGTCATAGCT-1     Input    NaN
4         22  ACCATCCTCACGTCAA-1_Input  ACCATCCTCACGTCAA-1     Input    NaN

   donor_index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

cell meta
             new index                        ID              raw ID  \
donor_index
1                    7  AACCGATAGCCTTTGA-1_Input  AACCGATAGCCTTTGA-1
2                   14  ACAATCGAGTATACCC-1_Input  ACAATCGAGTATACCC-1
3                   19  ACAGGCCGTTGAATAG-1_Input  ACAGGCCGTTGAATAG-1
4                   20  ACATGCAGTCATAGCT-1_Input  ACATGCAGTCATAGCT-1
5                   22  ACCATCCTCACGTCAA-1_Input  ACCATCCTCACGTCAA-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      3      NaN            NaN
2               Input      3      NaN            NaN
3               Input      3      NaN            NaN
4               Input      3      NaN            NaN
5               Input      3      NaN            NaN
[ -1   0   1   2   5   7   8   9  10  11  12  15  16  23  24  26  30  33
  37  38  40  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76
  77  78  79  80  81  87  88  90  91  97  98  99 101 102 103 104 106 108
 110 112 113 114 115 119 121 122 125 126 127 128 133 134 140 142 144 145
 146 148 149 151 153 156 157 158 159 160 161 163 164 165 166 167 169 170
 171 172 173 174 175 176 177 178 183 184 189 194 195 204 207 214 215 219
 221 223 224 226 227 228 231 233 234 236 238 239 243 244 245 247 249 251
 254 255 257 259 261 266 267 269 270 271 274 276 277 280 281 282 284 286
 288 290 291 293 295 296 298 304 305 306 309 311 312 314 316 318 321 322
 323 328 329 330 331 334 335 336 338 340 341 345 347 350 353 354 357 358
 359 361 364 365 368 373 374 375 378 379 381 382 383 385 386 388 389 391
 392 393 395 396 397 400 401 402 403 404 405 407 409 410 411 412 415 419
 421 422 425 427 428 430 432 436 437 438 439 440]
lineage 0: 37 cells
(1880, 3)
(1880, 3)
curr_ad     Position  Cell  Count
0          1     1    308
1          2     1      2
3          4     1     49
10         8     1    207
24        14     1     77
donor3_lineage0
[ -1   0   1   2   3   5   7   8   9  10  12  13  15  18  19  20  21  23
  24  25  26  29  30  33  34  37  38  39  40  41  42  43  44  45  47  48
  49  50  51  52  53  54  55  56  57  60  61  62  63  64  65  67  68  70
  71  74  76  77  78  79  80  81  83  87  88  90  91  92  97  98  99 101
 102 104 105 106 107 108 110 111 112 113 114 115 119 121 122 123 124 125
 126 127 128 133 134 135 137 138 139 140 142 144 145 146 148 149 151 153
 156 157 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174
 175 177 178 181 183 189 195 198 199 207 215 217 219 222 223 224 225 226
 227 228 231 234 236 239 241 243 245 248 254 267 270 271 273 274 276 280
 284 286 288 290 291 293 295 296 297 298 300 304 305 309 310 311 312 316
 318 321 323 330 335 337 338 340 341 342 345 347 350 351 352 353 354 356
 357 358 359 365 368 373 375 378 379 382 383 388 389 391 392 393 395 396
 397 398 402 404 408 409 410 411 412 415 420 427 430 432 436 438 439]
lineage 1: 24 cells
(1266, 3)
(1266, 3)
curr_ad     Position  Cell  Count
0          1     1   3404
3          4     1   2059
6          6     1    108
10         9     1   2599
13        11     1      3
donor3_lineage1
[]
lineage 2: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage2
[ -1   1   2   5   6   7   8   9  10  12  15  16  19  20  23  24  26  27
  28  29  30  31  33  37  38  39  40  42  43  45  47  48  49  52  53  55
  56  57  58  61  62  66  67  68  70  73  74  76  77  78  79  80  81  82
  84  86  87  88  90  91  97  98  99 101 102 103 104 105 106 108 110 112
 113 114 115 117 119 121 122 123 125 126 127 128 130 133 134 135 140 142
 144 145 146 147 148 149 151 153 154 156 157 158 159 160 161 162 163 164
 165 166 167 168 169 170 171 172 173 174 175 176 177 178 182 183 187 189
 190 194 195 197 198 199 204 207 210 213 215 216 217 219 221 222 224 226
 227 228 231 233 234 235 236 239 243 245 247 248 251 254 256 258 259 260
 261 266 267 270 271 273 274 276 277 280 282 284 286 288 291 292 295 296
 298 302 303 306 309 312 314 316 318 321 322 323 325 326 328 329 330 331
 334 335 338 340 341 343 345 347 348 350 353 354 356 357 358 359 364 365
 368 373 375 379 381 382 385 386 388 389 391 392 393 394 396 397 398 400
 402 403 404 405 407 408 409 410 411 412 415 421 422 423 426 428 430 432
 433 434 435 436 438 439 440]
lineage 3: 31 cells
(1707, 3)
(1707, 3)
curr_ad     Position  Cell  Count
0          1     1   2197
3          3     1   1151
6          4     1     84
8          6     1     10
10         8     1   2206
donor3_lineage3
[ -1   2   5   8   9  23  24  26  33  37  40  42  45  47  48  49  52  53
  55  56  57  61  67  68  74  77  79  80  81  87  88  91  97  98  99 101
 102 108 110 113 114 115 119 122 125 126 127 133 142 144 145 146 151 153
 155 156 157 161 163 169 171 172 173 174 175 176 177 178 183 195 204 212
 219 222 226 227 228 231 235 236 245 251 254 258 259 270 271 272 274 276
 283 286 291 298 309 323 347 357 358 364 367 373 379 386 392 393 405 409
 410 411 439]
lineage 4: 5 cells
(266, 3)
(266, 3)
curr_ad     Position  Cell  Count
0          1     1    171
3          2     1     83
6          3     1      5
9          4     1      6
10         5     1    165
donor3_lineage4
[ -1   0   2   3   5   6   7   8   9  10  11  12  15  16  18  19  20  21
  23  24  26  27  29  30  31  32  33  34  37  38  39  40  41  44  45  47
  48  49  50  51  52  53  55  56  57  59  60  61  62  64  65  67  68  70
  73  74  76  77  79  80  81  82  84  86  87  88  89  90  91  92  95  97
  98  99 100 101 102 103 104 105 106 108 109 110 112 113 114 115 117 119
 121 122 123 124 125 126 127 128 129 131 132 133 134 135 136 137 138 139
 140 141 142 144 145 146 148 149 150 151 152 153 154 156 157 158 159 160
 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178
 181 182 183 186 189 192 193 194 195 197 198 200 204 207 215 217 219 228
 231 243 245 248 254 256 267 270 271 273 274 276 282 288 291 293 303 304
 309 311 312 314 318 321 323 335 336 338 340 341 345 347 350 353 355 357
 358 359 362 373 375 379 381 384 386 387 388 391 392 393 395 396 408 410
 428 432 436]
lineage 5: 13 cells
(753, 3)
(753, 3)
curr_ad    Position  Cell  Count
0         1     1   5260
3         3     1   2806
6         5     1    306
8         7     1     14
9         8     1    127
donor3_lineage5
[ -1   1   2   3   4   5   6   7   8   9  10  11  12  13  15  18  19  20
  21  22  23  24  26  27  30  32  33  34  35  36  37  38  39  40  41  42
  43  44  45  47  48  49  50  51  52  53  54  55  56  57  59  61  62  65
  67  68  69  70  73  74  75  76  77  78  79  80  81  82  83  84  85  86
  87  88  90  91  92  95  97  98  99 101 102 103 104 106 108 109 110 112
 113 114 115 117 119 121 122 124 125 126 127 128 130 133 134 135 137 139
 140 141 142 143 144 145 146 148 149 151 152 153 154 156 157 158 159 160
 161 162 163 164 165 166 167 169 170 171 172 173 174 175 176 177 178 180
 181 183 189 194 214 219 222 227 228 231 235 236 243 245 247 248 249 251
 259 260 261 267 268 270 274 276 278 280 288 296 298 299 306 309 311 312
 314 316 338 340 347 350 353 357 358 364 368 379 382 397 403 406 409 410
 412 415 427]
lineage 6: 9 cells
(748, 3)
(748, 3)
curr_ad    Position  Cell  Count
0         1     1   6679
2         2     1     57
3         3     1   3757
4         4     1      2
5         5     1      2
donor3_lineage6
[ -1   0   1   2   5   7   8   9  10  12  15  18  20  21  23  24  26  33
  34  35  37  38  39  40  41  42  44  45  47  48  49  51  52  53  54  55
  56  57  58  59  61  62  64  67  68  74  75  76  77  78  79  80  81  82
  85  87  88  90  91  93  95  97  98  99 104 105 106 108 110 111 112 113
 114 115 116 117 119 121 122 123 124 125 126 127 128 133 134 137 139 140
 142 144 145 146 148 149 151 152 153 156 157 158 160 161 163 164 165 166
 169 170 171 172 173 174 177 178 182 183 231 249 261 267 280 293 296 309
 321 323 341 347 357 379 392 440]
lineage 7: 2 cells
(186, 3)
(186, 3)
curr_ad    Position  Cell  Count
0         1     1   7843
1         2     1     21
2         3     1      6
3         4     1   2357
6         5     1    937
donor3_lineage7
[ -1   0   1   2   3   5   7   8   9  10  12  15  23  24  26  27  33  37
  38  39  40  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76
  77  79  80  81  86  87  88  90  91  97  98  99 101 102 103 104 106 108
 110 112 113 114 115 119 121 122 125 126 127 128 133 134 140 142 144 145
 146 148 149 151 153 156 157 158 159 160 161 163 164 165 166 167 169 170
 171 172 173 174 175 176 177 178 183 189 194 195 197 198 199 204 206 207
 209 215 216 217 219 220 221 222 223 226 227 228 231 233 234 235 236 239
 243 245 247 248 249 253 254 259 260 261 264 265 266 267 268 269 270 271
 273 274 276 277 280 282 284 286 288 289 293 295 296 297 298 299 304 308
 309 310 311 312 313 314 316 318 321 322 328 329 330 331 335 336 338 340
 341 342 343 345 347 350 351 353 354 355 357 358 359 362 364 365 366 367
 368 369 373 374 375 378 379 381 382 383 385 386 387 388 389 390 391 392
 393 396 397 398 399 400 402 404 405 406 409 410 411 415 416 421 422 426
 429 430 432 436 438 439]
lineage 8: 52 cells
(2537, 3)
(2537, 3)
curr_ad     Position  Cell  Count
0          1     1    496
3          4     1    216
6          6     1     24
10         9     1    889
24        13     1    569
donor3_lineage8
[ -1   1   2   5   7   8   9  12  13  15  16  18  21  23  24  25  26  27
  30  33  37  38  39  40  41  42  43  45  47  48  49  51  52  53  54  55
  56  57  60  62  65  67  68  70  71  72  74  77  78  79  80  81  82  83
  84  87  88  91  93  95  97  98 101 103 104 106 107 108 110 111 112 113
 114 115 117 119 121 122 125 126 127 128 130 132 133 134 139 140 142 144
 145 146 148 149 151 153 154 156 157 158 159 160 161 163 164 165 166 167
 168 169 170 173 174 176 177 178 183 188 189 195 197 198 202 203 204 205
 207 219 221 222 226 227 228 231 232 236 243 245 246 247 248 249 250 255
 256 259 262 267 270 271 274 276 282 286 288 291 295 296 304 309 311 312
 316 318 321 323 329 335 336 338 340 341 343 345 347 350 353 357 358 359
 360 361 362 364 368 370 373 375 378 379 381 382 383 385 386 388 391 392
 393 396 397 402 405 409 410 412 415 416 421 427 428 430 432 433 438 439]
lineage 9: 16 cells
(873, 3)
(873, 3)
curr_ad    Position  Cell  Count
0         1     1   5087
3         3     1   2604
6         4     1    329
8         5     1      4
9         6     1      4
donor3_lineage9

[ -1   0   1   2   3   5   7   8   9  10  11  12  15  16  19  20  23  24
  26  27  30  31  32  33  36  37  38  39  40  41  42  44  45  46  47  48
  49  50  52  53  55  56  57  59  61  62  64  65  66  67  68  69  70  74
  77  78  79  80  81  82  83  84  87  88  90  91  92  93  95  96  97  98
  99 101 102 103 104 105 106 108 110 111 112 113 114 115 117 118 119 120
 121 122 123 124 125 126 127 128 129 130 131 132 133 134 138 140 141 142
 144 145 146 148 149 151 153 154 156 157 158 159 160 161 162 163 164 165
 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 183 187
 189 194 195 198 199 207 213 215 217 219 222 223 224 226 227 228 231 233
 235 240 243 245 247 248 249 250 254 258 259 261 265 266 267 270 273 274
 276 280 284 286 288 290 291 293 295 296 297 298 300 304 309 311 312 314
 316 317 318 321 322 323 325 328 329 335 338 340 341 343 345 347 350 353
 354 357 358 359 364 365 368 373 377 378 379 381 382 383 389 391 392 393
 394 396 397 398 400 402 404 405 408 410 411 412 416 421 426 427 430 432
 438]
lineage 10: 26 cells
(1480, 3)
(1480, 3)
curr_ad     Position  Cell  Count
0          1     1   2917
3          4     1   1508
6          6     1    162
8          7     1      2
10         9     1   3114
donor3_lineage10
[ -1   0   2   5   7   9  15  20  23  24  26  30  33  37  38  39  40  47
  48  49  52  53  55  56  57  67  68  70  74  77  79  80  81  88  90  93
  97  98  99 101 102 103 104 106 107 108 110 112 113 114 115 117 119 120
 121 122 125 126 127 128 129 133 140 142 144 145 146 148 149 151 153 156
 157 158 159 160 161 163 164 165 166 167 170 171 172 173 174 175 176 177
 178 183 195 198 204 217 219 226 233 245 270 274 276 277 291 295 304 318
 335 350 357 358 359 374 379 391 392 396 397 404 410 418 421 438]
lineage 11: 5 cells
(270, 3)
(270, 3)
curr_ad     Position  Cell  Count
0          1     1   2274
3          3     1   1071
6          4     1    144
8          5     1     39
10         6     1   1855
donor3_lineage11
[ -1   0   1   2   3   5   7   8   9  12  15  23  24  26  30  33  37  38
  40  42  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76  77
  78  79  80  81  87  88  90  91  97  98  99 101 102 103 104 106 108 110
 112 113 114 115 119 121 122 125 126 127 128 133 134 140 142 144 145 146
 148 149 151 153 156 157 158 159 160 161 163 164 165 166 167 168 169 170
 171 172 173 174 175 176 177 178 183 189 194 195 198 201 204 213 214 215
 217 218 219 221 223 226 227 228 231 235 236 239 243 245 246 247 248 249
 251 253 254 256 260 261 263 266 267 270 273 274 276 280 281 282 283 284
 286 287 288 289 290 291 293 294 295 296 300 304 309 311 312 313 314 316
 318 319 322 323 328 329 330 331 333 334 335 336 337 338 340 341 345 347
 348 350 351 353 354 356 357 358 359 362 364 365 368 373 374 375 377 378
 379 381 382 383 386 387 389 391 392 394 396 398 401 402 403 404 405 409
 410 411 415 419 421 422 428 430 433 435 436 438 439 440]
lineage 12: 33 cells
(1723, 3)
(1723, 3)
curr_ad     Position  Cell  Count
0          1     1    411
3          4     1     99
6          6     1     16
9          8     1      2
10         9     1    405
donor3_lineage12
[ -1   1   2   3   5   7   8   9  10  12  15  16  23  24  26  30  32  33
  37  38  39  40  42  45  47  48  49  52  53  55  56  57  61  62  67  68
  74  76  77  78  79  80  81  87  88  90  91  97  98  99 101 102 103 104
 106 108 110 112 113 114 115 119 121 122 125 126 127 128 133 134 140 142
 144 145 146 148 149 151 153 156 157 158 159 160 161 163 164 165 166 167
 168 169 170 171 172 173 174 175 176 177 178 183 186 189 194 195 198 199
 204 207 209 213 215 216 217 219 221 222 223 226 227 228 230 231 232 233
 234 235 236 238 239 241 242 243 245 246 247 248 249 251 253 259 260 261
 267 270 271 273 274 275 276 277 278 280 282 284 286 288 289 290 291 295
 296 298 299 300 304 306 308 309 310 311 312 314 315 316 318 321 322 323
 329 330 331 335 336 338 340 341 343 345 347 349 350 351 353 354 357 358
 359 361 362 364 365 368 369 373 374 375 377 379 381 386 388 389 390 391
 392 393 394 395 396 397 400 402 403 404 405 408 409 410 411 412 415 417
 419 421 427 428 431 432 434 436 438 439 440]
lineage 13: 47 cells
(2411, 3)
(2411, 3)
curr_ad    Position  Cell  Count
0         1     1    781
2         2     1      5
3         3     1    261
6         5     1     67
9         7     1      4
donor3_lineage13
[ -1   1   2   5   7   8   9  12  15  16  23  24  26  29  30  32  33  37
  38  40  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76  77
  78  79  80  81  87  88  90  91  97  98  99 101 102 103 104 106 108 110
 112 113 114 115 119 121 122 125 126 127 128 133 134 140 142 144 145 146
 148 149 151 153 156 157 158 159 160 161 163 164 165 166 167 169 170 171
 172 173 174 175 176 177 178 183 189 194 195 198 199 201 204 207 213 215
 219 221 222 226 227 229 231 233 236 237 238 239 243 245 247 250 251 253
 255 256 259 260 261 265 266 267 270 271 273 274 276 277 280 282 284 286
 288 289 291 293 296 306 307 309 311 312 314 316 318 322 323 324 328 329
 330 331 334 335 337 338 340 341 343 345 347 350 351 353 354 357 358 359
 362 364 365 367 373 375 377 378 379 381 385 386 387 389 391 392 393 396
 400 402 403 404 408 409 412 415 421 422 427 428 430 432 436 438 439 440]
lineage 14: 35 cells
(1666, 3)
(1666, 3)
curr_ad     Position  Cell  Count
0          1     1    131
3          3     1     76
6          4     1     10
10         7     1    110
24        11     1     49
donor3_lineage14
[ -1   1   2   5   8   9  10  12  15  23  24  26  33  37  38  40  45  47
  48  49  52  53  55  56  57  61  62  67  68  74  77  78  79  80  81  87
  88  90  91  97  98  99 101 102 103 104 108 110 112 113 114 115 119 121
 122 125 126 127 128 133 134 140 142 144 145 146 148 149 151 153 156 157
 158 159 160 161 163 164 165 166 167 169 170 171 172 173 174 175 176 177
 178 183 194 195 223 228 231 239 243 245 248 259 260 270 271 273 274 276
 282 286 288 291 296 314 318 331 335 350 357 358 359 365 368 373 374 379
 381 383 385 388 392 393 398 411 436]
lineage 15: 4 cells
(286, 3)
(286, 3)
curr_ad     Position  Cell  Count
0          1     1     84
2          2     1      5
3          3     1     51
6          4     1      8
10         6     1     83
donor3_lineage15
[ -1   2   5   7   9  15  16  19  20  23  26  29  31  33  36  37  38  39
  40  42  47  48  49  50  52  53  54  55  56  57  59  60  64  67  68  74
  75  79  80  81  82  84  87  88  91  95  97  98  99 101 102 105 106 108
 111 112 113 114 115 119 122 125 126 127 128 130 131 133 134 138 139 140
 141 144 145 148 149 153 156 157 159 160 161 162 163 164 165 169 170 171
 173 174 175 176 177 178 183 194 195 204 215 219 227 245 250 253 274 280
 286 288 289 296 316 329 330 334 357 367 379 398 400 405 409 436 438]
lineage 16: 4 cells
(229, 3)
(229, 3)
curr_ad     Position  Cell  Count
0          1     1   6043
3          2     1   2496
6          3     1    302
10         5     1   4017
16         6     1      4
donor3_lineage16
[ -1   0   1   2   5   6   7   8   9  10  11  12  13  15  16  17  18  19
  23  24  26  27  28  30  32  33  34  35  37  38  39  40  42  43  44  45
  46  47  48  49  51  52  53  55  56  57  58  59  60  61  62  64  65  66
  67  68  70  71  74  77  78  79  80  81  82  83  84  87  88  90  91  92
  93  95  97  98  99 101 102 103 104 105 106 107 108 110 111 112 113 114
 115 116 117 119 120 121 122 123 124 125 126 127 128 132 133 134 135 138
 139 140 141 142 144 145 146 148 149 151 152 153 154 156 157 158 159 160
 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178
 180 183 189 194 195 198 199 204 207 210 214 215 216 217 219 222 223 226
 227 228 229 231 235 236 239 241 243 244 245 247 248 249 251 252 253 255
 259 261 267 270 271 273 274 275 276 277 280 281 282 284 285 286 288 289
 291 293 294 295 296 298 304 309 311 312 314 316 318 321 322 327 329 330
 331 332 333 335 338 340 341 342 345 347 350 353 357 358 359 363 364 365
 368 373 374 375 378 379 381 382 383 386 387 388 389 391 392 393 394 396
 400 402 403 404 409 410 415 419 421 422 426 427 432 433 438 439 440]
lineage 17: 26 cells
(1585, 3)
(1585, 3)
curr_ad    Position  Cell  Count
0         1     1   4201
3         4     1   2447
6         5     1    277
7         6     1      3
8         7     1      4
donor3_lineage17
[ -1   1   2   5   8   9  11  12  13  15  19  21  23  24  26  30  31  33
  36  37  38  39  40  41  44  45  47  48  49  50  52  53  55  56  57  60
  61  62  64  65  67  68  69  70  71  72  74  77  80  81  83  84  86  87
  88  90  91  95  97  98  99 101 102 103 104 106 107 108 112 113 114 115
 117 119 121 122 124 125 126 127 128 130 133 134 140 142 144 145 146 148
 149 151 152 153 154 156 157 158 159 160 161 163 164 165 166 167 168 170
 171 172 173 174 175 176 177 178 179 183 195 222 233 235 249 259 276 286
 329 340 358 373 379 404]
lineage 18: 3 cells
(268, 3)
(268, 3)

curr_ad    Position  Cell  Count
0         1     1   6410
2         2     1    394
3         3     1   3412
6         4     1    420
9         5     1     28
donor3_lineage18
[ -1   1   2   3   5   6   7   8   9  10  12  14  15  16  17  19  21  22
  23  24  26  30  32  33  37  38  39  40  44  45  47  48  49  50  51  52
  53  54  55  56  57  61  62  64  67  68  71  72  73  74  76  77  78  79
  80  81  83  84  86  87  88  90  91  94  95  97  98  99 101 102 103 104
 105 106 107 108 110 111 112 113 114 115 119 121 122 124 125 126 127 128
 130 133 134 135 139 140 141 142 144 145 146 148 149 151 152 153 154 156
 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174
 175 176 177 178 182 183 189 194 195 203 204 207 219 221 223 226 227 228
 231 233 234 235 236 238 239 243 245 247 248 249 251 256 259 267 270 271
 273 274 275 276 277 280 282 283 284 286 288 289 290 291 293 295 296 299
 304 309 310 312 314 316 318 322 323 330 331 334 335 336 338 340 341 343
 345 346 347 348 350 353 354 357 358 362 365 368 372 373 374 375 377 378
 379 380 381 382 383 388 391 392 395 396 398 401 402 403 408 409 410 411
 412 415 419 421 422 424 433 438 439 440]
lineage 19: 20 cells
(1126, 3)
(1126, 3)
curr_ad     Position  Cell  Count
0          1     1   2993
3          3     1   1529
6          5     1    190
7          6     1     44
10         9     1   2853
donor3_lineage19
cell meta
             new index                        ID              raw ID  \
donor_index
1                    7  AACCGATAGCCTTTGA-1_Input  AACCGATAGCCTTTGA-1
2                   14  ACAATCGAGTATACCC-1_Input  ACAATCGAGTATACCC-1
3                   19  ACAGGCCGTTGAATAG-1_Input  ACAGGCCGTTGAATAG-1
4                   20  ACATGCAGTCATAGCT-1_Input  ACATGCAGTCATAGCT-1
5                   22  ACCATCCTCACGTCAA-1_Input  ACCATCCTCACGTCAA-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      3        5              1
2               Input      3       10              1
3               Input      3       19              1
4               Input      3       17              1
5               Input      3       10              2
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor4.AD.mtx
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor4.DP.mtx
curr_vcf
  index_x #CHROM    POS REF_x ALT  strand_correlation_x     vmr_x  \
0     NaN   chrM  16512   NaN   C                   NaN       NaN
1   73A>G   chrM     73   73A   G              0.996919  0.382955
2  146T>C   chrM    146  146T   C              0.993106  0.591151
3  150C>T   chrM    150  150C   T              0.979327  0.670372
4  195T>C   chrM    195  195T   C              0.990257  0.623396

   n_cells_over_5_x  n_cells_over_20_x  \
0               NaN                NaN
1             119.0              116.0
2               2.0                1.0
3              61.0               49.0
4              44.0               31.0

   old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Input/MT/cellr_True/Input_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                1.0
2                                                2.0
3                                                3.0
4                                                4.0

   ... n_cells_over_20_y  \
0  ...               NaN
1  ...             329.0
2  ...               NaN
3  ...             177.0
4  ...              22.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Control/MT/cellr_True/Control_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                2.0
2                                                NaN
3                                                3.0
4                                                4.0

      index     REF  strand_correlation       vmr  n_cells_over_5  \
0  16512T>C  16512T            0.772501  0.013277             0.0
1     73A>G     73A            0.995236  0.339875          2768.0
2    146T>C    146T            0.990833  0.665951            15.0
3    150C>T    150C            0.977151  0.800561           714.0
4    195T>C    195T            0.971955  0.669470          1103.0

  n_cells_over_20  \
0             0.0
1          2699.0
2             6.0
3           664.0
4          1027.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Flt3l/MT/cellr_True/Flt3l_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                              368.0
1                                                3.0
2                                                6.0
3                                                9.0
4                                               11.0

   new ID
0     495
1       1
2       2
3       3
4       4

[5 rows x 25 columns]
curr_labels
   new index                        ID              raw ID condition  donor  \
0          4  AAATGCCAGGAACCGT-1_Input  AAATGCCAGGAACCGT-1     Input    NaN
1          6  AACAAAGCAATTCAGC-1_Input  AACAAAGCAATTCAGC-1     Input    NaN
2         12  AATACGCGTCATCGTA-1_Input  AATACGCGTCATCGTA-1     Input    NaN
3         27  ACTAGGTGTATTCACG-1_Input  ACTAGGTGTATTCACG-1     Input    NaN
4         40  ATCCTGCAGACTAATG-1_Input  ATCCTGCAGACTAATG-1     Input    NaN

   donor_index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
cell meta
             new index                        ID              raw ID  \
donor_index
1                    4  AAATGCCAGGAACCGT-1_Input  AAATGCCAGGAACCGT-1
2                    6  AACAAAGCAATTCAGC-1_Input  AACAAAGCAATTCAGC-1
3                   12  AATACGCGTCATCGTA-1_Input  AATACGCGTCATCGTA-1
4                   27  ACTAGGTGTATTCACG-1_Input  ACTAGGTGTATTCACG-1
5                   40  ATCCTGCAGACTAATG-1_Input  ATCCTGCAGACTAATG-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      4      NaN            NaN
2               Input      4      NaN            NaN
3               Input      4      NaN            NaN
4               Input      4      NaN            NaN
5               Input      4      NaN            NaN
[ -1   2   3   5   6   8   9  10  13  27  28  32  34  35  39  40  41  42
  46  50  51  54  57  59  64  70  76  78  81  82  83  86  89  91  92  94
  97 100 101 102 104 105 107 109 111 113 116 117 118 120 122 124 125 128
 129 131 137 138 145 147 148 149 150 152 153 155 156 157 159 160 161 162
 163 164 166 167 168 169 170 172 173 176 180 181 186 210 224 229 231 233
 243 248 252 257 260 264 278 284 288 295 297 316 321 327 333 342 348 350
 356 360 362 365 375 384 385 386 391 392 401 402 407 412 414 418 436 442
 449]
lineage 0: 5 cells
(222, 3)
(222, 3)
curr_ad    Position  Cell  Count
0         1     1      2
4         3     1      2
6         4     1    943
7         5     1     28
9         6     1      2
donor4_lineage0
[ -1   1   2   3   5   7   8   9  10  11  13  14  16  17  18  21  22  25
  27  28  35  36  39  40  41  42  43  46  47  49  50  51  54  55  57  58
  59  63  64  69  70  71  75  76  78  80  81  82  84  85  86  88  89  91
  92  93  97 100 101 102 106 107 108 109 111 113 115 116 117 118 122 124
 125 126 128 129 130 131 133 136 137 138 145 147 148 149 150 152 153 155
 157 159 160 161 162 163 164 166 167 168 169 170 172 173 174 175 176 177
 178 179 186 194 207 225 227 229 231 233 235 237 238 240 241 242 243 244
 245 249 251 252 255 257 262 265 266 269 273 274 279 281 284 285 286 290
 295 297 299 315 321 324 329 331 334 335 347 350 352 353 355 357 360 362
 369 370 371 372 373 376 377 384 385 390 391 392 394 396 398 401 402 403
 406 407 408 419 421 423 426 432 439 440]
lineage 1: 20 cells
(579, 3)
(579, 3)
curr_ad     Position  Cell  Count
0          1     1     63
6          5     1    576
10         8     1      5
14        11     1    259
15        12     1      2
donor4_lineage1

[ -1   1   2   5   8   9  11  13  16  17  22  27  28  34  35  39  40  41
  42  46  47  49  50  51  54  57  58  59  64  66  69  70  76  77  78  81
  82  88  89  91  92  96 100 101 102 104 105 106 107 109 111 113 115 118
 122 124 125 128 129 130 131 136 137 138 145 146 149 152 153 157 159 160
 161 162 163 164 166 167 168 169 170 172 173 174 175 176 177 180 181 186
 187 194 225 229 236 238 240 241 242 243 245 253 255 257 262 267 271 272
 278 281 284 297 299 307 310 315 316 320 321 327 329 331 336 339 353 355
 365 366 369 370 371 384 391 401 402 405 410 412 413 416 423 426 440 448]
lineage 2: 10 cells
(373, 3)
(373, 3)
curr_ad     Position  Cell  Count
0          1     1     21
2          2     1     13
6          4     1   1241
12         7     1      4
14         8     1     49
donor4_lineage2
[ -1   0   1   2   4   5   7   8   9  10  11  12  13  15  16  17  20  22
  23  25  27  28  29  31  32  33  34  35  36  37  39  40  41  42  44  46
  47  49  50  51  52  54  55  57  58  59  60  61  62  63  64  65  66  67
  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  87
  88  89  91  92  93  95  97 100 101 102 104 105 106 107 108 109 111 113
 114 115 116 117 118 120 121 122 124 125 126 127 128 129 130 131 133 135
 137 138 143 144 145 146 147 148 149 150 152 153 155 156 157 158 159 160
 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178
 179 180 181 183 184 186 188 189 190 193 194 195 196 197 199 200 201 202
 203 204 205 207 208 209 210 211 212 213 215 217 218 220 221 222 223 224
 227 229 231 233 234 235 237 240 241 242 243 248 252 253 255 257 262 268
 272 273 274 275 278 281 282 283 284 286 287 289 292 297 299 301 303 307
 310 311 315 321 323 331 332 334 343 347 350 352 353 360 362 365 369 370
 371 376 377 384 386 390 391 392 393 396 397 398 401 402 405 406 407 414
 417 419 421 422 423 436 437 447 449]
lineage 3: 39 cells
(1242, 3)
(1242, 3)
curr_ad     Position  Cell  Count
0          1     1     38
5          5     1      2
6          6     1   1950
8          7     1      2
10         9     1      4
donor4_lineage3
[ -1   0   2   4   5   7   8   9  10  11  12  13  14  17  21  24  25  27
  28  32  33  34  35  37  39  40  41  42  46  47  49  50  51  54  55  58
  59  61  62  63  66  68  69  70  71  72  74  75  76  77  78  80  81  82
  83  84  85  86  88  89  90  91  92  93  94  97  99 100 101 102 104 105
 106 107 109 111 113 115 118 119 120 121 122 124 125 126 127 128 129 130
 131 132 133 137 138 143 144 145 147 148 149 150 152 153 155 156 157 159
 160 161 162 163 164 165 166 167 169 170 172 173 174 175 176 177 178 179
 180 181 184 186 194 197 203 204 207 210 220 224 228 229 231 233 235 236
 240 241 242 243 248 249 252 255 257 259 260 262 265 267 272 273 274 275
 278 281 282 284 286 287 290 291 292 293 295 297 299 301 303 305 307 308
 310 314 315 321 323 329 331 334 335 336 341 342 345 346 347 348 350 352
 353 360 362 364 365 366 369 370 373 376 377 384 386 390 391 392 393 397
 399 400 401 402 406 407 410 415 419 421 426 427 434 439 441 443 445 447
 448]
lineage 4: 20 cells
(701, 3)
(701, 3)
curr_ad    Position  Cell  Count
0         1     1      6
1         2     1     12
5         4     1      5
6         5     1   2635
8         6     1     21
donor4_lineage4
[ -1   0   1   2   3   5   8   9  10  13  16  27  28  29  32  34  35  39
  40  42  47  49  50  51  54  55  57  58  59  63  64  69  70  76  78  79
  80  81  82  88  89  91  92 100 101 102 104 105 106 107 109 111 113 115
 116 117 118 122 124 125 128 129 130 131 137 138 145 147 148 149 150 152
 153 155 157 159 160 161 162 163 164 166 167 168 169 170 172 173 174 175
 176 177 178 179 180 181 186 194 207 210 220 224 229 231 233 236 241 242
 243 244 248 249 257 258 260 262 272 273 274 275 278 281 282 286 290 292
 295 297 299 308 310 315 329 331 337 340 347 350 352 353 357 362 366 367
 369 370 371 375 376 380 381 390 391 393 397 398 399 402 403 404 406 408
 410 414 416 433 441 448]
lineage 5: 18 cells
(520, 3)
(520, 3)
curr_ad     Position  Cell  Count
0          1     1      2
1          2     1      2
4          5     1      2
6          6     1     69
41        19     1    265
donor4_lineage5
[ -1   1   2   3   4   5   8   9  10  11  12  13  16  20  21  25  27  28
  29  32  35  39  40  41  42  46  47  49  50  51  53  54  55  57  58  59
  63  64  67  69  70  72  76  78  81  82  83  85  88  89  92 100 101 102
 104 105 107 109 110 111 113 114 115 116 117 118 121 122 124 125 127 128
 129 130 131 133 137 138 145 146 147 148 149 150 152 153 155 156 157 159
 160 161 162 163 164 165 166 167 169 170 172 173 174 175 176 177 178 179
 180 181 184 186 207 210 231 249 257 281 299 310 336 362 376 384 391 401
 403 407 429]
lineage 6: 2 cells
(202, 3)
(202, 3)
curr_ad    Position  Cell  Count
0         1     1   1087
2         2     1      6
3         3     1     94
4         4     1     10
5         5     1      4
donor4_lineage6
[ -1   0   1   2   4   5   8   9  10  11  13  15  16  19  20  21  22  27
  28  29  31  32  33  34  35  36  39  40  41  42  43  44  45  46  47  49
  50  51  52  54  55  56  57  58  59  60  61  62  63  64  66  67  69  70
  71  72  75  76  78  79  80  81  82  83  84  85  86  88  89  91  92  93
  94  97  98  99 100 101 102 104 105 106 107 108 109 111 113 114 115 116
 117 118 119 121 122 124 125 126 127 128 129 130 131 133 136 137 138 139
 142 145 146 147 148 149 150 152 153 155 156 157 158 159 160 161 162 163
 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181
 182 183 184 186 188 194 195 199 202 204 207 208 209 210 211 212 215 216
 220 226 229 231 233 236 239 240 241 242 243 245 246 247 252 255 257 260
 272 278 279 281 284 286 292 295 297 299 300 301 305 307 308 311 315 316
 321 323 324 327 329 331 335 336 338 340 341 347 350 352 353 355 357 362
 365 366 369 370 371 376 380 382 384 390 391 392 393 394 397 400 401 402
 403 406 412 413 414 415 448 449]
lineage 7: 21 cells
(808, 3)
(808, 3)
curr_ad     Position  Cell  Count
0          1     1     16
1          2     1      2
2          3     1      3
6          6     1   2506
20        14     1      2
donor4_lineage7
[ -1   1   2   5   8   9  10  13  16  25  27  28  29  31  34  35  39  40
  42  47  49  50  51  54  57  58  59  69  70  76  78  81  82  88  89  91
  92 100 101 102 104 105 107 109 111 113 115 116 117 118 122 124 125 128
 129 130 137 138 145 147 148 149 150 152 153 155 157 159 160 161 163 164
 166 167 168 169 170 172 173 174 175 176 177 178 179 180 181 186 187 194
 204 207 210 220 224 225 229 230 231 233 235 236 237 238 240 241 243 245
 247 250 252 254 255 257 259 263 265 267 270 272 273 274 278 281 282 284
 285 286 290 293 295 296 297 299 302 303 307 308 310 315 316 321 323 324
 327 331 334 335 336 337 341 342 344 346 347 349 350 352 353 355 357 360
 362 365 366 369 370 371 374 375 376 377 380 384 386 390 391 392 393 397
 399 400 402 403 406 407 408 410 412 413 414 420 421 422 423 426 427 433
 435 437 438 439 443 445 447 448]
lineage 8: 26 cells
(744, 3)
(744, 3)
curr_ad      Position  Cell  Count
6           4     1    195
41         18     1    301
60         27     1      4
93         37     1      7
110        44     1      5
donor4_lineage8
[ -1   0   1   2   5   8   9  10  13  16  17  25  27  28  32  35  39  40
  42  44  47  49  50  51  54  55  57  58  59  63  64  69  70  76  78  80
  81  82  88  89  91  92 100 101 102 104 105 106 107 109 111 113 115 116
 117 118 122 124 125 128 129 130 131 137 138 145 147 148 149 150 152 153
 155 157 159 160 161 162 163 164 166 167 168 169 170 172 173 174 175 176
 177 178 179 180 181 186 194 204 207 210 211 220 224 229 230 231 233 235
 237 240 241 243 247 249 250 252 255 257 258 260 262 263 264 265 267 269
 270 272 273 278 281 282 286 290 292 295 297 299 302 303 305 307 308 310
 312 313 315 317 321 322 324 326 327 329 331 334 335 340 341 342 347 350
 352 353 357 358 360 362 363 365 366 368 369 370 371 376 377 378 380 384
 386 390 391 392 393 397 400 401 402 403 405 406 407 410 412 413 414 415
 419 421 422 423 426 427 431 436 439 440 441 442 443 445 448 449]
lineage 9: 30 cells
(909, 3)
(909, 3)
curr_ad     Position  Cell  Count
6          5     1     58
10         7     1      2
41        18     1    341
50        22     1      2
83        38     1      3
donor4_lineage9

[ -1   0   1   2   3   4   5   7   8   9  10  11  12  13  14  16  17  19
  20  21  22  25  27  28  29  30  31  32  33  34  35  36  37  39  40  41
  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59
  60  61  62  63  64  66  67  68  69  70  71  72  73  74  76  77  78  79
  80  81  82  83  84  85  86  87  88  89  90  91  92  94  97  99 100 101
 102 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 120 121
 122 124 125 126 127 128 129 130 131 132 133 135 136 137 138 141 143 144
 145 146 147 148 149 150 151 152 153 155 156 157 158 159 160 161 162 163
 164 165 166 167 168 169 170 172 173 174 175 176 177 178 179 180 181 184
 185 186 187 188 189 193 194 197 199 202 203 204 207 208 209 210 211 213
 215 218 222 224 226 227 231 232 233 234 236 240 241 242 243 248 249 252
 255 257 259 260 265 272 273 274 278 281 282 283 284 286 287 291 292 294
 295 296 297 299 301 302 303 305 308 309 310 315 321 324 326 327 329 331
 334 335 341 342 343 346 347 348 350 352 353 357 360 362 363 365 366 369
 370 371 372 373 374 376 377 380 384 391 392 393 394 395 397 400 401 402
 404 406 408 410 412 414 415 419 421 422 425 426 427 431 433 437 439 442
 445 447 448]
lineage 10: 37 cells
(1371, 3)
(1371, 3)
curr_ad     Position  Cell  Count
0          1     1      6
6          7     1   1779
13        13     1      2
23        21     1      2
26        22     1      8
donor4_lineage10
[ -1   2   3   5   8   9  10  13  16  17  25  27  28  29  31  32  35  39
  40  42  44  47  49  50  51  54  55  57  59  63  64  69  70  76  77  78
  79  80  81  82  88  89  91  92 100 101 102 104 105 106 107 109 111 113
 115 116 117 118 122 124 125 128 129 130 131 137 138 145 147 148 149 150
 152 153 155 157 159 160 161 162 163 164 166 167 169 170 172 173 174 175
 176 177 178 179 180 181 186 194 204 207 210 224 226 230 231 233 234 235
 236 237 238 240 241 242 243 248 249 252 255 256 257 259 260 261 264 265
 271 272 274 276 277 278 281 282 283 284 285 286 287 290 291 292 295 297
 299 303 305 306 307 308 315 316 319 321 323 324 326 329 331 334 335 336
 340 342 343 345 347 349 350 352 353 355 357 360 362 363 365 366 369 370
 371 373 374 376 377 380 384 386 390 391 392 393 397 401 402 403 404 406
 408 410 412 413 415 419 421 422 426 427 428 433 435 439 441 442 445 447
 448]
lineage 11: 29 cells
(900, 3)
(900, 3)
curr_ad     Position  Cell  Count
6          4     1    153
14         8     1      6
28        12     1      8
36        17     1      4
41        19     1    313
donor4_lineage11
[ -1   1   5   8   9  10  16  17  25  27  28  35  39  40  42  47  49  50
  51  54  55  57  58  59  63  64  69  70  76  78  80  81  82  88  89  91
  92 100 101 104 105 106 107 109 111 113 115 116 117 118 122 124 125 128
 129 130 131 137 138 145 147 148 149 150 152 153 155 157 159 160 161 162
 164 166 167 168 169 172 173 174 175 176 177 178 179 180 181 186 204 207
 224 240 242 248 255 257 259 260 282 284 299 321 347 350 353 362 402 404
 413 436 439]
lineage 12: 4 cells
(216, 3)
(216, 3)
curr_ad     Position  Cell  Count
0          1     1     16
6          3     1     70
11         6     1     11
18         8     1      6
26         9     1      5
donor4_lineage12
[ -1   0   2   3   5   7   8   9  10  12  13  14  16  17  19  20  21  22
  26  27  28  29  31  32  33  34  35  36  39  40  41  42  43  45  46  47
  49  50  51  53  54  55  57  58  59  61  62  63  64  66  68  69  70  71
  72  73  74  76  77  78  79  80  81  82  83  84  85  88  89  92  94  97
 100 101 102 104 105 106 107 108 109 111 113 114 115 116 117 118 120 121
 122 124 125 126 128 129 130 131 132 133 136 137 138 141 144 145 146 147
 148 149 150 152 153 154 155 156 157 159 160 161 162 163 164 166 167 168
 169 170 172 173 174 175 176 177 178 179 180 181 183 184 186 188 191 192
 193 194 195 198 201 202 204 205 207 208 209 210 211 212 213 216 219 220
 222 223 228 229 233 237 240 241 243 245 247 249 255 259 272 273 278 281
 284 290 295 297 299 301 309 323 327 329 331 335 341 343 347 350 352 357
 359 360 362 366 370 371 376 377 387 391 392 393 397 399 401 402 403 405
 406 412 414 415 422 426 427 430 436 445 448 449]
lineage 13: 23 cells
(722, 3)
(722, 3)
curr_ad     Position  Cell  Count
0          1     1     42
6          5     1   1360
8          6     1     28
10         8     1      3
11         9     1      2
donor4_lineage13
[ -1   1   2   5   8   9  10  13  16  25  27  28  34  35  39  40  42  44
  47  49  50  51  54  55  57  58  59  63  64  69  70  76  77  78  81  82
  88  89  91  92 100 101 102 104 105 106 107 109 111 113 115 116 117 118
 122 124 125 128 129 130 131 137 138 145 147 148 149 150 152 153 155 157
 159 160 161 162 163 164 166 167 168 169 170 172 173 174 175 176 177 178
 179 180 181 186 194 204 207 210 235 241 242 253 257 264 265 271 278 281
 282 284 292 297 299 301 303 307 311 321 323 324 329 341 347 350 362 363
 368 369 371 386 391 393 396 399 401 402 403 405 407 410 416 421 422 439
 445]
lineage 14: 7 cells
(420, 3)
(420, 3)
curr_ad     Position  Cell  Count
0          1     1     28
6          4     1    155
10         6     1      2
11         7     1      7
17         9     1      9
donor4_lineage14
[ -1   0   1   2   3   5   8   9  10  11  13  16  17  25  27  28  32  35
  39  40  42  44  47  49  50  51  54  55  57  58  59  63  64  69  70  76
  78  79  80  81  82  88  89  91  92 100 101 102 104 105 106 107 109 111
 113 115 116 117 118 122 124 125 128 129 130 131 137 138 145 147 148 149
 150 152 153 155 157 159 160 161 162 163 164 166 167 168 169 170 172 173
 174 175 176 177 178 179 180 181 186 194 207 210 211 214 220 224 229 231
 233 235 236 237 238 240 241 242 247 248 250 252 255 257 259 260 263 264
 265 269 270 271 272 273 274 276 278 281 282 283 284 290 291 294 295 297
 299 302 305 307 308 310 312 315 317 321 322 324 329 331 334 336 341 343
 346 347 348 350 352 353 354 357 359 361 362 365 366 369 370 371 376 377
 379 380 383 384 386 390 391 392 393 394 397 399 400 401 402 404 406 407
 412 414 416 418 419 421 422 423 426 429 431 433 435 439 442 445 447 448]
lineage 15: 33 cells
(969, 3)
(969, 3)
curr_ad     Position  Cell  Count
1          2     1      2
6          6     1    130
41        20     1    203
77        36     1      8
81        39     1      2
donor4_lineage15
[ -1   1   2   5   6   8   9  10  11  12  13  14  16  17  20  27  28  29
  31  32  33  34  35  36  37  38  39  40  41  42  46  47  49  50  51  52
  53  54  55  57  58  59  60  61  62  63  64  66  69  70  71  72  73  75
  76  77  78  80  81  82  83  84  85  88  91  92  93  97 100 101 102 103
 106 107 108 109 110 111 113 115 116 117 119 120 121 122 124 125 126 128
 129 130 131 132 134 135 137 138 141 143 144 145 147 148 149 152 153 155
 156 157 158 159 160 161 162 163 164 166 167 168 169 170 172 173 174 175
 176 177 178 179 180 181 183 184 186 194 204 207 272 305 324 331 362 369
 419]
lineage 16: 2 cells
(163, 3)
(163, 3)
curr_ad    Position  Cell  Count
0         1     1     31
2         2     1     24
3         3     1      5
6         4     1   5089
7         5     1      3
donor4_lineage16
[ -1   0   5   8   9  10  11  13  16  21  25  27  28  29  31  32  34  35
  36  37  39  40  41  42  47  49  50  51  52  54  55  57  58  59  61  63
  64  69  70  73  76  77  78  79  80  81  82  83  87  88  89  91  92  97
 100 101 102 104 105 106 107 109 111 113 115 116 117 118 122 124 125 128
 129 130 131 136 137 138 143 144 145 147 148 149 150 152 153 155 156 157
 159 160 161 162 163 164 166 167 168 169 170 172 173 174 175 176 177 179
 180 181 186 194 195 197 204 207 210 211 212 213 220 224 227 229 231 233
 234 235 236 238 240 241 242 243 245 247 249 252 255 257 259 260 262 264
 265 271 272 273 276 278 279 280 281 282 284 290 291 293 295 297 299 303
 307 308 311 315 321 322 323 324 325 327 329 331 334 340 341 342 347 350
 351 352 357 360 361 362 365 366 369 370 374 376 377 380 384 385 386 390
 391 392 393 394 397 399 400 401 402 403 404 405 406 408 410 412 413 414
 415 419 421 422 425 426 427 433 436 437 441 443 445 447 448]
lineage 17: 24 cells
(792, 3)
(792, 3)
curr_ad     Position  Cell  Count
0          1     1      2
6          3     1   1038
14         8     1      2
17         9     1      9
22        10     1      8
donor4_lineage17
[ -1   5   8  10  13  16  20  25  27  28  33  35  39  40  41  42  47  49
  50  51  54  55  57  58  59  61  63  64  66  69  70  76  78  81  82  83
  88  89  91  92 100 101 104 105 106 107 109 110 111 113 115 116 117 118
 120 122 123 124 125 128 129 130 135 137 138 140 141 144 145 147 148 149
 150 152 153 155 157 158 159 160 161 162 163 164 165 166 167 168 169 170
 172 173 174 175 176 177 180 181 186 233 244 277 278 321 342 350 366 386
 408 426 427]

lineage 18: 3 cells
(174, 3)
(174, 3)
curr_ad     Position  Cell  Count
0          1     1    184
6          2     1    668
9          3     1     62
11         4     1     32
14         5     1     50
donor4_lineage18
[ -1   1   2   5   8   9  10  12  13  16  25  27  28  35  39  40  42  47
  49  50  51  54  55  57  58  59  64  69  70  76  78  80  81  82  88  89
  91  92 100 101 102 104 105 106 107 109 111 113 115 116 117 118 122 124
 125 128 129 130 131 137 138 145 147 148 149 150 152 153 155 157 159 160
 161 162 163 164 166 167 168 169 170 172 173 174 175 176 177 178 179 180
 181 186 194 197 204 207 210 211 224 229 231 233 236 240 241 242 243 248
 249 252 255 257 259 260 262 272 273 274 276 277 278 280 281 282 283 284
 286 287 290 292 293 295 297 299 303 305 306 307 308 309 310 311 314 315
 316 321 323 324 327 328 329 331 334 336 338 340 341 342 347 350 352 353
 355 357 359 360 362 365 366 369 370 374 376 379 385 389 390 391 392 393
 401 402 403 405 407 408 410 413 414 415 419 421 422 423 426 427 433 435
 436 437 439 440 441 445 447 448]
lineage 19: 35 cells
(958, 3)
(958, 3)
curr_ad     Position  Cell  Count
6          4     1     80
36        14     1      4
41        16     1    243
48        18     1      4
56        23     1      4
donor4_lineage19
cell meta
             new index                        ID              raw ID  \
donor_index
1                    4  AAATGCCAGGAACCGT-1_Input  AAATGCCAGGAACCGT-1
2                    6  AACAAAGCAATTCAGC-1_Input  AACAAAGCAATTCAGC-1
3                   12  AATACGCGTCATCGTA-1_Input  AATACGCGTCATCGTA-1
4                   27  ACTAGGTGTATTCACG-1_Input  ACTAGGTGTATTCACG-1
5                   40  ATCCTGCAGACTAATG-1_Input  ATCCTGCAGACTAATG-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      4       18              1
2               Input      4        3              1
3               Input      4       10              1
4               Input      4        0              1
5               Input      4       10              2
all_cells_meta    donor_index  new index                        ID              raw ID  \
0            1          1  AAACGAATCTTACTCA-1_Input  AAACGAATCTTACTCA-1
1            2          9  AAGATAGTCGGTACTA-1_Input  AAGATAGTCGGTACTA-1
2            3         13  AATGTCGCACCACGAC-1_Input  AATGTCGCACCACGAC-1
3            4         32  AGGCGAAAGTGCTGAG-1_Input  AGGCGAAAGTGCTGAG-1
4            5         50  CAACCAACACCGTCTT-1_Input  CAACCAACACCGTCTT-1

  condition  donor  lineage  lineage_index
0     Input      0       13              1
1     Input      0        5              1
2     Input      0        5              2
3     Input      0        5              3
4     Input      0        4              1
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor0.AD.mtx
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor0.DP.mtx
curr_vcf
  index_x #CHROM    POS REF_x ALT  strand_correlation_x     vmr_x  \
0     NaN   chrM  16512   NaN   C                   NaN       NaN
1   73A>G   chrM     73   73A   G              0.996919  0.382955
2  146T>C   chrM    146  146T   C              0.993106  0.591151
3  150C>T   chrM    150  150C   T              0.979327  0.670372
4  195T>C   chrM    195  195T   C              0.990257  0.623396

   n_cells_over_5_x  n_cells_over_20_x  \
0               NaN                NaN
1             119.0              116.0
2               2.0                1.0
3              61.0               49.0
4              44.0               31.0

   old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Input/MT/cellr_True/Input_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                1.0
2                                                2.0
3                                                3.0
4                                                4.0

   ... n_cells_over_20_y  \
0  ...               NaN
1  ...             329.0
2  ...               NaN
3  ...             177.0
4  ...              22.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Control/MT/cellr_True/Control_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                2.0
2                                                NaN
3                                                3.0
4                                                4.0

      index     REF  strand_correlation       vmr  n_cells_over_5  \
0  16512T>C  16512T            0.772501  0.013277             0.0
1     73A>G     73A            0.995236  0.339875          2768.0
2    146T>C    146T            0.990833  0.665951            15.0
3    150C>T    150C            0.977151  0.800561           714.0
4    195T>C    195T            0.971955  0.669470          1103.0

  n_cells_over_20  \
0             0.0
1          2699.0
2             6.0
3           664.0
4          1027.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Flt3l/MT/cellr_True/Flt3l_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                              368.0
1                                                3.0
2                                                6.0
3                                                9.0
4                                               11.0

   new ID
0     495
1       1
2       2
3       3
4       4

[5 rows x 25 columns]
curr_labels
   new index                        ID              raw ID condition  donor  \
0          1  AAACGAATCTTACTCA-1_Input  AAACGAATCTTACTCA-1     Input    NaN
1          9  AAGATAGTCGGTACTA-1_Input  AAGATAGTCGGTACTA-1     Input    NaN
2         13  AATGTCGCACCACGAC-1_Input  AATGTCGCACCACGAC-1     Input    NaN
3         32  AGGCGAAAGTGCTGAG-1_Input  AGGCGAAAGTGCTGAG-1     Input    NaN
4         50  CAACCAACACCGTCTT-1_Input  CAACCAACACCGTCTT-1     Input    NaN

   donor_index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

cell meta
             new index                        ID              raw ID  \
donor_index
1                    1  AAACGAATCTTACTCA-1_Input  AAACGAATCTTACTCA-1
2                    9  AAGATAGTCGGTACTA-1_Input  AAGATAGTCGGTACTA-1
3                   13  AATGTCGCACCACGAC-1_Input  AATGTCGCACCACGAC-1
4                   32  AGGCGAAAGTGCTGAG-1_Input  AGGCGAAAGTGCTGAG-1
5                   50  CAACCAACACCGTCTT-1_Input  CAACCAACACCGTCTT-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      0      NaN            NaN
2               Input      0      NaN            NaN
3               Input      0      NaN            NaN
4               Input      0      NaN            NaN
5               Input      0      NaN            NaN
[ -1   1   2   3   5   8   9  10  12  13  14  18  26  28  31  32  35  38
  39  40  41  43  46  48  49  50  53  54  56  57  58  62  63  67  68  74
  77  78  79  80  81  87  88  91 100 101 105 106 107 108 110 112 114 116
 117 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152
 153 155 157 160 161 162 163 165 166 168 169 171 172 173 175 176 177 178
 179 180 181 182 183 188 190 198 209 212 215 226 230 231 233 234 237 238
 239 241 246 247 248 249 250 253 254 255 256 258 261 264 266 268 271 277
 283 284 287 292 295 296 299 301 302 304 306 310 311 312 313 314 320 321
 323 324 329 331 334 335 336 337 339 341 343 345 346 354 357 360 362 363
 365 367 372 375 376 379 380 381 384 386 387 390 393 395 397 398 400 402
 403 406 407 409 410 412 413 414 415 417 418 419 421 423 430 432 433 434
 436 437 441 450 451 455 458 460 461]
lineage 0: 35 cells
(1709, 3)
(1709, 3)
curr_ad     Position  Cell  Count
0          1     1    488
6          5     1    295
10         7     1    794
13         9     1     78
14        10     1      6
donor0_lineage0
[ -1   1   2   3   5   8   9  10  12  13  14  17  25  26  28  29  31  32
  34  35  38  39  41  43  46  48  49  50  53  54  56  57  58  62  63  67
  68  74  76  77  78  79  80  81  87  88  91 100 101 103 105 106 107 108
 110 112 114 116 117 118 119 123 125 126 129 130 131 132 138 145 147 148
 149 150 152 153 155 157 160 161 162 163 165 166 168 169 170 171 172 174
 175 176 177 178 179 180 181 182 183 188 190 197 198 205 208 212 215 217
 220 223 226 228 230 233 237 238 239 241 244 245 246 248 249 250 253 257
 258 260 261 264 266 268 269 271 273 275 284 285 286 287 292 295 296 298
 299 301 304 305 306 310 312 313 316 317 318 323 324 327 329 334 335 336
 338 339 341 343 345 346 352 353 354 357 360 362 363 365 367 370 375 376
 379 380 381 384 386 387 388 390 391 394 395 398 400 403 405 407 409 410
 411 412 413 414 417 418 421 423 427 429 430 433 436 437 439 443 444 453
 455 458 460 461 462]
lineage 1: 27 cells
(1627, 3)
(1627, 3)
curr_ad     Position  Cell  Count
0          1     1    628
4          4     1      2
6          5     1    279
10         7     1    911
13         9     1     57
donor0_lineage1
[ -1   3   5   9  10  12  13  14  17  18  25  26  28  31  35  38  39  41
  46  48  49  53  54  56  57  58  62  63  67  68  74  77  80  81  87  88
  91 100 101 103 105 106 107 108 110 112 114 116 117 118 119 123 125 126
 129 130 131 132 138 139 145 147 148 149 150 152 155 157 160 161 163 165
 166 168 169 171 172 174 175 177 178 180 181 182 183 188 190 198 209 212
 215 217 220 226 230 231 233 235 239 241 245 246 248 249 250 253 254 255
 257 258 261 264 266 268 269 271 273 275 278 281 284 285 286 288 292 295
 296 298 299 301 302 304 305 306 312 313 317 318 320 321 322 325 329 330
 334 336 339 341 343 344 345 346 347 353 354 357 360 362 363 367 372 373
 375 376 377 379 380 381 384 386 387 388 393 395 398 399 400 402 407 408
 410 412 413 414 415 417 418 419 421 423 424 425 429 430 432 433 436 441
 444 453 458 460 462]
lineage 2: 29 cells
(1476, 3)
(1476, 3)
curr_ad     Position  Cell  Count
0          1     1    279
6          3     1     70
10         4     1    334
14         7     1      8
36        15     1    212
donor0_lineage2
[ -1   1   2   3   5   8   9  10  12  13  14  17  25  26  28  29  34  35
  38  39  41  43  46  48  49  50  53  54  56  57  58  62  63  67  68  74
  77  78  79  80  81  87  88  90  91 100 101 103 105 106 107 108 110 112
 114 116 117 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149
 150 152 153 155 157 160 161 162 163 165 166 168 170 171 172 174 175 176
 177 178 179 180 181 182 183 188 190 198 209 212 215 226 230 237 239 241
 246 247 248 249 250 253 258 264 266 268 269 271 275 284 285 291 292 295
 296 299 301 302 304 306 310 312 314 315 316 317 320 321 323 329 334 335
 336 337 338 340 341 343 345 353 354 356 357 360 361 362 365 367 370 372
 373 375 376 379 380 381 383 384 386 387 390 393 395 398 399 400 402 403
 406 407 409 410 413 417 419 421 423 424 425 426 428 430 432 433 434 435
 436 437 444 451 453 456 458 461]
lineage 3: 24 cells
(1547, 3)
(1547, 3)
curr_ad     Position  Cell  Count
0          1     1    159
6          5     1     97
10         7     1    275
13         9     1      2
14        10     1      8
donor0_lineage3
[ -1   3   4   5   9  10  12  13  14  15  17  20  21  22  28  35  38  39
  40  42  45  46  48  49  50  51  53  54  55  56  57  58  59  60  62  63
  65  67  68  70  71  72  74  76  77  78  79  80  81  82  83  84  85  87
  88  90  91  93  96  97 100 101 103 105 106 108 110 111 112 114 116 119
 120 121 123 125 126 131 132 134 138 139 143 144 145 147 148 149 150 152
 153 155 156 157 158 160 161 162 163 165 166 167 168 169 170 171 172 173
 174 175 176 177 178 179 180 181 182 183 185 188 190 193 197 200 207 209
 212 217 235 244 261 266 273 277 287 293 295 299 312 313 325 329 343 353
 355 357 360 367 372 386 400 406 407 412 433 445 455 460]
lineage 4: 6 cells
(387, 3)
(387, 3)
curr_ad     Position  Cell  Count
0          1     1   2829
5          3     1     12
6          4     1   1063
10         5     1   3317
11         6     1      4
donor0_lineage4
[ -1   0   1   2   3   5   8   9  10  12  13  14  17  18  25  26  28  35
  38  39  41  43  46  48  49  50  53  54  56  57  58  62  63  67  68  74
  77  79  80  81  87  88  90  91 100 101 103 105 106 108 112 114 116 117
 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 153
 155 157 160 161 162 163 165 166 168 169 170 171 172 174 175 176 177 178
 179 180 181 182 183 187 188 190 198 212 215 217 226 230 239 244 245 248
 249 250 251 253 256 257 258 261 264 266 268 269 270 271 275 277 283 284
 285 290 292 295 299 301 302 304 305 306 310 312 313 316 317 320 321 323
 329 330 334 336 337 339 341 343 345 346 347 348 353 355 356 357 358 360
 362 363 365 367 370 372 375 376 379 380 381 386 387 390 393 394 395 397
 398 400 401 402 404 406 408 412 413 414 417 421 423 425 426 430 432 433
 434 436 451 453 454 461]
lineage 5: 23 cells
(1346, 3)
(1346, 3)
curr_ad     Position  Cell  Count
0          1     1    354
6          6     1    122
10         8     1    295
11         9     1      3
13        10     1     10
donor0_lineage5
[ -1   1   2   3   5   8   9  10  12  13  14  17  25  26  28  32  35  38
  39  41  46  48  49  50  53  54  56  57  58  62  63  67  68  74  77  80
  81  87  88  90  91 100 101 103 105 106 107 108 110 112 114 116 117 118
 119 123 125 126 131 132 138 139 145 147 148 149 150 152 153 155 157 160
 161 162 163 165 166 168 170 171 172 175 176 177 178 179 180 181 182 183
 188 198 209 212 217 226 230 240 241 243 244 245 247 249 253 255 258 260
 264 266 268 271 273 274 284 285 289 290 291 292 294 295 299 301 302 304
 310 312 313 316 318 320 321 323 324 329 334 335 341 343 345 347 351 354
 355 357 360 361 362 363 367 368 369 370 372 375 379 380 389 397 398 400
 403 408 410 412 413 414 415 419 423 425 426 428 429 430 432 436 446 449
 450 453 454 460 462]
lineage 6: 18 cells
(980, 3)
(980, 3)
curr_ad     Position  Cell  Count
0          1     1    224
6          5     1     66
10         7     1    203
13         9     1     10
14        10     1      2
donor0_lineage6
[ -1   1   2   3   5   8   9  10  12  13  14  18  25  26  28  32  35  38
  39  41  46  48  49  50  53  54  57  58  62  63  67  68  74  77  78  79
  80  81  87  88  90  91 100 101 103 105 106 107 110 112 114 116 117 118
 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 155 157
 160 161 162 163 165 166 168 169 171 174 175 178 180 181 182 183 188 190
 198 209 212 215 230 237 239 240 241 242 244 245 246 248 249 250 253 255
 256 258 261 264 266 269 271 273 283 284 285 286 287 292 295 296 299 301
 304 305 306 310 312 313 317 321 323 327 329 331 334 336 337 339 341 343
 345 347 351 352 354 357 360 362 363 367 370 372 373 375 376 379 380 381
 384 386 387 390 395 398 400 402 409 410 412 413 415 417 423 425 426 430
 432 436 438 453 460 461]
lineage 7: 19 cells
(1032, 3)
(1032, 3)
curr_ad     Position  Cell  Count
0          1     1    296
6          5     1     99
10         7     1    286
13         9     1     24
19        12     1      2
donor0_lineage7

[ -1   1   2   3   5   8   9  10  12  13  14  17  18  25  26  28  34  35
  38  39  41  43  46  48  49  50  53  54  56  57  58  62  67  68  74  77
  79  80  81  87  88  90  91 100 101 103 105 106 107 108 110 112 114 116
 117 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152
 153 155 157 159 160 161 163 165 166 168 169 170 171 172 173 174 175 176
 177 178 179 180 181 182 183 188 190 198 209 212 215 217 226 230 233 234
 239 240 241 244 245 246 247 248 249 250 253 255 257 258 261 262 264 266
 267 268 269 271 272 275 278 282 284 285 287 291 292 295 296 299 301 302
 305 306 310 312 313 315 317 318 319 320 321 323 324 325 329 330 334 336
 337 339 341 343 345 346 347 351 352 353 354 356 357 358 360 362 363 364
 365 367 370 372 374 375 376 378 379 380 383 384 386 387 390 393 395 397
 398 400 402 403 410 412 413 414 417 418 419 421 423 427 429 430 431 432
 433 436 437 441 444 445 447 449 450 451 453 454 455 457 458 460 461 462]
lineage 8: 46 cells
(2396, 3)
(2396, 3)
curr_ad     Position  Cell  Count
0          1     1    232
6          5     1     51
10         7     1    210
13         9     1      6
36        18     1    198
donor0_lineage8
[ -1   0   1   2   3   5   8   9  10  12  13  14  17  25  26  28  31  32
  34  35  38  39  40  41  43  46  48  49  50  53  54  56  57  58  62  63
  67  68  74  76  77  78  80  81  87  88  90  91 100 101 103 105 106 108
 110 112 114 116 117 118 119 123 125 126 129 130 131 132 138 139 145 147
 148 149 150 152 153 155 157 160 161 162 163 165 166 168 169 170 171 172
 173 174 175 176 177 178 179 180 181 188 190 198 209 212 215 217 219 226
 230 233 239 240 241 242 244 245 246 248 249 250 253 255 256 257 258 261
 262 264 266 268 269 271 272 273 278 281 284 285 286 291 292 293 295 296
 298 299 300 301 304 306 310 311 312 313 315 316 317 318 320 321 322 328
 329 330 333 334 335 336 337 339 341 343 345 346 347 348 349 351 353 354
 356 357 358 360 362 363 364 365 367 370 372 375 376 379 380 381 383 384
 386 387 388 389 390 393 394 395 397 398 400 402 403 407 408 409 410 412
 413 414 415 417 418 419 421 423 424 425 426 427 429 430 431 432 433 434
 435 436 437 443 444 445 449 450 451 453 455 456 458 459 460 461]
lineage 9: 51 cells
(2761, 3)
(2761, 3)
curr_ad     Position  Cell  Count
0          1     1   1083
4          5     1     24
6          6     1    506
10         8     1    998
13        10     1     46
donor0_lineage9
[ -1   1   2   3   5   8   9  10  12  13  14  17  18  25  26  28  35  38
  39  40  41  46  48  49  50  53  54  56  57  58  62  63  67  68  74  77
  78  80  81  86  87  88  90  91 100 101 103 105 106 107 108 110 112 114
 116 117 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150
 152 153 155 157 160 161 162 163 165 166 168 169 170 171 172 174 175 178
 180 181 182 183 188 190 198 202 207 209 212 215 217 230 231 238 239 245
 246 247 248 249 250 253 256 258 261 264 266 268 269 284 285 286 287 291
 292 295 296 298 299 304 306 307 310 311 313 321 323 325 329 334 337 339
 341 342 343 346 347 354 357 358 360 362 363 365 367 370 372 375 379 380
 381 386 393 398 400 402 403 408 409 410 413 414 417 418 421 422 423 424
 425 427 430 432 433 436 441 444 458]
lineage 10: 17 cells
(972, 3)
(972, 3)
curr_ad     Position  Cell  Count
0          1     1   1067
4          4     1     12
6          5     1    412
10         7     1   1064
11         8     1     38
donor0_lineage10
[ -1   2   3   4   5   7   8   9  10  12  13  14  15  17  18  20  21  22
  25  26  28  31  32  33  34  35  36  37  38  39  40  41  42  45  46  47
  48  49  50  53  54  55  56  57  58  60  62  64  65  67  68  69  70  74
  77  79  80  82  84  85  86  87  88  89  91  96  99 100 101 103 105 106
 107 108 109 110 112 114 116 117 118 119 121 122 123 124 125 126 127 128
 129 130 131 132 133 135 136 137 138 139 142 144 145 146 147 148 149 150
 152 153 155 156 157 158 160 161 162 163 165 166 167 168 169 170 171 172
 174 175 177 178 179 180 181 182 183 185 186 188 198 230 235 239 249 251
 264 266 286 292 299 301 305 318 334 337 343 346 357 360 363 367 370 372
 375 379 380 388 398 400 402 403 409 412 413 436 451 457 458]
lineage 11: 7 cells
(469, 3)
(469, 3)
curr_ad     Position  Cell  Count
0          1     1   2031
4          3     1      3
5          4     1     17
6          5     1   1305
10         8     1   4106
donor0_lineage11
[ -1   1   2   5   9  10  12  13  14  17  25  26  28  35  39  46  48  49
  53  54  56  57  58  62  67  74  77  80  81  87  88  90  91 100 101 103
 105 106 107 108 112 114 116 117 118 123 125 126 132 138 145 147 148 149
 150 152 153 155 157 160 161 162 163 165 166 168 170 171 172 174 175 176
 177 178 179 180 181 182 183 188 190 198 212 215 239 249 266 269 284 292
 299 306 321 322 337 341 357 360 362 367 370 379 390 400 403 412 413 414
 418 433 436 438 444 460]
lineage 12: 4 cells
(244, 3)
(244, 3)
curr_ad     Position  Cell  Count
0          1     1    188
2          2     1      2
6          4     1     30
10         5     1    197
13         7     1      5
donor0_lineage12
[ -1   2   3   4   5   8   9  10  12  13  17  20  21  25  26  28  29  30
  31  35  36  38  39  40  41  42  46  48  49  50  53  54  56  57  58  62
  64  65  67  68  69  70  71  74  76  77  78  79  80  81  82  83  84  86
  87  88  90  91  96 100 101 103 105 106 107 108 109 110 112 113 114 116
 117 118 119 123 125 126 127 129 130 131 132 133 136 138 139 143 145 147
 148 149 150 152 153 155 156 157 160 161 162 163 165 166 167 168 170 171
 172 175 176 177 178 179 180 181 182 186 190 192 197 198 200 203 207 208
 212 214 215 216 219 223 230 241 244 245 249 253 259 264 265 266 277 284
 286 292 295 296 299 304 305 310 312 313 320 321 329 331 334 335 341 343
 345 347 353 357 362 363 372 376 379 380 381 387 391 398 400 403 407 409
 410 412 413 415 417 418 425 429 430 433 436 438 440 444 447 453 460 461
 462]
lineage 13: 15 cells
(814, 3)
(814, 3)
curr_ad    Position  Cell  Count
0         1     1   5225
4         3     1     25
5         4     1     32
6         5     1   1792
9         6     1      4
donor0_lineage13
[ -1   0   1   2   3   5   8   9  10  12  13  14  17  25  26  28  29  34
  35  38  39  41  43  46  48  49  50  53  54  56  57  58  62  63  67  68
  74  76  77  80  81  87  88  90  91 100 101 103 105 106 108 112 114 117
 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 153
 155 157 160 161 162 163 165 166 168 169 170 171 172 173 174 175 176 177
 178 179 180 181 182 183 188 190 198 212 215 217 226 230 232 233 239 241
 245 246 247 248 249 250 253 255 256 257 260 261 264 266 268 269 271 275
 280 284 285 286 287 289 291 292 295 296 299 301 302 304 305 306 310 312
 313 315 316 317 318 321 323 325 329 334 336 337 338 339 341 342 343 345
 350 351 352 353 354 357 360 362 363 365 367 370 372 375 379 380 381 382
 383 384 386 393 395 398 400 402 403 406 407 409 410 412 413 417 418 421
 422 423 424 425 426 427 429 430 432 433 436 437 443 444 445 450 451 453
 458 460 461]
lineage 14: 38 cells
(1991, 3)
(1991, 3)
curr_ad     Position  Cell  Count
0          1     1    357
4          5     1      2
6          6     1    102
10         8     1    348
13        10     1      7
donor0_lineage14
[ -1   0   1   2   3   5   8   9  10  12  13  14  17  25  26  28  32  35
  38  39  41  46  48  49  50  53  54  56  57  58  62  63  67  68  74  77
  80  81  87  88  90  91 100 101 103 105 106 107 108 110 112 114 116 117
 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 153
 155 157 160 161 162 163 165 166 168 169 170 171 172 174 175 178 180 181
 182 183 188 190 198 209 212 215 230 239 244 245 246 247 248 249 253 256
 257 258 259 261 264 266 268 269 271 273 275 277 281 284 285 286 290 292
 295 296 298 299 301 302 303 304 305 306 310 312 313 315 317 318 320 321
 323 329 334 336 337 339 341 343 345 347 351 352 353 357 360 362 363 365
 367 370 372 373 375 376 377 379 380 381 384 386 387 389 391 393 394 395
 397 398 400 403 406 407 408 409 410 412 413 414 416 417 419 421 425 429
 430 432 434 436 444 445 449 450 454 455 456 458 460 461]
lineage 15: 29 cells
(1555, 3)
(1555, 3)
curr_ad     Position  Cell  Count
0          1     1    398
4          5     1     10
6          6     1    128
10         8     1    288
13        10     1      6
donor0_lineage15
[ -1   3   5   9  10  12  13  25  26  35  38  39  41  46  48  49  53  54
  56  57  58  62  63  67  68  74  77  79  80  81  87  88  90  91 100 101
 103 105 106 107 108 110 112 116 117 118 119 123 126 129 130 131 132 138
 139 145 147 148 149 150 152 155 157 160 161 162 163 165 166 168 169 171
 172 173 175 178 180 181 182 183 188 190 198 212 217 230 233 240 242 244
 246 248 249 250 253 257 261 262 263 264 266 273 284 285 290 291 292 295
 296 298 299 301 305 310 312 313 316 318 321 329 334 336 337 338 341 343
 345 346 352 353 354 357 362 367 370 372 375 376 378 379 380 381 386 387
 391 393 395 397 398 400 407 409 410 412 413 414 415 417 418 423 425 429
 430 432 433 440 444 449 456 458]
lineage 16: 18 cells
(909, 3)
(909, 3)
curr_ad     Position  Cell  Count
0          1     1    360
4          2     1      5
6          3     1     95
10         4     1    375
13         6     1     16
donor0_lineage16

[ -1   3   4   5   8   9  10  12  13  14  17  21  22  32  33  35  38  39
  40  42  46  48  50  51  54  55  58  59  60  61  62  67  68  69  70  71
  74  76  77  79  80  81  84  85  86  87  88  91  94  96  97 100 101 105
 106 107 108 110 111 112 113 114 115 116 117 118 119 121 122 123 125 126
 127 129 130 131 132 138 139 142 145 146 147 149 150 152 153 155 157 158
 160 161 163 165 168 169 170 171 172 173 174 175 176 178 180 181 185 186
 188 190 197 200 208 212 229]
lineage 17: 2 cells
(162, 3)
(162, 3)
curr_ad    Position  Cell  Count
0         1     1   7497
4         2     1     40
5         3     1     28
6         4     1   2140
9         5     1      4
donor0_lineage17
[ -1   1   3   5   8   9  10  12  13  14  17  25  26  28  35  38  39  41
  43  46  48  49  50  53  54  56  57  58  62  63  67  68  74  76  77  78
  79  80  81  87  90  91 100 101 105 106 107 108 110 112 114 116 117 118
 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 153 155
 157 160 161 162 163 165 166 168 169 170 171 172 174 175 176 177 178 179
 180 181 182 183 188 190 198 212 215 230 239 240 241 245 247 248 249 253
 254 257 261 264 266 268 269 271 277 278 284 285 292 293 295 296 299 301
 306 309 310 312 313 315 317 318 320 321 323 324 331 334 337 339 341 343
 345 346 347 352 357 360 362 363 367 370 372 375 376 379 380 384 386 388
 390 395 397 400 402 403 404 406 407 408 409 410 412 413 414 415 416 417
 418 421 423 425 430 432 433 436 439 441 444 453 460 461 462]
lineage 18: 19 cells
(1016, 3)
(1016, 3)
curr_ad     Position  Cell  Count
0          1     1    161
6          4     1     56
10         6     1    183
13         8     1      2
26        12     1      2
donor0_lineage18
[ -1   1   3   4   5   7   8   9  10  12  13  14  15  20  25  26  28  29
  30  35  36  37  39  40  41  42  44  45  46  48  49  50  52  53  54  55
  56  57  58  61  62  63  67  68  71  74  75  77  78  79  80  81  84  87
  88  89  91  93 100 101 103 105 106 108 110 112 113 114 115 116 119 120
 123 125 126 128 129 130 131 132 133 138 139 143 144 145 146 147 149 150
 152 153 155 157 158 160 161 162 163 165 166 168 171 172 174 175 178 180
 181 182 188 190 193 197 201 204 208 209 212 217 218 222 226 229 230 233
 237 239 243 244 245 246 249 250 253 256 258 261 262 264 266 269 270 271
 273 278 281 284 285 286 291 292 294 295 296 299 301 304 310 312 313 318
 329 331 334 336 337 341 343 345 351 353 357 360 362 363 367 370 372 375
 376 379 380 390 393 394 395 398 400 406 407 408 412 413 415 417 419 422
 423 426 429 431 435 436 452 455 458 461]
lineage 19: 16 cells
(867, 3)
(867, 3)
curr_ad    Position  Cell  Count
0         1     1   4079
4         3     1     96
5         4     1     14
6         5     1   1656
8         6     1     34
donor0_lineage19
[ -1   0   1   2   3   4   5   7   8   9  10  11  12  13  14  15  17  18
  19  20  21  22  23  26  28  29  30  31  32  33  34  35  36  37  38  39
  40  41  42  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58
  60  61  62  63  64  65  67  68  69  70  71  73  74  76  77  78  79  80
  81  82  83  84  85  86  87  88  89  90  91  93  95  96 100 101 103 105
 106 107 108 109 110 111 112 113 114 115 116 117 118 119 121 123 125 126
 129 130 131 132 133 134 136 138 139 140 144 145 146 147 148 149 150 151
 152 153 155 156 157 158 160 161 162 163 165 166 167 168 169 170 171 172
 173 174 175 176 177 178 179 180 181 182 183 185 186 187 188 190 191 193
 194 195 197 198 200 201 203 204 207 208 209 212 213 214 215 216 217 219
 220 221 223 226 227 228 229 230 233 239 240 244 247 248 249 250 253 256
 257 258 261 264 266 268 269 283 284 285 286 291 292 295 296 299 301 302
 305 306 310 312 313 315 316 317 320 321 323 329 334 335 336 337 338 339
 341 343 346 352 356 357 360 362 363 365 367 370 372 375 376 379 380 381
 383 384 386 387 389 390 392 393 395 398 400 402 403 406 407 409 410 412
 413 414 417 419 420 421 424 426 429 430 432 433 441 450 453 458 460 461]
lineage 20: 45 cells
(2605, 3)
(2605, 3)
curr_ad     Position  Cell  Count
0          1     1   5949
4          5     1     12
5          6     1     41
6          7     1    979
10        10     1   5090
donor0_lineage20
[ -1   0   2   3   5   8   9  10  12  13  14  17  26  28  31  32  35  38
  39  41  43  46  48  49  50  53  54  56  57  58  62  63  67  68  74  76
  77  79  80  81  87  88  91 100 101 105 106 108 110 112 114 116 117 118
 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 153 155
 157 160 161 162 163 165 166 168 169 171 172 174 175 178 179 180 181 183
 188 190 198 212 215 217 230 231 235 239 241 245 246 248 249 250 253 255
 258 261 264 266 267 268 269 271 272 273 275 277 279 284 285 286 287 289
 292 295 296 297 299 302 304 306 310 312 313 315 316 317 318 320 321 322
 324 325 327 329 334 336 337 339 341 343 346 351 354 357 360 362 363 365
 367 372 375 376 379 380 384 386 387 393 395 396 397 400 402 403 406 408
 409 410 412 413 414 417 418 421 422 423 424 430 432 433 434 436 441 443
 444 451 453 454 455 456 460]
lineage 21: 32 cells
(1625, 3)
(1625, 3)
curr_ad     Position  Cell  Count
0          1     1    236
6          5     1     29
10         7     1    214
13         9     1      7
14        10     1     12
donor0_lineage21
[ -1   2   3   5   9  12  13  14  18  25  26  28  35  39  41  43  46  48
  49  50  53  54  56  57  58  62  63  67  74  76  77  79  80  81  87  88
  90  91 100 101 105 106 108 110 112 114 116 117 118 119 123 126 129 130
 131 132 138 145 147 149 150 152 153 155 157 160 161 162 163 165 166 169
 170 171 174 175 178 179 180 181 182 183 188 190 209 212 215 239 241 244
 246 249 250 253 256 257 258 261 264 266 268 269 277 286 291 292 295 296
 301 304 306 312 313 321 323 329 334 336 337 341 343 344 346 347 357 362
 363 367 376 379 380 390 392 393 397 400 402 403 412 413 414 417 419 423
 424 428 432 453 455 458 460 462]
lineage 22: 15 cells
(763, 3)
(763, 3)
curr_ad     Position  Cell  Count
0          1     1    299
6          4     1     62
10         5     1    292
13         6     1      9
36        13     1    202
donor0_lineage22
[ -1   1   2   3   5   8   9  10  12  13  14  17  25  26  28  35  38  39
  41  46  48  49  50  53  54  56  57  58  62  63  67  68  74  77  78  80
  87  88  91 100 101 103 105 106 107 108 112 114 116 117 119 123 125 126
 129 130 131 132 138 139 145 147 148 149 150 152 153 155 157 160 161 162
 163 165 166 169 171 172 173 174 175 176 177 178 179 180 181 182 183 188
 190 198 209 212 226 230 239 246 248 249 250 253 262 269 278 283 284 292
 295 299 301 306 310 312 313 315 321 329 334 336 337 338 341 345 346 352
 353 357 360 362 367 372 375 376 379 380 381 386 387 395 397 400 403 408
 413 417 419 421 423 426 432 436 444 445 449 460 461]
lineage 23: 15 cells
(765, 3)
(765, 3)
curr_ad     Position  Cell  Count
0          1     1    192
2          2     1      2
4          4     1     11
6          5     1     39
10         7     1    245
donor0_lineage23
[ -1   2   3   5   8   9  12  13  14  25  26  28  35  38  39  41  46  48
  49  53  54  57  58  62  67  68  74  77  80  81  87  88  90  91 100 101
 105 106 110 112 116 117 118 119 123 125 126 129 130 132 138 147 149 150
 152 155 157 160 161 163 166 169 170 171 175 176 177 178 179 180 181 182
 183 188 190 198 212 226 234 249 252 264 266 272 283 284 292 296 299 304
 313 334 337 341 360 367 374 375 379 380 400 407 410 412 413 417 421 426
 453 461 462]
lineage 24: 7 cells
(361, 3)
(361, 3)
curr_ad     Position  Cell  Count
0          1     1    168
6          4     1     47
10         6     1    126
13         7     1      5
36        13     1    197
donor0_lineage24
[ -1   1   2   3   5   8   9  10  12  13  14  17  18  25  26  28  32  35
  38  39  41  46  48  49  50  53  54  56  57  58  62  63  67  68  74  76
  77  79  80  81  87  88  90  91 100 101 103 105 106 107 108 110 112 114
 116 117 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150
 152 153 155 157 160 161 162 163 165 166 168 169 170 171 172 174 175 176
 177 178 179 180 181 182 183 188 190 198 209 212 215 226 227 230 235 239
 241 244 245 246 249 250 253 255 260 264 266 268 269 272 276 284 285 295
 296 298 299 301 312 313 315 316 317 318 320 321 322 326 329 334 336 337
 339 343 345 348 352 354 357 360 362 365 366 367 370 372 375 376 380 381
 386 390 393 395 397 398 400 401 402 403 407 410 412 413 416 421 423 425
 426 430 434 435 436 437 445 453 455 456 458 460]
lineage 25: 17 cells
(1073, 3)
(1073, 3)
curr_ad    Position  Cell  Count
0         1     1    911
2         2     1     15
3         3     1      2
4         4     1     14
6         5     1    260
donor0_lineage25
[ -1   1   3   4   5   8   9  10  12  13  14  15  16  17  18  20  21  22
  23  24  25  26  28  32  33  34  35  36  38  39  40  41  42  43  45  46
  48  49  50  51  53  54  55  56  57  58  59  61  62  63  64  65  66  67
  68  69  70  71  74  77  80  81  82  83  84  87  88  89  90  91  92  93
  94  96 100 101 102 103 105 106 107 108 109 110 112 113 114 116 117 118
 119 120 121 122 123 125 126 127 129 130 131 132 134 137 138 139 140 142
 143 144 145 146 147 148 149 150 152 153 155 156 157 158 160 161 162 163
 164 165 166 167 169 170 171 172 173 174 175 176 177 178 179 180 181 182
 183 185 186 187 188]
lineage 26: 4 cells
(384, 3)
(384, 3)
curr_ad    Position  Cell  Count
0         1     1   2204
4         3     1      4
5         4     1     13
6         5     1   1141
9         6     1      4
donor0_lineage26
[ -1   1   2   3   5   8   9  10  12  13  14  17  25  26  28  32  34  35
  38  39  41  43  46  48  49  50  53  54  56  57  58  62  63  67  68  74
  77  79  80  81  87  88  90  91 100 101 103 105 106 107 108 110 112 114
 116 117 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150
 152 153 155 157 160 161 162 163 165 166 168 169 170 171 172 173 174 175
 176 177 178 179 180 181 182 183 188 190 198 209 212 215 226 230 239 241
 245 246 248 249 253 254 257 261 264 266 268 272 273 275 277 283 284 285
 286 290 291 292 295 296 298 299 301 304 305 306 312 313 317 320 321 329
 334 336 339 341 343 345 351 353 357 362 363 367 370 372 375 376 379 380
 385 386 387 389 390 391 393 394 395 397 398 400 401 402 403 409 412 413
 415 417 418 420 421 423 424 425 430 432 436 441 444 450 451 453 454 457
 460 462]
lineage 27: 20 cells
(1197, 3)
(1197, 3)
curr_ad     Position  Cell  Count
0          1     1    313
3          3     1      2
6          5     1     60
10         7     1    265
11         8     1      4
donor0_lineage27

[ -1   0   1   3   5   8   9  10  12  13  14  17  25  26  28  35  38  39
  41  43  46  48  49  50  53  54  56  57  58  62  63  67  68  74  77  78
  79  80  81  87  88  90  91 100 101 103 105 106 107 108 110 112 114 116
 117 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152
 153 155 157 160 161 162 163 165 166 168 169 170 171 172 173 174 175 176
 177 178 179 180 181 182 183 188 190 198 202 209 212 215 217 226 230 237
 239 241 245 246 247 248 249 250 253 254 255 257 258 261 264 266 267 268
 269 271 273 275 281 284 285 291 292 295 296 298 299 300 304 306 310 312
 313 316 317 318 320 323 329 331 334 335 337 341 343 345 347 348 352 353
 354 356 357 360 361 362 363 364 365 367 370 371 372 373 375 376 378 379
 380 381 383 386 387 390 393 395 400 401 402 403 404 407 410 412 413 414
 417 418 419 422 423 425 426 427 429 430 432 436 437 441 444 451 453 456
 458 460 461]
lineage 28: 32 cells
(1782, 3)
(1782, 3)
curr_ad     Position  Cell  Count
0          1     1    191
2          3     1      2
6          5     1     47
10         7     1    164
13         9     1      9
donor0_lineage28
[ -1   1   2   3   5   8   9  10  12  13  14  17  18  25  26  28  29  31
  32  35  38  39  41  46  48  49  50  53  54  56  57  58  62  63  67  68
  74  77  79  80  81  87  88  90  91 100 101 103 105 106 107 108 110 112
 114 116 117 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149
 150 152 153 155 157 160 161 162 163 165 166 168 169 170 171 172 174 175
 176 177 178 179 180 181 182 183 188 190 192 198 209 212 215 220 226 230
 233 239 241 245 246 247 248 249 250 252 253 255 256 257 258 261 264 266
 268 269 271 273 277 284 285 289 290 291 292 295 296 298 299 301 304 306
 310 312 313 315 316 317 319 320 321 329 330 332 334 336 337 338 339 341
 343 345 347 352 354 355 357 359 360 363 364 365 366 367 370 372 375 376
 379 380 381 384 386 387 390 394 395 398 400 402 403 404 409 410 412 413
 414 415 417 419 421 422 423 424 425 426 430 432 433 437 444 445 450 452
 453 454 458 460 461]
lineage 29: 29 cells
(1926, 3)
(1926, 3)
curr_ad     Position  Cell  Count
0          1     1    332
3          3     1      4
6          5     1     88
10         7     1    235
11         8     1      6
donor0_lineage29
[ -1   2   3   5   8   9  10  12  13  25  26  28  31  35  38  39  46  48
  53  54  58  62  67  68  74  77  80  81  87  88  90  91 100 101 105 106
 110 112 114 117 118 119 123 125 126 129 130 131 132 138 139 147 148 149
 150 152 155 157 160 161 163 166 168 169 171 174 175 176 177 178 179 180
 181 182 183 188 190 198 209 212 215 226 230 233 236 241 246 249 253 257
 260 261 264 266 269 275 283 285 290 291 292 295 296 299 301 304 305 318
 321 323 329 334 336 345 347 351 357 360 362 363 367 368 370 372 375 376
 379 386 387 390 395 397 398 400 406 408 409 410 413 417 419 423 429 431
 432 433 444 458 460 461]
lineage 30: 8 cells
(457, 3)
(457, 3)
curr_ad     Position  Cell  Count
0          1     1    287
3          2     1      2
6          4     1    100
10         6     1    200
11         7     1      2
donor0_lineage30
[ -1   3   5   9  12  13  14  17  25  26  28  35  38  39  41  46  48  50
  53  54  57  58  62  63  67  68  74  77  79  80  81  87  88  90  91 100
 101 105 106 110 112 114 116 117 118 119 123 125 126 131 132 138 139 145
 147 148 149 150 155 157 160 161 163 165 166 168 169 171 174 175 176 177
 178 179 180 181 182 183 188 190 212 215 217 226 230 239 244 246 249 250
 251 253 257 261 264 266 268 271 277 284 291 292 298 299 300 301 304 306
 310 312 313 318 329 331 334 339 343 345 346 348 351 353 357 360 362 363
 366 367 372 375 376 379 380 381 387 390 392 393 395 397 398 400 402 403
 407 410 412 413 414 417 418 425 430 432 453 454 458 461]
lineage 31: 15 cells
(762, 3)
(762, 3)
curr_ad     Position  Cell  Count
0          1     1    115
6          3     1     41
10         4     1    162
13         5     1      7
26         9     1      2
donor0_lineage31
[ -1   0   2   3   4   5   6   8   9  12  13  15  28  33  35  37  39  40
  41  42  45  46  48  49  54  57  58  62  67  69  74  77  80  81  82  87
  88  91  98 100 101 104 105 106 110 112 114 115 117 119 123 125 126 129
 130 131 132 138 139 144 146 147 148 149 150 152 153 155 157 159 160 161
 162 163 165 168 169 170 171 173 174 175 178 180 181 182 183 187 188 190
 198 212 215 230 239 245 246 247 248 249 253 256 261 264 266 269 271 279
 283 284 291 292 296 299 301 304 305 306 310 312 313 317 318 320 323 325
 334 336 337 343 346 347 351 353 357 362 363 367 370 373 375 376 379 380
 384 386 390 391 394 397 400 402 408 409 410 413 421 424 426 429 430 432
 434 436 437 441 449 453 458]
lineage 32: 11 cells
(594, 3)
(594, 3)
curr_ad    Position  Cell  Count
0         1     1   1976
1         2     1      2
3         3     1      2
4         4     1     18
5         5     1      8
donor0_lineage32
[ -1   1   2   3   5   9  10  12  13  14  17  25  26  28  31  35  38  39
  41  46  48  49  50  53  54  56  58  62  63  67  68  74  77  79  80  81
  87  88  90  91 100 101 103 105 106 107 108 110 112 114 116 117 118 119
 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 153 155 157
 160 161 162 163 165 166 169 170 171 172 174 175 176 177 178 179 180 181
 183 188 190 198 212 215 217 226 230 233 239 241 246 247 249 253 258 261
 264 266 268 269 282 284 292 295 298 299 301 302 304 306 310 312 313 314
 316 317 318 322 329 330 336 337 339 343 346 347 348 352 353 357 360 362
 363 365 367 370 372 373 379 380 384 386 387 390 395 398 400 402 403 407
 410 412 413 414 417 419 421 422 423 424 425 426 433 436 450 458]
lineage 33: 15 cells
(856, 3)
(856, 3)
curr_ad     Position  Cell  Count
0          1     1     63
6          5     1     51
10         6     1     92
11         7     1      2
13         8     1      4
donor0_lineage33
[ -1   1   2   3   4   5   8   9  10  12  13  14  15  16  17  18  20  22
  23  24  25  26  28  31  32  33  35  36  38  39  40  41  42  45  46  48
  49  50  53  54  56  57  58  60  61  62  63  65  67  68  69  71  74  76
  77  78  79  80  81  83  86  87  88  90  91  92  96 100 101 103 105 106
 107 108 110 112 114 116 117 118 119 123 125 126 127 128 129 130 131 132
 133 134 138 139 145 146 147 148 149 150 152 153 154 155 157 160 161 162
 163 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181
 182 183 186 188 190 191 194 195 197 198 199 200 204 205 207 208 209 210
 212 213 214 215 217 218 219 220 221 224 226 227 228 229 230 239 241 244
 245 248 249 253 255 257 258 259 264 266 271 275 277 279 284 286 287 290
 291 292 295 296 299 301 302 304 305 306 310 311 312 313 317 318 320 321
 323 324 325 329 330 334 335 336 337 339 341 343 345 346 347 352 353 356
 357 360 362 363 365 367 370 372 373 375 376 379 380 386 393 395 397 398
 400 402 403 405 407 412 413 414 418 419 421 424 425 426 430 435 436 444
 453 460 461]
lineage 34: 45 cells
(2330, 3)
(2330, 3)
curr_ad     Position  Cell  Count
0          1     1   5674
4          4     1     35
5          5     1     10
6          6     1   1851
10         8     1   6720
donor0_lineage34
[ -1   0   2   3   4   5   8   9  10  12  13  14  16  18  20  21  25  26
  28  29  35  37  39  40  41  43  46  49  50  51  52  53  54  57  58  60
  62  63  64  67  68  70  73  74  76  77  78  79  80  81  83  87  88  90
  91 100 101 103 105 106 108 110 112 114 116 117 119 123 125 126 128 129
 130 131 132 138 139 143 145 147 148 149 150 152 153 155 156 157 160 161
 162 163 165 166 168 169 171 172 173 175 176 177 178 179 180 181 182 183
 188 190 197 198 209 212 214 215 217 219 220 226 230 239 241 244 245 246
 248 249 250 252 253 255 256 257 258 262 264 266 269 273 282 284 285 286
 292 295 296 298 299 302 304 306 310 312 313 317 318 319 321 329 330 332
 334 336 337 339 343 345 346 352 354 357 362 363 365 367 371 372 375 376
 378 379 380 393 394 395 396 398 400 402 403 408 412 413 414 416 417 418
 421 425 427 432 433 434 437 441 445 452 453 455 460 461 462]
lineage 35: 19 cells
(1029, 3)
(1029, 3)
curr_ad    Position  Cell  Count
0         1     1   3339
1         2     1      2
4         4     1     32
5         5     1     24
6         6     1   1450
donor0_lineage35
[ -1   1   2   3   5   8   9  10  12  13  14  17  25  26  28  35  38  39
  41  46  48  49  50  53  54  56  57  58  62  63  67  68  74  76  77  79
  80  81  87  88  90  91 100 101 103 105 106 107 108 110 112 114 116 117
 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 153
 155 157 160 161 162 163 165 166 168 169 170 171 172 174 175 176 177 178
 179 180 181 182 183 188 190 198 212 215 239 244 245 248 250 253 256 257
 258 261 264 266 268 269 275 284 286 287 292 295 299 301 304 310 312 313
 315 317 321 323 329 331 334 337 341 343 345 351 352 356 357 359 360 362
 363 367 372 375 380 381 386 387 395 398 400 402 404 406 407 408 410 413
 418 421 429 432 449 461]
lineage 36: 16 cells
(986, 3)
(986, 3)
curr_ad     Position  Cell  Count
0          1     1    235
6          5     1     80
10         7     1    109
11         8     1      2
13         9     1     11
donor0_lineage36
[ -1   0   1   2   3   4   5   7   8   9  10  12  13  14  15  16  17  18
  22  25  26  27  28  29  32  33  34  35  36  37  38  39  40  41  42  45
  46  48  49  50  52  53  54  56  57  58  60  61  62  63  64  66  67  68
  69  70  71  72  74  76  77  78  79  80  81  82  84  85  86  87  88  89
  90  91  96 100 101 103 105 106 107 108 109 110 111 112 114 115 116 117
 118 119 120 122 123 125 126 127 128 129 130 131 132 134 135 137 138 139
 141 142 143 145 146 147 148 149 150 152 153 155 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 174 175 176 177 178 179 180 181
 182 183 184 187 188 189 190 191 193 194 196 197 198 200 201 202 203 204
 205 206 207 208 209 210 211 212 213 214 215 217 219 221 222 223 224 225
 226 227 228 230 237 239 240 241 242 243 244 245 246 248 249 250 253 257
 258 260 261 262 264 266 269 271 273 274 277 281 284 285 291 292 295 296
 299 301 304 306 310 311 312 313 315 317 318 321 323 324 325 331 334 336
 337 339 341 343 345 346 347 352 354 357 360 362 363 365 366 367 369 370
 372 375 376 379 380 381 386 387 390 391 394 395 397 398 400 402 403 406
 407 408 412 413 414 418 421 423 425 430 431 432 433 441 444 451 453 455
 456 460 461]
lineage 37: 52 cells
(2834, 3)
(2834, 3)
curr_ad    Position  Cell  Count
0         1     1   3417
4         5     1     22
5         6     1     19
6         7     1   1570
8         8     1      5
donor0_lineage37

[ -1   0   1   2   3   4   5   8   9  10  12  13  14  17  20  21  22  25
  26  29  31  34  35  39  40  41  44  45  46  47  48  49  50  51  52  53
  54  56  57  58  61  62  64  65  67  68  70  71  74  77  79  80  81  82
  84  87  88  89  91  99 100 101 103 104 105 106 107 108 109 110 112 114
 116 117 118 119 121 123 124 125 126 127 129 130 131 132 138 139 140 142
 143 144 145 147 148 149 150 152 153 155 157 160 161 162 163 165 166 167
 168 169 171 173 174 175 176 177 178 179 180 181 182 183 188 190 198 212
 215 220 226 230 233 239 245 248 249 250 253 255 256 257 258 261 262 264
 266 268 269 272 275 279 284 285 292 295 296 298 299 300 301 303 304 306
 310 312 313 315 317 318 321 329 334 336 337 338 339 341 343 345 347 354
 355 357 360 362 363 365 367 370 372 374 375 376 379 380 381 386 387 389
 390 393 395 400 402 403 407 410 412 413 414 417 419 421 423 424 425 426
 430 432 436 442 444 445 449 453 462]
lineage 38: 21 cells
(1173, 3)
(1173, 3)
curr_ad    Position  Cell  Count
0         1     1   3706
1         2     1      8
4         5     1     40
5         6     1     16
6         7     1   1001
donor0_lineage38
[ -1   2   3   4   5   9  12  13  17  25  26  28  31  32  33  35  40  41
  42  45  46  48  49  50  52  53  54  55  57  58  62  63  65  68  69  71
  74  76  77  78  80  82  84  87  90  91  92  93  96 100 101 103 105 106
 109 110 112 114 116 117 118 123 126 129 130 132 133 137 138 139 140 144
 145 147 149 150 152 153 155 157 158 160 161 163 166 168 171 172 173 175
 176 177 178 179 180 181 188 190 212 244 253 312 313 321 323 324 338 341
 343 372 397 400 407]
lineage 39: 3 cells
(186, 3)
(186, 3)
curr_ad    Position  Cell  Count
0         1     1   3293
3         2     1      2
4         3     1     95
5         4     1      7
6         5     1   1476
donor0_lineage39
cell meta
             new index                        ID              raw ID  \
donor_index
1                    1  AAACGAATCTTACTCA-1_Input  AAACGAATCTTACTCA-1
2                    9  AAGATAGTCGGTACTA-1_Input  AAGATAGTCGGTACTA-1
3                   13  AATGTCGCACCACGAC-1_Input  AATGTCGCACCACGAC-1
4                   32  AGGCGAAAGTGCTGAG-1_Input  AGGCGAAAGTGCTGAG-1
5                   50  CAACCAACACCGTCTT-1_Input  CAACCAACACCGTCTT-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      0       39              1
2               Input      0       17              1
3               Input      0       20              1
4               Input      0       11              1
5               Input      0       20              2
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor1.AD.mtx
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor1.DP.mtx
curr_vcf
  index_x #CHROM    POS REF_x ALT  strand_correlation_x     vmr_x  \
0     NaN   chrM  16512   NaN   C                   NaN       NaN
1   73A>G   chrM     73   73A   G              0.996919  0.382955
2  146T>C   chrM    146  146T   C              0.993106  0.591151
3  150C>T   chrM    150  150C   T              0.979327  0.670372
4  195T>C   chrM    195  195T   C              0.990257  0.623396

   n_cells_over_5_x  n_cells_over_20_x  \
0               NaN                NaN
1             119.0              116.0
2               2.0                1.0
3              61.0               49.0
4              44.0               31.0

   old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Input/MT/cellr_True/Input_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                1.0
2                                                2.0
3                                                3.0
4                                                4.0

   ... n_cells_over_20_y  \
0  ...               NaN
1  ...             329.0
2  ...               NaN
3  ...             177.0
4  ...              22.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Control/MT/cellr_True/Control_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                2.0
2                                                NaN
3                                                3.0
4                                                4.0

      index     REF  strand_correlation       vmr  n_cells_over_5  \
0  16512T>C  16512T            0.772501  0.013277             0.0
1     73A>G     73A            0.995236  0.339875          2768.0
2    146T>C    146T            0.990833  0.665951            15.0
3    150C>T    150C            0.977151  0.800561           714.0
4    195T>C    195T            0.971955  0.669470          1103.0

  n_cells_over_20  \
0             0.0
1          2699.0
2             6.0
3           664.0
4          1027.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Flt3l/MT/cellr_True/Flt3l_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                              368.0
1                                                3.0
2                                                6.0
3                                                9.0
4                                               11.0

   new ID
0     495
1       1
2       2
3       3
4       4

[5 rows x 25 columns]
curr_labels
   new index                        ID              raw ID condition  donor  \
0         11  AAGGTTCGTTCCAGTA-1_Input  AAGGTTCGTTCCAGTA-1     Input    NaN
1         16  ACAGCGCCATAGCAGG-1_Input  ACAGCGCCATAGCAGG-1     Input    NaN
2         31  AGCGTGCAGAACTAAC-1_Input  AGCGTGCAGAACTAAC-1     Input    NaN
3         34  AGGCGTCAGAACAGGA-1_Input  AGGCGTCAGAACAGGA-1     Input    NaN
4         46  ATGTTTCTCTCGACCT-1_Input  ATGTTTCTCTCGACCT-1     Input    NaN

   donor_index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

cell meta
             new index                        ID              raw ID  \
donor_index
1                   11  AAGGTTCGTTCCAGTA-1_Input  AAGGTTCGTTCCAGTA-1
2                   16  ACAGCGCCATAGCAGG-1_Input  ACAGCGCCATAGCAGG-1
3                   31  AGCGTGCAGAACTAAC-1_Input  AGCGTGCAGAACTAAC-1
4                   34  AGGCGTCAGAACAGGA-1_Input  AGGCGTCAGAACAGGA-1
5                   46  ATGTTTCTCTCGACCT-1_Input  ATGTTTCTCTCGACCT-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      1      NaN            NaN
2               Input      1      NaN            NaN
3               Input      1      NaN            NaN
4               Input      1      NaN            NaN
5               Input      1      NaN            NaN
[ -1   1   2   3   5   6   8   9  12  13  14  15  16  23  24  30  33  38
  39  40  41  42  43  45  47  48  49  51  52  53  54  55  56  57  59  62
  63  67  71  74  76  78  79  82  83  86  87  89  93  97  99 100 101 102
 103 104 106 109 111 112 113 114 117 118 119 120 122 123 126 128 131 132
 133 138 140 142 145 146 148 149 156 157 158 160 161 162 163 166 167 168
 169 172 173 174 175 179 182 184 246 260 272 283 287 303 315 328 337 344
 353 359 367 371 378 389 415]
lineage 0: 3 cells
(192, 3)
(192, 3)
curr_ad    Position  Cell  Count
0         1     1   4658
2         2     1   1439
4         4     1      6
6         5     1   1985
7         6     1     24
donor1_lineage0
[ -1   1   2   3   5   7   8   9  10  12  15  16  23  24  26  27  29  30
  33  37  38  39  40  45  47  48  49  52  53  55  56  57  62  67  68  74
  75  76  77  78  79  80  86  87  89  90  96  97  99 100 101 102 103 105
 107 109 111 112 113 114 118 119 120 123 124 125 132 133 140 142 144 145
 146 148 149 151 153 156 157 158 159 161 162 164 165 166 167 168 169 170
 171 172 173 174 175 176 177 178 179 184 188 195 196 207 210 214 224 228
 229 234 235 236 238 240 241 242 243 244 245 246 249 251 253 254 257 259
 260 261 263 264 266 270 273 275 276 277 283 284 285 286 287 291 293 294
 299 303 305 306 309 310 312 315 317 319 320 322 325 327 328 331 332 334
 336 337 338 339 344 345 346 349 350 351 353 355 356 358 359 360 362 365
 367 368 371 372 373 375 376 378 379 381 383 384 385 388 389 390 391 394
 396 397 398 399 400 403 404 405 407 408 409 410 411 415 417 418 419 420
 422 423 429 430 434 436 437 438 439 442 444 445 446]
lineage 1: 43 cells
(2236, 3)
(2236, 3)
curr_ad     Position  Cell  Count
0          1     1    575
2          2     1    145
6          5     1    321
8          6     1      3
11         9     1      4
donor1_lineage1
[ -1   0   1   5   7   8   9  12  15  23  24  26  27  29  30  33  37  38
  39  40  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76  79
  80  86  87  89  90  96  97  99 100 101 102 103 105 107 109 111 112 113
 114 118 119 120 123 124 125 126 132 133 140 142 144 145 146 148 149 151
 153 156 157 158 159 161 162 164 165 166 167 168 170 171 172 173 174 175
 176 177 178 179 184 190 196 200 210 214 228 234 238 240 241 242 244 245
 247 249 252 253 259 260 261 263 266 271 275 276 277 281 282 283 286 287
 291 293 297 305 306 309 310 315 316 317 325 326 327 328 331 332 334 337
 338 339 343 346 350 355 359 362 365 367 368 371 372 373 375 378 383 388
 389 390 391 392 394 397 399 401 403 407 411 412 415 417 423 436 437 442
 444 445 446]
lineage 2: 17 cells
(943, 3)
(943, 3)
curr_ad     Position  Cell  Count
0          1     1    905
2          3     1    278
6          4     1    614
8          5     1     23
13         8     1   1111
donor1_lineage2
[ -1   0   1   2   4   5   6   7   8   9  10  12  13  15  18  19  20  21
  22  23  24  26  27  28  29  30  31  32  33  34  37  38  39  40  41  42
  44  45  46  47  48  49  50  51  52  53  55  56  57  58  59  60  61  62
  64  65  66  67  68  69  70  71  72  74  75  76  78  79  80  81  82  83
  84  85  86  87  88  89  90  91  92  93  95  96  97  99 100 101 102 103
 104 105 106 107 109 110 111 112 113 114 115 116 117 118 119 120 121 122
 123 124 125 126 127 128 131 132 133 134 136 138 140 141 142 143 144 145
 146 148 149 151 152 153 154 155 156 157 158 159 161 162 163 164 165 166
 167 168 169 170 171 172 173 174 175 178 179 180 182 183 184 196 207 228
 234 236 238 245 246 249 251 256 261 263 264 266 267 271 273 276 277 293
 297 303 305 306 310 312 316 320 325 328 331 332 334 338 349 350 353 355
 359 362 365 367 371 372 373 379 383 384 385 387 389 390 395 398 399 400
 403 414 417 418 429 437 444 445]
lineage 3: 10 cells
(720, 3)
(720, 3)
curr_ad     Position  Cell  Count
0          1     1   3816
2          3     1   1930
6          6     1   2158
8          8     1      6
13        12     1   4287
donor1_lineage3
[ -1   0   1   2   3   5   7   8   9  12  15  16  20  22  23  24  26  32
  33  35  37  38  39  40  41  45  47  48  49  50  52  55  56  57  59  62
  64  65  67  68  69  70  71  74  75  78  79  80  81  82  83  84  85  86
  87  89  90  92  93  94  96  97  99 102 103 104 105 106 107 109 111 112
 113 114 116 117 118 119 120 121 122 123 124 125 126 127 129 130 131 132
 133 135 138 139 140 142 144 145 146 148 149 151 153 154 156 157 158 159
 161 162 163 164 165 166 167 168 170 172 173 174 175 176 177 179 184 190
 195 196 210 212 213 214 217 222 226 228 234 238 241 243 244 245 246 249
 253 254 260 261 276 277 282 283 286 287 290 293 303 306 312 314 315 317
 322 325 327 332 334 335 337 338 339 350 353 355 362 365 367 368 371 372
 378 379 380 381 388 389 390 391 394 397 398 399 403 407 412 415 436 438
 442]
lineage 4: 10 cells
(570, 3)
(570, 3)
curr_ad    Position  Cell  Count
0         1     1   6631
1         2     1      4
2         3     1   3914
3         4     1      4
6         6     1   4091
donor1_lineage4
[ -1   1   5   7   9  11  12  15  23  24  26  29  33  38  40  45  47  48
  49  52  53  55  56  57  61  62  67  68  74  76  79  80  86  89  90  96
  97  99 100 101 102 103 105 107 109 111 112 113 114 118 119 120 123 124
 126 132 133 140 142 144 145 146 148 149 151 153 157 158 159 161 162 164
 165 166 167 168 170 171 172 173 174 175 176 177 178 179 184 196 210 214
 224 228 232 234 238 241 244 245 246 249 250 251 253 254 255 260 261 267
 276 277 281 283 286 287 291 293 297 299 303 305 306 307 312 314 315 317
 319 320 321 325 328 329 331 334 338 339 341 344 345 350 353 355 356 359
 362 365 371 372 373 380 383 385 389 390 394 396 398 399 403 404 407 409
 410 412 417 422 429 434 436 437 438 440 442 444]
lineage 5: 14 cells
(728, 3)
(728, 3)
curr_ad     Position  Cell  Count
0          1     1    377
2          2     1    103
6          3     1     79
8          4     1      9
13         7     1    319
donor1_lineage5
[ -1   0   1   2   3   5   7   8  10  11  12  15  16  24  26  27  30  33
  37  38  40  45  47  48  49  55  56  61  62  67  68  74  76  79  80  86
  87  89  90  96  97  99 100 101 102 103 105 107 109 111 112 113 114 118
 119 120 123 124 125 126 132 133 140 142 144 145 146 148 149 151 153 156
 157 158 159 161 162 164 166 167 168 169 170 171 172 173 175 178 179 183
 184 196 207 210 214 215 228 230 234 235 236 238 241 243 244 245 246 249
 251 254 256 257 260 261 266 270 276 277 278 283 286 291 293 298 299 300
 301 303 305 306 308 315 317 319 320 325 328 331 334 337 345 346 349 350
 353 355 356 359 361 362 365 367 368 371 372 373 378 379 381 383 385 386
 388 389 390 394 396 398 399 400 403 404 408 409 415 429 432 436 438 442
 444 445 446]
lineage 6: 15 cells
(833, 3)
(833, 3)
curr_ad     Position  Cell  Count
0          1     1    220
2          3     1    101
6          6     1     99
8          7     1     10
13        11     1    278
donor1_lineage6
[ -1   1   2   5   7   8   9  12  15  23  24  26  27  32  33  37  38  40
  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76  79  80  86
  87  89  90  96  97  99 100 101 102 103 105 107 109 111 112 113 114 118
 119 120 123 124 125 126 132 133 140 142 144 145 146 148 149 151 153 156
 157 158 159 161 162 164 165 166 167 168 170 171 172 173 174 175 176 177
 178 179 184 210 224 228 234 238 241 245 249 251 256 257 261 263 264 268
 276 277 278 283 287 290 291 297 303 305 306 308 309 314 317 320 322 325
 327 328 329 332 334 339 344 345 350 353 355 357 358 359 365 366 367 368
 371 372 373 381 382 383 385 388 389 391 398 399 400 403 407 411 415 417
 418 428 430 433 436 438 444 445]
lineage 7: 9 cells
(646, 3)
(646, 3)
curr_ad     Position  Cell  Count
0          1     1    141
2          2     1     66
6          4     1     34
13         8     1    216
16         9     1     77
donor1_lineage7
[ -1   1   2   5   7   8   9  12  15  16  23  24  26  33  37  38  40  42
  45  47  48  49  52  53  55  56  57  61  62  67  68  74  75  76  77  78
  79  80  86  87  89  90  96  97  99 100 101 102 103 105 107 109 111 112
 113 114 118 119 120 123 124 125 126 132 133 140 142 144 145 146 148 149
 151 153 156 157 158 159 161 162 164 165 166 167 168 170 171 172 173 174
 175 176 177 178 179 184 196 207 210 228 234 236 238 240 244 245 246 249
 254 257 259 260 261 264 266 268 283 286 290 291 297 298 303 305 306 308
 314 318 321 325 328 332 337 343 344 345 350 359 362 371 372 383 385 388
 389 391 398 399 400 403 409 412 415 417 422 430 436 445]
lineage 8: 6 cells
(431, 3)
(431, 3)

curr_ad     Position  Cell  Count
0          1     1    182
2          2     1     75
6          4     1    141
13         8     1    278
16         9     1    225
donor1_lineage8
[ -1   1   2   5   8   9  10  12  15  16  24  26  33  37  38  39  40  45
  47  48  49  52  53  55  56  57  59  62  74  75  76  78  79  80  85  86
  87  89  96  97  99 100 102 103 105 107 109 111 112 113 114 118 119 120
 123 124 126 132 133 140 145 146 148 149 151 153 156 157 158 159 161 162
 166 167 168 171 172 173 174 175 176 177 178 179 184 189 192 196 198 199
 205 206 207 210 213 214 215 217 218 219 224 225 226 228 233 236 238 240
 242 244 245 246 249 251 253 260 261 264 265 276 283 286 291 293 299 303
 305 306 314 315 317 319 320 325 328 330 332 334 344 350 353 355 356 359
 362 371 372 373 374 378 379 381 383 385 388 389 390 391 398 399 400 403
 404 409 410 411 415 416 425 432 434 436 439 441 442 446]
lineage 9: 16 cells
(792, 3)
(792, 3)
curr_ad     Position  Cell  Count
0          1     1    601
2          2     1    122
6          4     1    134
13         8     1    637
16         9     1    578
donor1_lineage9
[ -1   1   2   5   8   9  12  15  16  23  24  26  30  33  37  38  39  40
  45  47  48  49  52  53  55  56  57  59  61  62  67  68  74  75  76  77
  79  86  87  89  90  96  97  99 100 101 102 103 107 109 111 112 113 114
 118 119 125 126 132 133 140 142 144 145 146 148 149 151 153 156 157 158
 161 162 164 166 167 168 170 171 172 173 174 175 176 178 179 184 189 194
 196 199 201 203 205 206 207 210 213 214 220 221 226 228 234 235 238 241
 244 245 246 249 251 253 254 257 260 261 262 264 266 273 276 278 280 283
 286 287 290 291 293 294 297 298 299 303 304 305 306 308 310 312 314 315
 318 320 325 327 328 331 332 334 337 339 340 345 349 350 351 353 355 356
 359 362 364 365 367 368 371 372 376 378 379 381 383 385 386 388 389 390
 393 394 396 397 398 399 400 403 405 407 410 411 413 416 417 418 422 425
 429 434 436 438 445 446]
lineage 10: 25 cells
(1212, 3)
(1212, 3)
curr_ad     Position  Cell  Count
0          1     1    995
2          2     1    482
6          4     1    629
13         7     1   1375
16         8     1   1161
donor1_lineage10
[ -1   1   5   7   8   9  12  15  16  24  29  30  33  37  38  47  48  49
  55  56  57  62  67  74  76  89  90  97  99 100 101 102 103 105 107 109
 111 118 119 120 126 132 133 140 142 145 146 149 151 153 156 157 158 161
 162 165 166 167 168 170 171 172 173 174 175 184 196 210 214 215 236 242
 245 249 256 257 260 261 264 270 275 283 291 305 306 308 325 332 348 350
 351 353 355 365 367 368 371 372 378 381 383 385 389 390 393 397 398 410
 411 415 417 422 429 433 436 439 444 445]
lineage 11: 5 cells
(271, 3)
(271, 3)
curr_ad     Position  Cell  Count
0          1     1    383
2          2     1    201
6          3     1    192
13         7     1    440
16         8     1    347
donor1_lineage11
[ -1   0   1   2   5   7   8   9  10  11  12  15  16  23  24  26  29  30
  32  33  37  38  39  40  47  48  49  52  53  55  56  57  59  61  62  67
  68  74  75  76  77  78  79  80  85  86  87  89  90  96  97  99 100 101
 102 103 105 107 109 111 112 113 114 118 119 120 123 124 125 126 132 133
 140 142 144 145 146 148 149 151 153 156 157 158 159 161 162 164 166 167
 168 170 171 172 173 174 175 176 178 179 184 189 196 198 202 205 206 207
 208 210 211 213 214 215 217 219 221 224 226 227 228 229 234 235 236 238
 240 241 243 244 245 246 249 253 254 257 259 260 261 264 266 267 268 270
 271 273 276 277 278 283 286 287 290 291 293 297 298 299 303 305 306 308
 310 312 315 317 322 325 327 328 331 332 334 337 339 343 344 345 346 347
 350 351 352 353 355 359 361 362 365 366 367 368 371 372 373 376 378 380
 381 383 384 385 386 388 389 390 391 393 394 395 396 397 398 399 402 403
 404 407 408 409 410 411 412 414 415 417 418 422 429 434 436 438 442 444
 445]
lineage 12: 33 cells
(1666, 3)
(1666, 3)
curr_ad     Position  Cell  Count
0          1     1    832
2          3     1    391
6          5     1    455
13        11     1   1042
16        12     1   1199
donor1_lineage12
[ -1   0   1   5   7   8   9  10  12  15  16  19  23  24  26  30  32  33
  37  38  39  40  41  48  49  51  52  53  55  56  57  59  62  67  68  69
  73  74  77  79  83  86  87  89  90  96  97  99 100 102 103 105 109 111
 112 113 114 116 118 119 120 123 125 126 128 132 133 134 136 140 141 142
 144 145 146 147 148 149 151 153 156 157 158 161 162 166 167 168 170 171
 172 173 174 175 176 177 184 195 207 210 212 213 215 217 222 224 226 238
 242 249 260 261 263 266 283 305 306 317 345 355 376 379 389 396 403 409
 427 436 442 444]
lineage 13: 8 cells
(408, 3)
(408, 3)
curr_ad    Position  Cell  Count
0         1     1   3457
2         3     1   1959
6         4     1   2835
8         5     1     27
9         6     1      5
donor1_lineage13
[ -1   1   3   5   6   7   8   9  12  13  15  18  19  20  21  23  24  26
  28  31  32  33  34  38  39  40  45  47  48  49  54  55  56  57  58  59
  60  62  64  67  68  69  70  71  74  76  78  79  80  81  83  84  86  87
  88  89  90  93  96  97  99 100 101 102 103 104 105 107 109 111 112 113
 114 117 118 119 120 121 122 123 124 125 127 131 132 133 136 139 140 142
 143 144 145 146 148 149 150 151 153 154 156 157 158 159 161 162 163 164
 165 166 167 168 169 170 172 173 174 175 176 177 178 179 184 185 189 195
 198 206 207 210 214 217 222]
lineage 14: 4 cells
(272, 3)
(272, 3)
curr_ad     Position  Cell  Count
0          1     1   4944
2          2     1   3016
6          4     1   3032
8          6     1      2
10         8     1      2
donor1_lineage14
[ -1   1   2   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  30  31  32  33  34  35  36  37
  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55
  56  57  58  59  60  61  62  64  65  67  68  69  70  71  73  74  75  76
  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  96
  97  99 100 101 102 103 104 105 106 107 109 110 111 112 113 114 115 116
 117 118 119 120 121 122 123 124 125 126 127 128 129 131 132 133 136 138
 139 140 141 142 144 145 146 148 149 151 152 153 154 156 157 158 159 161
 162 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 184 185 187 189 190 191 193 195 196 198 199 200 201 202 204 205
 206 207 210 212 213 214 215 217 219 220 221 222 224 225 226 227 228 229
 236 238 241 242 244 245 249 251 253 254 257 261 264 266 270 271 272 276
 278 282 286 287 291 293 299 303 306 308 309 310 314 315 320 325 326 328
 334 337 339 343 344 346 350 355 356 358 359 362 365 367 368 369 371 372
 373 377 378 383 385 386 388 389 390 391 394 396 398 399 407 409 411 413
 422 427 438 440 442 446]
lineage 15: 59 cells
(2956, 3)
(2956, 3)
curr_ad     Position  Cell  Count
0          1     1   4475
2          2     1   2769
6          5     1   2722
9          8     1      2
10         9     1      2
donor1_lineage15
[ -1   0   1   5   7   8   9  11  12  13  15  18  19  20  23  24  26  29
  30  33  35  37  38  39  40  42  45  47  48  49  52  55  56  57  60  61
  62  64  67  68  69  70  71  74  76  77  80  82  86  87  89  90  93  97
  99 100 102 103 104 105 106 107 109 111 112 113 118 119 120 123 124 125
 126 128 131 132 133 135 139 140 141 142 144 145 146 149 150 151 153 154
 156 157 158 159 161 162 163 165 166 168 170 171 172 173 174 175 176 177
 178 179 184 196 205 207 210 213 214 229 234 236 238 241 242 244 245 249
 252 253 254 257 260 261 263 266 271 276 282 283 284 286 287 291 293 297
 298 303 304 305 306 310 314 315 317 321 325 332 334 337 339 350 353 355
 356 359 367 368 371 372 375 378 379 382 383 385 388 389 390 396 398 399
 401 402 406 409 411 412 415 418 430 438 444 445 446]
lineage 16: 13 cells
(665, 3)
(665, 3)
curr_ad    Position  Cell  Count
0         1     1   7058
1         2     1      3
2         3     1   2643
6         4     1   2233
8         5     1      6
donor1_lineage16
[ -1   1   2   5   7   8   9  10  12  15  16  23  24  26  32  33  37  38
  39  40  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76  77
  78  79  80  85  86  87  89  90  96  97  99 100 101 102 103 105 107 109
 111 112 113 114 118 119 120 123 124 125 126 132 133 140 142 144 145 146
 148 149 151 153 156 157 158 159 161 162 164 166 167 168 170 171 172 173
 174 175 176 177 178 179 183 184 186 189 190 195 196 198 200 202 207 210
 213 214 216 220 224 226 234 236 238 240 241 242 244 245 246 249 252 253
 254 255 256 257 260 261 263 264 266 267 268 269 276 278 282 283 286 287
 291 293 299 303 306 309 310 311 314 315 316 317 319 320 325 328 331 332
 334 337 338 339 342 343 344 345 346 349 350 353 355 356 358 359 362 365
 366 367 368 371 372 373 376 378 379 383 384 385 388 389 390 392 393 394
 396 397 398 399 403 404 405 409 412 415 416 417 418 419 422 427 429 430
 432 436]
lineage 17: 23 cells
(1151, 3)
(1151, 3)
curr_ad     Position  Cell  Count
0          1     1    896
2          2     1    326
6          4     1    319
13         9     1    580
16        10     1    643
donor1_lineage17
[ -1   1   2   5   7   8   9  12  15  16  23  24  26  29  30  33  37  38
  39  40  45  47  48  49  52  53  55  56  57  61  62  67  68  74  75  76
  78  79  86  87  89  90  96  97  99 100 101 102 103 105 107 109 111 112
 113 114 118 119 120 123 124 125 126 132 133 140 142 144 145 146 148 149
 151 153 156 157 158 159 161 162 165 166 167 168 170 171 172 173 174 175
 176 178 179 183 184 189 190 196 199 205 207 210 213 214 215 228 229 232
 234 235 236 238 239 241 242 243 244 245 246 249 253 257 260 261 263 264
 266 271 276 277 278 281 282 283 285 286 288 290 291 293 297 298 303 305
 306 308 310 313 315 317 320 325 327 328 330 331 332 334 337 338 339 345
 349 350 353 355 356 358 359 362 365 367 371 372 373 376 378 379 381 382
 383 385 388 389 390 391 394 396 397 398 399 400 403 404 407 409 411 414
 415 417 422 429 430 436 437 439 444 445]
lineage 18: 26 cells
(1304, 3)
(1304, 3)
curr_ad     Position  Cell  Count
0          1     1   1397
2          2     1    371
6          4     1    667
13         8     1   1552
16         9     1    945
donor1_lineage18

[ -1   1   2   5   7   8   9  12  15  23  24  26  27  33  37  38  40  45
  47  48  49  52  53  55  56  57  61  62  67  68  74  76  78  79  80  86
  87  89  90  96  97  99 100 101 102 103 105 107 109 111 112 113 114 118
 119 120 123 124 125 126 132 133 140 142 144 145 146 148 149 151 153 156
 157 158 159 161 162 164 165 166 167 168 170 171 172 173 174 175 176 177
 178 179 184 196 210 238 244 245 248 249 253 260 261 283 291 293 306 312
 314 315 323 325 328 332 334 338 350 353 355 359 367 368 372 376 379 381
 388 389 394 397 409 438 445 446]
lineage 19: 8 cells
(505, 3)
(505, 3)
curr_ad    Position  Cell  Count
0         1     1    227
2         2     1    127
3         3     1      4
6         4     1     71
9         6     1     13
donor1_lineage19
[ -1   1   5   7   8   9  12  15  24  33  38  40  45  47  48  49  52  55
  56  57  61  62  67  68  74  76  79  80  86  87  89  90  96  97  99 100
 101 102 103 105 107 109 111 112 113 114 118 119 120 123 124 125 132 133
 140 142 144 145 146 148 149 151 156 157 158 159 161 162 166 167 168 170
 171 172 173 174 175 177 178 179 184 210 228 233 242 244 245 249 253 254
 261 264 266 272 283 290 291 297 303 305 306 310 312 319 323 325 334 338
 346 350 351 356 365 368 372 378 379 383 388 389 394 399 401 417 436 437
 439 442 444]
lineage 20: 7 cells
(385, 3)
(385, 3)
curr_ad     Position  Cell  Count
0          1     1    256
2          2     1     99
6          3     1    113
13         7     1    275
16         8     1    160
donor1_lineage20
[ -1   1   2   3   5   8   9  10  12  13  14  15  18  24  26  29  30  32
  33  37  38  39  40  42  44  45  47  48  49  52  53  55  56  57  58  59
  61  62  64  65  67  70  74  76  79  80  81  83  87  89  90  93  95  96
  97  99 100 101 102 103 104 105 107 109 110 111 112 113 114 115 116 117
 118 119 120 121 122 123 124 125 126 128 132 133 134 140 142 144 145 146
 148 149 151 153 154 156 157 158 159 161 162 164 166 168 169 171 172 173
 174 175 176 177 179 183 184 196 207 210 214 224 228 229 233 235 236 238
 245 246 249 251 252 253 254 260 261 264 267 268 271 276 277 278 280 282
 283 286 287 290 293 294 297 298 302 303 305 306 307 309 310 312 314 315
 316 317 320 325 327 328 331 332 334 335 339 342 345 350 353 355 356 358
 359 362 365 366 367 368 371 372 376 378 379 381 383 386 389 390 394 397
 398 399 400 404 407 409 411 412 415 417 419 422 425 429 431 438 442 446]
lineage 21: 14 cells
(813, 3)
(813, 3)
curr_ad     Position  Cell  Count
0          1     1   3951
2          2     1   1962
6          5     1   2845
9          6     1      2
13         9     1   3952
donor1_lineage21
[ -1   1   2   5   7   8   9  12  15  23  24  26  30  33  37  38  42  45
  47  48  49  52  53  55  56  57  61  62  67  68  74  76  79  86  87  89
  90  96  97  99 100 101 102 103 105 107 109 111 112 113 114 118 119 120
 123 124 125 126 132 133 140 142 144 145 146 148 149 151 153 156 157 158
 159 161 162 164 165 166 167 168 171 172 173 174 175 176 177 178 179 184
 196 210 228 234 236 238 241 242 245 246 253 257 260 261 264 276 277 283
 284 286 287 291 293 297 303 305 306 312 314 320 325 328 331 332 334 337
 339 345 346 350 353 355 358 359 365 367 371 372 373 378 379 380 381 382
 383 388 389 390 396 398 399 403 404 415 418 421 422 426 427 430 442 445]
lineage 22: 10 cells
(647, 3)
(647, 3)
curr_ad     Position  Cell  Count
0          1     1    288
2          2     1    100
6          4     1    174
9          6     1     11
13         8     1    313
donor1_lineage22
[ -1   0   1   5   8   9  10  12  14  15  22  24  26  30  33  34  37  38
  39  40  44  45  47  48  49  52  53  55  56  57  58  59  61  62  65  68
  71  74  76  79  80  82  83  86  87  89  90  92  93  96  97  99 100 101
 102 103 107 109 110 111 112 113 114 115 117 118 119 120 122 123 124 126
 128 132 133 136 140 142 145 146 148 149 151 153 156 157 158 159 161 163
 165 166 167 168 169 171 172 173 174 175 176 177 178 184 196 209 210 257
 310 409]
lineage 23: 3 cells
(201, 3)
(201, 3)
curr_ad    Position  Cell  Count
0         1     1   4838
1         2     1   1811
2         3     1   2069
6         4     1   1674
9         5     1     74
donor1_lineage23
[ -1   1   2   5   7   8   9  12  15  16  23  24  26  30  33  37  38  40
  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76  79  80  86
  87  89  90  96  97  99 100 101 102 103 105 107 109 111 112 113 114 118
 119 120 123 124 125 126 132 133 140 142 144 145 146 148 149 151 153 156
 157 158 159 161 162 164 165 166 167 168 169 171 172 173 174 175 176 177
 178 179 183 184 196 210 229 235 236 238 241 244 245 246 248 249 256 257
 261 264 271 276 277 278 282 283 286 290 291 293 297 305 306 307 308 309
 313 314 315 318 320 321 322 325 327 328 331 332 334 337 338 344 349 350
 351 353 355 356 359 362 364 365 366 367 370 371 372 378 379 380 383 384
 385 389 390 391 392 397 398 399 401 403 404 405 407 409 410 413 417 418
 419 422 437 445]
lineage 24: 16 cells
(939, 3)
(939, 3)
curr_ad     Position  Cell  Count
0          1     1    271
2          2     1    149
6          4     1    158
9          6     1     10
13         8     1    319
donor1_lineage24
[ -1   1   2   3   5   6   7   8   9  10  12  13  15  16  19  20  23  24
  28  30  32  33  34  38  39  40  41  45  47  48  49  52  53  55  56  57
  60  61  62  64  67  68  69  70  74  75  76  77  81  82  85  86  87  89
  90  92  93  97  99 100 101 102 103 104 105 106 107 109 110 111 112 113
 114 117 118 119 120 123 124 125 126 127 128 129 131 132 133 138 139 140
 142 144 145 146 148 149 151 153 154 156 158 159 161 162 163 164 165 166
 167 168 169 170 171 172 173 174 175 176 178 179 182 183 184 210 234 236
 254 260 266 269 283 286 291 303 309 314 331 332 334 344 350 355 356 365
 372 378 379 381 386 389 399 405 411 412 425]
lineage 25: 6 cells
(408, 3)
(408, 3)
curr_ad    Position  Cell  Count
0         1     1   4290
2         2     1   2289
4         4     1      2
6         5     1    164
7         6     1     11
donor1_lineage25
[ -1   1   2   5   7   8  10  11  12  15  16  23  24  27  33  34  35  38
  39  40  41  45  47  48  49  52  53  55  56  57  61  62  69  71  74  75
  76  79  80  81  86  89  90  96  97  99 100 101 102 103 104 105 107 111
 112 114 116 117 118 119 120 125 131 132 133 138 140 142 144 145 146 148
 149 153 156 157 158 159 161 163 164 166 167 168 170 172 173 174 175 176
 182 184 207 210 214 224 230 244 246 249 253 256 260 261 268 273 276 283
 286 287 290 291 293 303 305 306 313 314 334 350 353 355 356 361 362 365
 372 378 389 397 399 405 415 418 428 430 436 438 442 445 446]
lineage 26: 6 cells
(336, 3)
(336, 3)
curr_ad     Position  Cell  Count
0          1     1   3831
2          2     1   1596
6          4     1   1758
9          6     1      2
11         7     1     82
donor1_lineage26
[ -1   1   2   5   7   8   9  10  11  12  15  23  24  26  29  30  33  37
  38  39  40  42  45  47  48  49  52  53  55  56  57  61  62  67  68  74
  75  76  77  78  79  80  86  87  89  90  96  97  99 100 101 102 103 105
 107 109 111 112 113 114 118 119 120 123 124 125 126 132 133 140 142 144
 145 146 148 149 151 153 156 157 158 159 161 162 164 165 166 167 168 170
 171 172 173 174 175 176 177 178 179 184 202 205 206 210 212 214 215 220
 224 225 228 229 234 235 238 245 249 253 254 261 264 266 271 272 276 278
 283 284 286 287 291 293 297 303 305 306 309 312 314 315 325 332 334 337
 338 339 340 345 346 350 353 355 359 363 365 367 368 371 372 373 376 379
 383 385 386 388 389 394 395 398 399 400 401 403 404 411 414 415 429 432
 437 438 442 445]
lineage 27: 12 cells
(812, 3)
(812, 3)
curr_ad    Position  Cell  Count
0         1     1   1179
2         2     1    308
6         4     1    656
8         5     1    100
9         6     1    113
donor1_lineage27
[ -1   0   1   3   4   5   8  12  13  15  16  18  20  23  24  32  33  34
  38  39  40  45  47  48  49  51  52  53  55  56  57  61  62  65  66  67
  68  69  70  73  74  77  79  80  81  85  86  87  89  90  93  96  97  99
 100 101 102 103 105 106 107 109 111 114 115 117 118 119 120 123 124 127
 131 132 133 139 140 142 144 145 146 149 151 153 156 157 158 159 161 165
 166 167 168 170 171 172 173 174 175 176 177 184 234 241 245 249 260 261
 264 277 286 291 292 294 325 356 376 383 386 399 403 409 415 421]
lineage 28: 4 cells
(242, 3)
(242, 3)
curr_ad    Position  Cell  Count
0         1     1   3640
1         2     1      3
2         3     1   2298
5         5     1      2
6         6     1   2082
donor1_lineage28

[ -1   1   2   5   7   8   9  12  15  16  23  24  26  33  38  40  45  47
  48  49  52  53  55  56  57  61  62  67  68  74  76  78  79  80  86  87
  89  90  96  97  99 100 101 102 103 105 107 109 111 112 113 114 118 119
 120 123 124 125 126 132 133 140 142 144 145 146 148 149 151 153 156 157
 158 159 161 162 164 166 167 168 170 171 172 173 174 175 176 177 178 179
 184 207 210 214 224 228 232 234 236 237 238 244 246 249 251 257 260 261
 262 263 264 266 267 271 276 278 281 283 286 287 290 291 293 299 305 306
 310 312 314 319 320 325 326 327 331 332 334 337 343 346 350 352 353 355
 356 365 366 367 368 372 375 378 381 383 388 389 390 391 394 396 398 399
 401 402 403 404 407 412 417 429 430 436 442 445]
lineage 29: 12 cells
(698, 3)
(698, 3)
curr_ad     Position  Cell  Count
0          1     1    340
2          2     1    145
6          4     1    236
9          6     1      3
13         8     1    378
donor1_lineage29
[ -1   0   1   2   5   7   8   9  10  12  15  16  19  22  24  26  27  31
  32  33  37  38  39  40  45  46  47  48  49  50  51  52  53  55  56  57
  61  62  67  68  69  71  74  76  78  80  81  83  84  85  86  87  89  90
  91  92  96  97  99 100 102 103 105 107 109 111 112 113 114 118 119 120
 122 123 124 126 128 129 131 132 133 137 138 139 140 141 142 144 145 146
 148 149 151 152 153 157 158 159 161 162 164 165 166 168 170 171 172 173
 174 175 176 177 178 179 181 183 184 210 233 234 238 241 242 245 246 249
 252 254 261 268 275 276 283 287 291 293 299 303 305 306 309 310 312 317
 320 321 325 330 332 333 334 337 338 339 344 346 350 351 355 362 365 371
 372 373 378 379 381 382 383 386 389 391 396 398 399 402 403 411 429 433
 434 436 444 446]
lineage 30: 8 cells
(495, 3)
(495, 3)
curr_ad    Position  Cell  Count
0         1     1   3257
1         2     1      5
2         3     1   1599
6         5     1   1939
8         6     1      6
donor1_lineage30
[ -1   1   2   5   7   8   9  12  15  24  26  33  37  38  39  40  45  47
  48  49  52  53  55  56  57  61  62  67  68  74  76  79  80  86  87  89
  90  96  97  99 100 101 102 103 105 107 109 111 112 113 114 118 119 120
 123 124 125 126 132 133 140 144 145 146 148 149 151 153 156 157 158 159
 161 162 164 165 166 167 168 172 173 175 177 178 179 184 202 210 212 228
 234 238 239 241 244 245 246 249 251 259 260 261 266 271 274 276 277 280
 282 283 284 286 287 290 291 294 297 298 299 303 305 306 308 310 312 315
 320 322 325 328 332 334 346 349 350 353 355 356 359 365 366 367 371 372
 378 383 385 386 388 389 390 391 393 394 397 399 400 407 411 412 415 417
 422 432 438 439 442]
lineage 31: 18 cells
(874, 3)
(874, 3)
curr_ad     Position  Cell  Count
0          1     1    538
2          2     1    126
6          4     1    343
8          5     1      2
13         8     1    706
donor1_lineage31
[ -1   1   3   5   7   8   9  10  11  12  15  16  23  24  26  33  37  38
  39  40  45  46  47  48  49  52  53  55  56  57  59  61  62  67  68  74
  75  76  77  78  79  80  85  86  87  89  90  97  99 100 101 102 103 105
 107 109 111 112 113 114 118 119 120 123 124 125 126 132 133 140 142 144
 145 146 148 149 151 153 156 157 158 159 161 162 164 165 166 167 168 170
 171 172 173 174 175 176 177 178 179 184 186 189 190 192 195 196 197 198
 199 201 202 205 206 207 209 210 212 213 214 215 217 219 220 221 222 223
 224 225 226 227 249 256 261 286 291 320 322 333 338 355 358 359 365 372
 376 379 389 394 418 434 444]
lineage 32: 50 cells
(2208, 3)
(2208, 3)
curr_ad     Position  Cell  Count
0          1     1    728
2          2     1    210
6          4     1    361
13        10     1    693
16        11     1    740
donor1_lineage32
[ -1   1   3   5   8   9  12  15  23  24  26  33  37  38  39  40  47  48
  49  52  55  56  57  62  67  68  74  76  77  79  80  87  89  90  96  97
  99 101 102 103 105 107 109 111 114 118 119 123 124 125 126 133 140 142
 144 145 146 149 153 156 157 158 159 161 162 166 168 171 172 173 175 177
 178 184 195 196 205 217 233 235 236 245 249 252 260 261 263 266 268 270
 271 272 275 276 283 286 287 290 291 293 299 303 305 306 314 317 320 325
 334 344 350 351 353 354 355 358 359 365 367 378 381 383 384 385 389 399
 403 411 412 414 417 438 442 445]
lineage 33: 7 cells
(372, 3)
(372, 3)
curr_ad     Position  Cell  Count
0          1     1   1067
2          2     1    330
6          4     1    417
10         6     1    301
13         7     1   1145
donor1_lineage33
[ -1   1   2   5   7   8   9  12  15  23  24  26  33  37  38  40  45  47
  48  49  52  53  55  56  57  61  62  67  68  74  75  76  77  78  79  80
  86  87  89  90  96  97  99 100 101 102 103 107 111 112 113 114 118 119
 120 123 124 125 126 132 133 140 142 144 145 146 148 149 151 156 157 158
 159 161 162 164 166 167 168 170 171 172 173 174 175 176 177 178 179 184
 196 210 214 224 228 230 234 236 238 241 242 244 245 246 249 251 253 254
 257 260 261 263 264 268 276 278 282 283 284 286 287 290 291 292 293 303
 305 306 309 310 312 315 317 320 321 324 325 327 328 332 333 334 337 338
 339 343 344 345 349 350 353 355 358 359 365 366 367 368 371 372 375 376
 378 383 385 386 389 390 391 397 398 399 400 402 403 404 409 411 415 418
 423 429 434 436 438 444]
lineage 34: 18 cells
(972, 3)
(972, 3)
curr_ad     Position  Cell  Count
0          1     1    331
2          2     1    155
3          3     1      2
6          4     1    175
10         7     1      2
donor1_lineage34
[ -1   1   5   6   7   8   9  12  15  16  19  20  23  24  26  27  30  33
  34  37  38  39  40  44  45  47  48  49  50  52  53  55  56  57  60  61
  62  67  68  69  74  76  79  86  87  89  90  91  92  96  97  98  99 100
 101 102 103 105 107 109 111 113 114 117 118 119 120 122 132 133 134 139
 140 142 144 145 146 148 149 150 151 152 153 156 157 158 159 161 162 163
 164 165 166 167 168 169 170 171 172 173 174 175 178 179 184 210 214 224
 234 236 238 241 243 244 246 247 249 251 257 258 260 261 263 264 270 276
 277 282 283 286 289 290 291 297 299 303 306 310 312 314 319 320 325 326
 332 334 338 339 344 345 346 350 355 359 365 367 370 371 372 373 375 378
 379 383 385 388 389 390 391 394 395 397 398 399 400 403 412 417 422 429
 436 438 442 445]
lineage 35: 12 cells
(634, 3)
(634, 3)
curr_ad    Position  Cell  Count
0         1     1   2645
2         2     1   1163
6         3     1   1673
7         4     1     16
8         5     1      4
donor1_lineage35
[ -1   1   2   5   7   8   9  10  12  15  23  24  26  27  30  33  37  38
  39  40  45  47  48  49  52  53  55  56  57  61  62  67  68  74  75  76
  78  79  80  86  87  89  90  96  97  99 100 101 102 103 105 107 109 111
 112 113 114 118 119 120 123 124 125 126 132 133 140 142 144 145 146 148
 149 151 153 156 157 158 159 161 162 164 165 166 167 168 170 171 172 173
 174 175 176 177 178 179 184 188 195 196 207 210 214 215 224 228 234 236
 238 240 244 245 246 249 251 252 253 254 257 259 260 261 263 266 267 269
 271 272 275 276 277 278 279 283 286 287 291 293 294 297 298 299 303 305
 306 307 310 312 313 314 315 317 320 325 327 331 332 333 334 337 338 344
 345 346 350 351 353 355 358 359 362 365 367 368 371 372 373 377 378 379
 381 383 385 386 388 389 390 391 393 395 396 397 398 399 400 401 403 404
 407 409 411 412 413 414 415 417 418 420 422 423 424 434 436 437 438 442
 444 445]
lineage 36: 24 cells
(1492, 3)
(1492, 3)
curr_ad     Position  Cell  Count
0          1     1   1369
2          2     1    380
3          3     1      8
6          4     1    675
10         7     1    104
donor1_lineage36
[ -1   0   1   2   5   6   7   8  10  11  12  15  16  18  20  21  23  24
  26  31  33  34  37  38  39  40  41  42  43  44  45  47  48  49  50  51
  52  53  55  56  57  59  60  61  62  64  65  66  67  68  69  70  71  74
  76  77  78  79  80  81  82  83  85  86  89  90  91  93  96  97  99 100
 101 102 103 104 105 107 108 109 110 111 112 113 114 117 118 119 120 121
 123 124 125 126 127 131 132 133 134 136 139 140 142 144 145 146 148 149
 151 153 156 157 158 159 161 162 163 164 166 167 168 169 170 171 172 173
 174 175 176 177 178 179 184 190 196 205 207 210 214 215 221 224 226 228
 234 236 238 241 242 245 246 249 251 254 260 261 263 264 267 268 270 277
 280 281 283 286 287 290 291 293 297 303 304 305 306 309 310 311 314 315
 316 317 320 321 325 327 328 331 332 334 337 339 340 341 346 350 353 355
 356 359 361 362 365 367 368 371 372 373 376 378 380 381 383 385 388 389
 390 391 394 397 398 399 400 401 403 407 409 411 414 415 417 418 419 422
 429 433 436 438 439 442 444 445]
lineage 37: 18 cells
(1006, 3)
(1006, 3)
curr_ad    Position  Cell  Count
0         1     1   4941
1         2     1     14
2         3     1   2626
6         5     1   2738
7         6     1     25
donor1_lineage37
[ -1   1   2   5   6   7   9  10  12  15  16  18  19  22  23  24  26  27
  31  32  33  37  38  39  40  45  47  48  49  51  52  53  55  56  57  58
  59  60  61  62  64  67  68  69  70  71  74  76  77  78  80  81  82  86
  87  88  89  90  93  96  97  99 100 101 102 103 105 106 107 109 111 113
 114 115 116 117 118 119 120 123 124 125 126 131 132 133 134 136 140 142
 144 145 146 148 149 153 154 156 157 158 159 161 162 163 164 165 166 167
 168 169 171 172 173 174 175 176 178 179 184 188 196 198 204 207 210 213
 214 216 224 227 234 238 240 242 245 246 249 253 261 262 266 276 283 287
 291 297 306 317 319 325 331 334 337 338 345 350 355 356 359 365 367 371
 372 378 386 388 389 390 392 394 398 399 402 409 410 415 417 432 436 443]
lineage 38: 10 cells
(536, 3)
(536, 3)
curr_ad    Position  Cell  Count
0         1     1   3999
2         2     1   2290
3         3     1      5
6         4     1   2168
7         5     1     13
donor1_lineage38

[ -1   1   2   5   7   8   9  12  15  23  24  26  27  30  32  33  37  38
  40  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76  77  80
  86  87  89  90  96  97  99 100 101 102 103 105 107 109 111 112 113 114
 118 119 120 123 124 125 126 132 133 140 142 144 145 146 148 149 151 153
 156 157 158 159 161 162 164 165 166 167 168 170 171 172 173 174 175 176
 177 178 179 183 184 196 210 214 224 234 236 238 240 241 242 243 244 245
 246 249 251 252 253 254 256 257 261 263 266 271 272 273 276 283 286 287
 291 293 295 297 303 304 305 306 309 310 314 315 317 320 325 327 328 331
 332 334 336 337 338 344 346 349 350 353 354 355 356 359 362 365 367 368
 371 372 373 378 381 383 385 388 389 390 391 397 398 399 400 401 403 405
 409 411 414 415 417 418 427 433 436 438 442 444]
lineage 39: 21 cells
(1061, 3)
(1061, 3)
curr_ad     Position  Cell  Count
0          1     1    281
2          2     1    133
6          4     1    124
13         8     1    310
16         9     1    250
donor1_lineage39
cell meta
             new index                        ID              raw ID  \
donor_index
1                   11  AAGGTTCGTTCCAGTA-1_Input  AAGGTTCGTTCCAGTA-1
2                   16  ACAGCGCCATAGCAGG-1_Input  ACAGCGCCATAGCAGG-1
3                   31  AGCGTGCAGAACTAAC-1_Input  AGCGTGCAGAACTAAC-1
4                   34  AGGCGTCAGAACAGGA-1_Input  AGGCGTCAGAACAGGA-1
5                   46  ATGTTTCTCTCGACCT-1_Input  ATGTTTCTCTCGACCT-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      1       15              1
2               Input      1       14              1
3               Input      1       15              2
4               Input      1       13              1
5               Input      1      NaN            NaN
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor2.AD.mtx
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor2.DP.mtx
curr_vcf
  index_x #CHROM    POS REF_x ALT  strand_correlation_x     vmr_x  \
0     NaN   chrM  16512   NaN   C                   NaN       NaN
1   73A>G   chrM     73   73A   G              0.996919  0.382955
2  146T>C   chrM    146  146T   C              0.993106  0.591151
3  150C>T   chrM    150  150C   T              0.979327  0.670372
4  195T>C   chrM    195  195T   C              0.990257  0.623396

   n_cells_over_5_x  n_cells_over_20_x  \
0               NaN                NaN
1             119.0              116.0
2               2.0                1.0
3              61.0               49.0
4              44.0               31.0

   old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Input/MT/cellr_True/Input_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                1.0
2                                                2.0
3                                                3.0
4                                                4.0

   ... n_cells_over_20_y  \
0  ...               NaN
1  ...             329.0
2  ...               NaN
3  ...             177.0
4  ...              22.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Control/MT/cellr_True/Control_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                2.0
2                                                NaN
3                                                3.0
4                                                4.0

      index     REF  strand_correlation       vmr  n_cells_over_5  \
0  16512T>C  16512T            0.772501  0.013277             0.0
1     73A>G     73A            0.995236  0.339875          2768.0
2    146T>C    146T            0.990833  0.665951            15.0
3    150C>T    150C            0.977151  0.800561           714.0
4    195T>C    195T            0.971955  0.669470          1103.0

  n_cells_over_20  \
0             0.0
1          2699.0
2             6.0
3           664.0
4          1027.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Flt3l/MT/cellr_True/Flt3l_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                              368.0
1                                                3.0
2                                                6.0
3                                                9.0
4                                               11.0

   new ID
0     495
1       1
2       2
3       3
4       4

[5 rows x 25 columns]
curr_labels
   new index                        ID              raw ID condition  donor  \
0          2  AAAGGATAGTCGTGAG-1_Input  AAAGGATAGTCGTGAG-1     Input    NaN
1         15  ACAGAAATCTGGCACG-1_Input  ACAGAAATCTGGCACG-1     Input    NaN
2         23  ACCCAAAAGGAAGGTA-1_Input  ACCCAAAAGGAAGGTA-1     Input    NaN
3         25  ACCTGCTCACGCGTTG-1_Input  ACCTGCTCACGCGTTG-1     Input    NaN
4         30  AGCCGCAGTCCGTGCA-1_Input  AGCCGCAGTCCGTGCA-1     Input    NaN

   donor_index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
cell meta
             new index                        ID              raw ID  \
donor_index
1                    2  AAAGGATAGTCGTGAG-1_Input  AAAGGATAGTCGTGAG-1
2                   15  ACAGAAATCTGGCACG-1_Input  ACAGAAATCTGGCACG-1
3                   23  ACCCAAAAGGAAGGTA-1_Input  ACCCAAAAGGAAGGTA-1
4                   25  ACCTGCTCACGCGTTG-1_Input  ACCTGCTCACGCGTTG-1
5                   30  AGCCGCAGTCCGTGCA-1_Input  AGCCGCAGTCCGTGCA-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      2      NaN            NaN
2               Input      2      NaN            NaN
3               Input      2      NaN            NaN
4               Input      2      NaN            NaN
5               Input      2      NaN            NaN
[ -1   0   1   2   5   8   9  10  11  12  13  16  24  26  28  29  32  34
  35  39  40  42  47  49  50  51  54  55  57  58  59  63  64  69  70  76
  79  81  82  83  89  90  92  93 101 102 104 105 106 107 108 110 112 114
 116 117 118 119 123 125 126 129 130 131 132 138 139 146 148 150 151 152
 154 155 157 159 162 163 164 165 167 168 170 171 172 173 174 176 177 178
 179 180 181 182 183 184 185 189 190 200 211 213 217 228 240 242 244 245
 246 247 248 251 252 253 255 257 259 260 261 264 267 268 269 270 271 273
 274 275 278 283 285 286 287 291 292 295 296 298 299 301 304 306 308 310
 311 313 314 315 317 320 327 328 333 335 336 338 340 342 345 346 347 351
 353 354 357 358 359 360 361 362 363 364 366 369 371 372 374 375 378 379
 380 383 385 386 389 393 395 397 400 402 403 407 408 409 410 411 412 413
 416 417 419 421 422 423 424 428 429 430 431 434 441 445 449 454 455]
lineage 0: 34 cells
(1156, 3)
(1156, 3)
curr_ad     Position  Cell  Count
0          1     1     10
6          5     1    257
9          6     1    383
11         8     1      6
35        18     1      2
donor2_lineage0
[ -1   0   1   2   3   5   8   9  10  11  12  13  16  17  24  26  28  29
  32  34  35  36  39  40  41  42  44  46  47  49  50  51  54  55  57  58
  59  61  63  64  69  70  71  72  76  78  79  82  83  87  89  92  93  95
  97 101 102 104 108 109 110 112 114 116 117 118 119 123 125 126 129 130
 131 132 137 138 139 142 146 148 149 150 151 152 154 155 159 162 163 164
 165 167 168 170 171 172 173 176 177 178 180 181 182 183 184 185 187 188
 190 200 202 204 206 207 213 217 219 225 232 235 240 242 244 247 248 249
 251 252 253 255 257 259 260 261 263 264 266 267 268 270 271 275 278 279
 281 285 286 287 288 290 291 292 293 295 296 299 301 304 305 307 308 310
 311 313 315 317 319 320 321 322 327 328 333 336 338 340 342 345 346 347
 352 353 354 355 357 359 360 361 362 364 366 369 371 372 374 375 376 378
 379 380 383 385 386 389 393 397 398 400 402 403 407 409 410 411 412 413
 416 417 418 421 423 424 427 428 429 434 441 445 446 447 448 449 450 451
 454 456]
lineage 1: 24 cells
(726, 3)
(726, 3)

curr_ad    Position  Cell  Count
0         1     1      6
3         4     1     35
4         5     1      2
6         6     1   1971
9         7     1   3419
donor2_lineage1
[  2   5   8  28  35  40  42  49  54  59  69  70  76  79  83  89 108 110
 112 117 118 119 123 129 130 138 150 154 157 159 162 168 170 172 178 182
 183 190 233 240 251 280 288 292 299 315 327 333 345 360 361 362 371 379
 385 386 409 412 447 454]
lineage 2: 2 cells
(71, 3)
(71, 3)
curr_ad     Position  Cell  Count
3          1     1      2
6          2     1    178
9          3     1    241
29         4     1     14
36         5     1     10
donor2_lineage2
[ -1   0   1   2   3   5   8   9  10  11  13  16  17  24  26  29  31  32
  34  35  39  40  42  44  47  49  50  51  54  55  57  58  59  63  64  69
  70  76  78  79  80  81  82  83  89  90  92  93 101 102 105 106 107 108
 110 112 114 116 117 118 119 123 125 126 129 130 131 132 138 139 146 148
 150 151 152 154 155 157 159 162 163 164 165 167 168 170 171 172 173 174
 176 177 178 179 180 181 182 183 184 185 190 200 211 213 217 228 237 240
 242 244 246 247 248 251 252 253 255 257 259 260 261 263 264 267 268 270
 274 275 276 277 278 280 283 286 287 288 289 292 294 295 296 299 301 302
 304 306 308 309 310 311 312 313 314 315 318 322 324 327 333 335 336 337
 338 339 340 342 343 345 346 347 351 352 353 354 357 360 361 362 364 366
 369 371 374 375 378 379 380 382 385 386 388 389 391 393 395 398 400 402
 403 404 406 409 410 411 412 413 414 416 417 419 420 421 422 423 424 425
 428 429 430 431 433 434 438 441 446 447 449 454]
lineage 3: 34 cells
(1043, 3)
(1043, 3)
curr_ad     Position  Cell  Count
1          2     1     69
6          6     1     90
9          7     1    134
30        16     1     29
36        20     1      2
donor2_lineage3
[ -1   5   8  16  26  39  40  49  51  55  57  70  79  82  90 101 102 110
 117 118 123 146 151 152 162 163 164 165 167 178 179 181 190 200 213 217
 240 244 248 252 255 267 276 278 286 288 299 301 306 308 310 311 315 317
 323 330 333 342 345 347 357 358 366 369 371 380 385 386 400 411 412 413]
lineage 4: 3 cells
(98, 3)
(98, 3)
curr_ad     Position  Cell  Count
6          2     1     84
9          3     1    212
41         7     1    382
50         8     1      8
71        12     1      4
donor2_lineage4
[ -1   1   2   5   8   9  10  11  12  13  16  17  24  26  28  31  32  34
  35  39  40  41  42  44  47  49  50  51  54  55  57  58  59  63  64  69
  70  76  79  81  82  83  89  90  92  93 101 102 104 105 106 108 110 112
 114 116 117 118 119 123 125 126 129 130 131 132 138 139 146 148 150 151
 152 154 155 157 159 162 163 164 165 167 168 170 172 173 174 177 178 179
 180 181 184 185 190 194 199 200 211 213 217 221 228 232 235 240 242 244
 246 248 249 251 252 253 255 257 259 260 264 267 268 270 274 275 278 280
 281 283 286 287 291 292 295 296 298 299 300 301 304 306 308 309 311 313
 315 317 319 320 322 327 333 334 336 338 340 342 344 345 346 351 353 354
 357 360 361 362 364 366 369 371 374 375 378 379 380 385 386 391 393 397
 400 402 403 406 407 408 410 411 412 413 416 417 419 423 426 427 428 429
 430 432 434 441 444 446 447 449 454 456]
lineage 5: 26 cells
(747, 3)
(747, 3)
curr_ad     Position  Cell  Count
6          4     1    683
9          5     1   1191
17        11     1      6
36        19     1      2
40        20     1      3
donor2_lineage5
[ -1   0   2   5   8   9  10  12  13  16  17  24  26  28  29  35  39  40
  42  44  47  49  50  51  54  55  57  58  59  63  64  69  70  76  79  81
  82  83  89  90  92  93 101 102 104 105 106 108 110 112 114 116 117 118
 119 123 125 126 129 130 131 132 138 139 146 148 150 151 152 154 155 157
 159 162 163 164 165 167 168 170 171 172 173 174 176 177 178 179 180 181
 182 183 184 185 190 200 211 213 217 219 228 232 234 235 240 242 244 246
 247 248 251 252 253 255 257 260 261 263 264 267 268 270 271 274 275 280
 283 284 286 287 288 291 292 295 296 298 299 300 301 304 305 306 308 310
 311 313 314 315 317 319 320 322 324 327 328 333 335 336 338 340 341 342
 344 345 346 347 353 354 355 357 360 361 362 364 366 367 368 369 371 374
 375 376 378 379 380 385 386 389 393 394 395 397 398 400 402 403 407 408
 409 410 411 412 413 414 416 417 418 419 420 421 422 423 424 427 428 429
 430 431 434 435 437 440 441 442 446 447 453 454 455 456]
lineage 6: 39 cells
(1241, 3)
(1241, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          4     1    145
9          5     1    258
11         7     1      7
41        18     1    338
donor2_lineage6
[ -1   3   5   7   8   9  10  11  13  16  24  25  26  28  32  34  35  40
  41  42  46  47  49  50  51  52  54  55  58  59  62  63  64  69  70  76
  78  79  82  84  93  95 101 102 104 105 106 107 110 112 114 116 117 118
 119 122 123 125 129 130 131 132 138 139 140 148 150 151 152 154 157 159
 162 163 164 165 167 168 169 171 173 174 175 177 180 189 190 211 213 232
 240 247 248 251 252 253 255 257 267 270 271 286 291 292 294 299 302 304
 310 311 315 322 332 333 336 338 342 352 353 357 360 362 366 369 375 378
 379 385 393 398 400 402 403 409 410 411 412 413 418 423 426 429 450 454
 455]
lineage 7: 4 cells
(202, 3)
(202, 3)
curr_ad    Position  Cell  Count
0         1     1      8
4         2     1      2
6         3     1   1445
8         4     1      2
9         5     1   2180
donor2_lineage7
[ -1   0   1   3   5   7   8   9  10  11  12  13  15  16  17  19  20  21
  22  23  24  26  28  29  31  32  33  34  35  36  37  39  40  41  42  43
  44  46  47  49  50  51  52  54  55  56  57  58  59  60  61  62  63  64
  66  67  68  69  70  71  72  73  75  76  78  79  80  81  82  83  84  85
  86  87  89  90  91  92  93  94  95  97  98 101 102 103 104 105 106 107
 108 109 110 111 112 114 115 116 117 118 119 121 122 123 125 126 127 128
 129 130 131 133 134 135 136 137 138 139 140 144 145 146 147 148 150 151
 152 154 155 157 158 159 160 162 163 164 165 167 168 169 170 171 172 173
 174 175 176 177 178 179 180 181 182 183 184 185 187 190 195 196 199 200
 202 203 205 206 209 210 211 213 215 216 217 221 224 225 227 228 230]
lineage 8: 21 cells
(729, 3)
(729, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          5     1   1127
8          6     1     28
9          7     1   1586
11         9     1      4
donor2_lineage8
[ -1   1   2   5   8   9  10  11  13  16  17  24  26  28  29  31  32  35
  39  40  42  44  47  49  50  51  54  55  57  58  59  63  64  69  70  76
  79  81  82  83  89  90  92  93 101 102 104 105 106 107 108 110 112 114
 116 117 118 119 123 125 126 129 130 131 132 138 139 146 148 150 151 152
 154 155 157 159 162 163 164 165 167 168 170 171 172 173 174 175 176 177
 178 179 180 181 182 183 184 185 190 200 213 217 219 228 232 235 236 240
 242 244 245 246 247 248 249 250 251 252 253 255 256 259 261 263 264 266
 267 268 269 270 271 274 275 277 279 280 282 285 286 287 288 291 292 293
 295 296 298 299 301 302 304 306 308 310 311 313 314 315 318 319 320 321
 322 323 324 327 328 333 335 336 338 340 341 342 345 346 347 350 351 352
 354 355 356 357 358 359 360 361 362 364 366 369 371 374 375 376 378 379
 380 382 385 386 387 388 389 392 393 395 397 400 402 403 407 410 411 412
 413 414 416 417 418 419 421 423 424 425 428 429 430 431 434 435 439 441
 444 445 447 449 450 452 453 454 455 456]
lineage 9: 37 cells
(1499, 3)
(1499, 3)
curr_ad    Position  Cell  Count
0         1     1      6
2         2     1      6
3         3     1      3
6         4     1    191
9         5     1    337
donor2_lineage9
[ -1   5   8   9  16  35  40  42  47  51  54  55  57  58  59  76  79  89
  90  93 104 105 106 110 112 114 119 123 126 129 130 131 138 139 146 148
 151 152 162 163 165 171 173 190 249 251 253 255 263 274 295 299 314 317
 333 335 345 347 348 357 360 361 378 400 406 413 415 421 428 447 454]
lineage 10: 4 cells
(112, 3)
(112, 3)
curr_ad     Position  Cell  Count
0          1     1      7
6          2     1     11
9          3     1    138
36         6     1      3
41         7     1    179
donor2_lineage10
[ -1   3   5   8   9  10  13  16  17  24  26  29  32  35  39  40  41  42
  47  49  50  51  54  55  57  58  59  61  63  64  69  70  76  78  79  82
  83  90  92  93 101 102 104 105 106 107 108 110 112 114 116 117 118 119
 123 126 129 130 131 132 138 139 146 148 150 151 152 154 155 157 159 162
 163 164 165 167 168 170 171 172 173 174 176 177 178 179 180 181 182 183
 184 185 190 200 213 217 224 228 232 240 242 244 247 251 252 253 255 257
 259 261 267 268 269 270 278 286 287 288 292 295 296 299 301 310 311 315
 317 320 322 323 327 328 329 333 335 336 338 340 345 346 347 352 353 354
 357 360 361 362 364 366 369 371 374 375 378 379 383 385 386 389 392 393
 395 398 400 402 404 407 410 411 412 416 418 419 421 422 424 425 428 429
 430 431 434 436 439 446 447 449 450 451 454]
lineage 11: 18 cells
(529, 3)
(529, 3)
curr_ad     Position  Cell  Count
6          3     1    420
9          4     1    816
41        16     1   1031
42        17     1     34
58        25     1      2
donor2_lineage11
[  5   8   9  10  17  24  28  29  32  35  39  40  42  47  49  51  57  59
  64  70  76  82  83  90  92 104 108 110 112 117 119 123 126 129 130 138
 139 148 151 152 155 162 163 164 165 168 170 171 177 190 222 242 244 246
 247 251 253 255 259 261 262 267 268 270 285 286 292 296 299 301 304 308
 310 319 320 327 333 336 338 347 349 352 357 368 369 371 374 378 379 386
 393 397 400 403 410 412 415 416 422 423 428 429 430 445 448 453]
lineage 12: 5 cells
(165, 3)
(165, 3)
curr_ad     Position  Cell  Count
6          1     1     64
9          2     1    206
29         7     1      2
30         8     1      3
41        12     1    207
donor2_lineage12

[ -1   5   8  11  13  16  24  28  29  35  39  40  41  42  50  54  57  59
  64  69  70  76  78  79  82  88  89 101 102 105 106 108 110 112 114 116
 117 118 119 123 126 129 138 139 148 150 154 155 159 162 163 164 167 168
 173 178 180 181 185 190 194 200 201 206 210 211 213 217 224 225 230 231
 244 247 252 253 255 260 261 267 268 271 278 292 295 298 299 302 310 311
 333 336 340 342 347 354 360 361 366 370 371 374 375 379 400 402 403 411
 412 417 419 421 430 434 447 449 454]
lineage 13: 10 cells
(240, 3)
(240, 3)
curr_ad     Position  Cell  Count
6          2     1    687
9          3     1   1110
12         4     1      8
41        12     1   1578
42        13     1     40
donor2_lineage13
[  5   8  35  40  41  47  49  55  59  81 110 114 116 119 123 126 151 173
 177 178 179 181 183 184 185 190 210 213 215 217 219 223 228 247 251 269
 287 302 319 395 400 419 434 447]
lineage 14: 2 cells
(49, 3)
(49, 3)
curr_ad     Position  Cell  Count
6          1     1    305
9          2     1   1497
41         4     1   1999
42         5     1     28
50         7     1      4
donor2_lineage14
[ -1   5   8  10  26  35  40  42  47  54  55  57 110 114 119 123 132 150
 163 167 171 173 178 179 180 181 182 183 190 217 228 243 251 264 268 280
 308 311 333 342 345 357 361 362 369 379 385 395 400 410 413 419 429 430
 454]
lineage 15: 1 cells
(55, 3)
(55, 3)
curr_ad     Position  Cell  Count
0          1     1      2
6          2     1    214
9          3     1    309
11         4     1     11
27         5     1      2
donor2_lineage15
[ -1   1   5   8   9  10  12  13  17  19  24  26  29  32  33  34  35  40
  41  46  47  50  53  54  55  57  58  59  63  64  69  70  76  79  81  82
  83  84  86  89  90  92  93 101 102 104 105 106 108 109 110 112 114 116
 117 118 119 121 123 125 126 129 130 131 132 138 146 148 151 152 154 155
 157 158 159 162 163 164 165 168 169 170 172 173 174 176 177 178 179 180
 181 182 183 184 185 186 190 211 213 233 240 247 252 255 267 268 274 278
 287 295 299 310 312 316 320 327 331 333 335 342 346 352 354 357 361 369
 371 375 378 379 384 393 400 410 412 425 431 434 449 456]
lineage 16: 5 cells
(255, 3)
(255, 3)
curr_ad     Position  Cell  Count
0          1     1     77
6          3     1   1364
9          4     1   2566
10         5     1     96
11         6     1      2
donor2_lineage16
[ -1   1   2   5   8   9  10  13  16  24  26  28  29  34  35  39  40  41
  42  43  46  49  50  51  53  54  55  57  58  59  63  64  69  70  76  79
  82  83  89  90  92  93 101 102 104 105 106 107 108 110 112 114 116 117
 118 119 123 125 126 129 130 131 138 139 146 147 148 150 151 154 155 157
 159 162 163 164 165 167 168 170 172 173 174 175 176 177 178 179 180 181
 184 185 186 187 190 193 199 200 202 204 210 211 213 214 216 221 226 228
 230 233 238 240 244 246 247 251 252 253 255 262 263 264 268 271 274 280
 283 287 292 293 295 296 298 299 301 302 305 306 310 311 312 315 317 319
 320 327 328 333 335 336 338 340 342 351 357 360 361 362 366 371 374 375
 377 378 379 385 389 397 400 403 407 409 410 411 412 413 415 416 423 427
 428 431 434 441 444 445 447 453 454 455 456]
lineage 17: 18 cells
(509, 3)
(509, 3)
curr_ad     Position  Cell  Count
0          1     1      8
6          4     1    879
9          5     1   2042
14         8     1      2
36        15     1     10
donor2_lineage17
[  0   5   8   9  10  13  24  31  35  39  40  47  49  54  55  58  59  64
  70  76  79  82  83  89  90  92  93 101 102 105 106 107 108 110 114 116
 119 123 125 126 129 138 139 146 148 150 151 152 154 155 157 159 162 164
 165 170 171 172 173 174 177 180 182 183 190 213 235 242 247 255 257 258
 266 267 268 286 288 292 296 299 301 303 304 306 310 311 322 327 338 340
 342 345 357 358 360 361 362 366 371 378 379 400 407 411 412 417 423 424
 428 434 444 445 449 450 455]
lineage 18: 6 cells
(175, 3)
(175, 3)
curr_ad     Position  Cell  Count
6          2     1    173
9          3     1    273
11         5     1      2
41        11     1    372
48        12     1      4
donor2_lineage18
[ -1   0   1   2   5   8   9  10  13  18  19  20  26  28  31  32  34  35
  39  40  41  42  47  49  50  51  54  57  58  61  64  66  69  70  76  78
  79  81  82  83  84  86  89  90  93 101 102 104 105 106 108 110 116 117
 118 119 121 122 123 125 126 128 129 130 131 132 134 137 138 142 146 147
 150 151 152 154 155 157 162 163 165 167 168 170 172 173 174 176 182 183
 184 185 190 200 213 217 232 244 249 252 253 255 261 264 267 268 271 272
 273 274 277 280 283 286 287 292 295 299 304 306 310 311 314 317 320 327
 333 336 338 340 342 345 346 347 354 357 358 360 361 362 366 371 372 374
 375 378 379 385 388 393 395 400 402 411 412 414 415 416 421 423 427 428
 430 434 441 454 455]
lineage 19: 8 cells
(301, 3)
(301, 3)
curr_ad    Position  Cell  Count
0         1     1      5
1         2     1      2
3         4     1      2
6         5     1   1587
9         6     1   2707
donor2_lineage19
[ -1   5   8   9  11  13  16  18  20  24  26  31  35  40  41  43  47  48
  49  50  51  54  55  57  58  59  62  63  69  70  71  73  76  79  82  84
  85  89  90  92  93  97 101 102 104 105 106 108 110 111 112 114 116 117
 118 119 120 123 125 126 131 132 136 138 139 140 143 146 147 148 151 152
 155 157 160 162 163 164 165 167 168 169 170 171 172 173 174 175 176 177
 179 180 184 185 188 190 211 213 217 228 232 235 240 244 251 252 253 264
 268 277 287 292 296 299 304 306 308 317 324 325 333 340 345 352 357 360
 361 366 369 374 379 380 385 386 388 398 400 403 412 416 427 434 455]
lineage 20: 5 cells
(210, 3)
(210, 3)
curr_ad     Position  Cell  Count
0          1     1     46
6          2     1   2756
9          3     1   4045
10         4     1     47
12         5     1      9
donor2_lineage20
[  5   8   9  11  13  26  35  40  41  47  59  63  70  76  79  82  89  92
  93 101 102 105 106 110 112 116 123 126 132 138 146 148 155 157 162 163
 165 177 180 182 183 190 195 206 211 213 216 217 219 220 221]
lineage 21: 1 cells
(51, 3)
(51, 3)
curr_ad     Position  Cell  Count
6          1     1    444
9          2     1    904
10         3     1      4
12         4     1     24
14         5     1      2
donor2_lineage21
[ -1   0   1   3   5   8   9  10  11  13  16  17  24  26  28  29  31  35
  39  40  42  47  49  50  51  54  55  57  58  59  63  64  69  70  76  78
  79  80  81  82  83  89  90  92  93 101 102 104 105 106 107 108 110 112
 114 116 117 118 119 123 125 126 129 130 131 132 138 139 146 148 150 151
 152 154 155 157 159 162 163 164 165 167 168 170 171 172 173 174 175 176
 177 178 179 180 181 182 183 184 185 190 194 200 211 213 217 232 240 242
 244 247 248 251 252 254 255 257 259 260 261 263 264 267 268 270 274 275
 276 278 280 281 286 287 289 290 292 293 295 296 298 299 301 304 306 308
 310 311 314 315 317 319 320 322 324 327 328 333 334 335 336 338 340 342
 345 346 347 351 352 353 354 357 358 360 361 362 364 366 369 371 374 375
 378 379 380 383 385 386 389 390 393 395 396 397 398 400 402 406 407 408
 409 410 411 412 413 414 415 416 418 419 421 422 423 427 429 430 431 433
 434 439 441 445 447 448 449 454 455 456]
lineage 22: 36 cells
(1135, 3)
(1135, 3)
curr_ad     Position  Cell  Count
6          5     1    123
9          6     1    153
41        20     1    161
59        29     1      2
70        33     1      2
donor2_lineage22
[ -1   0   1   2   3   5   7   8   9  10  11  13  14  15  16  17  19  20
  21  26  28  29  30  32  33  34  35  36  39  40  41  42  43  44  45  46
  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64
  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82
  83  84  85  86  87  88  89  90  92  93  94  95  97 101 102 104 105 107
 108 109 110 111 112 113 114 115 116 117 118 119 121 122 123 125 126 127
 128 129 131 132 133 134 136 137 138 139 140 142 145 146 147 148 150 151
 152 153 154 155 157 158 159 160 161 162 163 164 165 167 168 169 171 172
 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190
 197 199 200 208 209 211 213 216 217 221 230]
lineage 23: 10 cells
(536, 3)
(536, 3)
curr_ad    Position  Cell  Count
0         1     1     25
1         2     1      6
2         3     1      5
6         6     1   2384
8         7     1      2
donor2_lineage23
[ -1   5   8   9  16  21  22  26  28  29  33  35  40  41  42  47  49  50
  51  53  54  55  56  57  61  62  63  64  66  69  70  71  73  76  78  81
  82  83  86  87  90  92  93  94  95  97 102 103 104 105 106 107 110 111
 112 114 116 118 119 123 125 127 129 130 131 135 137 139 142 145 146 148
 150 151 152 154 155 157 158 159 162 163 164 167 169 171 176 177 178 179
 180 181 182 183 184 185 186 188 190 200 211 213 217 219 240 244 247 249
 253 255 260 264 266 267 268 278 292 295 296 299 301 306 308 311 320 333
 336 338 342 346 357 360 361 362 365 366 374 378 379 386 398 400 412 413
 414 416 419 420 428 448 454 455]
lineage 24: 5 cells
(212, 3)
(212, 3)
curr_ad     Position  Cell  Count
0          1     1     81
6          2     1   2587
9          3     1   4122
10         4     1     10
22         6     1      2
donor2_lineage24

[ -1   3   5   8   9  10  13  14  15  18  19  21  28  35  40  41  43  44
  47  49  50  51  53  55  57  58  59  61  63  66  67  69  70  71  76  79
  82  84  85  86  88  89  93  97 105 106 109 110 112 113 114 116 117 118
 119 121 123 126 130 131 132 134 138 139 142 144 146 147 148 151 152 154
 155 157 158 159 160 163 164 165 167 168 169 172 174 176 177 180 182 183
 185 187 190 259 366 379 400 404]
lineage 25: 2 cells
(108, 3)
(108, 3)
curr_ad     Position  Cell  Count
0          1     1     74
4          2     1      2
6          3     1   2723
9          4     1   4444
10         5     1     49
donor2_lineage25
[ -1   0   2   5   8   9  11  12  13  16  17  19  20  21  24  26  27  28
  29  31  32  33  35  36  39  40  41  42  43  44  46  47  48  49  50  51
  52  53  54  55  56  57  58  59  60  63  64  66  67  68  69  70  71  73
  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93
  94  97 102 104 105 107 108 110 111 112 114 116 117 118 119 121 122 123
 125 126 128 129 130 132 133 134 137 138 139 142 145 146 147 148 149 151
 152 153 154 155 158 159 160 162 163 164 165 168 169 170 171 173 174 175
 176 177 178 179 180 181 182 183 184 185 187 190 213 240 247 248 252 253
 255 260 268 277 286 288 292 295 299 314 320 336 340 345 347 354 357 360
 371 379 380 389 400 412 413 416 424 427 428 455]
lineage 26: 6 cells
(302, 3)
(302, 3)
curr_ad     Position  Cell  Count
0          1     1     46
6          4     1   3381
9          5     1   5661
10         6     1      7
12         7     1      4
donor2_lineage26
[ -1   4   5   7   8   9  10  11  12  13  14  16  17  21  27  28  29  31
  32  33  34  35  36  37  39  40  41  42  43  46  47  49  50  51  55  57
  58  59  60  61  62  63  64  66  68  69  70  71  72  74  75  76  78  79
  80  81  82  83  84  85  87  89  90  91  92  93  94  95  97 100 102 104
 105 106 108 110 112 114 115 116 117 118 119 121 122 123 125 126 127 129
 130 131 132 133 136 137 138 139 141 142 148 150 153 154 155 157 158 159
 160 162 163 164 166 167 168 169 170 173 174 175 176 177 178 180 181 182
 183 184 185 187 190 195 199 200 209 210 211 213 216 217 218 219 221 223
 228 229 240 241 244 247 248 252 253 255 260 264 267 268 286 291 292 295
 296 304 311 315 317 327 336 340 346 347 360 366 371 378 379 386 388 389
 400 412 414 415 421 428 435 449]
lineage 27: 16 cells
(430, 3)
(430, 3)
curr_ad     Position  Cell  Count
6          3     1   2012
9          5     1   3841
10         6     1      3
14        10     1      5
15        11     1      2
donor2_lineage27
[ -1   0   1   4   5   7   8   9  11  13  14  15  16  17  20  26  32  33
  34  35  39  40  41  42  43  44  47  49  50  51  53  54  55  57  58  59
  62  69  70  71  72  73  76  79  80  82  83  84  85  86  87  88  89  92
  93  97 101 102 104 105 106 107 108 110 114 115 116 117 118 119 120 121
 123 126 127 131 138 139 146 150 151 152 154 155 157 159 160 162 163 165
 168 169 170 171 172 174 175 176 177 178 179 180 181 182 183 184 185 190
 200 205 211 213 221 242 244 249 255 267 268 274 275 278 282 287 295 296
 299 301 306 308 310 311 314 323 333 335 336 342 353 360 361 362 366 371
 378 379 385 389 395 400 403 410 411 412 418 422 426 427 428 442 455]
lineage 28: 8 cells
(272, 3)
(272, 3)
curr_ad     Position  Cell  Count
6          5     1   1684
8          6     1     10
9          7     1   3345
12         9     1      2
15        11     1      2
donor2_lineage28
[ -1   0   1   2   5   8   9  10  11  13  16  24  26  28  29  32  34  35
  39  40  42  47  49  50  51  54  55  57  58  59  63  64  69  70  76  79
  80  82  83  89  90  92  93 101 102 104 105 106 107 108 110 112 116 117
 118 119 123 125 126 129 130 131 132 138 139 146 148 150 151 152 154 155
 157 159 162 163 164 165 167 168 170 171 172 173 174 176 177 178 180 182
 183 184 185 190 192 200 211 213 217 232 233 235 242 244 247 248 251 252
 253 255 261 264 267 268 270 271 275 278 286 288 292 295 296 299 301 308
 310 311 312 315 317 319 322 327 329 333 338 339 340 342 345 354 356 357
 360 361 362 366 371 375 378 379 380 381 383 385 389 392 393 394 395 398
 400 401 402 407 409 410 411 412 416 417 419 420 421 423 425 429 430 434
 442 443 445 447 448 449 454]
lineage 29: 18 cells
(642, 3)
(642, 3)
curr_ad     Position  Cell  Count
0          1     1      4
2          3     1      4
6          5     1     98
9          6     1    208
17        11     1      4
donor2_lineage29
[ -1   1   2   5   8   9  10  11  13  16  17  24  26  28  31  34  35  39
  40  42  44  47  49  50  51  54  55  57  58  59  63  64  69  70  76  78
  79  82  83  89  90  92  93 101 102 104 105 106 107 108 110 112 114 116
 117 118 119 123 125 126 129 130 131 132 138 139 146 148 150 151 152 154
 155 157 162 163 164 165 167 168 170 171 172 173 174 176 177 178 179 180
 181 182 183 184 185 190 194 200 211 213 217 219 232 240 241 242 244 247
 248 249 252 255 261 264 267 268 271 280 286 288 290 292 295 298 299 301
 302 304 306 310 311 312 314 320 327 328 329 333 335 336 338 345 353 357
 360 361 362 364 369 371 372 374 375 379 380 385 386 389 395 400 403 409
 410 411 412 413 417 419 421 422 423 428 429 434 441 444 446 447 449 451
 453 454 455]
lineage 30: 17 cells
(643, 3)
(643, 3)
curr_ad     Position  Cell  Count
6          4     1    169
9          5     1    298
10         6     1      4
25        12     1      2
32        15     1    256
donor2_lineage30
[ -1   5   8  10  28  35  40  47  51  55  69  76  79  81  82  89  90  93
 110 114 119 123 126 129 130 131 138 151 159 162 163 165 173 190 200 211
 213 240 255 268 274 295 296 306 310 311 315 318 335 342 347 357 361 369
 378 379 400 402 411 423 424 427 439 447]
lineage 31: 3 cells
(84, 3)
(84, 3)
curr_ad     Position  Cell  Count
0          1     1      8
6          2     1     12
9          3     1    199
29         5     1      4
41         7     1    206
donor2_lineage31
[  5   8  13  26  40  41  54  57 101 102 110 190 212 221 230 253 286 310
 336 384 402 416 454]
lineage 32: 2 cells
(28, 3)
(28, 3)
curr_ad     Position  Cell  Count
6          1     1    371
9          2     1    524
14         3     1      2
27         4     1      2
41         5     1    675
donor2_lineage32
[ -1   0   5   7   8  10  11  13  14  16  17  18  19  21  22  24  29  31
  32  34  35  40  41  42  43  45  46  47  48  50  53  55  57  59  64  69
  70  71  72  73  76  77  79  80  83  84  85  86  88  89  90  95 101 102
 108 110 114 115 116 117 118 123 124 125 126 131 132 138 139 144 148 150
 151 152 154 155 157 159 160 164 167 168 171 173 174 175 178 180 181 184
 185 188 190 200 209 211 213 219 221]
lineage 33: 2 cells
(111, 3)
(111, 3)
curr_ad    Position  Cell  Count
0         1     1     23
1         2     1     18
6         3     1    382
8         4     1     29
9         5     1   7142
donor2_lineage33
[ -1   2   5   8   9  10  13  16  24  26  28  29  31  35  39  40  41  42
  49  50  51  54  57  63  64  66  67  69  70  72  73  76  78  80  81  82
  83  85  88  89  90  92  93  99 101 104 105 107 108 110 112 114 115 116
 117 118 119 120 121 123 125 126 127 129 130 131 132 136 138 139 146 148
 150 151 152 154 155 157 159 162 163 164 168 170 172 174 175 176 177 181
 182 183 185 188 190 200 205 209 210 213 217 219 220 221 228 229 231 240
 244 247 251 253 255 261 268 276 284 290 291 292 295 301 304 305 306 308
 311 313 320 327 333 341 342 346 347 353 357 360 361 369 371 374 375 379
 380 395 397 400 408 409 410 411 412 413 417 419 421 425 427 435 441 453
 454]
lineage 34: 7 cells
(264, 3)
(264, 3)
curr_ad     Position  Cell  Count
0          1     1     16
6          3     1   2369
9          4     1   4727
11         6     1      8
14         7     1      7
donor2_lineage34
[ -1   0   4   5   7   8   9  10  13  14  16  17  19  20  21  24  26  29
  30  31  33  34  35  36  37  39  40  41  42  43  45  46  47  50  51  52
  53  55  56  57  58  59  61  62  63  64  66  68  69  70  71  72  75  76
  79  81  82  83  84  85  86  88  89  90  92  93  94  95  96  97 101 102
 104 107 108 110 111 112 114 115 116 117 118 119 120 121 123 125 126 128
 129 130 131 133 134 137 139 140 141 143 144 145 146 147 148 150 151 152
 153 154 155 156 159 160 162 163 164 165 167 168 169 170 171 172 174 175
 176 177 178 179 180 181 182 183 184 185 186 187 189 190]
lineage 35: 4 cells
(277, 3)
(277, 3)

curr_ad     Position  Cell  Count
0          1     1     14
6          4     1   2199
9          6     1   4101
10         7     1      5
15        10     1      3
donor2_lineage35
[ -1   5   8   9  10  11  13  16  17  20  21  24  26  28  29  31  32  34
  35  38  40  41  42  43  44  46  47  49  50  51  54  55  56  57  58  59
  60  62  63  67  69  70  72  76  79  80  81  82  85  86  87  88  89  90
  91  92  93  95  97 101 102 104 105 106 107 108 110 112 114 115 116 117
 118 119 123 125 126 127 128 129 130 131 133 134 138 139 146 148 150 151
 152 154 159 160 162 163 164 165 167 168 170 171 173 175 176 177 179 180
 185 190 200 213 217 219 221 226 228 232 240 241 244 247 248 249 251 252
 253 255 257 259 260 261 264 267 268 274 276 278 283 287 288 291 292 295
 298 299 301 304 306 308 310 311 314 326 327 333 334 336 337 338 340 342
 345 346 347 348 351 353 354 357 360 361 362 366 369 371 374 375 378 379
 380 382 384 385 393 394 395 397 398 400 402 403 406 409 411 412 413 416
 418 421 424 425 427 428 430 442 445 447 449 453 454 455 456]
lineage 36: 16 cells
(461, 3)
(461, 3)
curr_ad     Position  Cell  Count
0          1     1     40
6          2     1   3421
9          3     1   5394
11         5     1      2
14         7     1      5
donor2_lineage36
[ -1   4   5   8   9  10  11  13  26  27  31  40  41  46  47  59  61  64
  66  67  69  76  82  84  86  87 101 102 104 108 110 114 115 116 117 118
 119 121 123 125 127 129 130 137 139 140 142 144 146 148 152 154 158 162
 163 165 167 168 170 172 180 182 183 190 213 247 268 269 271 333 342 345
 351 357]
lineage 37: 2 cells
(81, 3)
(81, 3)
curr_ad     Position  Cell  Count
0          1     1      3
5          2     1      2
6          3     1    200
9          4     1   4625
10         5     1      4
donor2_lineage37
[ -1   1   2   3   5   6   8   9  10  13  14  16  18  20  21  24  26  29
  30  31  32  33  34  35  36  39  40  41  42  43  44  46  47  49  50  51
  52  53  54  55  57  58  59  61  62  63  64  66  69  70  71  72  73  75
  76  79  81  82  83  84  85  87  88  89  90  91  92  93  94  95  97 101
 102 104 105 107 109 110 111 112 114 115 116 117 118 119 120 121 122 123
 125 126 129 130 131 132 133 137 138 139 140 142 144 145 146 147 148 150
 151 152 154 155 157 159 160 162 163 164 165 166 167 168 170 171 172 173
 174 175 176 177 178 179 180 181 183 184 185 186 187 188 189 190 200 201
 205 206 209 213 216 217 219 221 224 228 230 255 256 261 264 266 268 278
 286 287 292 308 310 311 313 319 327 333 335 336 340 345 348 357 362 366
 369 371 374 385 392 400 403 407 409 411 412 418 423 428 430 434 442 447]
lineage 38: 15 cells
(510, 3)
(510, 3)
curr_ad     Position  Cell  Count
6          5     1   1504
7          6     1      6
9          7     1   2217
11         9     1      3
14        10     1      3
donor2_lineage38
[ -1   1   2   5   8   9  10  11  13  16  24  26  28  29  32  34  35  39
  40  42  47  49  50  51  54  55  57  58  59  63  64  69  70  76  79  81
  82  83  89  90  92  93 101 102 104 105 106 107 108 110 112 114 116 117
 118 119 123 125 126 129 130 131 132 138 139 146 148 150 151 152 154 155
 157 159 162 163 164 165 167 168 170 171 172 173 174 176 177 178 179 180
 181 182 183 184 185 190 200 213 217 228 232 240 242 244 246 248 249 251
 252 253 255 257 260 261 262 263 265 267 268 270 273 274 276 281 286 290
 292 294 295 297 298 299 300 301 306 308 310 311 313 315 317 319 320 321
 322 327 328 329 333 334 336 338 342 345 346 347 353 357 358 360 361 366
 369 371 373 374 375 378 379 380 382 384 385 386 389 393 394 395 397 398
 399 400 403 404 406 407 409 410 411 412 413 414 415 416 417 420 421 422
 424 425 427 428 429 430 434 441 447 449 453 454 455]
lineage 39: 23 cells
(906, 3)
(906, 3)
curr_ad     Position  Cell  Count
6          4     1    156
9          5     1    282
10         6     1      4
29        13     1      2
36        17     1      8
donor2_lineage39
cell meta
             new index                        ID              raw ID  \
donor_index
1                    2  AAAGGATAGTCGTGAG-1_Input  AAAGGATAGTCGTGAG-1
2                   15  ACAGAAATCTGGCACG-1_Input  ACAGAAATCTGGCACG-1
3                   23  ACCCAAAAGGAAGGTA-1_Input  ACCCAAAAGGAAGGTA-1
4                   25  ACCTGCTCACGCGTTG-1_Input  ACCTGCTCACGCGTTG-1
5                   30  AGCCGCAGTCCGTGCA-1_Input  AGCCGCAGTCCGTGCA-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      2        8              1
2               Input      2       23              1
3               Input      2        8              2
4               Input      2       26              1
5               Input      2       35              1
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor3.AD.mtx
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor3.DP.mtx
curr_vcf
  index_x #CHROM    POS REF_x ALT  strand_correlation_x     vmr_x  \
0     NaN   chrM  16512   NaN   C                   NaN       NaN
1   73A>G   chrM     73   73A   G              0.996919  0.382955
2  146T>C   chrM    146  146T   C              0.993106  0.591151
3  150C>T   chrM    150  150C   T              0.979327  0.670372
4  195T>C   chrM    195  195T   C              0.990257  0.623396

   n_cells_over_5_x  n_cells_over_20_x  \
0               NaN                NaN
1             119.0              116.0
2               2.0                1.0
3              61.0               49.0
4              44.0               31.0

   old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Input/MT/cellr_True/Input_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                1.0
2                                                2.0
3                                                3.0
4                                                4.0

   ... n_cells_over_20_y  \
0  ...               NaN
1  ...             329.0
2  ...               NaN
3  ...             177.0
4  ...              22.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Control/MT/cellr_True/Control_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                2.0
2                                                NaN
3                                                3.0
4                                                4.0

      index     REF  strand_correlation       vmr  n_cells_over_5  \
0  16512T>C  16512T            0.772501  0.013277             0.0
1     73A>G     73A            0.995236  0.339875          2768.0
2    146T>C    146T            0.990833  0.665951            15.0
3    150C>T    150C            0.977151  0.800561           714.0
4    195T>C    195T            0.971955  0.669470          1103.0

  n_cells_over_20  \
0             0.0
1          2699.0
2             6.0
3           664.0
4          1027.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Flt3l/MT/cellr_True/Flt3l_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                              368.0
1                                                3.0
2                                                6.0
3                                                9.0
4                                               11.0

   new ID
0     495
1       1
2       2
3       3
4       4

[5 rows x 25 columns]
curr_labels
   new index                        ID              raw ID condition  donor  \
0          7  AACCGATAGCCTTTGA-1_Input  AACCGATAGCCTTTGA-1     Input    NaN
1         14  ACAATCGAGTATACCC-1_Input  ACAATCGAGTATACCC-1     Input    NaN
2         19  ACAGGCCGTTGAATAG-1_Input  ACAGGCCGTTGAATAG-1     Input    NaN
3         20  ACATGCAGTCATAGCT-1_Input  ACATGCAGTCATAGCT-1     Input    NaN
4         22  ACCATCCTCACGTCAA-1_Input  ACCATCCTCACGTCAA-1     Input    NaN

   donor_index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

cell meta
             new index                        ID              raw ID  \
donor_index
1                    7  AACCGATAGCCTTTGA-1_Input  AACCGATAGCCTTTGA-1
2                   14  ACAATCGAGTATACCC-1_Input  ACAATCGAGTATACCC-1
3                   19  ACAGGCCGTTGAATAG-1_Input  ACAGGCCGTTGAATAG-1
4                   20  ACATGCAGTCATAGCT-1_Input  ACATGCAGTCATAGCT-1
5                   22  ACCATCCTCACGTCAA-1_Input  ACCATCCTCACGTCAA-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      3      NaN            NaN
2               Input      3      NaN            NaN
3               Input      3      NaN            NaN
4               Input      3      NaN            NaN
5               Input      3      NaN            NaN
[ -1   1   2   5   7   8   9  10  12  15  23  24  26  32  33  37  38  40
  42  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76  77  78
  79  80  81  87  88  90  91  97  98  99 101 102 103 104 106 108 110 112
 113 114 115 119 121 122 125 126 127 128 133 134 140 142 144 145 146 149
 151 153 156 157 158 159 160 161 163 164 165 166 167 169 170 171 172 173
 174 175 176 177 178 183 189 195 207 217 219 222 223 226 227 228 231 238
 241 243 245 247 249 254 259 260 261 267 270 271 273 274 276 280 281 282
 284 286 288 291 293 294 295 296 304 309 318 321 323 328 329 330 331 335
 336 337 338 340 343 345 347 350 351 353 356 357 358 359 362 364 365 368
 378 379 381 385 387 389 391 392 393 394 396 397 398 400 403 404 409 416
 422 428 430 432 436 439 440]
lineage 0: 19 cells
(965, 3)
(965, 3)
curr_ad     Position  Cell  Count
0          1     1    218
3          3     1     84
6          4     1     14
10         7     1    161
24        11     1     82
donor3_lineage0
[ -1   0   1   2   5   7   8   9  10  12  18  20  21  23  24  26  33  34
  35  37  38  39  40  41  42  44  45  47  48  49  51  52  53  54  55  56
  57  58  59  61  62  64  67  68  74  75  76  77  78  79  80  81  82  85
  87  88  90  91  93  95  97  98  99 104 105 106 108 110 111 112 113 114
 115 116 117 119 121 122 123 124 125 126 127 128 133 134 137 139 140 142
 144 145 146 148 149 151 152 153 156 157 158 160 161 163 164 165 166 169
 170 172 173 174 177 178 182 183]
lineage 1: 1 cells
(116, 3)
(116, 3)
curr_ad    Position  Cell  Count
0         1     1   7843
1         2     1     21
2         3     1      6
3         4     1   2357
6         5     1    937
donor3_lineage1
[ -1   0   2   5   8   9  10  12  15  19  20  23  24  26  29  33  34  37
  38  39  40  41  42  43  44  45  47  48  50  51  52  53  55  56  57  62
  64  65  67  68  71  74  76  77  78  79  80  81  83  87  88  90  91  98
  99 101 102 104 105 106 107 108 110 112 113 114 115 119 121 122 123 124
 125 126 127 128 133 134 138 139 140 142 144 145 146 148 149 151 153 156
 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174
 175 177 178 181 183 189 194 195 204 207 210 215 217 219 222 223 226 227
 228 231 234 236 239 243 245 247 249 254 255 258 259 267 270 274 276 282
 286 288 289 290 291 297 304 305 309 310 311 316 318 323 329 330 335 340
 342 345 347 350 352 353 357 358 364 365 373 378 379 382 383 385 388 392
 396 397 402 403 404 411 412 415 421 439]
lineage 2: 10 cells
(545, 3)
(545, 3)
curr_ad     Position  Cell  Count
0          1     1   3802
3          3     1   2148
6          4     1    266
9          5     1      4
10         6     1   2925
donor3_lineage2
[ -1   0   2   5   9  15  23  24  26  33  37  40  45  47  48  49  52  53
  55  56  57  61  62  67  68  74  77  79  80  81  88  90  91  97  98  99
 103 104 106 108 110 112 113 114 115 119 121 122 125 126 127 128 140 142
 144 145 149 151 153 157 158 159 160 161 163 164 165 166 167 169 170 171
 172 173 175 177 178 183 194 195 204 207 215 217 218 219 221 222 227 234
 239 243 245 267 271 274 276 284 286 288 289 293 304 309 312 318 338 358
 359 361 365 373 375 379 388 392 400 402 418 421 427 428 438]
lineage 3: 8 cells
(396, 3)
(396, 3)
curr_ad     Position  Cell  Count
0          1     1    158
3          3     1     85
6          4     1     15
10         5     1    198
24         7     1    124
donor3_lineage3
[ -1   2   5   8   9  23  26  33  37  40  47  52  53  57  67  68  74  77
  81  87  88  97  98 101 108 113 114 115 119 122 125 126 127 128 133 142
 144 145 146 151 156 159 161 163 170 173 175 176 177 178 183 219 280 300
 306 362 379 408 421 439]
lineage 4: 1 cells
(60, 3)
(60, 3)
curr_ad     Position  Cell  Count
0          1     1    100
3          2     1     75
6          3     1     10
9          4     1     12
10         5     1    144
donor3_lineage4
[ -1   1   2   5   7   9  10  15  23  26  30  33  37  38  40  45  47  48
  52  53  55  57  67  68  74  77  80  81  87  88  91  97  98  99 101 106
 108 110 112 113 114 115 119 121 122 125 126 127 133 134 140 142 144 145
 146 148 149 151 153 156 157 159 161 163 164 165 166 167 169 171 172 173
 174 175 176 177 178 183 194 195 198 199 201 204 207 209 215 219 222 226
 228 233 235 236 237 243 245 248 249 253 259 260 267 270 274 276 280 282
 286 288 296 298 300 301 304 307 309 312 314 316 318 329 335 338 340 343
 345 350 353 357 358 362 365 367 368 373 378 379 382 386 387 388 391 392
 396 400 402 405 409 410 411 415 416 430 431 433 438]
lineage 5: 12 cells
(598, 3)
(598, 3)
curr_ad     Position  Cell  Count
0          1     1    305
3          3     1     76
10         6     1    223
24         9     1     92
27        10     1    153
donor3_lineage5
[ -1   1   2   5   7   8   9  10  11  12  15  23  24  26  30  32  33  37
  38  39  40  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76
  77  79  80  81  86  87  88  90  91  97  98 101 102 103 104 106 108 110
 112 113 114 115 119 121 122 125 126 127 133 134 140 142 144 145 146 148
 149 151 153 156 157 160 161 163 164 166 170 173 174 176 177 178 183 189
 194 195 198 199 203 204 207 209 213 215 216 217 219 223 226 227 231 233
 235 236 243 245 254 255 259 261 266 267 270 271 274 280 284 286 288 290
 291 295 296 304 312 314 318 321 322 323 329 335 336 338 341 345 347 350
 353 354 357 358 359 365 373 377 379 381 382 385 386 388 391 392 393 394
 396 400 409 412 428 431 432 434 435 436]
lineage 6: 15 cells
(758, 3)
(758, 3)
curr_ad     Position  Cell  Count
0          1     1    831
3          3     1    177
6          4     1     41
10         7     1    709
24        12     1    485
donor3_lineage6
[ -1   2   3   5   8   9  10  12  15  23  24  26  32  33  37  38  40  45
  47  48  49  52  53  55  56  57  61  62  67  68  74  77  79  80  81  87
  88  90  91  97  98  99 101 102 103 104 106 108 110 112 113 114 115 119
 121 122 125 126 127 128 133 134 140 142 144 145 146 148 149 151 156 157
 158 159 160 161 163 166 169 170 171 172 173 174 175 176 177 178 183 189
 195 207 217 219 223 231 236 243 245 249 251 255 259 265 267 270 271 273
 276 277 282 284 286 296 304 309 318 321 322 335 338 340 343 345 350 351
 353 355 357 358 362 364 373 375 379 381 382 385 386 387 391 392 399 400
 404 405 409 419 421 430 432 439]
lineage 7: 8 cells
(459, 3)
(459, 3)
curr_ad     Position  Cell  Count
0          1     1    146
3          2     1     74
6          4     1     11
9          5     1      2
10         6     1    117
donor3_lineage7
[ -1   0   2   5   6   7   8   9  10  12  15  17  19  23  24  26  29  30
  33  37  38  39  40  44  45  46  47  48  49  50  51  52  53  54  55  56
  57  61  62  64  67  68  70  73  74  76  77  78  79  80  81  82  84  87
  88  90  91  97  98  99 101 102 103 104 105 106 108 110 112 113 114 115
 117 119 121 122 124 125 126 127 128 130 133 134 135 140 142 144 145 146
 148 149 151 153 156 157 159 160 161 162 163 164 165 166 167 168 169 170
 171 172 173 174 175 176 177 178 182 183 186 189 192 194 195 198 199 207
 215 217 219 222 223 224 226 227 228 231 234 235 236 239 243 245 247 248
 249 250 251 256 259 261 267 268 270 271 273 274 276 277 280 283 284 286
 288 289 291 293 295 296 298 304 306 309 311 312 314 316 318 321 323 329
 330 335 338 340 341 345 347 348 350 353 354 357 358 362 371 372 373 377
 378 379 381 385 387 389 391 392 395 396 397 398 400 401 402 403 405 409
 410 412 415 421 427 430 433 438 439 440]
lineage 8: 20 cells
(1129, 3)
(1129, 3)
curr_ad     Position  Cell  Count
0          1     1   2993
3          3     1   1529
6          4     1    190
7          5     1     44
10         8     1   2853
donor3_lineage8
[ -1   2   5   7   8   9  12  13  15  18  21  23  24  25  26  27  28  30
  32  33  37  38  39  40  41  42  43  44  46  47  48  49  51  52  53  54
  55  56  57  59  60  61  62  65  67  68  70  71  72  74  76  78  79  80
  81  82  83  84  87  88  91  93  95  97  98  99 101 102 103 104 106 107
 108 110 111 112 113 114 115 117 119 121 122 125 126 127 128 130 132 133
 134 139 140 142 144 145 146 148 149 151 153 154 156 157 158 159 160 161
 163 164 165 166 168 169 170 173 175 176 177 178 183 189 194 195 204 207
 214 215 216 217 219 223 226 227 228 231 232 233 239 243 245 246 247 249
 253 259 260 267 270 271 274 276 281 284 286 288 291 293 295 296 298 306
 309 311 312 316 318 322 323 326 330 335 337 338 340 341 343 345 350 353
 354 357 358 364 368 373 378 379 382 383 387 388 389 391 392 396 397 398
 400 402 403 404 405 410 415 430 432 436 438]
lineage 9: 13 cells
(737, 3)
(737, 3)

curr_ad    Position  Cell  Count
0         1     1   5087
3         2     1   2604
6         3     1    329
8         4     1      4
9         5     1      4
donor3_lineage9
[ -1   0   1   2   5   7   8   9  12  23  24  26  33  37  38  40  45  47
  48  49  52  53  56  57  61  62  67  68  74  77  79  80  81  87  88  90
  91  97  98  99 101 102 103 104 106 108 110 112 113 114 115 119 121 122
 125 126 127 128 133 134 140 142 144 145 146 148 149 151 153 156 157 158
 159 160 161 163 165 166 169 170 171 173 174 175 176 177 178 183 184 194
 198 215 219 220 223 226 227 228 231 233 234 235 243 245 248 254 258 267
 270 274 276 280 281 283 286 288 296 304 306 309 311 312 318 322 323 324
 334 335 338 340 343 345 347 350 353 354 357 358 359 364 365 367 368 377
 379 383 385 389 391 392 393 396 403 404 406 419 421 426 430 432 438]
lineage 10: 11 cells
(618, 3)
(618, 3)
curr_ad     Position  Cell  Count
0          1     1    127
3          4     1     20
6          5     1      3
9          7     1      2
10         8     1    124
donor3_lineage10
[ -1   2   5   7   8   9  12  15  16  23  24  26  30  32  33  37  38  40
  45  47  49  52  56  57  61  62  67  68  74  77  79  80  81  87  88  90
  91  97  98  99 101 102 104 106 108 110 112 113 114 115 119 121 122 125
 126 127 128 133 134 140 142 144 145 146 148 151 153 156 157 158 159 160
 161 163 164 165 166 167 170 173 177 178 183 195 207 215 217 219 223 224
 226 227 228 231 233 234 236 238 241 243 245 248 249 251 255 258 265 266
 270 274 276 282 284 286 288 289 291 293 295 296 298 304 309 312 316 318
 321 329 335 337 338 340 341 345 346 350 351 354 357 358 361 362 364 368
 373 378 379 382 383 387 389 391 392 393 398 403 405 407 409 411 415 419
 421 422 423 430 432 439 440]
lineage 11: 11 cells
(588, 3)
(588, 3)
curr_ad     Position  Cell  Count
0          1     1    343
3          2     1    121
6          3     1     16
10         6     1    256
24        10     1    174
donor3_lineage11
[ -1   1   2   3   5   7   8   9  12  15  16  19  20  23  24  26  27  30
  31  33  37  38  39  40  42  44  45  47  48  50  52  53  55  56  57  61
  62  64  65  66  67  68  69  70  73  74  76  77  78  79  80  81  82  83
  84  86  87  88  90  91  93  95  97  98  99 101 102 103 104 106 108 110
 111 112 113 114 115 117 119 120 121 122 123 125 126 127 128 129 130 132
 133 134 135 138 140 141 142 144 145 146 148 149 151 153 154 156 157 158
 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176
 177 178 180 181 183 187 188 189 190 194 195 197 198 199 202 203 204 205
 207 213 215 216 217 219 221 222 223 224 226 227 228 231 235 236 238 239
 243 245 247 248 249 250 253 255 256 259 262 265 266 267 270 271 273 274
 276 280 281 284 285 286 288 289 291 292 293 294 295 296 297 304 309 312
 314 316 318 320 321 323 324 329 330 331 335 336 338 340 341 343 345 347
 350 353 354 357 358 359 360 361 364 367 368 373 375 377 378 379 381 382
 383 385 386 388 389 391 392 393 394 395 396 397 398 400 402 403 404 405
 409 410 412 415 416 421 427 430 432 438 439 440]
lineage 12: 29 cells
(1587, 3)
(1587, 3)
curr_ad     Position  Cell  Count
0          1     1   2917
3          3     1   1508
6          5     1    162
8          6     1      2
10         8     1   3114
donor3_lineage12
[ -1   2   5   7   8   9  12  15  16  23  24  26  30  33  37  38  40  45
  47  52  53  57  67  68  74  77  79  80  81  87  88  90  91  97  98  99
 101 102 104 106 108 110 112 113 114 115 119 122 125 126 127 128 133 134
 140 142 144 145 146 148 149 151 153 156 157 158 159 160 161 163 164 165
 166 167 169 170 171 172 173 174 175 176 177 178 183 189 194 195 199 204
 207 213 215 216 217 219 222 223 226 227 228 231 234 238 241 243 245 247
 248 249 267 270 271 273 274 280 286 288 289 293 295 296 299 304 309 311
 315 316 318 321 322 328 330 331 335 336 338 340 341 342 345 347 348 353
 354 357 358 364 369 371 373 375 379 383 386 388 391 392 395 397 402 404
 410 419 421 426 432 434 436 437 438 440]
lineage 13: 18 cells
(889, 3)
(889, 3)
curr_ad     Position  Cell  Count
0          1     1    237
3          2     1     88
6          3     1     15
10         6     1    193
24        10     1    107
donor3_lineage13
[ -1   2   5   8   9  12  15  23  24  26  27  30  33  37  38  40  45  47
  48  49  52  53  55  56  57  62  67  68  74  76  77  80  81  87  88  91
  97  98  99 101 102 103 104 106 108 112 113 114 115 119 121 122 125 126
 127 128 133 140 142 144 145 146 148 149 151 156 157 158 160 161 163 164
 165 169 170 172 173 175 176 177 178 183 189 195 198 199 204 213 215 221
 222 223 224 226 227 228 231 235 239 243 245 247 248 249 251 253 259 266
 271 274 275 276 280 282 284 286 288 295 303 304 306 312 314 316 318 323
 326 331 335 338 339 340 341 345 347 350 357 358 359 364 365 368 375 378
 379 381 382 388 389 391 392 393 394 396 402 404 409 411 421 430 432 436
 440]
lineage 14: 13 cells
(678, 3)
(678, 3)
curr_ad     Position  Cell  Count
0          1     1    466
3          2     1    191
6          3     1     22
9          4     1      6
10         5     1    384
donor3_lineage14
[ -1   1   2   5   7   8   9  10  12  15  20  23  24  26  30  33  37  38
  39  40  45  47  48  49  52  53  55  56  57  61  62  67  68  70  74  76
  77  79  80  81  87  88  90  91  93  97  98  99 101 102 103 104 106 107
 108 110 112 113 114 115 117 119 120 121 122 125 126 127 128 129 133 134
 140 142 144 145 146 148 149 151 153 156 157 159 160 161 163 164 165 166
 167 169 170 171 172 173 174 175 176 177 178 182 183 189 194 195 197 200
 207 210 215 216 219 221 222 223 226 227 231 233 234 236 239 243 245 247
 248 250 253 254 256 259 260 266 267 270 271 273 274 276 280 281 282 283
 286 288 291 293 295 300 309 311 312 313 314 318 319 321 325 328 329 335
 340 343 345 350 351 353 354 357 358 359 362 365 368 373 374 375 378 379
 381 382 386 387 389 391 392 396 397 398 402 404 410 416 417 421 422 426
 434 436 438 439]
lineage 15: 21 cells
(1063, 3)
(1063, 3)
curr_ad     Position  Cell  Count
0          1     1   2274
3          3     1   1071
6          4     1    144
8          5     1     39
10         7     1   1855
donor3_lineage15
[ -1   1   2   3   5   7   8   9  12  15  23  24  26  33  37  39  40  45
  47  48  49  52  53  55  56  57  61  62  67  68  74  76  77  79  80  81
  86  87  88  90  91  97  98  99 101 102 103 104 106 108 110 112 113 114
 115 119 121 125 126 127 128 133 134 140 142 144 145 146 148 149 151 153
 156 157 158 159 160 161 163 164 165 167 170 171 172 173 174 175 176 177
 178 183 189 194 195 199 204 206 213 215 222 223 226 227 228 229 231 235
 236 243 245 248 249 251 253 256 257 260 267 270 274 276 277 280 281 283
 284 286 288 290 291 293 295 296 299 306 311 313 314 318 329 330 335 338
 340 341 345 347 350 353 354 358 362 364 368 373 375 377 378 379 389 391
 392 394 397 400 402 403 405 409 415 422 425 427 436 439]
lineage 16: 15 cells
(738, 3)
(738, 3)
curr_ad     Position  Cell  Count
0          1     1    496
3          3     1    216
6          5     1     24
10         8     1    889
24        11     1    569
donor3_lineage16
[ -1   2   5   7   8   9  12  15  16  18  20  23  24  26  30  31  33  37
  38  39  40  41  42  44  47  48  49  51  52  56  59  62  64  65  67  68
  70  74  76  79  80  81  84  88  91  97  98  99 100 104 106 110 113 114
 115 119 121 122 123 124 125 126 127 129 132 133 134 137 138 140 141 142
 144 145 148 149 152 153 154 156 157 160 161 163 164 165 166 167 169 171
 172 173 174 177 178 181 183 189 209 247 258 271 341 353 373 379 392 400
 409 410]
lineage 17: 3 cells
(175, 3)
(175, 3)
curr_ad    Position  Cell  Count
0         1     1   5260
3         2     1   2806
6         3     1    306
8         4     1     14
9         5     1    127
donor3_lineage17
[ -1   0   1   2   5   6   7   8   9  12  15  16  23  24  26  28  29  30
  31  33  37  38  39  40  43  45  47  48  49  52  53  55  56  57  58  61
  62  67  68  74  76  77  78  79  80  81  84  87  88  90  91  97  98 101
 102 104 105 106 108 110 112 113 114 115 117 119 121 122 123 125 126 127
 128 130 133 134 140 142 144 145 146 147 148 149 151 153 156 157 158 159
 160 161 162 163 165 166 167 168 169 170 171 172 173 174 175 176 177 178
 183 189 194 195 198 199 204 207 215 217 219 221 222 227 228 231 233 234
 235 237 242 243 245 248 260 264 265 267 270 273 274 276 280 282 284 286
 288 290 291 293 295 296 298 300 304 305 309 310 312 314 316 318 321 322
 324 328 329 331 335 338 340 341 343 344 345 347 349 350 353 356 357 358
 359 362 364 365 368 373 374 379 381 382 383 386 392 393 396 397 398 402
 403 404 410 411 412 417 421 427 430 431 432 434 436 439]
lineage 18: 20 cells
(1038, 3)
(1038, 3)
curr_ad    Position  Cell  Count
0         1     1   4309
2         3     1      5
3         4     1   3072
6         5     1    194
7         6     1      3
donor3_lineage18

[ -1   2   5   7   8   9  12  13  15  18  20  21  23  24  25  26  29  32
  33  34  37  38  39  40  42  45  47  48  49  52  53  54  55  56  57  60
  61  62  63  64  67  68  70  71  74  76  77  78  79  80  81  87  88  90
  91  92  97  98  99 102 104 106 107 108 110 111 112 113 114 115 119 121
 122 123 124 125 126 127 128 133 134 135 137 139 140 142 144 145 146 148
 149 151 153 156 157 158 159 160 161 163 164 165 166 167 169 170 173 174
 175 176 177 178 183 189 195 198 199 207 215 217 219 222 223 224 227 228
 230 231 233 236 239 243 245 248 249 258 259 267 269 270 271 273 274 276
 277 280 282 284 286 288 291 295 296 304 305 308 309 311 312 316 318 321
 323 330 331 336 338 340 341 342 343 345 347 350 351 353 354 357 358 359
 364 373 374 375 378 379 380 382 386 388 389 392 393 396 397 398 402 405
 410 411 415 419 421 422 432 436 439]
lineage 19: 17 cells
(921, 3)
(921, 3)
curr_ad     Position  Cell  Count
0          1     1   3404
3          2     1   2059
6          3     1    108
10         6     1   2599
13         7     1      3
donor3_lineage19
[ -1   2   5   9  23  26  33  37  40  45  47  52  53  57  67  68  74  77
  79  80  81  88  91  97  98 101 102 108 113 114 115 119 122 125 126 127
 128 133 142 144 145 146 156 157 159 161 163 170 171 172 173 174 175 176
 177 178 183 189 195 207 223 238 239 245 256 267 270 331 335 340 345 349
 359 379 388]
lineage 20: 2 cells
(115, 3)
(115, 3)
curr_ad     Position  Cell  Count
0          1     1    215
3          2     1     61
6          3     1      6
10         4     1    155
24         5     1     65
donor3_lineage20
[ -1   1   2   5   7   8   9  10  12  15  23  24  26  30  32  33  37  38
  40  42  45  47  48  49  52  53  55  56  57  61  62  67  68  74  77  78
  79  80  81  87  88  90  91  97  98  99 101 102 103 104 106 108 110 112
 113 114 115 119 121 122 125 126 127 128 133 134 140 142 144 145 146 148
 149 151 153 156 157 158 159 160 161 163 164 165 166 167 168 169 170 171
 172 173 174 175 176 177 178 183 189 194 195 198 199 204 207 214 215 217
 219 222 223 226 227 228 229 231 233 234 235 236 239 241 243 245 246 247
 248 249 250 258 259 260 261 264 265 266 267 270 271 273 274 276 280 282
 284 285 286 288 291 293 294 295 296 297 304 306 309 311 312 314 316 318
 321 322 328 329 330 331 335 337 338 340 341 342 343 345 346 347 350 353
 354 357 358 359 362 364 365 368 373 375 377 378 379 381 382 386 387 388
 389 391 392 394 395 396 398 401 402 403 404 405 408 410 411 414 415 421
 426 427 428 430 432 436 438 439]
lineage 21: 30 cells
(1564, 3)
(1564, 3)
curr_ad     Position  Cell  Count
0          1     1    263
3          3     1     76
6          4     1     14
10         7     1    184
24        11     1     77
donor3_lineage21
[ -1   0   1   2   3   5   7   8   9  10  11  12  14  15  16  19  21  22
  23  24  26  30  32  33  37  38  39  40  45  47  48  49  51  52  53  55
  56  57  61  62  67  68  71  72  74  76  77  78  79  80  81  83  84  87
  88  90  91  94  95  97  98  99 101 102 103 104 105 106 107 108 110 111
 112 113 114 115 119 121 122 125 126 127 128 130 133 134 139 140 141 142
 144 145 146 148 149 151 152 153 154 156 157 158 159 160 161 163 164 165
 166 167 169 170 171 172 173 174 175 176 177 178 183 194 195 198 204 207
 215 217 219 220 221 223 225 226 227 228 231 233 236 239 241 243 245 248
 251 254 258 259 261 265 266 267 270 271 274 276 277 280 282 284 286 288
 289 290 291 292 293 295 296 298 299 304 309 310 311 312 316 318 321 322
 328 330 331 334 335 338 340 341 343 345 347 350 353 354 355 356 357 358
 359 364 365 368 373 375 377 378 379 381 382 388 389 391 392 394 395 396
 397 398 400 402 408 409 410 411 412 415 419 420 421 426 430 431 432 436
 439 440]
lineage 22: 19 cells
(1111, 3)
(1111, 3)
curr_ad     Position  Cell  Count
0          1     1   4061
3          4     1   2948
6          6     1    199
9          8     1      5
10         9     1   3840
donor3_lineage22
[ -1   2   5   7   8   9  15  16  23  24  26  30  33  37  38  40  42  47
  49  52  53  55  57  62  67  68  74  77  79  80  81  87  88  91  97  98
  99 101 102 103 106 108 112 113 114 115 119 122 125 126 127 128 133 134
 140 142 144 145 146 148 149 151 156 157 158 159 160 161 163 166 167 170
 173 175 176 177 178 183 189 194 195 198 215 219 220 221 227 228 231 232
 239 243 245 247 250 259 265 266 267 270 274 276 280 282 284 286 288 290
 291 298 300 304 309 311 312 313 314 318 319 321 328 330 333 335 338 340
 347 350 353 354 357 358 361 363 364 365 368 373 374 375 377 378 379 382
 387 389 390 392 393 396 397 398 400 403 405 409 412 415 416 428 430 432
 436 438 440]
lineage 23: 14 cells
(666, 3)
(666, 3)
curr_ad     Position  Cell  Count
0          1     1    184
3          2     1     78
6          3     1     13
10         6     1    204
24         9     1    178
donor3_lineage23
[ -1   2   5   8   9  23  26  30  33  37  40  45  47  48  52  53  55  57
  61  67  68  74  79  80  81  87  88  91  97  98  99 101 102 106 108 110
 113 114 115 119 122 125 126 127 128 133 140 142 144 145 146 148 149 151
 153 157 159 161 163 166 170 177 178 183 185 195 204 207 214 215 222 224
 226 227 228 234 244 245 251 259 267 270 271 272 274 276 277 280 284 286
 290 291 293 295 296 309 316 318 321 322 335 338 340 341 347 350 353 354
 357 358 359 364 365 368 373 377 379 381 386 388 389 391 392 393 400 403
 405 409 419 421 430 432 436 439]
lineage 24: 8 cells
(408, 3)
(408, 3)
curr_ad     Position  Cell  Count
0          1     1    154
3          2     1    100
6          3     1     12
10         5     1    156
24         6     1     67
donor3_lineage24
[ -1   2   5   7   8   9  10  12  15  16  23  24  26  32  33  37  38  40
  45  47  48  52  53  55  56  57  61  67  68  74  77  79  80  81  87  88
  90  91  97  98  99 101 102 103 104 106 108 112 113 114 115 119 121 122
 125 126 127 128 133 134 140 142 144 145 146 148 149 151 156 157 158 159
 160 161 163 165 166 167 170 171 173 174 175 176 177 178 183 194 195 204
 215 219 227 231 235 236 243 245 247 248 250 254 255 259 261 268 269 270
 275 276 280 281 284 286 288 289 293 296 298 309 310 312 316 318 320 322
 323 324 329 330 331 334 335 338 341 343 350 354 357 358 363 364 368 369
 377 378 379 382 391 393 394 398 400 401 402 404 411 419 421 432 439]
lineage 25: 15 cells
(757, 3)
(757, 3)
curr_ad     Position  Cell  Count
0          1     1    240
3          2     1     85
6          3     1     20
10         6     1    250
24        11     1    208
donor3_lineage25
[ -1   2   5   9  15  16  19  20  23  26  29  31  33  36  37  38  39  40
  42  47  48  49  50  52  54  56  57  59  60  64  67  68  74  75  79  80
  81  82  84  87  88  91  95  99 101 102 105 106 108 111 112 113 114 115
 119 122 125 126 127 128 130 131 134 138 139 140 141 144 145 148 149 153
 156 157 159 160 161 162 163 164 165 169 170 171 173 174 175 176 177 178
 183 195 288 398 409 436]
lineage 26: 2 cells
(126, 3)
(126, 3)
curr_ad     Position  Cell  Count
0          1     1   6043
3          2     1   2496
6          3     1    302
10         4     1   4017
16         5     1      4
donor3_lineage26
[ -1   1   2   5   7   8   9  10  12  15  23  26  33  37  38  40  47  49
  52  53  56  57  61  67  68  74  76  77  79  80  81  87  88  91  97  98
 101 102 106 108 110 112 113 114 115 119 122 125 126 127 128 133 134 140
 142 144 145 146 148 149 151 153 156 157 159 160 161 163 166 169 170 173
 175 176 177 178 183 195 198 204 207 217 227 231 236 239 243 245 247 248
 249 254 259 260 261 267 270 271 274 276 280 282 284 286 288 298 305 312
 316 318 322 323 329 331 335 338 340 345 347 353 354 357 358 359 362 368
 373 375 378 379 389 391 392 393 396 400 401 419 421 422 429 436 438 439
 440]
lineage 27: 13 cells
(618, 3)
(618, 3)
curr_ad     Position  Cell  Count
0          1     1    204
2          2     1      2
3          3     1     61
6          4     1      7
10         7     1    138
donor3_lineage27
[]
lineage 28: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage28
[ -1   2   5   6   7   8   9  12  15  18  19  23  24  26  32  33  34  37
  38  39  40  44  45  47  48  49  52  53  55  56  57  58  60  61  62  64
  66  67  68  70  71  74  77  78  79  80  81  82  84  87  88  90  91  93
  95  97  98  99 101 102 103 104 106 107 108 110 113 114 115 116 117 119
 121 122 124 125 126 127 133 134 135 140 142 144 145 146 148 151 152 154
 156 157 159 160 161 163 164 165 166 167 168 169 170 171 172 173 174 175
 176 177 178 183 189 195 198 199 204 207 215 216 217 219 224 226 228 231
 233 239 241 243 245 247 248 251 259 260 261 267 270 273 274 275 276 286
 288 289 291 293 295 296 298 299 304 309 311 316 318 321 322 323 326 332
 335 338 340 341 342 343 350 353 354 357 358 359 361 364 365 368 373 375
 379 382 386 387 388 391 392 393 394 397 405 408 409 410 415 420 421 428
 430 432 433 436 440]
lineage 29: 14 cells
(747, 3)
(747, 3)
curr_ad    Position  Cell  Count
0         1     1   4201
3         2     1   2447
6         3     1    277
7         4     1      3
8         5     1      4
donor3_lineage29
[ -1   2   5   7   8   9  23  24  26  33  37  38  40  45  47  52  67  68
  74  77  79  80  81  88  90  97  98 101 102 104 108 110 112 113 114 115
 119 121 122 125 126 127 133 140 144 145 151 156 157 158 161 163 169 170
 171 172 173 174 177 178 183 189 195 207 217 224 226 243 245 249 254 259
 267 270 274 276 284 288 290 291 296 309 314 316 318 321 323 329 330 334
 345 347 354 357 358 364 373 378 379 381 391 392 400 405 415 425 439]
lineage 30: 7 cells
(315, 3)
(315, 3)
curr_ad     Position  Cell  Count
0          1     1     91
3          2     1     96
9          5     1      2
10         6     1    171
24         7     1     80
donor3_lineage30

[ -1   0   2   5   6   7   8   9  10  12  15  18  19  21  23  24  26  29
  30  33  37  38  39  40  41  44  45  47  48  49  52  53  55  56  57  59
  61  62  64  67  68  73  74  76  77  78  79  80  81  82  86  87  88  90
  91  92  97  98  99 101 102 103 104 105 106 108 109 110 112 113 114 115
 119 121 122 125 126 127 128 129 133 135 136 138 139 140 142 144 145 146
 149 150 151 153 154 155 156 157 158 159 160 161 162 163 164 165 166 168
 169 170 171 172 173 174 175 176 177 178 183 189 195 212 215 217 222 224
 226 227 235 236 243 245 249 254 259 267 270 273 276 280 284 288 291 294
 298 300 304 309 311 314 316 318 327 334 335 338 340 341 345 350 353 357
 358 359 364 365 373 379 382 386 388 389 391 392 393 396 403 404 405 409
 411 415 427 428 432 433 436 439]
lineage 31: 11 cells
(624, 3)
(624, 3)
curr_ad    Position  Cell  Count
0         1     1   6244
1         2     1      2
3         3     1   2883
6         4     1    241
7         5     1      3
donor3_lineage31
[ -1   0   1   2   5   6   7   8   9  10  11  12  13  15  16  17  23  24
  26  27  30  33  35  37  38  39  40  42  43  44  45  47  48  49  51  52
  53  55  56  57  58  59  60  61  62  64  65  67  68  70  74  76  77  78
  79  80  81  82  83  84  87  88  90  91  92  95  97  98  99 101 102 103
 104 105 106 107 108 110 111 112 113 114 115 117 119 120 121 122 123 124
 125 126 127 128 132 133 134 135 138 139 140 141 142 144 145 146 148 149
 151 152 153 154 156 157 158 159 160 161 162 163 164 165 166 167 168 169
 170 171 172 173 174 175 176 177 178 180 183 185 189 193 194 195 197 198
 199 200 204 207 210 214 215 216 217 219 222 223 226 227 228 229 231 233
 235 236 238 239 241 243 244 245 247 248 249 250 251 252 253 254 259 260
 261 267 270 271 273 274 276 277 280 281 282 283 284 286 288 289 291 293
 295 296 298 299 303 304 309 311 312 314 316 318 322 323 329 330 333 335
 338 340 341 345 347 350 352 353 354 357 358 359 361 362 363 364 365 373
 374 375 378 379 381 382 384 386 388 389 391 392 393 394 396 398 400 403
 404 406 408 409 410 411 415 419 426 430 432 438 439 440]
lineage 32: 23 cells
(1356, 3)
(1356, 3)
curr_ad    Position  Cell  Count
0         1     1  12439
3         4     1   4626
6         5     1    637
7         6     1      4
9         8     1      5
donor3_lineage32
[ -1   2   3   5   7   8   9  12  15  18  21  23  24  26  27  29  31  32
  33  34  37  38  39  40  45  47  48  49  50  51  52  53  55  56  57  59
  60  62  64  67  68  70  73  74  77  79  80  81  84  86  87  88  89  90
  91  95  97  98  99 101 102 103 104 106 108 110 112 113 114 115 117 119
 122 123 124 125 126 127 128 131 133 134 140 141 142 144 145 146 148 149
 151 152 153 154 156 157 159 160 161 162 163 166 167 169 170 171 172 173
 174 175 176 177 178 181 182 183 189 194 195 198 204 207 209 211 215 217
 219 221 222 223 226 227 229 231 233 234 235 236 243 245 247 249 253 260
 267 270 271 273 274 275 276 280 284 286 288 290 291 293 296 297 298 300
 304 309 312 316 318 321 322 323 330 331 334 335 338 340 341 345 347 348
 350 353 354 357 358 359 362 364 366 368 373 374 375 377 378 379 391 392
 396 397 404 405 409 410 411 412 430 432 433 438 439]
lineage 33: 17 cells
(905, 3)
(905, 3)
curr_ad    Position  Cell  Count
0         1     1   4319
3         2     1   2059
4         3     1      2
6         4     1    246
8         5     1      6
donor3_lineage33
[ -1   1   2   5   8   9  10  12  15  23  24  26  30  32  33  37  38  39
  40  45  47  48  49  52  53  55  56  57  62  67  68  74  76  77  79  80
  81  87  88  90  91  97  98  99 101 102 103 104 106 108 110 112 113 114
 115 119 121 122 125 126 127 128 133 134 140 142 144 145 146 148 149 151
 153 156 157 158 159 160 161 163 164 165 167 170 171 172 173 174 175 176
 177 178 183 186 194 195 207 215 216 217 219 221 227 228 231 239 240 243
 245 247 248 253 270 271 273 274 276 280 284 286 295 296 298 309 312 316
 318 321 335 340 341 345 347 350 353 357 358 364 373 374 375 379 381 386
 389 390 394 402 404 405 410 415 430 439 440]
lineage 34: 12 cells
(597, 3)
(597, 3)
curr_ad    Position  Cell  Count
0         1     1    781
2         2     1      5
3         3     1    261
6         4     1     67
9         5     1      4
donor3_lineage34
[ -1   1   2   3   4   5   6   7   8   9  10  11  12  13  15  18  19  20
  21  22  23  24  26  27  30  32  33  34  35  36  37  38  39  40  41  42
  43  44  45  47  48  49  50  51  52  53  54  55  56  57  59  61  62  65
  67  68  69  70  73  74  75  76  77  78  79  80  81  82  83  84  85  86
  87  88  90  91  92  95  97  98  99 101 102 103 104 106 108 109 110 112
 113 114 115 117 119 121 122 124 125 126 127 128 130 133 134 135 137 139
 140 141 142 143 144 145 146 148 149 151 152 153 154 156 157 158 159 160
 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178
 180 181 183 194 195 214 219 222 223 227 228 231 233 235 236 239 243 245
 248 249 251 259 260 261 267 268 270 271 273 274 276 278 280 282 286 288
 291 296 298 306 309 311 312 314 318 329 331 335 340 347 350 353 357 358
 359 364 365 368 373 374 379 381 383 385 388 392 393 397 398 404 406 410
 411 412 415 427 436]
lineage 35: 15 cells
(1170, 3)
(1170, 3)
curr_ad    Position  Cell  Count
0         1     1   6679
2         2     1     57
3         3     1   3757
4         4     1      2
5         5     1      2
donor3_lineage35
[ -1   2   3   5   8   9  12  15  16  23  24  26  30  33  37  38  40  45
  47  48  49  52  53  55  56  57  61  62  67  68  74  77  79  80  81  87
  88  90  91  97  98  99 101 102 103 104 106 108 110 112 113 114 115 119
 121 122 125 126 127 128 133 134 140 142 144 145 146 148 149 151 153 156
 157 158 159 160 161 163 164 166 170 171 172 173 174 175 176 177 178 183
 189 195 204 207 213 215 217 223 226 231 235 243 247 250 253 254 260 261
 263 267 274 276 280 282 284 286 288 290 293 294 295 298 302 304 311 312
 316 318 322 335 340 341 343 345 347 350 353 354 358 359 364 368 373 378
 379 381 382 383 388 391 392 395 400 403 404 406 409 410 412 419 421 426
 430]
lineage 36: 15 cells
(745, 3)
(745, 3)
curr_ad     Position  Cell  Count
0          1     1    180
3          2     1     76
6          4     1     16
10         6     1    116
16         8     1      2
donor3_lineage36
[ -1   1   2   3   5   7   8   9  10  12  15  19  23  24  26  27  29  32
  33  36  37  38  39  40  41  45  47  48  49  52  53  55  56  57  59  61
  62  64  66  67  68  69  70  74  76  77  78  79  80  81  87  88  91  92
  95  96  97  98  99 101 102 104 105 106 108 110 111 112 113 114 115 118
 119 121 122 124 125 126 127 128 129 131 132 133 134 138 140 141 142 144
 145 146 148 149 151 153 154 156 157 158 159 160 161 163 164 165 166 167
 168 169 170 171 172 173 174 175 176 177 178 179 180 183 189 191 194 195
 198 199 204 207 209 213 214 215 217 219 221 222 223 226 227 228 231 233
 235 239 243 245 248 249 251 253 254 255 259 260 266 267 270 271 274 276
 277 280 282 284 286 287 288 289 290 291 293 295 296 298 305 306 309 311
 312 314 317 318 321 322 323 325 329 330 331 333 335 336 338 340 341 345
 347 350 353 354 357 358 359 361 364 365 368 370 374 375 377 378 379 381
 382 386 387 388 391 392 393 396 397 400 402 404 409 410 411 412 415 419
 421 422 430 432 433 438 439 440]
lineage 37: 23 cells
(1264, 3)
(1264, 3)
curr_ad    Position  Cell  Count
0         1     1   3178
3         3     1   1986
4         4     1      2
6         5     1    189
9         7     1     56
donor3_lineage37
[ -1   0   1   2   3   5   7   8   9  10  12  15  16  23  24  26  27  33
  37  38  40  42  45  47  48  49  52  53  55  56  57  61  62  67  68  74
  76  77  78  79  80  81  87  88  90  91  97  98  99 101 102 103 104 106
 108 110 112 113 114 115 119 121 122 125 126 127 128 133 134 142 144 145
 146 148 149 151 153 156 157 158 159 160 161 163 164 165 166 167 169 170
 171 172 173 174 175 176 177 178 183 189 194 195 198 204 207 209 213 215
 217 219 222 223 226 227 228 231 233 234 236 243 245 247 249 251 254 259
 260 261 266 267 270 274 276 278 282 284 286 288 293 295 299 304 309 312
 314 316 317 318 322 323 328 329 330 331 334 335 336 338 340 341 342 345
 347 350 353 354 357 358 362 363 364 368 373 377 378 379 381 385 386 387
 388 391 392 393 394 396 397 398 404 405 408 409 410 415 416 432 435 436
 438 439]
lineage 38: 24 cells
(1155, 3)
(1155, 3)
curr_ad     Position  Cell  Count
0          1     1    102
3          4     1     41
6          6     1      7
10         9     1    151
24        14     1     90
donor3_lineage38

[ -1   1   2   5   8   9  11  12  13  15  19  21  23  24  26  30  31  33
  36  37  39  40  41  44  45  47  48  49  50  52  53  55  56  57  60  61
  62  64  65  67  68  69  70  71  72  74  77  80  81  83  84  86  88  90
  91  95  97  98  99 101 102 103 104 106 107 108 110 112 113 114 115 117
 119 121 122 124 125 126 127 128 130 134 140 142 144 145 146 148 149 151
 152 153 154 156 157 158 160 161 163 164 165 166 167 170 171 172 173 174
 175 176 177 178 179 183 195 221 233 263 312 358 362 378 379]
lineage 39: 2 cells
(174, 3)
(174, 3)
curr_ad    Position  Cell  Count
0         1     1   6410
2         2     1    394
3         3     1   3412
6         4     1    420
9         5     1     28
donor3_lineage39
cell meta
             new index                        ID              raw ID  \
donor_index
1                    7  AACCGATAGCCTTTGA-1_Input  AACCGATAGCCTTTGA-1
2                   14  ACAATCGAGTATACCC-1_Input  ACAATCGAGTATACCC-1
3                   19  ACAGGCCGTTGAATAG-1_Input  ACAGGCCGTTGAATAG-1
4                   20  ACATGCAGTCATAGCT-1_Input  ACATGCAGTCATAGCT-1
5                   22  ACCATCCTCACGTCAA-1_Input  ACCATCCTCACGTCAA-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      3       17              1
2               Input      3       12              1
3               Input      3        8              1
4               Input      3       29              1
5               Input      3       12              2
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor4.AD.mtx
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor4.DP.mtx
curr_vcf
  index_x #CHROM    POS REF_x ALT  strand_correlation_x     vmr_x  \
0     NaN   chrM  16512   NaN   C                   NaN       NaN
1   73A>G   chrM     73   73A   G              0.996919  0.382955
2  146T>C   chrM    146  146T   C              0.993106  0.591151
3  150C>T   chrM    150  150C   T              0.979327  0.670372
4  195T>C   chrM    195  195T   C              0.990257  0.623396

   n_cells_over_5_x  n_cells_over_20_x  \
0               NaN                NaN
1             119.0              116.0
2               2.0                1.0
3              61.0               49.0
4              44.0               31.0

   old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Input/MT/cellr_True/Input_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                1.0
2                                                2.0
3                                                3.0
4                                                4.0

   ... n_cells_over_20_y  \
0  ...               NaN
1  ...             329.0
2  ...               NaN
3  ...             177.0
4  ...              22.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Control/MT/cellr_True/Control_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                2.0
2                                                NaN
3                                                3.0
4                                                4.0

      index     REF  strand_correlation       vmr  n_cells_over_5  \
0  16512T>C  16512T            0.772501  0.013277             0.0
1     73A>G     73A            0.995236  0.339875          2768.0
2    146T>C    146T            0.990833  0.665951            15.0
3    150C>T    150C            0.977151  0.800561           714.0
4    195T>C    195T            0.971955  0.669470          1103.0

  n_cells_over_20  \
0             0.0
1          2699.0
2             6.0
3           664.0
4          1027.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Flt3l/MT/cellr_True/Flt3l_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                              368.0
1                                                3.0
2                                                6.0
3                                                9.0
4                                               11.0

   new ID
0     495
1       1
2       2
3       3
4       4

[5 rows x 25 columns]
curr_labels
   new index                        ID              raw ID condition  donor  \
0          4  AAATGCCAGGAACCGT-1_Input  AAATGCCAGGAACCGT-1     Input    NaN
1          6  AACAAAGCAATTCAGC-1_Input  AACAAAGCAATTCAGC-1     Input    NaN
2         12  AATACGCGTCATCGTA-1_Input  AATACGCGTCATCGTA-1     Input    NaN
3         27  ACTAGGTGTATTCACG-1_Input  ACTAGGTGTATTCACG-1     Input    NaN
4         40  ATCCTGCAGACTAATG-1_Input  ATCCTGCAGACTAATG-1     Input    NaN

   donor_index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
cell meta
             new index                        ID              raw ID  \
donor_index
1                    4  AAATGCCAGGAACCGT-1_Input  AAATGCCAGGAACCGT-1
2                    6  AACAAAGCAATTCAGC-1_Input  AACAAAGCAATTCAGC-1
3                   12  AATACGCGTCATCGTA-1_Input  AATACGCGTCATCGTA-1
4                   27  ACTAGGTGTATTCACG-1_Input  ACTAGGTGTATTCACG-1
5                   40  ATCCTGCAGACTAATG-1_Input  ATCCTGCAGACTAATG-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      4      NaN            NaN
2               Input      4      NaN            NaN
3               Input      4      NaN            NaN
4               Input      4      NaN            NaN
5               Input      4      NaN            NaN
[ -1   0   1   2   5   7   8   9  10  11  12  13  16  17  20  21  25  27
  28  29  33  34  35  36  37  39  40  41  42  43  46  47  49  50  51  53
  54  55  57  58  59  61  62  63  64  66  67  69  70  71  72  74  76  78
  79  80  81  82  85  86  88  89  92  94  99 100 101 102 104 105 106 107
 108 109 110 111 113 115 116 117 118 120 122 124 125 126 128 129 130 131
 132 133 135 136 137 138 144 145 147 148 149 150 151 152 153 155 157 159
 160 161 162 163 164 165 166 167 168 169 170 172 173 174 175 176 177 178
 179 180 181 184 186 188 192 194 201 202 204 207 208 210 211 216 219 220
 224 229 231 233 235 240 241 242 243 247 248 249 255 257 260 262 264 265
 266 272 273 274 275 276 277 278 281 283 284 291 292 295 297 299 303 305
 307 310 311 315 321 324 327 331 342 343 346 347 348 349 350 352 355 357
 359 360 362 365 366 369 370 371 373 376 380 384 390 391 392 397 402 403
 406 407 410 411 412 414 418 419 421 424 425 426 434 437 439 447 448]
lineage 0: 24 cells
(766, 3)
(766, 3)
curr_ad    Position  Cell  Count
0         1     1      7
1         2     1      9
2         3     1      2
3         4     1      2
6         5     1   2703
donor4_lineage0
[ -1   1   5   8   9  10  13  16  20  25  27  28  33  35  39  40  41  42
  47  49  50  51  54  55  57  58  59  61  63  64  66  69  70  76  78  80
  81  82  83  88  89  91  92 100 101 102 106 107 109 110 111 113 115 116
 117 118 120 122 123 124 125 128 129 130 131 135 137 138 140 141 144 145
 147 148 149 150 152 153 155 157 158 159 160 161 162 163 164 165 166 167
 168 169 170 172 173 174 175 176 177 178 179 180 181 186 194 204 207 257
 272 281 297 305 324 329 331 362 369 402 405 419 421]
lineage 1: 4 cells
(226, 3)
(226, 3)
curr_ad     Position  Cell  Count
0          1     1    184
6          3     1    668
9          4     1     62
11         6     1     32
14         7     1     50
donor4_lineage1

[ -1   1   2   5   8   9  10  13  16  25  27  28  34  35  39  40  42  47
  49  50  51  54  55  57  58  59  63  64  69  70  76  78  80  81  82  88
  89  91  92 100 101 102 104 105 106 107 109 111 113 115 116 117 118 122
 124 125 128 129 130 131 137 138 145 147 148 149 150 152 153 155 157 159
 160 161 162 163 164 166 167 168 169 170 172 173 174 175 176 177 178 179
 180 181 186 194 204 207 210 224 233 240 241 242 248 253 255 257 258 259
 260 264 265 271 277 278 281 282 284 288 295 297 299 307 311 321 327 334
 342 347 350 352 353 362 366 368 369 391 392 393 398 401 402 404 407 412
 413 422 426 436 439 445 449]
lineage 2: 12 cells
(635, 3)
(635, 3)
curr_ad     Position  Cell  Count
6          4     1     80
10         6     1      8
28        11     1      4
36        14     1     10
41        16     1    157
donor4_lineage2
[ -1   2   5   8  10  16  25  27  34  35  39  40  42  44  47  49  50  51
  54  57  58  59  63  64  69  70  76  78  80  82  88  89  91 100 101 102
 106 107 109 111 113 116 117 118 122 124 125 128 129 137 138 148 149 150
 152 153 157 159 161 162 163 164 167 168 169 170 172 173 174 175 176 177
 178 179 180 181 186 194 207 210 220 229 230 231 233 240 241 243 252 257
 260 263 267 273 277 278 282 283 286 290 295 297 299 307 316 321 327 334
 335 341 342 344 347 352 362 365 369 370 377 384 391 393 397 401 403 404
 406 412 415 419 435 439 440]
lineage 3: 8 cells
(266, 3)
(266, 3)
curr_ad     Position  Cell  Count
0          1     1      2
6          3     1    127
11         5     1      2
36        10     1      7
41        12     1    308
donor4_lineage3
[ -1   0   2   3   5   7   8   9  11  12  14  16  20  21  22  25  27  28
  29  30  31  32  33  34  35  39  40  41  42  43  46  47  49  51  53  54
  55  56  57  58  59  61  62  64  66  68  69  70  71  72  73  75  76  77
  78  79  80  81  82  83  84  85  86  88  89  91  92  93  97  99 100 101
 102 104 105 106 107 108 109 111 113 114 115 116 117 118 120 121 122 124
 125 126 127 128 129 130 131 132 133 136 137 138 143 144 145 146 147 148
 149 150 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167
 169 170 172 173 174 175 176 177 178 179 180 181 183 184 186 194 200 207
 210 224 227 229 231 233 240 241 243 245 248 255 257 264 278 284 290 292
 297 299 301 308 310 323 335 343 357 365 370 374 384 391 402 406 414 417
 423 439]
lineage 4: 9 cells
(401, 3)
(401, 3)
curr_ad     Position  Cell  Count
0          1     1      6
6          5     1   1779
13        10     1      2
23        15     1      2
26        16     1      8
donor4_lineage4
[ -1   1   3   5   9  10  13  16  17  25  27  28  31  32  34  35  40  47
  49  50  51  54  57  58  59  64  69  70  76  78  80  81  82  88  89  91
 100 101 104 105 106 107 109 111 113 115 116 117 118 122 124 125 128 129
 130 131 137 138 145 147 149 150 152 153 155 157 159 160 161 162 163 164
 166 167 168 169 170 172 173 176 178 179 180 181 186 207 210 233 237 241
 243 250 252 255 257 264 272 273 274 278 282 283 284 286 295 297 299 303
 307 308 316 321 323 329 331 334 335 341 343 347 350 352 353 358 362 365
 369 370 373 375 376 377 384 385 390 391 392 393 399 401 402 410 412 414
 423 431 436 439 440 447 448]
lineage 5: 12 cells
(414, 3)
(414, 3)
curr_ad     Position  Cell  Count
0          1     1     10
6          4     1    250
14         7     1      7
28        11     1      5
29        12     1      2
donor4_lineage5
[ -1   0   1   4   5   9  10  11  13  14  16  19  22  25  27  34  35  40
  41  42  44  46  47  49  50  51  53  54  55  56  57  58  59  62  64  66
  68  69  70  76  78  80  81  82  83  85  88  89  91  92  96  97 100 101
 102 104 105 106 107 109 111 113 115 116 117 118 122 124 125 128 129 130
 131 136 137 138 144 145 146 147 148 149 150 152 153 155 157 158 159 160
 161 162 163 164 166 167 168 169 170 172 173 174 175 176 177 178 179 180
 181 185 186 194 204 207 209 210 218 224 227 229 230 231 233 234 235 240
 241 242 243 245 248 249 252 255 257 259 262 272 273 274 278 282 284 286
 289 290 292 295 297 299 301 302 303 305 307 308 310 312 315 316 321 323
 324 327 329 331 334 336 340 341 342 343 345 347 348 349 350 352 353 354
 355 357 360 362 363 365 366 369 370 371 373 376 377 380 384 385 386 390
 391 392 393 394 397 400 401 402 403 406 408 410 412 413 414 415 419 421
 422 423 424 426 427 434 436 437 439 440 441 443 445 447 448 449]
lineage 6: 27 cells
(910, 3)
(910, 3)
curr_ad     Position  Cell  Count
0          1     1     21
2          3     1     13
6          5     1   1241
12         8     1      4
14         9     1     49
donor4_lineage6
[ -1   0   2   3   5   8   9  10  27  28  32  34  35  39  40  42  47  50
  51  54  55  57  59  63  69  70  76  78  82  88  89  92 101 107 109 111
 113 116 117 118 122 124 128 129 130 131 137 138 145 147 148 149 150 152
 155 157 159 160 161 162 163 164 167 172 178 179 180 181 186 187 207 210
 220 225 229 233 242 245 247 255 260 272 273 276 278 280 287 295 297 299
 303 305 307 308 314 315 327 329 331 333 335 342 345 347 350 353 362 366
 369 370 371 374 376 379 391 393 397 400 401 402 418 421 442 447]
lineage 7: 10 cells
(276, 3)
(276, 3)
curr_ad      Position  Cell  Count
6           5     1     65
9           6     1      2
41         15     1    146
114        37     1    231
129        43     1      9
donor4_lineage7
[ -1   5   8   9  10  13  17  25  27  28  35  39  40  42  44  47  49  50
  54  55  57  58  59  64  69  70  76  78  79  80  81  82  88  89  91  92
 100 101 104 105 109 111 113 115 116 117 118 122 124 125 128 129 137 138
 145 147 148 149 150 152 153 157 159 160 161 162 163 164 167 172 176 178
 179 186 194 207 210 220 224 235 236 240 241 243 247 251 257 264 272 273
 278 282 284 290 295 297 302 304 321 322 324 329 331 336 340 347 350 352
 357 370 371 375 376 390 391 392 393 394 396 399 401 402 407 410 412 419
 426 440]
lineage 8: 11 cells
(322, 3)
(322, 3)
curr_ad     Position  Cell  Count
6          2     1     99
9          3     1      6
26         8     1      4
36        11     1      6
41        13     1    207
donor4_lineage8
[ -1   2   5   8   9  11  13  17  25  32  35  39  40  42  47  49  50  55
  57  58  59  63  64  69  76  78  80  81  82  88  89  92 100 101 102 104
 105 106 107 109 111 113 115 117 122 124 125 128 129 130 131 137 138 145
 147 149 150 152 153 155 157 159 160 161 162 166 167 169 172 173 174 175
 176 177 178 179 180 181 186 194 204 207 210 220 224 229 231 233 236 237
 240 241 242 243 249 252 255 257 262 264 276 278 279 281 284 286 290 291
 292 297 299 301 305 306 315 321 329 331 334 341 347 348 352 353 357 360
 365 366 367 369 370 373 377 379 384 385 386 391 393 397 399 401 402 404
 409 410 412 413 419 421 423 426 433 441 445]
lineage 9: 14 cells
(420, 3)
(420, 3)
curr_ad     Position  Cell  Count
6          3     1     76
41        13     1    210
56        18     1      4
77        25     1      2
89        30     1      4
donor4_lineage9
[ -1   0   1   2   4   5   9  10  13  15  16  19  27  29  32  35  36  39
  40  41  42  49  50  55  57  59  60  62  63  67  69  70  72  76  78  81
  82  86  88  89  91  92 100 101 104 105 108 109 111 113 115 117 121 122
 124 128 129 130 131 136 137 145 146 147 148 149 150 152 153 155 157 158
 159 160 161 162 163 164 167 168 169 172 173 174 175 176 177 178 179 180
 181 186 194 207 229 233 235 241 242 243 245 249 255 257 268 278 281 282
 283 284 287 290 297 310 315 321 330 331 335 336 341 342 347 350 352 357
 362 365 370 376 382 384 390 391 392 396 397 402 403 405 407 410 412 426
 431 439 440 441 445 448]
lineage 10: 9 cells
(301, 3)
(301, 3)
curr_ad     Position  Cell  Count
0          1     1     22
5          5     1      3
6          6     1   1530
10         7     1     74
14         9     1      6
donor4_lineage10
[ -1   1   2   5  13  16  28  35  40  42  49  50  51  54  57  58  64  76
  89  91 102 106 107 111 113 115 118 122 124 125 130 137 138 145 148 149
 152 153 157 161 162 163 164 166 167 168 170 172 174 175 177 180 181 186
 194 225 238 242 257 281 299 315 336 353 369 384 391 413 421 426 439]
lineage 11: 2 cells
(90, 3)
(90, 3)
curr_ad     Position  Cell  Count
6          4     1     56
17         6     1      6
41         9     1    207
43        10     1      2
50        11     1      2
donor4_lineage11
[ -1   5   8   9  16  25  28  29  34  35  40  42  47  49  54  58  59  63
  69  70  76  78  79  81  88  89  92 100 101 104 105 107 109 111 113 115
 116 117 118 122 125 128 129 130 131 137 138 148 149 150 152 155 157 159
 160 162 163 164 166 167 168 169 170 172 173 174 175 176 177 179 181 186
 194 204 207 210 224 231 233 234 241 243 252 255 257 259 260 263 265 266
 271 272 278 281 282 283 284 286 290 295 297 299 302 303 305 307 321 323
 324 328 329 331 337 341 347 348 350 357 362 366 369 370 371 377 390 391
 392 393 397 400 402 403 406 407 410 414 415 422 426 437 441 443 445 447]
lineage 12: 12 cells
(344, 3)
(344, 3)
curr_ad     Position  Cell  Count
6          2     1     79
30         8     1      4
35         9     1      2
36        10     1      2
41        11     1    277
donor4_lineage12

[ -1   1   5   8   9  10  13  16  17  25  27  28  32  35  39  40  47  49
  50  51  54  55  57  58  59  63  64  70  76  78  79  81  82  88  89  91
  92 100 101 102 104 105 106 107 109 111 113 115 116 117 118 122 124 125
 128 129 130 131 137 138 145 147 148 149 150 152 157 159 160 161 162 163
 164 167 169 170 172 173 174 175 176 177 178 179 180 186 194 207 210 220
 224 233 242 243 245 248 249 255 259 260 272 277 281 282 284 286 292 297
 299 301 305 307 308 321 323 327 329 331 334 336 340 346 347 350 352 353
 355 356 362 365 366 369 370 371 374 376 377 380 390 391 399 400 402 403
 406 410 412 414 415 423 426 431 433 440 445 448 449]
lineage 13: 15 cells
(428, 3)
(428, 3)
curr_ad      Position  Cell  Count
6           3     1     83
41         16     1    175
50         18     1      3
89         34     1      4
114        47     1    181
donor4_lineage13
[ -1   0   1   2   5   8   9  10  11  13  16  17  25  27  35  39  40  42
  44  47  49  50  51  54  57  58  59  64  69  70  76  78  81  91  92 107
 109 111 113 115 116 117 118 122 124 125 128 129 131 137 138 145 147 148
 149 150 152 153 157 159 160 163 164 166 167 168 169 170 172 173 174 175
 176 177 178 179 180 181 186 194 204 207 210 224 229 233 237 240 242 243
 248 255 257 258 260 264 269 272 274 278 281 282 284 286 287 294 297 299
 303 308 310 321 331 336 341 350 353 366 370 371 377 380 384 390 391 397
 400 401 402 404 406 407 415 421 422 423 426 433 439 440 441 448]
lineage 14: 13 cells
(376, 3)
(376, 3)
curr_ad     Position  Cell  Count
6          5     1    100
26        13     1      2
41        17     1    259
43        18     1     10
50        21     1      2
donor4_lineage14
[ -1   1   2   5   8   9  10  13  16  25  27  28  35  39  40  42  44  47
  49  50  54  55  57  58  59  63  64  69  70  76  78  81  82  88  89  91
  92 100 101 102 104 105 106 107 109 111 113 115 116 117 118 122 124 125
 128 129 130 131 137 138 145 147 148 149 150 152 153 155 157 159 160 161
 162 163 164 166 167 168 169 172 173 174 175 176 177 178 179 180 181 186
 204 207 220 224 229 230 233 236 240 241 242 243 248 251 252 255 257 258
 260 263 264 272 273 274 278 281 282 283 284 286 290 292 295 298 299 300
 302 303 308 312 315 318 321 324 327 329 331 337 341 347 353 357 362 363
 365 366 369 370 371 376 384 385 386 391 393 397 399 401 402 404 408 410
 414 416 418 426 431 433 439 441 447 448]
lineage 15: 19 cells
(583, 3)
(583, 3)
curr_ad     Position  Cell  Count
0          1     1      2
6          4     1    126
14         8     1      2
36        13     1      4
41        15     1    289
donor4_lineage15
[ -1   0   1   2   5   7   8  10  11  13  14  16  17  18  21  25  27  28
  34  35  36  40  41  42  43  46  47  49  50  51  54  55  57  58  59  64
  69  70  71  76  78  80  81  82  85  86  88  89  91  92  93 102 106 107
 108 109 111 113 115 116 117 118 122 124 125 126 128 129 131 133 136 137
 138 145 147 148 149 150 152 153 157 159 160 161 163 164 166 167 168 169
 172 173 174 175 176 177 180 181 186 194 207 210 225 229 231 232 233 237
 238 239 240 243 245 248 249 252 255 257 260 265 266 269 271 272 273 278
 280 281 282 283 284 285 286 290 295 297 299 310 311 315 321 324 325 327
 329 331 335 338 340 342 347 350 352 353 355 357 360 362 365 366 368 369
 370 372 376 379 380 384 385 386 390 391 393 394 398 400 401 402 403 406
 408 410 414 415 419 421 422 423 426 427 433 439 442]
lineage 16: 18 cells
(491, 3)
(491, 3)
curr_ad    Position  Cell  Count
0         1     1     96
3         4     1      2
6         5     1   1266
8         6     1      2
9         7     1      7
donor4_lineage16
[ -1   0   5   8   9  10  13  16  28  32  34  35  39  40  42  44  49  54
  57  58  59  69  70  76  78  81  88  89  92 100 101 102 106 107 109 111
 113 115 116 117 118 122 124 125 128 129 130 137 138 145 147 148 149 152
 155 157 159 160 162 166 167 168 169 172 173 174 175 177 179 180 181 186
 207 211 220 226 229 231 233 236 238 241 243 245 249 252 255 257 259 264
 273 278 281 292 295 297 302 321 324 329 331 334 336 341 347 350 352 360
 362 365 366 370 376 377 391 393 403 404 406 407 410 412 414 432 433 441]
lineage 17: 9 cells
(258, 3)
(258, 3)
curr_ad     Position  Cell  Count
6          3     1     98
10         5     1      4
40        13     1      9
41        14     1    267
43        15     1      6
donor4_lineage17
[ -1   0   5   9  10  28  35  39  40  47  49  50  51  54  55  57  59  63
  69  70  76  78  82  89  91  92 100 101 106 109 111 113 116 117 118 122
 125 128 129 130 137 138 147 149 152 153 155 157 159 160 161 162 163 166
 167 168 169 170 172 173 174 175 177 180 181 186 204 207 210 220 233 235
 236 240 241 242 243 247 250 255 257 259 260 263 272 274 278 281 282 284
 290 297 299 301 303 305 308 315 316 317 321 324 329 331 336 337 341 342
 343 347 350 352 356 357 362 365 370 374 376 377 384 390 391 398 401 402
 405 406 408 410 414 415 422 426 433 439 440 448 449]
lineage 18: 10 cells
(296, 3)
(296, 3)
curr_ad     Position  Cell  Count
6          3     1     58
10         4     1      2
41         9     1    341
50        11     1      2
83        23     1      3
donor4_lineage18
[ -1   1   2   3   5   6   8   9  10  13  25  27  28  34  35  39  40  41
  42  46  47  49  50  51  54  59  64  69  70  76  78  79  80  81  82  83
  86  88  89  92  94  97 100 101 102 104 105 106 107 109 111 113 115 116
 117 118 120 122 124 125 128 129 130 131 137 138 145 147 148 149 150 152
 153 155 156 157 159 160 161 162 163 164 166 167 168 169 171 172 173 176
 178 179 180 181 186 194 207 210 220 224 228 229 230 231 233 236 237 240
 241 242 243 248 251 257 259 264 272 278 281 282 284 286 297 299 302 303
 307 308 310 315 321 322 323 329 331 336 346 347 352 354 357 360 362 364
 369 370 371 376 377 383 384 385 386 390 391 392 393 399 401 402 407 408
 410 412 414 418 419 421 427 431 433 439 445 448]
lineage 19: 14 cells
(428, 3)
(428, 3)
curr_ad    Position  Cell  Count
0         1     1      2
4         4     1      2
6         5     1    943
7         6     1     28
9         7     1      2
donor4_lineage19
[ -1   1   2   5   8   9  12  15  16  17  23  25  27  28  29  31  32  35
  37  39  40  41  42  47  49  50  52  54  55  57  58  59  63  66  69  70
  73  74  76  77  78  81  82  84  88  89  91  92  93 100 101 102 104 105
 106 107 108 109 111 113 114 115 117 118 120 122 124 125 126 128 129 130
 131 135 137 138 143 144 145 146 147 148 149 150 152 153 155 157 158 159
 160 161 162 163 164 165 166 167 169 170 172 173 174 175 176 177 178 179
 181 183 186 190 194 204 207 208 211 217 220 224 229 233 235 236 238 241
 242 243 248 249 252 255 257 259 260 262 265 266 272 273 274 276 278 281
 282 284 286 290 292 295 296 297 299 306 307 310 312 313 321 322 324 329
 331 335 336 347 350 352 353 355 357 359 360 362 365 366 368 369 370 376
 377 380 384 390 391 392 393 397 400 401 402 405 406 407 408 410 412 413
 414 419 422 423 434 441 442 445 447 449]
lineage 20: 14 cells
(507, 3)
(507, 3)
curr_ad     Position  Cell  Count
0          1     1      7
3          3     1     37
6          4     1   2305
9          5     1      2
13         7     1      2
donor4_lineage20
[ -1   5   8   9  16  27  28  29  31  35  39  40  42  47  49  50  51  54
  55  58  59  69  70  76  78  81  82  89  91  92 102 109 111 113 115 118
 122 124 125 128 129 130 131 137 145 147 148 149 150 152 155 157 159 160
 162 163 164 166 167 172 173 177 180 181 186 194 204 207 210 211 214 220
 224 229 233 237 240 241 242 243 247 255 257 259 266 271 272 278 281 282
 285 291 295 297 299 307 308 321 327 331 334 338 341 342 347 352 355 365
 370 371 374 376 380 384 386 391 392 394 402 404 406 407 414 419 421 433
 435 437 441 447 448 449]
lineage 21: 12 cells
(337, 3)
(337, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          2     1    120
29         7     1     10
41        12     1    293
60        21     1      2
donor4_lineage21
[ -1   1   2   5   6   8   9  10  11  12  13  14  16  17  20  27  28  29
  31  32  33  34  35  36  37  38  39  40  41  42  46  47  49  50  51  52
  53  54  55  57  58  59  60  61  62  63  64  66  69  70  71  72  73  75
  76  77  78  80  81  82  83  84  85  88  91  92  93  97 100 101 102 103
 107 108 109 110 111 113 115 116 117 118 119 120 121 122 124 125 126 128
 129 130 131 132 134 135 137 138 141 143 144 145 147 148 149 150 152 153
 155 156 157 158 159 160 161 162 163 164 166 167 168 169 170 172 173 174
 175 176 177 178 179 180 181 183 184 186 194 242 257 281 286 310 350 353
 354 362 397 400 433]
lineage 22: 2 cells
(187, 3)
(187, 3)
curr_ad    Position  Cell  Count
0         1     1     31
2         2     1     24
3         3     1      5
6         4     1   5089
7         5     1      3
donor4_lineage22

[ -1   1   5  10  11  13  16  27  28  35  39  40  42  44  49  50  51  54
  55  57  58  63  64  69  70  76  78  79  81  82  88  89  91  92 100 101
 102 104 105 106 107 109 111 113 115 116 117 118 122 124 125 137 138 145
 147 148 149 150 152 153 155 157 159 160 163 164 166 167 170 172 173 174
 175 176 177 178 179 186 204 207 210 229 231 233 234 237 240 241 242 243
 244 246 249 255 256 257 259 260 265 266 271 273 274 275 278 281 284 286
 291 295 297 299 301 308 310 315 321 334 341 342 347 350 352 355 357 365
 369 370 377 384 386 391 399 402 403 405 408 410 413 421 425 426 427 433
 438 441 445 447 448]
lineage 23: 14 cells
(408, 3)
(408, 3)
curr_ad     Position  Cell  Count
0          1     1     10
6          3     1    117
14         6     1      2
17         7     1      2
28         8     1     10
donor4_lineage23
[ -1   2   3   4   5   7   8   9  10  11  12  13  16  17  19  20  21  22
  25  26  27  28  29  31  32  33  34  35  36  37  39  40  41  42  43  45
  46  47  49  50  51  52  54  55  57  58  59  61  62  63  64  65  66  67
  68  69  70  71  72  73  74  76  77  78  79  80  81  82  83  84  86  87
  88  89  90  91  92  94  97 100 101 102 104 105 106 107 109 111 113 114
 115 116 117 118 120 121 122 124 125 126 128 129 130 131 132 133 136 137
 138 141 143 144 145 146 147 148 149 150 152 153 155 156 157 158 159 160
 161 162 163 164 165 166 167 168 169 170 172 173 174 175 176 177 178 179
 180 181 183 184 186 187 188 189 194 195 199 201 202 204 205 207 209 210
 213 215 217 220 221 224 226 229 230 231 233 234 236 237 240 241 242 243
 245 248 249 252 255 257 259 260 262 265 272 273 274 278 281 282 284 285
 286 290 292 295 297 299 301 302 303 305 307 308 309 310 312 315 321 322
 323 324 326 327 329 330 331 334 335 341 342 343 347 348 350 352 353 355
 357 359 360 362 365 366 369 370 373 374 376 377 378 380 382 384 385 386
 387 388 390 391 392 395 397 400 401 402 403 404 405 406 407 408 412 414
 415 418 419 421 422 426 433 436 439 442 446 447 448 449]
lineage 24: 40 cells
(1455, 3)
(1455, 3)
curr_ad     Position  Cell  Count
0          1     1     38
5          4     1      2
6          5     1   1950
8          6     1      2
10         8     1      4
donor4_lineage24
[ -1   1   2   5   8   9  10  13  16  25  27  28  35  39  40  42  47  49
  50  51  54  55  58  59  63  69  70  76  77  78  81  82  88  89  91  92
 100 101 102 104 105 106 107 109 111 113 115 116 117 118 122 124 125 128
 129 130 131 137 138 145 147 148 149 150 152 153 157 159 160 161 162 163
 164 166 167 168 169 170 172 173 174 175 176 177 178 179 180 181 186 204
 207 210 211 214 220 224 231 233 238 240 241 242 244 245 251 255 257 262
 274 276 278 279 281 282 284 286 290 292 295 297 305 310 315 321 324 327
 331 334 341 347 350 351 352 355 357 359 362 365 370 371 374 375 384 390
 391 396 399 400 402 403 408 412 415 419 423 426 436 439 440]
lineage 25: 18 cells
(484, 3)
(484, 3)
curr_ad      Position  Cell  Count
6           4     1     50
28         11     1     13
41         15     1    134
82         31     1      2
114        46     1    192
donor4_lineage25
[ -1   2   5   8   9  10  13  16  25  27  28  31  35  39  40  42  47  49
  50  51  54  55  57  59  63  64  69  70  76  77  78  81  82  88  89  91
  92 100 101 102 104 105 106 107 109 111 113 115 116 117 118 122 124 125
 128 129 130 131 137 138 145 147 148 149 150 152 153 155 157 159 160 161
 162 163 164 167 169 170 172 173 174 175 177 179 180 181 186 194 197 204
 207 210 220 224 231 233 235 236 237 238 240 241 242 243 245 252 255 257
 259 260 262 263 266 270 271 272 274 278 281 282 283 284 286 287 290 292
 293 295 297 299 302 307 308 310 315 321 323 324 326 329 330 331 334 335
 336 346 347 349 350 352 353 357 360 362 365 366 369 370 371 384 390 391
 392 396 399 400 401 402 403 404 406 410 412 413 419 421 422 423 426 433
 441 442 444 445 447 448 449]
lineage 26: 27 cells
(736, 3)
(736, 3)
curr_ad     Position  Cell  Count
6          3     1     96
10         5     1      4
36        13     1      2
41        15     1    231
56        22     1      8
donor4_lineage26
[ -1   3   5   8   9  10  16  25  28  32  34  35  39  40  42  47  49  50
  51  54  55  57  58  59  69  70  76  77  78  80  81  82  88  89  91  92
 100 101 102 107 109 111 113 115 116 117 118 122 124 125 128 129 130 131
 137 145 147 148 149 150 152 153 155 157 159 160 161 162 163 166 167 169
 170 172 173 176 178 179 180 181 186 194 197 204 207 210 220 224 229 233
 235 240 241 242 243 244 245 249 252 255 257 262 265 267 273 274 278 281
 284 286 290 291 292 295 297 303 308 315 319 321 323 324 328 329 331 334
 335 347 350 352 353 357 360 362 365 366 369 370 376 377 384 391 392 393
 396 397 401 402 406 413 414 415 421 426 436 439 441 445 448]
lineage 27: 15 cells
(442, 3)
(442, 3)
curr_ad      Position  Cell  Count
6           3     1    195
41         14     1    301
60         24     1      4
93         36     1      7
110        41     1      5
donor4_lineage27
[ -1   5   9  25  32  35  39  40  42  49  50  55  59  69  70  76  82  91
  92 100 101 109 113 116 117 122 130 131 137 138 147 149 150 152 153 155
 157 159 160 162 164 167 169 172 173 174 175 176 177 178 179 180 181 186
 194 207 226 233 235 237 242 254 257 260 274 281 284 293 299 307 321 324
 331 336 341 347 350 352 357 360 370 371 372 386 391 402 404 426 447]
lineage 28: 6 cells
(161, 3)
(161, 3)
curr_ad     Position  Cell  Count
6          2     1     85
26         4     1      2
41         8     1    229
60        13     1      6
77        16     1      4
donor4_lineage28
[ -1   0   1   3   5   8   9  10  13  16  17  19  20  21  22  25  27  28
  29  35  39  40  41  42  43  44  45  46  47  48  49  50  51  52  54  55
  57  58  59  61  62  64  69  70  72  76  77  78  81  82  83  84  85  88
  89  90  91  92  94  97 100 101 102 104 105 106 107 109 110 111 112 113
 115 116 117 118 119 121 122 124 125 126 127 128 129 130 131 137 138 139
 142 144 145 147 148 149 150 152 153 155 157 159 160 161 162 163 164 165
 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183
 186 188 189 193 194 197 199 202 203 204 207 209 210 211 215 216 220 223
 224 229 231 233 237 238 240 241 243 245 248 255 264 267 269 272 273 278
 281 282 283 284 292 295 297 299 301 303 305 312 315 321 326 327 331 341
 342 346 347 350 352 357 362 370 371 374 376 384 386 391 393 397 399 401
 402 403 408 414 415 419 421 422 426 427 430 433 436 439 445 447 448]
lineage 29: 18 cells
(585, 3)
(585, 3)
curr_ad     Position  Cell  Count
0          1     1     16
1          2     1      2
2          3     1      3
6          5     1   2506
20        12     1      2
donor4_lineage29
[ -1   1   5   8   9  11  13  16  28  35  39  40  41  49  51  54  55  58
  61  69  70  76  78  79  81  82  87  88  89  92 100 101 109 111 113 118
 122 124 125 128 129 130 138 147 148 152 153 155 157 159 163 167 168 172
 173 174 175 176 177 178 179 180 186 188 189 194 202 204 207 209 210 211
 213 215 224 229 233 237 240 247 250 257 259 273 274 278 286 290 295 299
 305 310 329 335 340 342 346 347 357 362 370 376 377 380 383 386 390 391
 400 402 406 408 410 419 423 439 447]
lineage 30: 7 cells
(217, 3)
(217, 3)
curr_ad     Position  Cell  Count
6          3     1    339
14         7     1      2
17         8     1     10
41        12     1    989
42        13     1     29
donor4_lineage30
[ -1   2   5   8   9  10  11  13  14  16  22  25  27  28  29  35  39  40
  41  42  44  46  49  50  51  54  55  57  58  59  64  69  70  75  76  78
  80  81  82  84  88  89  91  92  97 100 101 102 104 105 107 109 111 113
 115 116 117 118 122 124 128 129 130 137 138 145 147 148 149 150 152 153
 155 157 159 160 161 162 163 164 166 167 168 169 170 172 173 174 175 176
 177 178 179 180 181 186 194 207 210 211 220 227 229 231 233 236 237 238
 240 241 242 243 247 249 252 255 257 259 266 267 271 272 274 279 282 283
 286 290 291 295 297 299 302 307 308 310 315 317 321 327 329 331 339 340
 341 343 347 348 352 353 357 359 360 362 363 365 366 369 370 374 376 380
 384 385 386 390 391 392 394 398 401 402 410 412 413 414 416 418 419 422
 426 427 429 431 433 439 442 445 447]
lineage 31: 16 cells
(509, 3)
(509, 3)
curr_ad     Position  Cell  Count
0          1     1     63
6          3     1    576
10         5     1      5
14         8     1    259
15         9     1      2
donor4_lineage31
[ -1   1   2   3   4   5   8   9  10  11  12  13  16  17  20  21  25  27
  28  29  32  35  39  40  41  42  46  47  49  50  51  53  54  55  57  58
  59  63  64  67  69  70  72  76  78  80  81  82  83  85  88  89  92 100
 101 102 104 105 107 109 110 111 113 114 115 116 117 118 121 122 124 125
 127 128 129 130 131 133 137 138 145 146 147 148 149 150 152 153 155 156
 157 159 160 161 162 163 164 165 166 167 169 170 172 173 174 175 176 177
 178 179 180 181 184 186 207 210 231 249 257 260 281 299 310 336 362 376
 384 391 401 403 407 429]
lineage 32: 3 cells
(241, 3)
(241, 3)
curr_ad    Position  Cell  Count
0         1     1   1087
2         2     1      6
3         3     1     94
4         4     1     10
5         5     1      4
donor4_lineage32

[ -1   2   5   9  11  17  25  28  35  39  40  41  47  49  50  51  54  57
  59  61  64  69  76  77  78  79  81  82  88  89 100 101 102 106 109 113
 115 118 124 137 138 152 155 157 159 163 167 169 172 180 186 189 193 194
 196 199 204 207 210 211 212 213 215 220 222 223 255 257 347 365 370 402
 418 448]
lineage 33: 6 cells
(147, 3)
(147, 3)
curr_ad     Position  Cell  Count
6          3     1    468
29         8     1      2
41        11     1   1413
42        12     1     46
51        15     1      6
donor4_lineage33
[ -1   1   5   9  13  16  27  28  32  35  40  42  47  49  50  54  55  57
  58  59  63  69  70  76  77  78  79  80  81  82  88  89  91  92 100 101
 104 105 106 107 109 111 113 115 118 122 124 125 128 129 130 131 137 138
 145 147 148 149 150 152 153 155 157 159 160 161 162 163 164 167 168 169
 170 172 173 174 175 176 177 178 179 180 181 186 207 243 245 255 265 273
 282 297 302 315 321 329 350 362 366 374 399 402 412 413 416 425 435 436
 440 445]
lineage 34: 5 cells
(203, 3)
(203, 3)
curr_ad     Position  Cell  Count
0          1     1     17
6          3     1     45
10         4     1      2
14         5     1      2
28         7     1      2
donor4_lineage34
[ -1   5   8   9  11  13  16  27  28  34  35  39  40  42  47  49  50  51
  54  58  59  63  64  69  70  76  78  80  81  82  88  89  91  92 102 111
 113 115 116 117 118 122 124 128 129 130 131 137 138 145 147 148 149 150
 152 153 155 157 159 160 161 162 163 164 166 167 168 169 170 172 173 174
 175 176 177 186 194 207 210 224 229 231 233 235 236 241 242 243 247 252
 255 257 260 264 265 267 271 272 273 278 281 282 283 284 285 286 290 292
 295 299 307 308 315 321 324 329 331 332 336 340 341 342 348 350 352 356
 357 359 360 362 363 369 370 375 376 380 386 390 391 393 402 406 407 412
 419 420 426 427 428 435 443 445 447]
lineage 35: 12 cells
(372, 3)
(372, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          2     1     67
17         7     1      4
36        11     1      2
40        12     1      4
donor4_lineage35
[ -1   0   1   2   5   8   9  10  11  13  16  27  28  29  32  33  34  35
  36  39  40  41  42  47  49  50  51  54  55  56  57  58  59  61  63  64
  69  70  71  75  76  78  79  80  81  82  84  88  89  91  92  97  98 100
 101 102 104 105 106 107 109 111 113 115 116 117 118 122 124 125 126 128
 129 130 131 133 137 138 139 145 147 148 149 150 152 153 155 156 157 159
 160 161 162 163 164 166 167 168 169 170 171 172 173 174 175 176 177 178
 180 181 184 186 188 193 194 195 196 198 199 202 204 206 207 208 215 216
 217 219 220 221 222 227 229 231 233 235 236 237 240 241 242 243 245 247
 248 249 252 253 255 257 259 260 261 262 264 267 271 272 277 278 279 280
 281 282 284 285 286 287 290 292 295 297 299 300 301 302 303 305 307 310
 311 312 314 315 321 323 324 327 329 331 334 336 341 342 343 347 349 350
 352 353 357 360 362 365 366 369 370 371 376 377 380 384 386 390 391 392
 397 400 401 402 403 406 410 411 415 421 422 423 425 431 441 447 448 449]
lineage 36: 24 cells
(759, 3)
(759, 3)
curr_ad     Position  Cell  Count
0          1     1     70
2          3     1     23
6          5     1   1139
9          6     1     12
10         7     1      2
donor4_lineage36
[ -1   1   5   9  10  13  25  27  32  35  40  42  47  49  51  54  55  57
  58  64  69  70  76  78  81  82  88  89  91  92 100 101 104 105 106 107
 109 111 113 115 116 117 118 122 124 125 128 130 131 137 138 147 148 149
 152 157 159 160 161 163 164 166 167 168 172 173 174 175 177 186 194 204
 207 210 211 224 229 233 236 237 241 242 252 257 258 259 260 270 280 281
 282 283 284 286 287 291 292 297 299 303 307 311 315 321 323 327 329 331
 334 340 341 342 347 350 352 353 355 357 360 362 363 365 369 370 371 379
 391 393 401 402 403 406 407 412 413 415 422 426 433 434 435 436 437 445
 447 448]
lineage 37: 13 cells
(335, 3)
(335, 3)
curr_ad      Position  Cell  Count
6           3     1    105
41         11     1    293
55         16     1      4
108        36     1      2
112        38     1      2
donor4_lineage37
[ -1   0   1   2   3   4   5   7   8   9  10  11  12  13  14  16  17  20
  21  22  24  25  27  28  29  31  32  33  34  35  36  37  39  40  41  42
  44  46  47  49  50  51  52  53  54  55  57  58  59  60  61  62  63  64
  66  68  69  70  71  72  74  75  76  77  78  80  81  82  83  84  85  86
  87  88  89  90  91  92  93  94  95  97  99 100 101 102 104 105 106 107
 108 109 111 113 114 115 116 117 118 119 120 121 122 124 125 126 127 128
 129 130 132 133 137 138 141 143 144 145 146 147 148 149 150 152 153 155
 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173
 174 175 176 177 178 179 180 181 184 185 186 188 193 194 195 197 199 202
 207 210 212 215 217 220 222 223 226 233 235 240 241 243 249 255 257 272
 274 275 278 284 286 287 290 297 299 300 305 308 315 321 322 324 327 331
 336 340 350 352 357 360 361 362 365 366 369 370 371 376 377 380 384 391
 392 393 398 401 402 403 407 413 419 421 431 437 441 448 449]
lineage 38: 15 cells
(670, 3)
(670, 3)
curr_ad    Position  Cell  Count
0         1     1      6
1         2     1     12
5         6     1      5
6         7     1   2635
8         8     1     21
donor4_lineage38
[ -1   0   1   4   5   8   9  10  12  13  16  21  25  27  28  32  35  36
  39  40  41  42  47  49  50  51  54  55  57  58  59  62  64  69  70  76
  77  78  79  80  81  82  88  89  91  92 101 104 105 106 107 108 109 111
 113 114 115 116 117 118 122 124 125 127 128 129 130 131 133 137 145 146
 147 149 150 151 152 153 155 156 157 159 160 161 162 163 164 165 166 167
 168 169 172 173 174 175 176 177 178 179 180 181 186 194 203 207 210 215
 220 222 226 229 231 232 233 236 240 241 242 243 245 248 255 257 262 264
 266 272 273 274 276 277 278 281 284 286 287 290 294 295 297 299 302 305
 307 310 312 315 321 323 324 327 329 330 331 347 349 350 351 352 353 357
 360 361 362 365 369 370 371 373 376 377 380 386 387 390 391 392 393 400
 401 402 404 407 410 412 419 421 422 426 433 441 445 448]
lineage 39: 19 cells
(573, 3)
(573, 3)
curr_ad     Position  Cell  Count
0          1     1      9
5          4     1      2
6          5     1   1189
9          6     1      9
10         7     1      3
donor4_lineage39
cell meta
             new index                        ID              raw ID  \
donor_index
1                    4  AAATGCCAGGAACCGT-1_Input  AAATGCCAGGAACCGT-1
2                    6  AACAAAGCAATTCAGC-1_Input  AACAAAGCAATTCAGC-1
3                   12  AATACGCGTCATCGTA-1_Input  AATACGCGTCATCGTA-1
4                   27  ACTAGGTGTATTCACG-1_Input  ACTAGGTGTATTCACG-1
5                   40  ATCCTGCAGACTAATG-1_Input  ATCCTGCAGACTAATG-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      4        1              1
2               Input      4       24              1
3               Input      4        4              1
4               Input      4       19              1
5               Input      4       24              2
all_cells_meta    donor_index  new index                        ID              raw ID  \
0            1          1  AAACGAATCTTACTCA-1_Input  AAACGAATCTTACTCA-1
1            2          9  AAGATAGTCGGTACTA-1_Input  AAGATAGTCGGTACTA-1
2            3         13  AATGTCGCACCACGAC-1_Input  AATGTCGCACCACGAC-1
3            4         32  AGGCGAAAGTGCTGAG-1_Input  AGGCGAAAGTGCTGAG-1
4            5         50  CAACCAACACCGTCTT-1_Input  CAACCAACACCGTCTT-1

  condition  donor  lineage  lineage_index
0     Input      0       39              1
1     Input      0       17              1
2     Input      0       20              1
3     Input      0       11              1
4     Input      0       20              2
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor0.AD.mtx
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor0.DP.mtx

curr_vcf
  index_x #CHROM    POS REF_x ALT  strand_correlation_x     vmr_x  \
0     NaN   chrM  16512   NaN   C                   NaN       NaN
1   73A>G   chrM     73   73A   G              0.996919  0.382955
2  146T>C   chrM    146  146T   C              0.993106  0.591151
3  150C>T   chrM    150  150C   T              0.979327  0.670372
4  195T>C   chrM    195  195T   C              0.990257  0.623396

   n_cells_over_5_x  n_cells_over_20_x  \
0               NaN                NaN
1             119.0              116.0
2               2.0                1.0
3              61.0               49.0
4              44.0               31.0

   old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Input/MT/cellr_True/Input_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                1.0
2                                                2.0
3                                                3.0
4                                                4.0

   ... n_cells_over_20_y  \
0  ...               NaN
1  ...             329.0
2  ...               NaN
3  ...             177.0
4  ...              22.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Control/MT/cellr_True/Control_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                2.0
2                                                NaN
3                                                3.0
4                                                4.0

      index     REF  strand_correlation       vmr  n_cells_over_5  \
0  16512T>C  16512T            0.772501  0.013277             0.0
1     73A>G     73A            0.995236  0.339875          2768.0
2    146T>C    146T            0.990833  0.665951            15.0
3    150C>T    150C            0.977151  0.800561           714.0
4    195T>C    195T            0.971955  0.669470          1103.0

  n_cells_over_20  \
0             0.0
1          2699.0
2             6.0
3           664.0
4          1027.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Flt3l/MT/cellr_True/Flt3l_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                              368.0
1                                                3.0
2                                                6.0
3                                                9.0
4                                               11.0

   new ID
0     495
1       1
2       2
3       3
4       4

[5 rows x 25 columns]
curr_labels
   new index                        ID              raw ID condition  donor  \
0          1  AAACGAATCTTACTCA-1_Input  AAACGAATCTTACTCA-1     Input    NaN
1          9  AAGATAGTCGGTACTA-1_Input  AAGATAGTCGGTACTA-1     Input    NaN
2         13  AATGTCGCACCACGAC-1_Input  AATGTCGCACCACGAC-1     Input    NaN
3         32  AGGCGAAAGTGCTGAG-1_Input  AGGCGAAAGTGCTGAG-1     Input    NaN
4         50  CAACCAACACCGTCTT-1_Input  CAACCAACACCGTCTT-1     Input    NaN

   donor_index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
cell meta
             new index                        ID              raw ID  \
donor_index
1                    1  AAACGAATCTTACTCA-1_Input  AAACGAATCTTACTCA-1
2                    9  AAGATAGTCGGTACTA-1_Input  AAGATAGTCGGTACTA-1
3                   13  AATGTCGCACCACGAC-1_Input  AATGTCGCACCACGAC-1
4                   32  AGGCGAAAGTGCTGAG-1_Input  AGGCGAAAGTGCTGAG-1
5                   50  CAACCAACACCGTCTT-1_Input  CAACCAACACCGTCTT-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      0      NaN            NaN
2               Input      0      NaN            NaN
3               Input      0      NaN            NaN
4               Input      0      NaN            NaN
5               Input      0      NaN            NaN
[]
lineage 0: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor0_lineage0
[ -1   3   5   8   9  10  12  13  14  28  35  39  41  46  53  54  58  62
  67  68  74  76  77  80  87  91 100 101 105 106 107 108 110 112 114 117
 118 119 123 125 126 129 130 131 132 138 139 147 148 149 150 152 155 160
 161 163 169 171 174 175 178 179 180 181 182 183 188 190 198 209 212 226
 230 235 239 246 247 249 251 253 256 261 264 266 268 269 284 286 289 292
 295 296 299 301 304 310 312 313 317 321 326 329 334 343 345 352 354 357
 360 362 365 367 375 376 380 383 386 387 394 397 398 400 403 406 407 409
 412 413 416 421 425 430 432 436 458 461]
lineage 1: 9 cells
(480, 3)
(480, 3)
curr_ad     Position  Cell  Count
0          1     1    356
6          3     1     75
10         5     1    187
13         7     1      4
29        10     1      2
donor0_lineage1
[ -1   3   5   9  10  12  13  14  26  28  32  35  39  41  46  53  54  58
  62  67  68  74  77  80  81  87  88  91 100 101 105 106 107 110 112 116
 117 123 126 129 130 132 138 139 145 147 149 150 153 155 157 160 161 163
 165 171 175 178 180 181 188 190 212 226 233 239 241 249 258 264 266 282
 286 295 296 298 313 315 316 329 334 343 357 360 362 367 372 375 380 386
 391 395 400 412 414 419 422 429 433 456]
lineage 2: 6 cells
(304, 3)
(304, 3)
curr_ad     Position  Cell  Count
0          1     1    235
6          3     1     82
10         4     1    295
13         6     1     21
15         8     1      2
donor0_lineage2
[ -1   3   5   8   9  10  12  13  14  26  35  39  41  46  48  50  54  56
  57  58  62  67  68  74  77  80  81  87  88  90  91 100 101 105 106 107
 110 112 114 118 119 123 125 126 129 130 131 132 138 139 147 148 149 150
 153 155 157 160 161 162 163 166 169 171 173 174 175 176 177 178 179 180
 181 182 183 188 190 198 212 215 220 230 239 245 246 248 249 250 253 255
 256 261 262 264 266 269 271 272 284 285 292 295 296 298 299 305 306 310
 312 313 315 318 321 334 336 341 343 345 346 347 349 353 354 357 360 362
 363 365 370 375 376 379 380 386 389 390 393 395 398 400 403 407 410 412
 413 414 417 419 423 430 432 436 445 453]
lineage 3: 13 cells
(683, 3)
(683, 3)
curr_ad     Position  Cell  Count
0          1     1    247
4          2     1      8
6          3     1     62
10         5     1    186
13         7     1      6
donor0_lineage3

[]
lineage 4: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor0_lineage4
[ -1   1   2   3   5   9  10  12  13  14  17  25  26  28  35  38  39  41
  43  46  48  49  50  53  54  56  57  58  62  63  67  68  74  77  78  79
  80  81  87  88  91 100 101 103 105 106 108 110 112 114 116 117 118 119
 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 153 155 157
 160 161 162 163 165 166 168 170 171 172 174 175 177 178 180 181 182 183
 188 190 198 212 220 226 230 239 249 250 253 256 257 258 261 264 266 268
 271 277 284 285 290 291 295 296 299 304 306 312 315 334 335 339 341 343
 347 348 354 356 357 360 362 372 380 381 393 394 400 403 407 410 413 419
 420 423 433 434 436 444 450 453]
lineage 5: 10 cells
(619, 3)
(619, 3)
curr_ad     Position  Cell  Count
0          1     1    121
6          5     1     72
10         6     1    102
13         8     1      4
36        15     1    147
donor0_lineage5
[ -1   3   5   9  10  12  13  14  17  25  28  35  38  39  41  46  48  49
  50  53  54  56  57  58  62  67  68  74  77  80  81  87  88  91 100 101
 105 106 110 112 116 117 118 119 123 126 129 130 131 132 138 139 147 148
 149 150 152 153 155 157 160 161 163 165 166 168 171 174 175 178 180 181
 182 183 188 190 198 209 212 215 230 239 241 244 247 248 249 250 253 266
 269 281 284 285 286 287 292 295 296 299 301 302 312 313 317 318 319 320
 321 323 329 330 334 336 341 343 345 346 347 351 353 354 357 360 362 363
 367 370 372 376 379 380 383 386 390 393 394 395 400 408 412 413 417 418
 419 421 423 427 430 432 436 444 450 451 453 461 462]
lineage 6: 15 cells
(775, 3)
(775, 3)
curr_ad     Position  Cell  Count
0          1     1    286
6          3     1    113
10         4     1    209
13         6     1      4
36        12     1    329
donor0_lineage6
[ -1   1   2   3   4   5   8   9  10  12  13  17  18  25  28  35  40  41
  46  48  49  53  54  56  57  58  60  62  63  67  68  74  77  80  81  82
  87  88  90  91  96  97 100 101 105 106 107 108 110 112 114 116 117 118
 119 120 123 125 126 129 130 131 132 134 138 139 143 145 147 148 149 150
 152 153 155 156 157 160 161 162 163 166 169 170 171 175 176 177 178 180
 181 182 183 188 190 198 212 215 234 239 244 245 249 253 254 261 264 266
 268 269 277 283 284 286 290 292 293 295 296 299 301 304 312 313 318 320
 321 329 334 336 341 343 345 351 355 357 360 362 367 372 375 377 379 380
 387 388 392 393 395 397 398 400 402 403 407 412 413 414 417 419 430 433
 453 458]
lineage 7: 15 cells
(759, 3)
(759, 3)
curr_ad     Position  Cell  Count
0          1     1   2829
5          5     1     12
6          6     1   1063
10         8     1   3317
11         9     1      4
donor0_lineage7
[ -1   2   3   5   8   9  10  12  13  14  17  26  28  29  31  32  34  35
  38  39  41  43  46  48  49  50  53  54  56  57  58  62  63  67  68  74
  76  77  78  79  80  81  87  88  91 100 101 103 105 106 108 110 112 114
 116 117 118 119 123 125 126 129 130 131 132 138 145 147 148 149 150 152
 153 155 157 160 161 162 163 165 166 168 169 170 171 174 175 176 177 178
 179 180 181 182 183 188 190 197 198 205 208 212 215 217 220 223 226 228
 230 233 237 239 241 244 245 246 247 248 249 250 253 258 260 264 266 268
 269 271 275 284 285 286 287 291 292 295 299 300 301 302 304 310 312 313
 316 317 318 320 324 327 329 334 335 336 337 338 339 341 343 345 346 352
 356 357 360 362 363 367 372 373 375 376 379 380 381 383 384 386 387 388
 390 393 394 395 397 398 400 402 403 405 406 407 409 410 412 413 414 415
 417 419 421 423 425 426 427 429 430 432 433 434 436 439 444 453 455 460
 461]
lineage 8: 24 cells
(1505, 3)
(1505, 3)
curr_ad     Position  Cell  Count
0          1     1    628
4          3     1      2
6          4     1    279
10         6     1    911
13         8     1     57
donor0_lineage8
[ -1   5   9  12  13  32  35  46  54  58  62  74  77  80  87  88  91 100
 101 105 106 112 123 126 132 138 147 148 149 150 155 160 161 162 163 171
 175 178 180 181 292 299 318 343 380 400 409 451]
lineage 9: 1 cells
(48, 3)
(48, 3)
curr_ad     Position  Cell  Count
0          1     1    210
6          2     1     61
10         3     1    142
13         4     1      5
14         5     1      2
donor0_lineage9
[ -1   1   2   3   5   8   9  10  12  13  14  17  25  26  28  35  38  39
  41  46  48  49  50  53  54  56  57  58  62  63  67  68  74  77  79  80
  81  87  88  90  91 100 101 103 105 106 107 108 110 112 114 116 117 118
 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 153 155
 157 160 161 162 163 165 166 168 169 170 171 172 173 174 175 176 177 178
 179 180 181 182 183 188 190 198 212 215 217 226 230 239 241 245 246 248
 249 253 256 258 261 264 266 275 284 291 292 295 296 298 299 301 304 306
 312 313 315 317 321 329 334 337 341 343 345 346 351 352 353 357 359 360
 362 363 367 370 372 373 375 376 379 380 381 387 390 394 395 397 398 400
 402 408 410 413 414 421 423 425 426 432 433 436 449 460]
lineage 10: 15 cells
(875, 3)
(875, 3)
curr_ad     Position  Cell  Count
0          1     1    191
2          2     1      2
6          5     1     47
10         7     1    164
13         9     1      9
donor0_lineage10
[]
lineage 11: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor0_lineage11
[ -1   1   2   3   5   8   9  10  12  13  14  17  18  26  28  34  35  39
  41  46  49  50  53  54  56  58  62  63  67  68  74  77  78  80  81  87
  91 100 101 103 105 106 108 110 112 114 116 117 118 119 123 125 126 129
 130 131 132 138 139 145 147 148 149 150 152 153 155 157 160 161 163 165
 170 171 172 174 175 176 177 178 179 180 181 182 183 188 190 212 215 217
 233 240 241 244 247 249 253 256 257 264 266 268 271 278 284 285 286 287
 291 292 295 296 298 299 301 304 306 310 312 313 317 318 321 323 324 325
 329 334 337 341 343 345 346 347 351 357 360 363 367 372 376 379 380 381
 384 386 390 393 398 400 402 409 410 412 413 414 415 417 421 423 425 430
 432 437 438 441 444 453 460]
lineage 12: 13 cells
(688, 3)
(688, 3)
curr_ad    Position  Cell  Count
0         1     1    512
2         2     1      2
4         4     1      4
6         5     1    107
9         6     1      4
donor0_lineage12
[]
lineage 13: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor0_lineage13
[ -1   3   5   8   9  12  13  25  32  35  38  39  41  43  46  48  49  50
  54  57  58  62  67  68  74  77  79  80  81  87  91 100 101 103 105 106
 108 112 117 118 119 123 125 126 129 130 132 138 139 145 147 148 149 150
 155 157 160 161 163 166 168 169 171 172 175 178 180 181 182 188 198 215
 230 239 241 246 248 249 250 253 255 256 258 261 264 266 268 269 271 277
 284 292 295 299 310 312 313 314 318 320 323 329 334 336 339 341 343 345
 347 353 356 357 362 363 365 367 372 380 381 386 393 395 398 400 409 410
 412 413 414 423 425 426 430 434 436 443 453 458 460 461]
lineage 14: 10 cells
(516, 3)
(516, 3)
curr_ad     Position  Cell  Count
0          1     1    234
6          3     1     87
10         5     1    239
26         8     1      4
36        10     1    266
donor0_lineage14
[ -1   0   3   5   9  10  12  13  14  17  25  26  28  35  38  39  41  46
  48  49  50  53  54  56  58  62  63  67  68  74  77  78  79  80  81  87
  88  90  91 100 101 103 105 106 107 108 110 112 114 116 117 118 119 123
 125 126 129 130 131 132 138 139 147 148 149 150 152 153 155 157 160 161
 162 163 165 166 168 170 171 172 174 175 176 177 178 179 180 181 188 190
 198 202 212 215 239 245 248 249 250 253 257 261 264 266 271 275 281 284
 285 286 295 296 298 300 301 304 310 312 313 315 317 321 323 336 341 343
 346 347 352 356 357 360 362 363 365 370 372 375 376 378 379 380 381 387
 391 400 402 403 404 407 410 413 414 417 418 422 423 425 429 430 433 437
 443 456 458 461]
lineage 15: 10 cells
(603, 3)
(603, 3)
curr_ad     Position  Cell  Count
0          1     1    191
6          4     1     72
10         5     1    157
13         7     1      4
14         8     1     10
donor0_lineage15
[]
lineage 16: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor0_lineage16
[ -1   3   5   8   9  12  13  14  26  28  35  38  39  40  46  48  49  50
  53  54  56  57  58  62  63  67  68  74  76  77  78  80  81  87  88  91
 100 101 105 106 107 108 110 112 114 116 117 118 119 123 125 126 129 130
 131 132 138 139 145 147 148 149 150 152 153 155 157 160 161 162 163 166
 169 171 175 177 178 180 181 182 183 188 190 192 198 203 206 207 209 211
 212 214 215 216 217 221 223 226 230 233 237 239 243 245 248 249 250 253
 257 261 264 266 268 284 285 286 292 295 296 299 301 302 306 309 310 312
 313 314 317 319 320 321 324 329 332 334 335 336 339 343 345 346 347 352
 354 357 360 362 363 365 366 367 372 375 376 379 380 381 387 393 394 395
 398 400 402 407 409 410 412 413 414 417 419 420 421 423 425 426 432 433
 436 449 453 460]
lineage 17: 20 cells
(1019, 3)
(1019, 3)
curr_ad     Position  Cell  Count
0          1     1   1972
4          2     1      6
6          3     1    584
10         5     1   2209
13         6     1     38
donor0_lineage17
[ -1   5   8   9  12  13  32  35  41  46  49  50  54  56  58  62  67  68
  74  77  80  87  88  91 100 101 105 106 112 114 119 123 126 131 132 138
 139 145 147 149 150 153 155 157 160 161 163 171 175 176 178 180 181 198
 212 217 250 253 264 271 284 296 299 306 312 313 317 321 334 343 358 362
 375 379 380 381 400 410 412 424 434 460]
lineage 18: 2 cells
(123, 3)
(123, 3)
curr_ad     Position  Cell  Count
0          1     1    256
6          2     1    117
10         4     1    347
13         5     1     29
14         6     1      6
donor0_lineage18

[ -1   2   3   5   8   9  10  12  13  14  17  18  25  26  28  32  35  38
  39  41  43  46  48  49  53  54  56  57  58  62  63  67  68  74  77  79
  80  81  87  88  90  91 100 101 103 105 106 107 112 114 116 117 118 119
 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 153 155 157
 160 161 162 163 165 166 168 169 170 171 175 176 177 178 179 180 181 182
 183 188 190 198 209 212 215 230 239 242 245 248 253 264 266 271 273 284
 293 295 299 301 304 310 313 317 325 329 334 337 339 341 343 345 353 355
 360 363 370 372 376 379 380 384 386 387 390 393 395 397 400 407 412 413
 415 417 425 430 433 436 437 444 446 454 455 460]
lineage 19: 11 cells
(640, 3)
(640, 3)
curr_ad     Position  Cell  Count
0          1     1    313
3          2     1      2
6          4     1     60
10         6     1    265
11         7     1      4
donor0_lineage19
[ -1   0   1   2   3   4   5   7   8   9  10  12  13  14  17  21  22  25
  26  28  32  34  35  38  39  40  41  42  45  46  47  48  49  50  51  53
  54  55  56  57  58  60  62  63  64  67  68  70  73  74  76  77  78  79
  80  81  83  85  86  87  88  89  90  91  93  96 100 101 103 105 106 107
 108 109 110 112 114 116 117 118 119 123 125 126 129 130 131 132 133 138
 139 144 145 146 147 148 149 150 151 152 153 155 156 157 160 161 162 163
 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182
 183 186 187 188 189 190 191 194 195 197 198 200 203 204 207 208 209 211
 212 213 214 215 217 219 221 222 223 224 225 226 227 228 230 233 239 241
 244 246 248 249 250 252 253 255 257 258 261 264 266 269 271 273 275 281
 284 285 286 287 291 292 295 296 299 300 301 302 304 305 306 310 312 313
 315 317 318 320 321 329 330 334 336 337 338 339 341 343 345 346 352 353
 357 360 362 365 367 369 370 372 375 379 380 381 383 384 386 387 390 391
 395 397 398 400 402 403 406 407 409 410 412 413 414 417 418 419 421 423
 425 426 429 430 432 435 444 445 451 452 453 455 456 458 460 461 462]
lineage 20: 41 cells
(2199, 3)
(2199, 3)
curr_ad    Position  Cell  Count
0         1     1   6597
1         2     1      8
2         3     1      2
4         5     1     43
5         6     1     41
donor0_lineage20
[ -1   0   1   2   3   4   5   7   8   9  10  12  13  14  15  16  17  18
  20  21  22  25  26  27  28  29  31  33  34  35  37  38  39  40  41  43
  45  46  48  49  50  51  52  53  54  56  57  58  60  61  62  63  64  67
  68  69  70  71  72  73  74  76  77  78  79  80  81  82  83  84  86  87
  88  89  90  91  96 100 101 103 105 106 107 108 109 110 111 112 114 115
 116 117 118 119 121 122 123 125 126 128 129 130 131 132 134 135 138 139
 141 142 143 145 146 147 148 149 150 152 153 155 156 157 158 160 161 162
 163 165 166 168 169 170 171 172 174 175 176 177 178 179 180 181 182 183
 184 187 188 190 191 193 194 195 197 198 199 200 201 202 204 205 207 208
 209 210 212 213 214 215 217 218 219 220 221 222 223 224 225 226 227 228
 229 230 239 240 244 245 246 248 249 250 253 255 256 257 258 261 264 266
 268 271 272 273 277 281 283 284 285 286 289 292 293 295 298 299 301 302
 304 305 306 310 311 312 313 315 317 320 321 323 324 325 329 334 335 337
 339 341 343 346 347 352 354 357 358 360 362 363 365 367 370 372 375 376
 379 380 381 383 386 387 395 398 400 402 403 406 410 412 413 414 417 418
 419 421 423 424 425 430 431 433 436 441 451 453 455 456 458 460 461]
lineage 21: 55 cells
(2994, 3)
(2994, 3)
curr_ad    Position  Cell  Count
0         1     1   3417
4         5     1     22
5         6     1     19
6         7     1   1570
8         8     1      5
donor0_lineage21
[ -1   1   2   3   5   8   9  10  12  13  14  17  25  26  28  29  35  38
  39  41  46  48  49  50  53  54  56  57  58  62  63  67  68  74  76  77
  79  80  81  87  88  90  91 100 101 103 105 106 107 108 110 112 114 116
 117 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152
 153 155 157 160 161 162 163 165 166 168 169 170 171 172 174 175 176 177
 178 179 180 181 182 183 188 190 198 217 237 239 244 245 246 248 249 253
 258 261 264 266 268 269 275 292 295 298 299 304 305 310 312 313 317 322
 323 331 334 336 341 343 345 348 351 352 353 354 357 360 361 362 363 365
 367 375 376 379 380 381 384 387 390 393 395 398 400 406 407 408 410 411
 412 413 417 419 421 427 429 430 432 438 441 451 460 461 462]
lineage 22: 14 cells
(863, 3)
(863, 3)
curr_ad     Position  Cell  Count
0          1     1    108
6          5     1     41
10         7     1    144
13         9     1     21
14        10     1      8
donor0_lineage22
[ -1   3   5   9  10  12  13  25  32  35  38  39  41  46  48  49  54  57
  58  62  67  68  74  77  79  80  81  87  88  91 100 101 105 106 108 110
 112 116 119 123 126 129 130 132 138 145 147 148 149 150 153 155 157 160
 161 163 165 166 168 169 171 174 175 178 180 181 182 183 188 190 198 212
 230 231 237 239 245 246 249 264 266 269 271 284 286 287 295 299 306 313
 317 323 329 338 346 354 357 360 372 379 384 386 387 395 400 402 410 413
 417 423 425 430 453 455 460 461]
lineage 23: 4 cells
(244, 3)
(244, 3)
curr_ad     Position  Cell  Count
0          1     1    148
6          3     1     59
10         4     1    109
11         5     1      6
14         7     1      2
donor0_lineage23
[ -1   2   3   5   9  10  12  13  14  17  25  26  34  35  39  41  46  48
  49  50  53  54  56  57  58  62  63  67  68  74  76  77  80  87  88  90
  91 100 101 103 105 106 107 108 110 112 114 116 117 118 119 123 125 126
 129 130 132 138 145 147 148 149 150 152 153 155 157 160 161 162 163 165
 166 169 170 171 174 175 176 177 178 179 180 181 182 183 188 190 198 209
 215 226 230 237 240 241 244 245 249 252 253 255 257 264 266 268 275 277
 285 286 292 293 295 296 298 299 300 301 304 306 310 312 313 318 320 321
 323 324 329 331 332 334 336 339 343 345 352 354 357 360 361 362 363 366
 367 372 374 375 376 380 384 386 387 390 393 395 398 400 402 403 410 412
 413 414 417 418 419 421 423 424 425 428 432 436 449 453 455 458 460]
lineage 24: 16 cells
(857, 3)
(857, 3)
curr_ad     Position  Cell  Count
0          1     1    170
6          4     1     50
10         5     1    132
13         7     1      9
14         8     1      6
donor0_lineage24
[ -1   0   2   3   5   9  10  12  13  25  26  28  31  35  38  39  40  41
  46  48  49  50  53  54  58  62  67  68  74  77  80  81  86  87  88  90
  91 100 101 103 105 106 108 110 112 114 117 118 119 123 125 126 129 130
 131 132 138 139 147 148 149 150 152 153 155 157 160 161 163 166 168 169
 171 174 175 176 177 178 179 180 181 182 183 188 190 198 207 209 212 217
 230 233 241 247 249 250 253 257 258 260 264 266 269 273 283 285 291 292
 295 296 299 302 315 316 317 318 320 323 329 334 336 343 345 347 351 352
 354 357 360 362 365 368 370 372 375 376 379 380 381 386 387 393 395 397
 400 408 409 410 413 414 417 419 423 429 431 432 433 436 444 454 458 461]
lineage 25: 11 cells
(649, 3)
(649, 3)
curr_ad     Position  Cell  Count
0          1     1   1067
4          4     1     12
6          5     1    412
10         6     1   1064
11         7     1     38
donor0_lineage25
[ -1   1   2   3   4   5   8   9  10  12  13  14  15  16  17  18  22  23
  24  25  26  28  32  33  35  38  39  40  41  42  46  48  49  50  53  54
  56  57  58  60  62  63  65  67  68  74  77  78  79  80  81  83  86  87
  88  91  92  96 100 101 103 105 106 107 108 110 112 114 116 117 118 119
 123 125 126 127 129 130 131 132 133 134 138 139 145 146 147 148 149 150
 152 153 155 157 160 161 162 163 165 166 167 168 169 171 174 175 178 179
 180 181 182 183 186 188 190 193 198 200 204 207 208 209 210 212 213 214
 215 216 217 219 220 221 223 224 226 228 229 230 239 240 241 243 244 247
 248 249 250 253 255 257 258 261 264 266 269 271 275 279 284 286 291 292
 296 299 301 302 306 311 312 313 317 318 321 323 329 330 334 335 337 339
 341 343 345 346 347 356 357 360 362 365 367 372 375 376 379 380 381 384
 386 387 400 402 407 408 412 413 414 418 421 422 432 433 436 437 441 444
 450 451 453 457 460 461]
lineage 26: 34 cells
(1733, 3)
(1733, 3)
curr_ad     Position  Cell  Count
0          1     1   5674
4          4     1     35
5          5     1     10
6          6     1   1851
10         8     1   6720
donor0_lineage26
[ -1   0   1   2   3   5   8   9  12  13  31  35  41  46  53  54  58  62
  63  74  77  79  80  87  88  90  91 100 101 105 106 112 114 117 119 123
 126 129 131 132 138 139 147 149 150 152 153 155 160 161 163 165 168 171
 172 174 175 176 177 178 179 180 181 188 190 198 217 226 230 244 249 250
 256 258 262 266 284 292 295 296 299 302 304 306 317 318 329 330 334 337
 341 343 345 347 357 360 367 375 379 380 384 387 393 398 400 402 403 408
 413 425 426 427 432 434 437 441 444]
lineage 27: 6 cells
(310, 3)
(310, 3)
curr_ad     Position  Cell  Count
0          1     1    289
1          2     1      4
6          6     1     68
10         8     1    258
13         9     1      4
donor0_lineage27
[ -1   1   2   3   5   8   9  10  12  13  14  17  18  25  26  28  29  32
  34  35  38  39  41  46  48  49  50  53  54  56  57  58  62  63  67  68
  74  77  79  80  81  87  88  90  91 100 101 103 105 106 107 108 110 112
 114 116 117 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149
 150 152 153 155 157 160 161 162 163 165 166 168 169 170 171 172 173 174
 175 176 177 178 179 180 181 182 183 188 190 192 209 212 215 226 227 230
 237 241 245 246 248 249 250 251 253 255 258 260 261 264 266 267 268 269
 272 273 276 277 283 284 286 287 295 296 298 299 300 301 302 304 305 310
 312 313 315 316 317 318 320 321 329 334 336 337 338 339 343 345 352 354
 357 360 362 363 365 367 372 375 380 381 384 386 387 390 391 393 395 397
 398 400 402 403 407 408 410 412 413 416 419 421 426 430 432 433 436 437
 441 445 450 451 453 457 460 461]
lineage 28: 23 cells
(1417, 3)
(1417, 3)
curr_ad    Position  Cell  Count
0         1     1    911
2         2     1     15
3         3     1      2
4         4     1     14
6         5     1    260
donor0_lineage28
[ -1   2   5   9  12  13  28  35  39  41  46  48  49  54  58  62  67  74
  77  80  87  88  91 100 101 105 106 107 112 114 117 118 119 123 126 129
 130 131 132 138 145 147 149 150 152 155 157 160 161 162 163 168 169 171
 175 178 180 181 188 215 230 245 248 249 250 253 254 257 261 266 291 296
 299 301 312 313 318 321 323 329 334 337 343 360 362 367 380 384 400 402
 403 417 440 444]
lineage 29: 6 cells
(286, 3)
(286, 3)

curr_ad     Position  Cell  Count
0          1     1    148
6          3     1     42
10         4     1    144
14         6     1      7
36         8     1    113
donor0_lineage29
[ -1   1   2   3   5   8   9  10  12  14  17  25  26  28  32  35  38  39
  41  46  48  49  50  53  54  56  57  58  62  63  67  68  74  77  80  81
  87  88  90  91 100 101 103 105 106 107 108 110 112 114 116 117 118 123
 125 126 129 130 131 132 138 139 147 148 149 150 152 153 155 157 160 161
 162 163 165 166 168 169 170 171 172 174 175 176 177 178 179 180 181 182
 183 188 190 198 212 217 226 230 238 239 249 250 253 257 258 264 266 268
 284 285 295 304 306 310 312 323 329 334 343 347 352 353 357 376 380 386
 398 400 403 409 410 413 414 427 430 458]
lineage 30: 8 cells
(494, 3)
(494, 3)
curr_ad     Position  Cell  Count
0          1     1    235
6          5     1     80
10         7     1    109
11         8     1      2
13         9     1     11
donor0_lineage30
[ -1   5   9  12  13  35  46  54  58  62  67  68  74  77  80  87  91 100
 101 105 106 112 116 123 126 132 138 145 147 149 150 155 160 161 163 171
 175 178 180 181 188 190 220 239 258 266 284 295 299 306 310 312 334 367
 371 372 378 387 395 412 424 425]
lineage 31: 2 cells
(99, 3)
(99, 3)
curr_ad     Position  Cell  Count
0          1     1    208
6          2     1     65
10         3     1    263
13         4     1      6
36         6     1    229
donor0_lineage31
[ -1   3   4   5   7   8   9  12  13  14  15  20  25  26  28  29  30  35
  36  37  38  39  40  41  42  44  45  46  49  50  52  53  54  55  56  57
  58  61  62  63  67  68  71  74  75  76  77  78  79  80  84  86  87  88
  89  91  93 100 101 103 105 106 110 112 113 114 115 116 118 119 120 123
 125 126 128 129 130 131 132 133 138 139 143 144 145 146 147 149 150 152
 153 155 157 158 160 161 162 163 165 168 171 172 174 175 176 177 178 179
 180 181 188 190 194 197 198 200 205 207 208 209 212 215 233 239 246 249
 253 262 264 266 284 285 292 295 299 304 306 312 313 324 334 336 343 347
 356 357 362 363 367 370 372 375 379 380 386 397 398 400 412 413 414 417
 423 426 429 432]
lineage 32: 10 cells
(554, 3)
(554, 3)
curr_ad    Position  Cell  Count
0         1     1   4079
4         2     1     96
5         3     1     14
6         4     1   1656
8         5     1     34
donor0_lineage32
[ -1   2   3   5   9  10  12  13  28  35  39  41  46  48  50  53  54  56
  57  58  62  63  67  68  74  77  79  80  81  87  91 100 101 105 106 108
 110 112 114 116 117 118 119 123 126 129 130 131 132 138 139 145 147 148
 149 150 153 155 157 160 161 163 166 168 171 175 178 180 181 188 190 198
 209 212 215 226 230 239 240 247 248 249 250 253 257 258 261 264 266 268
 271 278 284 285 292 295 296 298 299 301 304 305 306 310 312 313 318 321
 329 334 335 336 337 339 341 342 343 346 347 351 353 357 360 362 364 365
 367 372 375 376 379 380 383 384 386 387 393 398 400 402 403 407 408 409
 410 412 413 414 417 418 419 421 423 425 427 430 432 436 450 451 458 461]
lineage 33: 15 cells
(764, 3)
(764, 3)
curr_ad     Position  Cell  Count
0          1     1    232
6          4     1     51
10         5     1    210
13         7     1      6
36        10     1    198
donor0_lineage33
[]
lineage 34: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor0_lineage34
[]
lineage 35: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor0_lineage35
[ -1   3   5   9  12  13  14  17  25  26  28  31  32  35  39  41  46  48
  50  53  54  56  57  58  62  63  67  68  74  77  79  80  81  87  88  90
  91 100 101 105 106 108 110 112 114 116 117 118 119 123 125 126 129 130
 132 138 139 145 147 148 149 150 152 155 157 160 161 163 165 166 168 170
 171 172 175 176 177 178 179 180 181 182 183 188 190 198 212 215 217 226
 230 231 233 235 239 241 245 248 249 250 253 256 257 264 266 268 269 271
 272 273 279 284 285 291 292 298 299 301 304 305 306 312 313 317 318 323
 329 331 334 336 338 339 341 343 345 346 348 351 352 353 354 357 360 362
 363 365 367 370 372 375 376 379 380 387 395 398 400 402 407 408 410 413
 415 417 418 423 429 430 432 433 436 450 453 454 456 461]
lineage 36: 17 cells
(878, 3)
(878, 3)
curr_ad     Position  Cell  Count
0          1     1    161
6          3     1     56
10         4     1    183
13         5     1      2
26         9     1      2
donor0_lineage36
[ -1   2   3   5   9  12  13  25  26  28  35  38  39  41  46  48  49  53
  54  56  58  62  67  68  74  77  79  80  81  87  88  91 100 101 103 105
 106 110 112 114 117 118 119 123 126 129 130 131 132 138 139 145 147 148
 149 150 152 155 157 159 160 161 163 166 171 175 178 180 181 182 183 188
 190 212 215 239 241 245 246 248 249 250 253 258 261 264 266 275 284 285
 291 292 295 296 299 301 306 310 312 313 315 323 329 334 336 339 343 351
 354 357 360 362 363 367 372 375 379 380 390 397 398 400 402 410 412 413
 418 421 423 430 432 433 453 460 461 462]
lineage 37: 12 cells
(603, 3)
(603, 3)
curr_ad     Position  Cell  Count
0          1     1    259
6          4     1     64
10         5     1    274
14         7     1      3
36        11     1    236
donor0_lineage37
[ -1   0   2   3   4   5   6   8   9  12  13  15  25  28  33  35  37  39
  40  41  42  45  46  48  49  54  57  58  62  67  69  74  77  80  81  82
  87  91  98 100 101 103 104 105 106 110 112 114 115 117 118 119 123 125
 126 129 131 132 138 139 144 145 146 147 148 149 150 152 153 155 157 159
 160 161 162 163 165 168 169 170 171 172 173 174 175 178 180 181 182 183
 188 190 198 212 215 217 230 239 245 246 248 249 256 264 266 271 275 283
 284 285 291 292 299 301 303 304 305 310 312 313 320 325 329 334 336 337
 344 346 347 351 357 362 363 380 386 391 394 397 400 402 403 409 410 413
 421 424 425 426 432 434 444 449 458]
lineage 38: 9 cells
(485, 3)
(485, 3)
curr_ad    Position  Cell  Count
0         1     1   1976
1         2     1      2
3         3     1      2
4         4     1     18
5         5     1      8
donor0_lineage38
[ -1   2   3   5   8   9  10  12  13  14  17  25  26  28  31  32  35  38
  39  41  43  46  48  49  53  54  56  57  58  62  63  67  68  74  77  79
  80  81  87  88  91 100 101 103 105 106 108 110 112 114 116 117 118 119
 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 153 155 157
 160 161 162 163 165 166 168 171 174 175 178 180 181 182 183 188 198 212
 215 226 230 231 239 240 245 249 253 261 266 268 271 284 285 286 290 291
 292 295 299 301 307 310 312 313 316 318 334 337 339 341 345 347 348 353
 354 357 360 362 363 365 367 372 376 379 380 386 387 390 395 400 408 412
 413 415 417 423 425 426 429 430 434 436 450 458]
lineage 39: 13 cells
(698, 3)
(698, 3)
curr_ad     Position  Cell  Count
0          1     1    132
6          4     1     49
10         6     1    216
13         8     1     16
14         9     1      2
donor0_lineage39
[ -1   3   5   9  10  12  13  17  26  32  35  38  39  41  43  46  48  49
  54  57  58  62  63  67  68  74  77  79  80  81  87  88  90  91 100 101
 105 106 108 110 112 114 117 118 119 123 126 129 130 131 132 138 145 147
 148 149 150 153 155 160 161 162 163 165 166 168 170 171 173 174 175 178
 180 181 182 183 188 212 230 235 239 249 255 258 264 266 268 269 277 284
 285 292 295 299 301 304 310 312 313 318 321 323 324 329 334 335 341 343
 345 346 353 357 360 362 365 370 372 379 380 386 393 395 398 400 403 413
 415 419 423 425 427 430 432 434 449 454 461]
lineage 40: 10 cells
(525, 3)
(525, 3)
curr_ad     Position  Cell  Count
0          1     1    325
6          3     1     55
10         4     1    263
11         5     1      2
13         6     1     13
donor0_lineage40
[ -1   1   2   3   5   8   9  10  12  13  14  17  25  26  28  31  34  35
  38  39  41  43  46  48  49  50  53  54  56  57  58  62  63  67  68  74
  77  78  79  80  81  87  88  90  91 100 101 103 105 106 107 108 110 112
 114 116 117 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149
 150 152 153 155 157 160 161 162 163 165 166 168 169 170 171 172 173 174
 175 176 177 178 179 180 181 182 183 188 190 198 209 212 215 226 230 239
 241 245 248 249 253 254 255 258 264 266 268 269 271 273 284 285 287 291
 292 295 296 298 299 301 302 310 312 313 314 315 316 318 320 323 329 331
 334 335 336 337 339 341 343 353 356 357 360 362 363 366 367 370 372 375
 379 380 381 386 387 393 394 395 397 398 400 401 402 403 404 407 410 412
 413 421 425 426 430 432 434 436 444 453 455 456 460 461]
lineage 41: 23 cells
(1343, 3)
(1343, 3)
curr_ad     Position  Cell  Count
0          1     1    332
3          3     1      4
6          5     1     88
10         7     1    235
11         8     1      6
donor0_lineage41

[ -1   1   2   3   5   8   9  10  12  13  14  17  25  26  28  32  34  35
  38  39  41  46  48  49  50  53  54  56  57  58  62  63  67  68  74  77
  78  79  80  81  87  88  90  91 100 101 105 106 108 110 112 114 116 117
 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 153
 155 157 160 161 162 163 165 166 168 169 170 171 172 174 175 178 180 181
 182 183 188 190 198 209 212 215 217 226 230 233 239 240 241 242 244 245
 246 247 248 249 250 253 255 256 257 258 261 264 266 268 269 271 272 273
 277 278 281 283 284 285 286 291 292 295 296 297 298 299 301 305 306 310
 312 313 316 317 318 321 323 324 328 329 334 336 337 339 341 343 346 347
 348 351 353 356 357 360 362 363 364 365 367 370 374 375 376 379 380 381
 384 386 390 393 395 398 400 403 406 408 409 410 412 413 414 415 417 419
 421 422 423 424 425 432 433 435 436 437 444 451 453 455 460 461 462]
lineage 42: 36 cells
(1894, 3)
(1894, 3)
curr_ad     Position  Cell  Count
0          1     1    277
6          5     1     85
10         7     1    260
13         9     1      4
36        18     1    298
donor0_lineage42
[]
lineage 43: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor0_lineage43
[ -1   3   5   9  12  14  31  35  46  48  54  57  58  62  68  74  77  80
  81  87  91 100 101 103 105 106 112 116 117 118 119 123 125 126 129 130
 131 132 138 147 149 150 155 160 161 162 163 165 168 171 172 174 175 177
 178 180 181 182 188 190 198 230 231 239 240 245 249 250 253 261 264 266
 268 271 286 295 296 298 302 304 306 312 321 334 337 339 351 352 357 360
 362 367 372 380 381 384 386 387 395 398 399 400 412 413 417 418 419 423
 430 453 458 460 461]
lineage 44: 7 cells
(348, 3)
(348, 3)
curr_ad     Position  Cell  Count
0          1     1    330
6          3     1    100
10         4     1    284
32         7     1      2
36         8     1    284
donor0_lineage44
[ -1   3   4   5   9  10  12  13  14  15  17  20  21  22  28  35  38  39
  40  42  45  46  48  49  50  51  53  54  55  56  57  58  59  60  62  63
  65  67  68  70  71  72  74  76  77  78  79  80  81  82  83  84  85  87
  88  90  91  93  96 100 101 103 105 106 108 110 111 112 114 116 117 118
 119 121 123 125 126 129 130 131 132 138 139 143 144 145 147 148 149 150
 152 153 155 157 158 160 161 162 163 165 166 167 168 169 170 171 172 173
 174 175 176 177 178 179 180 181 182 183 185 188 190 193 197 200 207 209
 212 217 235 244 261 266 273 277 287 299 305 312 313 323 325 329 339 343
 357 360 363 367 379 380 386 388 392 393 400 406 409 410 412 413 424 432
 445 457 460]
lineage 45: 7 cells
(441, 3)
(441, 3)
curr_ad     Position  Cell  Count
0          1     1   8107
4          2     1    113
5          3     1     30
6          4     1   1910
10         5     1   7267
donor0_lineage45
[ -1   1   2   3   5   8   9  10  12  13  14  17  18  25  26  28  31  32
  35  38  39  41  46  48  49  50  53  54  56  57  58  62  63  67  68  74
  77  79  80  81  87  88  90  91 100 101 103 105 106 107 108 110 112 114
 116 117 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150
 152 153 155 157 160 161 162 163 165 166 168 169 170 171 172 174 175 176
 177 178 179 180 181 182 183 188 190 198 209 212 226 230 233 235 239 241
 244 246 247 249 253 255 258 261 264 266 271 277 284 285 290 292 295 298
 299 300 301 302 306 310 312 313 316 317 319 320 322 329 330 334 336 337
 339 343 345 347 348 354 355 356 357 360 362 363 367 370 372 375 376 379
 380 381 383 386 390 395 400 402 403 408 410 412 413 415 423 426 428 433
 434 435 436 437 453 455 456 458 460 461]
lineage 46: 15 cells
(932, 3)
(932, 3)
curr_ad     Position  Cell  Count
0          1     1    303
6          5     1    108
10         7     1    324
13         9     1      9
14        10     1      3
donor0_lineage46
[ -1   1   2   3   5   9  10  12  13  17  25  35  38  39  43  46  48  49
  53  54  56  57  58  62  67  68  74  77  80  81  87  88  91 100 101 103
 105 106 110 112 114 116 117 118 119 123 125 126 129 130 131 132 138 145
 147 149 150 152 155 160 161 162 163 165 166 168 169 170 171 172 174 175
 176 177 178 179 180 181 182 183 188 190 209 212 217 230 244 249 253 258
 266 269 273 275 284 285 291 292 295 301 306 334 337 339 340 351 357 360
 367 370 376 379 380 381 393 395 400 402 403 406 410 424 426 430 433 460]
lineage 47: 5 cells
(307, 3)
(307, 3)
curr_ad     Position  Cell  Count
0          1     1    264
6          5     1     94
10         6     1    254
13         8     1      7
14         9     1      8
donor0_lineage47
[ -1   2   3   5   8   9  10  12  13  25  28  31  35  38  39  41  46  48
  53  54  57  58  62  63  67  74  77  80  81  87  88  90  91 100 101 105
 106 110 112 114 116 117 118 119 123 125 126 130 131 132 138 139 147 149
 150 152 153 155 157 160 161 162 163 166 168 169 171 175 178 180 181 182
 183 188 190 198 212 215 226 239 240 244 246 248 249 253 262 264 265 266
 268 273 274 275 283 284 292 295 296 304 305 306 310 312 313 316 317 318
 321 322 323 324 327 329 334 337 339 341 345 346 348 353 357 360 362 367
 372 375 376 379 380 387 393 398 400 402 403 409 412 413 417 418 421 441
 453 460]
lineage 48: 12 cells
(622, 3)
(622, 3)
curr_ad     Position  Cell  Count
0          1     1    379
4          3     1      6
6          4     1     79
10         6     1    324
13         8     1      5
donor0_lineage48
[ -1   2   5   9  12  13  14  28  35  38  46  48  49  53  54  57  58  62
  67  68  74  77  80  87  88  90  91 100 101 105 106 110 112 114 116 117
 118 119 123 126 129 130 131 132 138 139 147 148 149 150 152 155 157 160
 161 162 163 166 168 171 172 175 178 180 181 182 183 188 190 198 248 250
 268 310 334 337 343 354 357 360 365 370 379 380 393 398 413 453]
lineage 49: 3 cells
(176, 3)
(176, 3)
curr_ad     Position  Cell  Count
0          1     1    206
6          3     1     59
10         4     1    192
14         6     1      6
15         7     1      2
donor0_lineage49
[]
lineage 50: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor0_lineage50
[]
lineage 51: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor0_lineage51
[ -1   0   1   2   3   5   8   9  10  12  13  14  17  26  28  35  38  39
  41  43  46  49  50  53  54  56  57  58  62  63  67  68  74  77  80  81
  87  91 100 101 105 106 107 108 110 112 114 117 118 119 123 125 126 129
 130 132 138 139 145 147 148 149 150 153 155 157 160 161 162 163 165 166
 168 170 171 172 173 175 176 177 178 179 180 181 182 183 188 190 198 212
 230 239 244 245 248 249 253 257 260 261 264 266 271 285 287 292 295 298
 299 303 305 310 312 313 318 320 321 337 341 343 353 354 357 362 367 370
 372 375 379 380 381 384 386 393 395 398 400 402 407 408 409 410 413 414
 417 419 421 426 432 433 436 444 445 454 455 461]
lineage 52: 11 cells
(608, 3)
(608, 3)
curr_ad     Position  Cell  Count
0          1     1    293
3          4     1      4
4          5     1      3
6          6     1     99
10         8     1    238
donor0_lineage52
[]
lineage 53: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor0_lineage53
[ -1   1   2   3   5   8   9  10  12  13  14  17  25  26  28  29  35  38
  39  41  46  48  49  50  53  54  56  57  58  62  63  67  68  74  77  80
  81  87  88  90  91 100 101 103 105 106 107 108 110 112 114 116 117 118
 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 153 155
 157 160 161 162 163 165 166 168 169 170 171 172 174 175 176 177 178 179
 180 181 182 183 188 190 209 212 215 226 230 233 238 239 241 245 246 247
 249 253 255 256 261 264 266 268 271 275 282 284 285 286 291 292 296 298
 299 301 302 304 306 310 312 313 316 319 320 321 322 323 325 329 334 336
 337 339 341 343 347 354 359 360 362 363 365 367 370 372 373 375 376 379
 380 381 386 387 390 393 395 398 400 401 403 406 407 408 410 412 413 414
 417 421 422 423 424 425 430 436 437 441 444 445 453 454 462]
lineage 54: 15 cells
(999, 3)
(999, 3)
curr_ad     Position  Cell  Count
0          1     1    208
3          3     1      2
6          5     1     54
10         7     1    177
11         8     1      5
donor0_lineage54
[ -1   1   3   4   5   8   9  10  12  13  14  17  20  21  25  26  28  30
  31  35  36  38  39  40  42  46  48  49  50  53  54  56  58  62  63  64
  65  67  68  69  70  71  74  76  77  79  80  81  82  83  84  86  87  88
  91  96 100 101 103 105 106 107 108 109 110 112 113 114 116 117 118 119
 123 125 126 127 129 130 131 132 133 136 138 139 143 145 147 148 149 150
 152 155 156 160 161 162 163 165 166 167 168 170 171 172 175 176 177 178
 179 180 181 182 183 186 188 190 197 198 209 212 224 226 239 242 244 245
 248 249 253 264 266 292 295 296 304 305 312 313 314 320 324 329 331 334
 336 339 341 343 346 347 351 354 357 360 362 365 372 375 380 382 387 395
 398 400 403 405 408 409 412 413 415 418 421 444 453 461 462]
lineage 55: 10 cells
(593, 3)
(593, 3)
curr_ad    Position  Cell  Count
0         1     1   5225
4         3     1     25
5         4     1     32
6         5     1   1792
9         6     1      4
donor0_lineage55
[ -1   1   2   3   5   9  10  12  13  14  17  25  26  28  35  39  41  46
  48  49  50  53  54  56  57  58  62  63  67  68  74  77  80  81  87  88
  90  91 100 101 103 105 106 107 108 110 112 114 116 117 118 119 123 125
 126 129 130 131 132 138 139 145 147 148 149 150 152 153 155 157 160 161
 162 163 165 166 168 170 171 172 174 175 176 177 178 179 180 181 182 183
 188 190 198 212 215 226 230 233 239 246 249 250 253 256 257 261 264 266
 269 275 277 284 289 292 295 296 298 299 301 302 306 312 313 317 320 321
 323 329 334 337 338 339 341 343 346 347 352 354 357 362 363 364 367 370
 372 375 376 379 380 383 386 387 390 398 399 400 409 410 412 413 414 417
 418 422 425 426 432 433 436 441 444 453 456 458 461]
lineage 56: 17 cells
(1028, 3)
(1028, 3)
curr_ad     Position  Cell  Count
0          1     1    159
3          3     1      2
6          5     1     83
10         6     1    225
11         7     1      2
donor0_lineage56

[ -1   5   8   9  12  13  35  38  46  48  53  54  58  62  74  77  80  87
  88  91 100 101 105 106 110 112 116 117 118 123 126 132 138 147 148 149
 150 155 160 161 163 165 168 171 175 178 180 181 182 188 212 217 230 248
 308 336 345 357 367 381 393 432 460]
lineage 57: 2 cells
(101, 3)
(101, 3)
curr_ad     Position  Cell  Count
0          1     1    289
6          2     1    106
9          3     1      2
10         4     1    304
13         5     1     10
donor0_lineage57
[ -1   1   2   3   4   5   8   9  10  12  13  14  15  16  17  18  20  21
  22  23  25  26  28  31  32  33  34  35  36  39  40  41  42  45  46  48
  49  50  51  52  53  54  55  56  57  58  61  62  63  64  65  66  67  68
  69  70  71  74  76  77  78  80  81  82  83  84  87  88  89  90  91  92
  93  94  96 100 101 103 105 106 107 108 109 110 112 114 116 117 118 120
 121 122 123 125 126 127 129 130 131 132 133 134 137 138 139 140 142 143
 144 145 146 147 148 149 150 152 153 155 156 157 158 160 161 162 163 164
 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182
 183 185 186 187 188 190 198 209 212 243 249 253 258 266 274 284 285 294
 299 312 317 321 327 329 334 343 345 352 354 357 362 363 372 375 379 381
 390 395 397 400 412 415 419 423 453]
lineage 58: 6 cells
(478, 3)
(478, 3)
curr_ad    Position  Cell  Count
0         1     1   3293
3         3     1      2
4         4     1     95
5         5     1      7
6         6     1   1476
donor0_lineage58
[ -1   0   3   4   5   8   9  10  12  13  14  16  17  18  22  25  26  28
  33  35  36  38  39  40  41  42  46  48  49  52  53  54  56  57  58  62
  63  64  66  67  68  69  70  71  74  76  77  79  80  81  82  83  84  86
  87  88  89  90  91  96 100 101 103 105 106 108 110 112 114 115 116 117
 118 119 120 123 125 126 129 130 131 132 135 137 138 139 140 145 146 147
 148 149 150 152 153 155 157 158 160 161 162 163 166 168 169 171 172 174
 175 176 177 178 179 180 181 182 183 186 187 188 190 198 209 212 215 226
 230 233 239 244 245 247 248 249 250 256 261 264 266 267 269 270 271 273
 285 291 292 295 299 301 306 310 312 313 316 320 323 324 329 334 335 337
 339 341 343 346 351 352 357 360 362 363 367 372 375 379 380 381 386 390
 393 394 395 398 400 402 403 406 407 408 412 413 414 415 417 418 419 431
 433 435 436 453 455 461]
lineage 59: 11 cells
(653, 3)
(653, 3)
curr_ad    Position  Cell  Count
0         1     1   2386
1         2     1      2
4         3     1     32
5         4     1      7
6         5     1    968
donor0_lineage59
[ -1   0   1   3   4   5   8   9  10  11  12  13  14  15  17  18  20  21
  23  25  26  28  29  30  31  33  34  35  36  39  40  41  46  47  48  49
  50  51  53  54  55  56  57  58  62  63  65  67  68  74  76  77  78  80
  81  82  83  87  88  90  91  93  95 100 101 103 105 106 107 108 109 110
 112 114 116 117 118 119 121 123 125 126 129 130 131 132 133 134 138 139
 144 145 147 148 149 150 152 153 155 156 157 160 161 162 163 165 166 167
 168 169 170 171 172 174 175 176 177 178 179 180 181 182 183 185 188 190
 193 198 201 204 209 212 215 217 220 222 226 228 229 239 241 243 244 246
 248 249 250 253 255 256 257 258 261 264 266 269 273 277 281 284 285 291
 292 298 299 304 306 310 312 313 315 317 318 321 324 325 329 331 334 337
 341 343 345 346 347 354 355 357 360 362 363 365 367 372 373 375 376 379
 380 381 384 386 393 394 395 400 402 412 413 414 417 425 430 449 453 460
 461 462]
lineage 60: 18 cells
(982, 3)
(982, 3)
curr_ad     Position  Cell  Count
0          1     1   5949
4          4     1     12
5          5     1     41
6          6     1    979
10         8     1   5090
donor0_lineage60
[]
lineage 61: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor0_lineage61
[]
lineage 62: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor0_lineage62
[ -1   3   5   9  10  12  13  14  25  26  35  38  39  41  46  48  53  54
  57  58  62  63  67  68  74  77  80  87  90  91 100 101 105 106 112 116
 123 125 126 129 130 132 138 139 145 147 148 149 150 152 153 155 157 160
 161 162 163 165 166 168 170 171 175 176 177 178 179 180 181 182 183 188
 190 212 226 239 241 245 246 248 249 250 256 262 264 266 269 271 284 289
 292 295 296 299 310 312 313 315 318 320 334 336 339 343 347 352 357 360
 362 363 375 376 380 386 387 390 396 400 403 404 406 409 413 416 430 433
 441 443 444 454 458]
lineage 63: 11 cells
(543, 3)
(543, 3)
curr_ad     Position  Cell  Count
0          1     1    225
6          3     1     69
10         4     1    217
13         6     1     10
14         7     1      2
donor0_lineage63
[ -1   0   3   5   9  12  13  25  26  35  38  39  41  43  46  48  49  50
  53  54  56  57  58  62  63  67  68  74  77  79  80  81  87  88  90  91
 100 101 105 106 107 112 116 119 123 125 126 129 131 132 138 139 145 147
 148 149 150 152 153 155 160 161 162 163 165 169 170 171 175 178 180 181
 188 190 209 212 217 230 244 246 253 264 266 269 283 288 291 292 299 310
 312 316 334 337 341 343 346 347 351 354 362 363 367 372 376 380 381 386
 390 395 398 400 407 410 412 413 417 419 424 433 453]
lineage 64: 8 cells
(394, 3)
(394, 3)
curr_ad     Position  Cell  Count
0          1     1    246
6          4     1     58
10         5     1    213
13         6     1      4
26         8     1      4
donor0_lineage64
[ -1   5   8   9  12  13  14  17  35  39  41  46  53  54  56  57  58  62
  67  68  74  77  80  81  87  91 100 101 105 106 110 112 114 116 117 118
 123 125 126 129 130 132 138 139 145 147 149 150 153 155 160 161 163 168
 170 171 175 178 180 181 188 190 198 212 230 241 249 264 284 295 299 302
 310 312 316 321 336 341 343 360 367 379 385 391 393 398 400 408 410 413
 415 423 444 456 458]
lineage 65: 4 cells
(210, 3)
(210, 3)
curr_ad     Position  Cell  Count
0          1     1    195
6          2     1     89
10         4     1    214
13         5     1     12
18         8     1      2
donor0_lineage65
[ -1   5   9  12  13  17  26  28  35  39  46  49  50  54  57  58  62  74
  77  80  87  91 100 101 103 105 106 107 108 110 112 114 117 118 123 125
 126 132 138 147 149 150 152 155 157 160 161 162 163 166 168 171 175 178
 180 181 182 183 188 190 230 240 248 281 296 299 312 321 393 397 400 414
 432]
lineage 66: 2 cells
(108, 3)
(108, 3)
curr_ad     Position  Cell  Count
0          1     1    251
6          2     1     44
10         3     1    157
13         4     1      4
27         7     1      2
donor0_lineage66
[ -1   5   9  10  12  13  14  17  18  26  35  38  39  41  46  48  49  50
  53  54  56  57  58  62  63  74  77  80  87  88  90  91 100 101 105 106
 108 110 112 114 116 117 118 119 123 125 126 129 130 132 138 139 145 147
 148 149 150 155 160 161 163 165 168 170 171 172 174 175 178 180 181 182
 183 188 190 202 212 226 230 244 245 246 250 251 253 254 257 258 266 269
 271 286 298 301 317 329 334 337 343 367 372 379 380 381 389 390 393 397
 398 400 402 404 412 413 414 417 425 432 433 436 460]
lineage 67: 4 cells
(262, 3)
(262, 3)
curr_ad     Position  Cell  Count
0          1     1    354
6          2     1    122
10         3     1    295
11         4     1      3
13         5     1     10
donor0_lineage67
[ -1   2   3   5   8   9  10  12  13  17  26  28  34  35  38  39  43  46
  48  49  50  53  54  56  57  58  62  67  68  74  76  77  80  81  87  88
  91 100 101 105 106 110 112 114 116 117 118 119 123 125 126 129 130 131
 132 138 139 145 147 149 150 155 160 161 163 165 166 168 170 171 172 175
 176 177 178 179 180 181 188 190 198 212 215 226 230 231 234 241 245 248
 249 250 253 258 261 266 267 271 279 291 292 295 296 298 305 310 312 313
 315 320 323 325 329 334 336 337 338 339 343 347 352 354 357 360 362 365
 367 370 372 375 380 386 387 393 395 400 403 409 412 413 418 421 423 434
 436 444 445 447 453]
lineage 68: 14 cells
(699, 3)
(699, 3)
curr_ad     Position  Cell  Count
0          1     1    332
6          4     1    102
10         6     1    239
11         7     1      2
13         8     1     24
donor0_lineage68
[ -1   1   3   5   8   9  10  12  13  14  17  26  29  34  35  38  39  41
  46  48  49  50  53  54  56  57  58  62  63  67  68  74  77  79  80  81
  87  88  91 100 101 105 106 107 108 110 112 114 117 119 123 125 126 129
 130 131 132 138 139 145 147 148 149 150 152 155 157 160 161 162 163 168
 169 171 172 173 174 175 178 180 181 182 183 188 190 198 209 212 215 220
 226 230 239 248 249 250 253 256 257 258 261 266 269 271 272 277 278 280
 284 286 295 296 298 299 301 302 304 310 311 312 313 315 321 322 324 329
 330 331 334 343 345 346 354 360 362 363 367 370 372 375 376 379 380 381
 393 397 400 403 407 409 412 413 417 419 421 423 424 425 426 430 432 433
 436 437 441 442 450 453 460]
lineage 69: 19 cells
(949, 3)
(949, 3)
curr_ad     Position  Cell  Count
0          1     1    236
6          4     1     29
10         6     1    214
13         8     1      7
14         9     1     12
donor0_lineage69
[ -1   2   3   5   9  10  12  13  14  25  26  32  35  39  41  46  48  49
  53  54  56  57  58  62  63  67  68  74  76  77  79  80  81  87  88  90
  91 100 101 103 105 106 107 108 110 112 114 116 117 118 119 123 125 126
 129 130 131 132 138 147 148 149 150 152 153 155 157 160 161 162 163 165
 166 168 169 170 171 172 175 178 180 181 182 183 188 190 198 212 215 230
 237 239 240 242 245 246 247 248 249 250 253 254 255 257 258 261 262 266
 268 269 273 284 285 290 292 295 298 299 301 310 311 312 313 315 320 321
 323 329 334 336 337 339 341 343 345 346 347 351 354 357 360 362 363 367
 370 372 375 376 379 380 381 383 384 386 388 389 397 398 400 403 407 412
 413 417 421 422 423 425 429 430 432 439 441 444 449 453 456 459 460 461]
lineage 70: 14 cells
(813, 3)
(813, 3)
curr_ad     Position  Cell  Count
0          1     1    381
3          2     1      4
6          4     1     81
10         5     1    322
11         6     1      2
donor0_lineage70

[ -1   3   5   8   9  10  12  13  14  25  26  28  29  34  35  38  39  41
  46  48  49  53  54  56  58  62  63  67  68  74  76  77  80  87  88  90
  91 100 101 103 105 106 110 112 114 117 118 119 123 125 126 129 130 131
 132 138 139 145 147 148 149 150 152 153 155 157 160 161 163 166 171 172
 174 175 176 178 180 181 182 183 187 188 190 198 209 212 215 230 239 245
 247 249 250 253 255 257 258 259 261 264 266 268 275 277 284 285 292 295
 296 299 301 304 306 310 312 313 316 317 318 320 321 323 329 334 336 339
 341 343 346 350 353 354 357 360 362 363 367 370 372 375 376 379 380 381
 384 386 387 391 393 397 398 400 402 403 406 407 410 412 413 414 415 418
 421 424 425 426 429 430 432 433 436 445 451 453 460 461]
lineage 71: 17 cells
(912, 3)
(912, 3)
curr_ad     Position  Cell  Count
0          1     1    172
4          2     1      2
6          3     1     46
10         5     1    191
13         7     1     16
donor0_lineage71
[ -1   3   5   9  12  13  32  35  38  39  41  46  48  49  54  56  58  62
  74  76  77  79  80  81  87  88  90  91 100 101 105 106 108 110 112 114
 117 118 123 126 129 130 131 132 138 139 145 147 148 149 150 152 155 160
 161 162 163 168 171 172 173 175 178 180 181 183 188 212 230 244 247 253
 257 267 269 271 282 292 296 302 304 305 306 312 313 318 320 321 323 334
 338 341 343 345 347 353 354 357 360 362 363 372 375 376 378 379 380 381
 387 395 397 398 400 407 410 415 421 424 430 458]
lineage 72: 9 cells
(426, 3)
(426, 3)
curr_ad     Position  Cell  Count
0          1     1    243
6          3     1     90
10         4     1    249
13         5     1      4
33         7     1      2
donor0_lineage72
[ -1   2   3   4   5   7   8   9  12  13  14  17  20  21  22  25  28  33
  34  35  36  38  39  40  41  45  46  48  49  50  53  54  55  57  58  60
  62  64  68  69  74  77  80  82  84  85  86  87  88  89  91  99 100 101
 103 105 106 107 108 109 110 112 114 116 117 118 119 121 123 124 125 126
 129 130 131 132 133 136 138 139 144 146 147 148 149 150 153 155 157 160
 161 163 166 168 169 170 171 174 175 177 178 180 181 182 183 185 186 188
 190 198 249 253 256 261 266 283 284 292 301 310 312 313 329 334 336 337
 343 345 346 360 370 372 375 380 400 402 403 407 412 432 436 445]
lineage 73: 5 cells
(305, 3)
(305, 3)
curr_ad    Position  Cell  Count
0         1     1   4552
4         3     1     45
5         4     1     25
6         5     1   1659
8         6     1     11
donor0_lineage73
[ -1   0   1   3   5   8   9  10  12  13  14  25  26  28  35  38  39  41
  46  48  49  50  53  54  56  57  58  62  63  67  68  74  77  79  80  81
  87  88  90  91 100 101 103 105 106 107 108 110 112 114 116 117 118 119
 123 125 126 129 130 132 138 139 145 147 148 149 150 152 153 155 157 160
 161 162 163 165 166 168 169 170 171 172 175 176 177 178 179 180 181 182
 183 188 190 198 212 220 230 241 248 249 256 266 268 271 275 283 284 285
 292 295 299 301 304 306 312 313 317 320 323 329 334 337 341 343 346 347
 352 353 357 362 372 376 379 380 381 386 387 393 395 398 400 401 402 403
 408 412 413 417 423 430 432 436]
lineage 74: 9 cells
(548, 3)
(548, 3)
curr_ad     Position  Cell  Count
0          1     1    288
4          4     1      3
6          5     1     45
10         7     1    243
13         9     1     17
donor0_lineage74
[ -1   1   3   5   8   9  10  12  13  25  26  31  35  39  41  46  48  50
  54  56  58  62  67  74  76  77  78  80  81  87  88  91 100 101 103 105
 106 108 110 112 114 116 117 118 119 123 125 126 130 132 138 139 145 147
 148 149 150 152 155 157 160 161 162 163 165 166 169 170 171 174 175 178
 180 181 182 183 188 190 212 234 248 250 256 258 262 264 272 278 284 287
 292 299 301 312 313 321 329 330 334 341 357 363 372 375 379 386 387 397
 400 403 410 421 423 426 452]
lineage 75: 8 cells
(395, 3)
(395, 3)
curr_ad     Position  Cell  Count
0          1     1    168
6          4     1     47
10         6     1    126
13         8     1      5
36        13     1    197
donor0_lineage75
[ -1   3   5   9  10  12  13  17  25  28  35  39  41  46  48  54  58  62
  67  74  77  80  81  87  88  90  91 100 101 105 106 108 112 114 116 119
 123 126 129 130 132 138 145 147 148 149 150 152 155 157 160 161 162 163
 165 166 168 169 171 174 175 178 180 181 182 183 188 190 212 215 217 226
 239 245 246 253 258 261 264 266 268 269 285 292 296 298 299 301 302 305
 312 318 321 323 334 345 348 352 357 360 361 362 363 366 367 371 372 375
 380 381 390 400 402 403 407 410 412 413 426 432 434 453 461]
lineage 76: 7 cells
(368, 3)
(368, 3)
curr_ad     Position  Cell  Count
0          1     1    121
4          2     1      2
6          3     1     33
10         4     1    155
11         5     1      2
donor0_lineage76
[ -1   1   2   3   5   8   9  10  12  13  14  17  25  28  35  38  39  41
  46  48  49  50  53  54  56  57  58  62  67  68  74  76  77  79  80  81
  87  88  90  91 100 101 103 105 106 107 108 110 112 114 116 117 118 119
 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 153 155 157
 160 161 163 165 166 168 169 171 172 174 175 176 178 180 181 188 190 198
 209 212 217 226 230 233 236 241 242 245 246 248 249 253 257 263 264 266
 269 271 275 285 286 290 291 292 295 296 299 301 302 304 305 312 313 314
 320 323 324 329 330 331 334 339 343 346 347 351 352 357 360 362 363 365
 367 372 375 379 380 381 386 387 392 393 394 395 397 398 400 402 406 408
 409 412 413 414 415 417 418 423 427 429 432 433 436 441 453 455 456 458
 460 462]
lineage 77: 16 cells
(871, 3)
(871, 3)
curr_ad     Position  Cell  Count
0          1     1    353
4          4     1      4
6          5     1    103
9          6     1      2
10         7     1    294
donor0_lineage77
[ -1   0   1   2   3   4   5   9  10  12  13  14  17  18  20  26  28  32
  33  35  38  39  40  41  43  46  48  49  50  53  54  56  57  58  60  61
  62  67  68  74  76  77  79  80  81  82  83  86  87  88  90  91  96 100
 101 103 105 106 107 108 110 112 113 114 116 118 119 121 123 125 126 129
 130 131 132 138 139 147 148 149 150 152 153 155 157 160 161 162 163 165
 166 168 169 170 171 172 174 175 176 177 178 179 180 181 182 183 185 188
 190 198 209 212 215 217 226 230 239 241 244 245 246 248 249 250 253 258
 261 264 266 268 271 284 289 292 295 298 299 301 312 313 315 316 317 318
 321 323 329 334 336 341 343 345 347 353 357 360 362 363 367 370 375 376
 379 380 381 386 387 393 395 397 398 400 402 403 407 410 412 413 417 421
 423 424 425 426 430 431 432 433 437 441 444 445 451 454 455 458 460 461]
lineage 78: 14 cells
(814, 3)
(814, 3)
curr_ad    Position  Cell  Count
0         1     1   3550
1         2     1      2
3         4     1      2
4         5     1      9
5         6     1      6
donor0_lineage78
[ -1   2   5   9  12  13  26  35  41  46  48  49  53  54  58  62  67  68
  74  77  80  87  91 100 101 103 105 106 108 112 117 118 119 123 126 132
 138 145 147 148 149 150 152 155 157 160 161 163 168 169 171 173 175 178
 180 181 188 198 212 226 230 239 250 252 258 264 266 275 292 301 302 304
 313 317 334 336 337 343 357 367 373 376 380 387 393 400 403 410 413 417
 421 430 435 436 441 444 462]
lineage 79: 4 cells
(216, 3)
(216, 3)
curr_ad     Position  Cell  Count
0          1     1    207
6          3     1     72
10         4     1    282
13         5     1      6
14         6     1      4
donor0_lineage79
[]
lineage 80: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor0_lineage80
[ -1   5   8   9  10  12  13  25  26  28  35  39  41  46  48  50  53  54
  56  58  62  67  68  74  77  79  80  81  87  88  90  91 100 101 105 106
 108 112 114 116 117 118 119 123 125 126 129 130 132 138 147 148 149 150
 152 155 157 160 161 163 165 166 170 171 175 176 177 178 179 180 181 182
 188 212 215 217 248 249 250 261 264 270 271 295 299 301 305 310 312 313
 317 320 334 341 345 357 360 362 363 367 386 393 400 402 407 412 413 414
 417 426 448 453]
lineage 81: 7 cells
(366, 3)
(366, 3)
curr_ad     Position  Cell  Count
0          1     1     85
6          2     1     72
10         4     1    204
13         6     1      4
36        11     1    194
donor0_lineage81
[ -1   3   5   8   9  12  13  14  17  18  26  31  35  38  39  41  46  48
  53  54  56  57  58  62  63  67  68  74  77  78  80  81  87  88  90  91
 100 101 103 105 106 110 112 116 117 118 119 123 125 126 129 130 131 132
 138 145 147 148 149 150 152 153 155 157 160 161 163 165 166 168 169 171
 172 175 177 178 180 181 188 190 198 209 212 215 230 239 244 245 248 249
 250 253 255 256 257 258 262 264 266 269 271 275 277 282 284 287 290 291
 292 295 296 298 299 301 304 305 306 310 312 313 316 318 321 323 329 333
 334 336 337 341 343 352 353 354 357 360 362 363 365 367 370 372 373 375
 376 379 380 384 386 387 389 393 394 395 397 398 400 402 403 407 409 410
 412 413 414 417 418 419 421 425 430 432 436 444 449 453 460 461]
lineage 82: 16 cells
(850, 3)
(850, 3)
curr_ad     Position  Cell  Count
0          1     1    443
4          2     1      6
6          3     1    200
10         5     1    562
13         6     1      9
donor0_lineage82

[ -1   1   3   4   5   8   9  12  13  14  15  16  17  18  20  21  24  26
  28  33  35  38  39  40  41  42  43  46  49  50  51  53  54  55  56  57
  58  59  62  63  65  69  71  74  77  80  81  82  83  87  88  90  91  92
  96 100 101 102 103 105 106 107 108 112 113 114 116 117 119 120 123 125
 126 129 132 134 138 139 145 147 148 149 150 152 153 155 156 157 158 160
 161 163 165 166 167 170 171 172 174 175 176 177 178 179 180 181 182 183
 186 188 190 212 250 299 304 346 354 360 362 390 400 408 413 432 460]
lineage 83: 3 cells
(234, 3)
(234, 3)
curr_ad    Position  Cell  Count
0         1     1   2325
2         2     1      4
4         3     1     10
5         4     1     13
6         5     1    920
donor0_lineage83
[ -1   1   2   3   4   5   9  10  12  13  14  17  20  25  26  28  29  35
  36  39  40  41  45  46  48  49  50  53  54  56  57  58  61  62  63  67
  68  69  71  74  77  78  80  81  87  90  91  96 100 101 103 105 106 108
 112 114 117 118 119 123 125 126 128 129 130 131 132 138 139 145 147 148
 149 150 152 153 154 155 157 160 161 162 163 165 166 168 169 170 171 172
 173 174 175 176 177 178 179 180 181 183 188 190 212 217 226 230 233 239
 241 245 246 248 249 250 253 254 257 259 261 264 266 268 269 271 273 275
 279 286 292 295 296 298 299 301 310 311 312 313 317 318 320 321 323 329
 334 337 338 341 343 345 346 347 351 357 358 362 363 367 370 372 373 375
 376 379 380 381 384 386 393 394 395 398 400 402 403 407 410 413 414 415
 418 423 424 425 426 430 431 436 437 451 455 458 460]
lineage 84: 17 cells
(914, 3)
(914, 3)
curr_ad     Position  Cell  Count
0          1     1   1628
5          5     1      8
6          6     1    578
10         7     1   2039
13         9     1     50
donor0_lineage84
[ -1   0   1   2   3   5   8   9  10  12  13  14  17  18  25  26  28  32
  35  38  39  41  46  48  49  50  53  54  56  57  58  62  63  67  68  74
  77  80  81  87  88  90  91 100 101 103 105 106 107 108 112 114 116 117
 118 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 153
 155 157 160 161 162 163 165 166 168 169 170 171 172 174 175 176 177 178
 179 180 181 182 183 187 188 190 212 215 226 230 239 241 245 248 249 250
 253 257 258 261 264 266 272 273 277 290 291 292 295 296 298 299 301 304
 305 306 311 312 313 316 320 321 325 329 330 334 336 337 338 339 341 343
 346 353 357 358 362 363 367 370 372 375 379 380 386 387 390 395 398 400
 402 403 404 409 410 412 413 417 418 421 424 425 432 433 436 444 451 457
 461]
lineage 85: 12 cells
(752, 3)
(752, 3)
curr_ad     Position  Cell  Count
0          1     1    236
1          2     1      2
6          6     1     65
10         8     1    312
13        10     1     13
donor0_lineage85
[ -1   1   3   5   8   9  10  12  13  14  25  26  28  32  35  38  39  41
  46  48  53  54  57  58  62  63  74  77  80  87  88  90  91 100 101 105
 106 107 110 112 114 116 119 123 125 126 129 130 131 132 138 139 147 148
 149 150 153 155 157 160 161 162 163 166 168 169 171 175 178 180 181 183
 188 190 212 215 226 230 233 239 245 246 248 249 250 253 259 261 264 266
 269 273 278 284 295 299 301 304 305 310 312 313 320 321 329 331 334 337
 339 341 343 345 354 357 362 370 372 375 379 380 381 384 386 387 390 398
 400 403 410 421 423 430 432 436 453 455 461]
lineage 86: 12 cells
(586, 3)
(586, 3)
curr_ad     Position  Cell  Count
0          1     1    126
4          3     1      3
6          4     1     69
10         6     1    132
13         8     1      7
donor0_lineage86
[]
lineage 87: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor0_lineage87
[ -1   0   1   2   3   5   9  12  13  14  17  26  28  35  38  39  40  41
  46  48  49  53  54  56  58  62  67  68  74  77  78  80  81  87  88  90
  91 100 101 105 106 112 116 117 118 119 123 125 126 129 130 131 132 138
 139 145 147 148 149 150 153 155 157 160 161 162 163 165 166 169 171 172
 173 175 176 177 178 179 180 181 183 188 190 197 198 204 208 209 212 217
 218 226 230 233 239 241 242 245 247 248 249 250 253 255 256 264 266 268
 271 272 273 284 286 292 295 296 298 299 304 305 306 310 312 313 314 315
 321 329 330 334 336 337 339 343 345 346 357 360 362 363 365 366 367 370
 372 375 379 380 393 398 400 402 406 407 408 412 413 414 417 418 419 424
 427 429 430 433 436 438 440 444 447 453 458 460 461]
lineage 88: 16 cells
(834, 3)
(834, 3)
curr_ad     Position  Cell  Count
0          1     1    992
4          5     1     37
6          6     1    424
10         7     1   1107
13         8     1     15
donor0_lineage88
[ -1   0   2   3   5   9  10  12  13  14  17  18  25  28  35  39  41  46
  48  49  50  53  54  58  62  67  68  74  76  77  80  81  87  88  91 100
 101 105 106 108 112 114 118 123 125 126 129 130 131 132 138 139 145 147
 148 149 150 152 153 155 157 160 161 162 163 166 168 169 171 174 175 177
 178 180 181 188 190 198 212 230 232 239 241 245 246 247 249 253 255 256
 258 259 264 266 268 271 273 277 284 285 286 287 292 295 296 299 306 312
 313 315 318 320 321 323 324 329 334 341 343 345 347 351 352 353 357 360
 362 363 365 367 369 370 372 375 379 380 384 386 389 393 395 397 400 402
 403 406 410 412 413 417 421 425 426 427 429 432 436 444 451 453 458 460
 461]
lineage 89: 14 cells
(752, 3)
(752, 3)
curr_ad     Position  Cell  Count
0          1     1    296
6          5     1     99
10         6     1    286
13         8     1     24
19        12     1      2
donor0_lineage89
[ -1   0   3   4   5   8   9  10  12  13  14  17  20  21  22  25  26  32
  33  35  38  39  40  42  44  45  46  47  48  50  51  52  54  55  57  58
  59  60  61  62  64  65  67  68  69  70  71  74  76  77  79  80  81  82
  84  85  86  87  88  89  90  91  94  96  97  99 100 101 103 104 105 106
 107 108 109 110 111 112 113 114 115 116 117 118 119 121 122 123 124 125
 126 127 129 130 131 132 138 139 140 142 143 144 145 146 147 148 149 150
 152 153 155 157 158 160 161 163 165 166 167 168 169 170 171 172 173 174
 175 176 177 178 179 180 181 185 186 188 190 197 200 208 209 212 229 230
 253 255 261 266 273 306 313 320 324 334 343 367 400 414 430]
lineage 90: 4 cells
(319, 3)
(319, 3)
curr_ad    Position  Cell  Count
0         1     1   7497
4         3     1     40
5         4     1     28
6         5     1   2140
9         6     1      4
donor0_lineage90
[ -1   2   3   4   5   7   8   9  10  12  13  14  17  19  20  22  26  28
  32  33  35  38  39  40  41  44  45  46  48  49  50  51  53  54  56  57
  58  62  63  64  67  74  77  78  80  81  82  84  87  89  90  91  93 100
 101 103 105 106 108 110 111 112 114 115 116 118 119 123 125 126 131 132
 134 136 138 145 147 148 149 150 151 152 153 155 158 160 161 162 163 165
 166 167 168 169 171 173 174 175 176 177 178 179 180 181 182 188 190 198
 200 212 213 217 226 230 233 239 245 246 248 249 253 261 264 266 268 273
 281 295 299 304 306 310 313 318 321 323 329 334 336 337 341 343 346 352
 354 357 358 362 367 372 375 379 380 381 393 394 400 402 403 408 410 412
 413 417 430 432 433 437 445 450 458 460 461]
lineage 91: 8 cells
(476, 3)
(476, 3)
curr_ad    Position  Cell  Count
0         1     1   6054
3         2     1      2
4         3     1     25
5         4     1     21
6         5     1   1887
donor0_lineage91
[ -1   2   3   4   5   7   9  12  13  14  15  17  22  25  26  31  32  33
  35  36  37  38  39  40  41  46  47  48  49  50  52  53  54  55  56  57
  58  62  65  67  68  69  70  74  76  77  78  79  80  81  82  84  85  87
  88  90  91  96 100 101 103 105 106 110 111 112 114 116 117 118 119 121
 122 123 125 126 127 128 129 130 131 132 134 135 137 138 143 144 145 147
 148 149 150 152 153 155 157 160 161 163 164 165 166 167 168 169 171 172
 174 175 176 177 178 179 180 181 182 188 198 212 215 230 239 246 248 249
 253 255 258 259 262 264 266 268 271 284 285 292 296 299 302 304 310 312
 313 315 318 323 325 329 334 343 345 347 352 353 357 358 360 362 367 370
 375 376 379 380 381 386 389 393 395 400 407 410 412 413 414 417 425 426
 430 433 434 436 441 443 453 461]
lineage 92: 9 cells
(564, 3)
(564, 3)
curr_ad     Position  Cell  Count
0          1     1   2031
4          3     1      3
5          4     1     17
6          5     1   1305
10         7     1   4106
donor0_lineage92
[ -1   2   3   5   9  12  35  38  41  46  53  54  56  58  62  67  68  74
  77  80  81  87  91 100 101 105 106 110 112 114 116 119 123 125 126 129
 130 131 132 138 139 145 147 148 149 150 152 155 160 161 162 163 166 168
 169 171 174 175 178 180 181 188 209 212 215 226 230 239 249 253 258 261
 264 266 269 271 275 284 285 290 292 295 296 298 310 313 320 323 334 335
 337 338 339 342 351 357 360 372 386 400 412 413 421 428 436 450 458]
lineage 93: 6 cells
(303, 3)
(303, 3)
curr_ad     Position  Cell  Count
0          1     1    398
4          3     1     10
6          4     1    128
10         5     1    288
13         6     1      6
donor0_lineage93

[]
lineage 94: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor0_lineage94
[ -1   3   5   8   9  10  12  13  28  35  38  41  46  48  49  53  54  57
  58  62  63  67  68  74  77  80  87  88  91 100 101 105 106 110 112 116
 117 118 119 123 125 126 129 130 131 132 138 147 148 149 150 155 157 160
 161 162 163 165 166 168 169 171 172 174 175 178 180 181 182 183 188 190
 209 212 215 226 230 247 256 257 264 266 275 295 296 299 301 306 312 313
 337 343 347 357 360 363 365 370 372 373 380 386 389 393 400 403 407 408
 412 414 427 455 461]
lineage 95: 6 cells
(323, 3)
(323, 3)
curr_ad     Position  Cell  Count
0          1     1    265
4          2     1      4
6          3     1     95
10         5     1    320
11         6     1      3
donor0_lineage95
[ -1   3   5   9  10  12  13  35  38  39  41  46  48  53  54  56  57  58
  62  67  68  74  77  79  80  87  91 100 101 105 106 107 110 112 117 118
 119 123 125 126 129 131 132 138 147 149 150 153 155 160 161 163 168 169
 171 175 178 180 181 188 190 198 212 215 230 239 246 250 253 261 264 266
 271 273 281 292 295 299 301 306 310 312 313 317 321 341 352 357 360 362
 367 370 372 375 379 380 381 386 391 397 400 403 413 418 430 444 449 460]
lineage 96: 6 cells
(314, 3)
(314, 3)
curr_ad     Position  Cell  Count
0          1     1    352
6          3     1    103
10         4     1    314
13         6     1     32
14         7     1      4
donor0_lineage96
[ -1   5   9  10  12  13  17  18  29  35  39  46  48  50  53  54  57  58
  62  63  67  68  74  77  80  81  87  88  91 100 101 105 106 108 110 112
 116 117 119 123 125 126 129 130 132 138 139 145 147 148 149 150 153 155
 160 161 163 165 166 169 171 174 175 178 179 180 181 182 183 188 198 212
 215 226 230 239 244 248 249 253 258 264 266 271 273 274 286 291 292 294
 299 304 312 313 317 318 330 331 334 343 345 360 363 367 370 372 380 398
 400 402 409 412 413 418 419 422 423 425 429 433 460]
lineage 97: 8 cells
(407, 3)
(407, 3)
curr_ad     Position  Cell  Count
0          1     1    218
6          2     1     60
10         3     1    188
13         5     1      6
14         6     1      2
donor0_lineage97
[ -1   2   3   5   9  10  12  13  14  18  26  28  32  34  35  38  39  41
  46  48  49  50  53  54  58  62  67  68  74  77  80  81  87  88  90  91
 100 101 105 106 108 112 114 116 117 118 119 123 125 126 129 130 131 132
 138 139 145 147 148 149 150 152 153 155 157 160 161 162 163 165 166 169
 170 171 174 175 178 180 181 188 190 209 212 215 230 239 244 246 250 253
 261 264 266 268 281 292 301 304 312 313 321 323 339 341 344 345 347 357
 362 367 370 372 375 376 379 380 394 400 403 407 412 413 414 419 424 430
 436 453 458 460]
lineage 98: 9 cells
(474, 3)
(474, 3)
curr_ad     Position  Cell  Count
0          1     1    139
6          4     1     74
10         5     1    100
14         8     1      2
36        15     1    130
donor0_lineage98
[ -1   2   3   5   8   9  10  12  13  14  17  25  26  28  31  35  38  39
  40  41  43  46  48  49  50  53  54  56  57  58  62  67  68  74  76  77
  80  81  87  88  90  91 100 101 103 105 106 108 110 112 114 116 117 118
 119 123 125 126 129 130 131 132 138 139 145 147 148 149 150 152 153 155
 157 160 161 162 163 165 166 168 169 171 172 173 175 178 179 180 181 182
 183 188 190 194 196 198 209 212 214 215 217 219 223 225 226 230 231 237
 238 239 241 245 246 248 250 253 254 255 256 257 258 260 261 264 266 267
 268 269 271 272 273 275 278 284 286 289 291 292 295 296 297 299 301 302
 306 310 312 313 320 321 323 330 331 334 335 336 337 339 343 345 346 347
 352 353 354 357 360 362 363 365 367 370 372 375 376 379 380 381 383 386
 387 390 392 393 395 397 398 400 402 403 409 410 412 413 414 417 418 421
 423 425 426 429 430 432 434 443 444 450 453 458 460 461]
lineage 99: 28 cells
(1444, 3)
(1444, 3)
curr_ad     Position  Cell  Count
0          1     1    741
3          2     1      2
6          4     1    336
10         6     1    814
36        16     1    924
donor0_lineage99
cell meta
             new index                        ID              raw ID  \
donor_index
1                    1  AAACGAATCTTACTCA-1_Input  AAACGAATCTTACTCA-1
2                    9  AAGATAGTCGGTACTA-1_Input  AAGATAGTCGGTACTA-1
3                   13  AATGTCGCACCACGAC-1_Input  AATGTCGCACCACGAC-1
4                   32  AGGCGAAAGTGCTGAG-1_Input  AGGCGAAAGTGCTGAG-1
5                   50  CAACCAACACCGTCTT-1_Input  CAACCAACACCGTCTT-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      0       58              1
2               Input      0       90              1
3               Input      0       60              1
4               Input      0       92              1
5               Input      0       78              1
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor1.AD.mtx
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor1.DP.mtx
curr_vcf
  index_x #CHROM    POS REF_x ALT  strand_correlation_x     vmr_x  \
0     NaN   chrM  16512   NaN   C                   NaN       NaN
1   73A>G   chrM     73   73A   G              0.996919  0.382955
2  146T>C   chrM    146  146T   C              0.993106  0.591151
3  150C>T   chrM    150  150C   T              0.979327  0.670372
4  195T>C   chrM    195  195T   C              0.990257  0.623396

   n_cells_over_5_x  n_cells_over_20_x  \
0               NaN                NaN
1             119.0              116.0
2               2.0                1.0
3              61.0               49.0
4              44.0               31.0

   old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Input/MT/cellr_True/Input_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                1.0
2                                                2.0
3                                                3.0
4                                                4.0

   ... n_cells_over_20_y  \
0  ...               NaN
1  ...             329.0
2  ...               NaN
3  ...             177.0
4  ...              22.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Control/MT/cellr_True/Control_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                2.0
2                                                NaN
3                                                3.0
4                                                4.0

      index     REF  strand_correlation       vmr  n_cells_over_5  \
0  16512T>C  16512T            0.772501  0.013277             0.0
1     73A>G     73A            0.995236  0.339875          2768.0
2    146T>C    146T            0.990833  0.665951            15.0
3    150C>T    150C            0.977151  0.800561           714.0
4    195T>C    195T            0.971955  0.669470          1103.0

  n_cells_over_20  \
0             0.0
1          2699.0
2             6.0
3           664.0
4          1027.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Flt3l/MT/cellr_True/Flt3l_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                              368.0
1                                                3.0
2                                                6.0
3                                                9.0
4                                               11.0

   new ID
0     495
1       1
2       2
3       3
4       4

[5 rows x 25 columns]
curr_labels
   new index                        ID              raw ID condition  donor  \
0         11  AAGGTTCGTTCCAGTA-1_Input  AAGGTTCGTTCCAGTA-1     Input    NaN
1         16  ACAGCGCCATAGCAGG-1_Input  ACAGCGCCATAGCAGG-1     Input    NaN
2         31  AGCGTGCAGAACTAAC-1_Input  AGCGTGCAGAACTAAC-1     Input    NaN
3         34  AGGCGTCAGAACAGGA-1_Input  AGGCGTCAGAACAGGA-1     Input    NaN
4         46  ATGTTTCTCTCGACCT-1_Input  ATGTTTCTCTCGACCT-1     Input    NaN

   donor_index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

cell meta
             new index                        ID              raw ID  \
donor_index
1                   11  AAGGTTCGTTCCAGTA-1_Input  AAGGTTCGTTCCAGTA-1
2                   16  ACAGCGCCATAGCAGG-1_Input  ACAGCGCCATAGCAGG-1
3                   31  AGCGTGCAGAACTAAC-1_Input  AGCGTGCAGAACTAAC-1
4                   34  AGGCGTCAGAACAGGA-1_Input  AGGCGTCAGAACAGGA-1
5                   46  ATGTTTCTCTCGACCT-1_Input  ATGTTTCTCTCGACCT-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      1      NaN            NaN
2               Input      1      NaN            NaN
3               Input      1      NaN            NaN
4               Input      1      NaN            NaN
5               Input      1      NaN            NaN
[ -1   1   5  12  15  24  26  33  37  38  40  47  48  49  52  55  56  57
  61  62  67  74  79  80  86  87  89  90  96  97  99 100 101 102 103 107
 111 114 118 119 132 133 140 142 145 146 149 156 158 159 161 162 164 165
 166 168 170 171 172 173 174 175 176 178 179 184 207 210 234 236 242 245
 249 251 256 261 276 283 291 297 302 303 306 309 314 320 332 334 338 339
 345 350 367 372 383 385 388 389 397 399 404 412 415 416 436 442 444 445
 446]
lineage 0: 6 cells
(292, 3)
(292, 3)
curr_ad     Position  Cell  Count
0          1     1    143
2          2     1     74
6          3     1    122
13         4     1    160
16         5     1    122
donor1_lineage0
[ -1   0   1   5   8   9  10  12  14  15  22  24  26  30  33  34  37  38
  39  40  44  45  47  48  49  52  53  55  56  57  58  59  61  62  65  68
  71  74  76  79  80  82  83  86  87  89  90  92  93  96  97  99 100 101
 102 103 107 109 110 111 112 113 114 115 117 118 119 120 122 123 124 126
 128 132 133 136 140 142 145 146 148 149 151 153 156 157 158 159 161 163
 165 166 167 168 169 171 172 173 174 175 176 177 178 184 196 209 210 257
 310 409]
lineage 1: 3 cells
(201, 3)
(201, 3)
curr_ad    Position  Cell  Count
0         1     1   4838
1         2     1   1811
2         3     1   2069
6         4     1   1674
9         5     1     74
donor1_lineage1
[]
lineage 2: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor1_lineage2
[ -1   1   2   3   5  12  15  23  24  33  39  45  48  49  53  55  56  62
  68  74  86  89  99 100 102 103 109 111 114 118 119 123 126 133 140 145
 146 149 156 158 161 162 166 168 169 172 173 175 177 178 184 185 189 206
 207 214 217 246 260 272 283 328 337 344 353 389 415]
lineage 3: 2 cells
(99, 3)
(99, 3)
curr_ad     Position  Cell  Count
0          1     1   1057
2          2     1    495
4          4     1      5
6          5     1    880
13         6     1   1569
donor1_lineage3
[ -1   1   5   7   8   9  12  15  24  29  33  48  49  55  56  62  74  76
  89  99 102 103 107 111 118 119 120 133 140 145 149 158 161 166 168 172
 173 175 184 214 236 242 249 256 261 350 351 365 381 389 390 411 415 422
 436 444]
lineage 4: 1 cells
(56, 3)
(56, 3)
curr_ad    Position  Cell  Count
0         1     1    333
2         2     1    120
6         3     1    160
8         4     1      4
9         5     1      2
donor1_lineage4
[]
lineage 5: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor1_lineage5
[ -1   1   5   8  12  15  24  33  38  48  49  55  56  62  68  74  75  76
  79  80  86  87  89  90  96  97  99 102 103 109 111 112 113 118 119 120
 123 124 125 133 140 142 144 145 148 149 151 156 158 161 162 165 166 168
 172 173 175 184 214 241 246 249 257 260 261 263 287 291 305 310 312 314
 315 325 331 334 350 353 356 365 372 378 389 398 406 411 422]
lineage 6: 5 cells
(227, 3)
(227, 3)
curr_ad     Position  Cell  Count
0          1     1    139
2          2     1     46
6          3     1     94
13         5     1     94
16         6     1    128
donor1_lineage6
[ -1   1   5  12  15  23  24  26  33  48  49  55  56  57  62  74  87  89
  97  99 102 103 107 111 112 113 118 119 126 133 140 145 148 149 158 161
 164 166 168 172 173 174 175 178 179 184 210 238 243 261 266 277 283 290
 299 305 306 325 326 344 353 359 365 367 371 372 375 381 385 387 389 394
 395 399 429]
lineage 7: 3 cells
(145, 3)
(145, 3)
curr_ad     Position  Cell  Count
0          1     1    426
2          2     1    169
6          3     1    186
13         4     1    431
16         5     1    325
donor1_lineage7
[ -1   0   1   3   5   6   7   8   9  10  11  12  13  15  16  18  19  20
  21  24  26  29  30  31  32  33  34  37  38  39  40  41  42  45  46  47
  48  49  50  52  53  55  56  57  58  59  60  61  62  66  67  68  69  71
  72  74  75  76  77  78  79  80  81  83  85  86  87  89  90  91  92  93
  95  96  97  99 100 101 102 103 104 105 106 107 109 110 111 112 113 114
 115 117 118 119 120 121 123 124 125 127 128 131 132 133 136 140 141 142
 144 145 146 148 149 151 152 153 156 157 158 159 161 162 163 166 167 168
 169 172 173 174 175 176 179 182 183 184 189 191 195 196 198 205 206 207
 210 212 213 214 215 217 219 222 224 225 226 227 234 236 238 241 242 245
 249 253 257 260 261 263 264 266 268 270 273 276 277 280 281 283 286 291
 293 303 305 306 312 315 317 320 322 325 331 334 339 340 345 346 350 353
 355 356 358 359 362 365 366 371 372 373 376 378 379 381 383 384 385 386
 388 389 391 396 398 399 403 405 407 409 410 411 412 417 418 422 434 436
 437 442 445]
lineage 8: 23 cells
(1193, 3)
(1193, 3)
curr_ad    Position  Cell  Count
0         1     1   7783
2         3     1   2951
6         5     1   4299
7         6     1     25
9         8     1      2
donor1_lineage8
[ -1   1   2   5   7   8   9  10  12  15  23  24  26  29  32  33  37  38
  40  42  47  48  49  52  55  56  57  61  62  67  68  74  76  79  80  86
  89  90  96  97  99 102 103 105 107 109 111 112 113 114 118 119 120 123
 124 125 126 132 133 140 142 144 145 146 148 149 151 153 156 157 158 159
 161 162 164 166 168 170 171 172 173 174 175 177 179 184 210 214 228 229
 234 235 238 242 245 246 249 251 252 253 254 256 257 260 261 266 268 270
 273 276 278 282 283 286 291 293 297 298 303 305 306 309 310 312 316 317
 320 322 325 327 328 331 332 334 336 339 344 350 353 355 356 359 362 365
 367 371 372 373 381 383 385 389 390 394 397 398 399 401 403 404 407 409
 412 417 418 419 422 429 436 442 444 445]
lineage 9: 9 cells
(553, 3)
(553, 3)
curr_ad     Position  Cell  Count
0          1     1    449
2          2     1     96
6          4     1    155
10         7     1      6
13         9     1    343
donor1_lineage9
[ -1   0   1   5  12  15  24  33  48  49  55  56  61  62  74  89 100 102
 103 109 111 118 119 133 140 145 149 156 158 161 166 167 168 172 173 175
 177 178 179 184 196 253 266 297 305 343 365 368 388 389 399 401 444]
lineage 10: 1 cells
(53, 3)
(53, 3)
curr_ad     Position  Cell  Count
0          1     1    513
1          2     1      2
2          3     1    225
6          4     1    138
13         5     1    341
donor1_lineage10
[ -1   1   2   5   7   8   9  12  15  23  24  29  32  33  37  40  45  47
  48  49  52  53  55  56  57  62  67  68  74  76  77  78  79  80  86  89
  90  96  97  99 102 103 105 107 111 112 114 118 119 120 123 124 132 133
 140 142 145 146 148 149 153 156 157 158 159 161 162 164 166 167 168 170
 171 172 173 174 175 176 178 179 184 210 214 228 229 231 235 236 238 241
 243 244 245 249 253 254 260 261 263 269 271 276 283 286 287 291 293 297
 298 305 306 309 313 314 315 319 321 325 327 332 334 337 339 343 350 353
 355 356 359 365 367 368 371 372 378 383 384 385 389 391 393 394 396 397
 398 399 400 404 407 408 409 410 411 413 414 415 417 422 425 427 436 444
 445 446]
lineage 11: 10 cells
(550, 3)
(550, 3)
curr_ad     Position  Cell  Count
0          1     1    279
2          2     1    124
6          4     1    132
13         8     1    265
16         9     1    252
donor1_lineage11
[ -1   1   2   5   7   8   9  12  15  24  26  30  32  33  37  38  40  42
  45  47  48  49  53  55  56  57  62  67  68  74  76  80  87  89  90  96
  97  99 101 102 103 105 107 109 111 112 113 114 118 119 123 124 126 132
 133 140 142 144 145 146 149 151 153 156 157 158 159 161 164 166 167 168
 169 170 171 172 173 174 175 176 177 178 179 184 196 207 210 214 229 230
 236 238 241 244 245 246 249 253 257 260 261 264 268 270 271 276 277 278
 282 283 284 286 287 291 293 294 298 299 300 301 305 306 309 312 313 314
 315 317 318 321 325 328 332 334 345 350 353 355 356 359 362 365 367 371
 372 373 376 378 379 383 385 386 388 389 390 393 396 398 399 403 407 408
 409 414 415 416 417 429 436 438 442 445]
lineage 12: 10 cells
(581, 3)
(581, 3)
curr_ad    Position  Cell  Count
0         1     1    296
2         2     1    188
3         3     1    120
6         4     1    207
9         6     1      2
donor1_lineage12
[ -1   1   2   5   7   8   9  12  15  16  19  24  26  32  33  37  38  39
  40  41  47  48  49  51  52  53  55  56  57  59  62  67  68  69  73  74
  77  78  80  83  86  89  90  96  97  99 102 103 105 109 111 112 113 114
 116 118 119 120 123 125 126 128 132 133 134 136 140 141 145 146 147 148
 149 151 153 156 157 158 161 166 167 168 170 171 172 173 174 175 176 177
 184 210 240 253 260 276 286 293 305 306 320 328 330 332 334 350 353 359
 371 373 381 383 389 390 399 404 409 410 439]
lineage 13: 2 cells
(162, 3)
(162, 3)
curr_ad    Position  Cell  Count
0         1     1   3457
2         2     1   1959
6         4     1   2835
8         5     1     27
9         6     1      5
donor1_lineage13

[ -1   1   5   8   9  12  15  23  24  26  33  37  40  47  48  49  55  56
  57  61  62  67  74  76  80  86  87  89  90  99 100 101 102 103 105 109
 111 112 114 118 119 120 123 124 126 132 133 140 144 145 146 148 149 151
 153 156 157 158 159 161 162 165 166 167 168 171 172 173 174 175 176 177
 178 179 184 210 230 234 235 238 242 244 245 246 257 261 263 264 266 267
 268 275 276 277 282 283 286 293 297 302 305 306 312 317 321 325 328 332
 334 337 338 344 346 365 367 371 372 376 378 380 384 389 390 398 407 417
 422 423 429 430]
lineage 14: 7 cells
(357, 3)
(357, 3)
curr_ad     Position  Cell  Count
0          1     1    252
2          2     1    118
6          3     1    117
9          4     1      2
13         6     1    310
donor1_lineage14
[]
lineage 15: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor1_lineage15
[ -1   1   5   8   9  12  15  24  33  45  48  49  55  56  62  74  79  89
  99 102 103 107 111 118 119 123 124 133 140 145 149 151 153 158 159 161
 166 168 172 173 175 184 210 245 261 265 305 306 325 372 389 391 398 411
 434]
lineage 16: 2 cells
(89, 3)
(89, 3)
curr_ad     Position  Cell  Count
0          1     1    261
2          2     1    119
6          3     1    107
9          4     1      2
10         5     1      2
donor1_lineage16
[ -1   1   2   5   7   8  10  12  15  23  24  26  29  33  37  38  39  40
  45  47  48  49  52  53  55  56  57  61  62  67  68  74  75  76  79  80
  86  87  89  90  96  97  99 100 101 102 103 105 107 109 111 112 113 114
 118 119 120 123 124 126 132 133 140 142 144 145 146 148 149 151 153 156
 157 158 159 161 162 164 165 166 167 168 170 171 172 173 174 175 176 177
 178 179 184 206 210 212 214 215 220 225 234 238 241 242 244 245 246 254
 257 261 264 283 286 287 291 293 297 303 306 312 320 325 326 328 331 332
 334 350 353 355 359 365 367 371 372 373 378 379 382 383 389 391 394 396
 398 399 415 429 430 433 438 442 445]
lineage 17: 6 cells
(406, 3)
(406, 3)
curr_ad    Position  Cell  Count
0         1     1   1179
2         2     1    308
6         4     1    656
8         5     1    100
9         6     1    113
donor1_lineage17
[ -1   1   5   7  12  15  23  24  33  37  38  40  48  49  55  56  62  74
  78  80  89  99 102 103 109 111 118 119 123 132 133 140 142 145 149 157
 158 161 162 166 167 168 170 172 173 175 184 207 210 214 238 245 246 249
 283 286 287 297 298 310 327 334 340 347 350 353 355 373 378 381 386 388
 389 390 402 407 411 445]
lineage 18: 3 cells
(148, 3)
(148, 3)
curr_ad     Position  Cell  Count
0          1     1    347
2          2     1    119
6          3     1    142
13         5     1    401
16         6     1    265
donor1_lineage18
[ -1   1   2   5   7  10  12  15  24  30  33  40  45  47  48  49  53  55
  56  57  62  67  68  74  76  79  86  87  89  90  96  97  99 102 103 105
 107 109 111 114 118 119 120 123 124 125 126 132 133 140 142 144 145 146
 149 151 153 156 157 158 159 161 162 164 166 167 168 169 171 172 173 175
 176 177 179 184 196 207 210 214 224 234 236 238 240 241 245 249 253 257
 260 261 264 276 277 278 283 287 291 293 297 299 305 306 310 312 315 317
 320 325 331 332 334 338 346 350 353 355 356 358 365 367 371 372 373 376
 378 383 388 389 391 392 396 397 398 399 402 403 411 415 417 419 422 436
 438 443 444]
lineage 19: 10 cells
(509, 3)
(509, 3)
curr_ad     Position  Cell  Count
0          1     1    257
2          2     1    114
6          4     1    176
13         7     1    435
16         8     1    307
donor1_lineage19
[ -1   0   1   5   7   9  12  15  24  33  38  48  49  52  55  56  57  62
  67  68  74  76  87  89  99 102 103 105 107 111 114 118 119 120 133 140
 144 145 149 151 153 156 157 158 161 164 165 166 168 170 172 173 174 175
 178 179 184 215 224 238 240 244 246 249 253 260 261 272 276 291 305 310
 320 325 327 334 337 343 346 359 362 371 372 376 383 393 396 398 401 404
 409 411 420 422 423 442]
lineage 20: 3 cells
(165, 3)
(165, 3)
curr_ad     Position  Cell  Count
0          1     1    287
1          2     1      2
2          3     1    104
6          4     1    164
13         7     1    338
donor1_lineage20
[ -1   1   2   3   5   8   9  12  15  16  24  26  33  37  40  45  47  48
  49  52  53  55  56  57  62  67  68  74  76  79  80  86  87  89  90  96
  97  99 100 101 102 103 105 107 111 112 113 118 119 123 124 125 126 132
 133 140 144 145 149 153 156 157 158 159 161 166 168 170 172 173 174 175
 176 177 179 184 196 210 214 229 236 238 241 244 245 246 249 255 257 261
 264 274 276 283 286 290 291 294 303 306 310 318 320 332 334 343 345 346
 350 351 353 355 359 365 367 371 372 376 383 389 391 399 403 404 405 409
 418 422 436]
lineage 21: 6 cells
(332, 3)
(332, 3)
curr_ad     Position  Cell  Count
0          1     1    551
2          2     1    258
3          3     1      4
6          5     1    200
13         8     1    479
donor1_lineage21
[ -1   1   3   5   7  12  15  16  24  29  33  37  38  40  45  47  48  49
  53  55  56  57  61  62  67  68  74  76  79  80  86  87  89  90  96  97
  99 100 101 102 103 105 107 109 111 112 113 114 118 119 120 123 124 125
 126 132 133 140 142 145 146 148 149 151 153 156 157 158 159 161 162 165
 166 167 168 170 171 172 173 174 175 176 177 178 179 183 184 196 207 210
 224 228 238 240 241 243 245 246 249 251 253 254 256 257 260 261 264 271
 273 276 277 278 280 283 286 287 290 291 293 295 299 303 305 306 312 315
 317 320 321 325 327 328 331 332 334 337 338 339 343 344 350 353 354 355
 356 358 362 365 366 367 368 371 372 378 379 384 385 389 390 391 397 398
 399 400 403 409 411 412 414 417 418 422 425 427 429 433 437 438 444 446]
lineage 22: 15 cells
(779, 3)
(779, 3)
curr_ad     Position  Cell  Count
0          1     1    281
2          2     1    133
6          4     1    124
13         6     1    310
16         7     1    250
donor1_lineage22
[ -1   1   5   7   8  12  15  24  26  33  37  40  47  48  49  52  53  55
  56  57  62  67  68  74  79  80  86  89  90  96  97  99 100 101 102 103
 107 111 114 118 119 120 132 133 140 142 145 146 149 151 153 156 157 158
 161 162 164 166 168 171 172 173 175 178 179 184 210 214 232 238 245 246
 249 261 264 273 275 278 283 285 306 308 309 310 315 319 325 328 332 334
 339 344 345 349 353 355 356 365 371 372 373 376 379 383 389 394 398 399
 403 407 422 429 431 436 442 444 445]
lineage 23: 9 cells
(411, 3)
(411, 3)
curr_ad     Position  Cell  Count
0          1     1    186
2          2     1     69
6          3     1     74
9          5     1      2
13         6     1    184
donor1_lineage23
[ -1   1   2   5   8   9  12  15  23  24  26  27  32  33  37  38  39  40
  45  47  48  49  52  53  55  56  57  62  67  68  74  76  77  79  80  86
  87  89  90  96  97  99 100 101 102 103 105 107 109 111 112 113 114 118
 119 120 123 124 125 126 132 133 140 142 144 145 146 148 149 151 153 156
 157 158 159 161 162 164 166 167 168 171 172 173 174 175 176 177 178 179
 184 196 210 214 224 228 232 234 236 238 240 245 246 249 254 259 260 261
 263 264 267 276 277 283 287 291 292 294 299 303 304 305 306 310 312 315
 325 331 332 334 337 343 344 345 350 353 355 356 359 362 365 366 367 368
 371 372 376 378 379 381 383 385 386 389 391 394 396 397 398 399 402 403
 409 412 413 415 417 419 424 432 438]
lineage 24: 12 cells
(646, 3)
(646, 3)
curr_ad     Position  Cell  Count
0          1     1    576
2          2     1    206
6          4     1    367
9          5     1      6
13         7     1    750
donor1_lineage24
[ -1   1   2   5   7   9  10  12  15  22  24  33  37  38  39  40  45  47
  48  49  52  53  55  56  57  61  62  68  71  74  84  85  86  89  90  92
  99 100 102 103 105 111 112 113 114 118 119 120 123 124 126 129 133 137
 138 139 140 142 144 145 148 149 151 157 158 159 161 162 164 166 168 171
 172 173 175 181 184 249 261 276 312 321 325 334 338 346 355 371 372 379
 389 403 436 444]
lineage 25: 2 cells
(131, 3)
(131, 3)
curr_ad    Position  Cell  Count
0         1     1   1837
2         2     1    689
3         3     1     20
6         4     1    588
8         5     1      3
donor1_lineage25
[]
lineage 26: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor1_lineage26
[ -1   0   1   4   5   8  12  13  15  16  18  20  23  24  32  33  34  38
  39  40  45  48  49  51  52  53  55  56  57  61  62  65  66  67  68  69
  70  73  74  77  79  80  81  85  86  87  89  90  93  96  97  99 102 103
 105 106 107 111 114 115 117 118 119 120 123 124 127 131 132 133 139 140
 142 144 145 146 149 151 153 156 157 158 159 161 165 166 167 168 170 172
 173 174 175 176 177 184]
lineage 27: 1 cells
(96, 3)
(96, 3)
curr_ad    Position  Cell  Count
0         1     1   3640
1         2     1      3
2         3     1   2298
5         4     1      2
6         5     1   2082
donor1_lineage27
[ -1   1   5   8   9  12  15  16  24  26  33  38  40  45  48  49  52  53
  55  56  62  67  68  74  76  79  86  89  96  97 102 103 105 111 114 118
 119 120 123 124 125 132 133 140 142 144 145 146 149 151 157 158 159 161
 162 164 166 167 168 171 172 173 175 184 210 235 236 256 271 276 286 305
 355 356 364 383 389 390 397 398 403 405 417]
lineage 28: 1 cells
(83, 3)
(83, 3)
curr_ad     Position  Cell  Count
0          1     1    483
2          2     1    207
6          3     1    255
9          4     1      9
10         5     1      5
donor1_lineage28

[ -1   1   5  12  15  16  24  33  37  38  45  48  49  52  55  56  57  61
  62  74  76  89  90  96  97  99 102 103 111 112 113 118 119 120 126 133
 140 145 149 156 157 158 159 161 165 166 168 170 171 172 173 175 184 196
 210 241 245 253 283 288 291 305 334 338 353 355 359 365 367 372 376 389
 399 415 429 436]
lineage 29: 2 cells
(109, 3)
(109, 3)
curr_ad     Position  Cell  Count
0          1     1    230
2          2     1     86
6          3     1    120
13         4     1    253
16         5     1    231
donor1_lineage29
[ -1   1   5   8   9  12  15  24  33  45  48  49  55  56  57  61  62  67
  68  74  76  79  80  86  87  89  90  97  99 100 101 102 103 105 107 109
 111 112 113 118 119 120 126 132 133 140 142 145 146 149 156 157 158 159
 161 166 167 168 172 173 175 177 184 228 260 266 283 287 303 312 315 323
 334 351 356 359 367 368 371 372 378 399 411 438 444]
lineage 30: 3 cells
(156, 3)
(156, 3)
curr_ad     Position  Cell  Count
0          1     1    256
2          2     1     99
6          3     1    113
13         6     1    275
16         7     1    160
donor1_lineage30
[ -1   1   2   5   7   8   9  12  15  16  23  24  26  27  32  33  37  38
  40  45  47  48  49  52  53  55  56  57  61  62  67  68  74  75  76  78
  79  80  86  87  89  90  96  97  99 100 101 102 103 105 107 109 111 112
 113 114 118 119 120 123 124 125 126 132 133 140 142 144 145 146 148 149
 151 153 156 157 158 159 161 162 164 165 166 167 168 170 171 172 173 174
 175 176 177 178 179 183 184 196 210 234 235 238 240 245 249 252 253 260
 261 266 283 291 293 297 298 299 303 305 306 309 315 320 321 323 325 331
 332 334 337 346 353 355 359 362 365 371 372 376 378 379 381 383 385 388
 389 391 394 395 397 398 400 403 404 405 409 415 436 437 438 445]
lineage 31: 14 cells
(913, 3)
(913, 3)
curr_ad    Position  Cell  Count
0         1     1    603
2         2     1    176
3         3     1     37
6         4     1    248
8         5     1      2
donor1_lineage31
[]
lineage 32: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor1_lineage32
[ -1   1   5   8  12  15  24  30  33  42  48  49  55  56  57  62  74  86
  89  99 102 103 111 114 118 119 133 140 145 149 158 161 166 168 172 173
 175 176 177 184 236 238 242 261 278 308 314 325 359 362 368 399 413]
lineage 33: 1 cells
(53, 3)
(53, 3)
curr_ad     Position  Cell  Count
0          1     1    254
2          2     1    157
6          3     1    111
9          4     1      8
13         5     1    368
donor1_lineage33
[ -1   1   5   8   9  12  15  24  26  33  38  45  48  49  53  55  56  57
  62  67  68  74  75  76  79  80  86  89  90  96  97  99 100 101 102 103
 107 111 112 113 118 119 120 126 132 133 140 142 145 146 148 149 153 156
 157 158 159 161 162 166 167 168 171 172 173 175 178 179 184 210 228 244
 246 253 261 264 283 286 287 293 306 312 324 334 349 350 353 359 371 372
 383 389 391 409 417 422 434 437 438 444]
lineage 34: 3 cells
(187, 3)
(187, 3)
curr_ad     Position  Cell  Count
0          1     1    355
2          2     1    193
6          3     1    129
13         6     1    268
16         7     1    198
donor1_lineage34
[ -1   1   2   5   7   8   9  11  12  15  23  24  26  30  33  37  38  40
  42  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76  78  79
  80  86  87  89  90  96  97  99 100 101 102 103 105 107 111 112 113 114
 118 119 120 123 124 125 126 132 133 140 142 144 145 146 148 149 151 153
 156 157 158 159 161 162 164 165 166 167 168 171 172 173 174 175 176 177
 178 179 184 196 210 214 215 224 228 229 235 238 242 244 245 246 249 260
 261 262 264 266 270 275 276 277 278 283 286 287 291 305 306 307 320 325
 328 331 332 334 337 344 346 349 350 353 355 359 362 365 367 368 371 372
 373 378 379 383 388 389 393 394 396 398 399 403 407 412 415 418 422 427
 432 435 438 439]
lineage 35: 10 cells
(635, 3)
(635, 3)
curr_ad     Position  Cell  Count
0          1     1    271
2          2     1    149
6          4     1    158
9          6     1     10
13         9     1    319
donor1_lineage35
[ -1   1   5  12  15  23  24  26  33  38  45  48  49  55  56  61  62  74
  76  79  80  86  87  89  99 100 101 102 103 105 111 114 118 119 123 124
 125 126 132 133 140 145 148 149 151 156 157 158 161 166 167 168 172 173
 175 178 179 184 214 238 261 272 284 291 303 315 334 339 340 355 367 371
 372 386 389 399 411 437]
lineage 36: 1 cells
(78, 3)
(78, 3)
curr_ad     Position  Cell  Count
0          1     1    365
2          2     1    147
6          3     1    126
13         4     1    277
16         5     1    267
donor1_lineage36
[ -1   1   2   5   7  12  15  24  33  40  48  49  55  56  62  67  68  74
  77  89  99 102 103 107 109 111 114 118 119 123 124 125 133 140 142 145
 148 149 157 158 161 166 168 172 173 175 179 184 207 210 228 245 253 283
 290 291 297 309 310 359 360 367 378 389 390 401 407 417 436 444]
lineage 37: 3 cells
(139, 3)
(139, 3)
curr_ad     Position  Cell  Count
0          1     1    138
2          2     1     93
6          4     1      6
13         6     1    130
16         7     1     98
donor1_lineage37
[ -1   1   5   7   8   9  12  15  24  29  30  33  38  40  48  49  55  56
  62  67  74  87  89  90  96  97  99 102 103 107 111 118 119 123 133 140
 144 145 146 148 149 151 158 161 162 164 166 168 170 172 173 175 178 179
 184 210 234 236 238 241 242 246 251 261 266 276 277 286 287 293 297 305
 306 312 314 320 325 334 344 345 350 372 379 380 389 398 417 422 437 440
 442]
lineage 38: 3 cells
(162, 3)
(162, 3)
curr_ad    Position  Cell  Count
0         1     1    201
2         2     1     99
6         3     1    143
8         4     1      9
9         5     1      4
donor1_lineage38
[ -1   1   2   5   8  12  15  16  24  33  47  48  49  52  53  55  56  57
  62  67  68  74  76  80  87  89  90  96  97  99 102 103 105 107 109 111
 118 119 120 125 132 133 140 142 145 149 151 153 156 157 158 159 161 166
 168 170 171 172 173 174 175 178 179 184 210 214 228 234 236 238 240 241
 243 244 245 246 249 252 253 254 256 257 261 266 270 273 280 283 286 290
 291 293 303 305 306 310 314 315 317 319 320 325 327 333 334 338 339 350
 353 355 356 362 365 367 368 372 375 378 380 389 390 394 399 400 401 402
 403 409 415 418 432 438 444 445]
lineage 39: 7 cells
(366, 3)
(366, 3)
curr_ad     Position  Cell  Count
0          1     1    282
2          2     1    125
6          4     1    136
9          5     1      2
13         6     1    234
donor1_lineage39
[ -1   1   5   7   8  10  12  15  24  33  39  40  48  49  53  55  56  57
  62  74  78  89  99 102 103 105 111 113 118 119 132 133 140 144 145 149
 151 158 161 162 166 168 172 173 175 184 195 196 207 210 228 251 260 261
 263 264 273 281 305 306 314 315 325 327 334 346 350 355 365 367 372 373
 375 376 378 389 394 398 400 422 438 439 444]
lineage 40: 5 cells
(220, 3)
(220, 3)
curr_ad     Position  Cell  Count
0          1     1    575
2          2     1    145
6          3     1    321
8          4     1      3
11         6     1      4
donor1_lineage40
[ -1   1   5   8   9  12  15  24  26  27  32  33  37  38  42  45  47  48
  49  52  55  56  57  61  62  67  68  74  76  79  80  86  87  89  96  97
  99 100 101 102 103 105 107 109 111 112 113 118 119 120 125 132 133 140
 144 145 146 149 151 153 156 158 159 161 166 168 170 171 172 173 174 175
 176 177 178 179 184 210 214 224 228 234 238 241 244 245 246 249 251 255
 260 261 263 264 266 272 277 283 286 290 291 294 297 298 299 303 305 306
 314 315 322 325 327 331 334 339 341 344 350 351 353 355 358 359 362 366
 367 368 371 372 378 383 389 390 391 394 398 399 400 402 415 422 436 437
 439 444 445]
lineage 41: 10 cells
(506, 3)
(506, 3)
curr_ad     Position  Cell  Count
0          1     1    211
2          2     1     74
6          3     1     55
13         6     1    158
16         7     1    187
donor1_lineage41
[ -1   0   1   5   6   7   9  10  12  15  18  19  20  21  23  24  30  31
  33  34  37  38  39  40  41  42  43  44  45  47  48  49  50  51  52  53
  55  56  57  59  60  61  62  64  65  66  67  68  69  70  71  72  74  75
  76  77  78  79  80  81  82  83  84  85  86  87  89  90  91  92  93  96
  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114
 117 118 119 120 121 122 123 125 127 131 132 133 134 136 138 139 140 142
 144 145 146 148 149 150 151 152 153 154 156 157 158 159 161 162 163 164
 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 184 190
 196 202 207 210 212 214 224 228 234 236 241 242 245 246 249 251 260 261
 276 278 283 290 291 293 303 305 310 313 315 328 334 337 343 350 353 359
 361 365 366 367 371 372 373 378 379 382 383 388 389 394 395 397 398 399
 403 407 409 412 429 438 446]
lineage 42: 10 cells
(623, 3)
(623, 3)
curr_ad     Position  Cell  Count
0          1     1   3816
2          3     1   1930
6          4     1   2158
8          6     1      6
13         9     1   4287
donor1_lineage42
[ -1   1   2   5   7   8   9  10  12  15  23  24  33  37  38  40  45  47
  48  49  52  53  55  56  57  61  62  67  68  74  76  79  80  86  87  89
  90  96  97  99 100 101 102 103 105 107 109 111 112 113 114 118 119 120
 123 124 125 126 132 133 140 142 144 145 146 148 149 151 153 156 157 158
 159 161 162 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178
 179 184 207 210 214 233 234 238 239 241 244 245 246 249 251 252 253 254
 257 260 261 262 269 271 272 274 276 278 281 283 284 286 287 290 291 293
 294 298 303 305 306 308 310 312 315 317 319 320 325 327 331 332 334 337
 338 346 350 352 353 355 356 359 362 365 366 367 368 371 372 373 375 378
 381 383 384 385 386 388 389 390 394 396 398 399 400 401 402 403 404 407
 408 412 414 415 417 422 423 429 430 432 434 436 438 442 444 445]
lineage 43: 21 cells
(1191, 3)
(1191, 3)
curr_ad     Position  Cell  Count
0          1     1    170
2          2     1     52
6          4     1     84
13         9     1    191
16        10     1    152
donor1_lineage43

[ -1   1   5   7   8   9  12  15  23  24  30  33  37  38  39  45  47  48
  49  52  55  56  57  61  62  68  74  76  79  80  87  89  96  97  99 100
 101 102 103 105 107 109 111 112 113 114 118 119 120 125 126 132 133 140
 142 144 145 146 148 149 151 153 156 157 158 159 161 162 165 166 167 168
 170 172 173 175 184 190 210 214 215 228 234 238 240 241 242 244 245 246
 259 261 266 274 276 277 282 291 293 305 306 312 315 325 327 328 331 332
 334 339 346 350 367 368 373 375 378 381 383 388 389 390 397 398 403 405
 407 411 412 437 445]
lineage 44: 7 cells
(376, 3)
(376, 3)
curr_ad     Position  Cell  Count
0          1     1    905
2          2     1    278
6          3     1    614
8          4     1     23
13         7     1   1111
donor1_lineage44
[ -1   1   2   5  10  11  12  15  16  19  24  26  28  30  33  35  39  44
  45  48  49  55  56  57  61  62  67  68  69  74  77  79  80  81  83  86
  89  91  99 100 101 102 103 105 107 109 111 114 118 119 122 123 124 125
 126 131 133 136 139 140 141 142 145 146 148 149 153 156 157 158 161 162
 163 166 168 169 170 171 172 173 174 175 176 177 178 179 180 182 184 196
 207 210 214 236 238 241 244 249 252 253 254 261 266 270 276 287 290 291
 299 305 306 317 320 325 334 337 350 351 353 355 356 359 367 368 371 372
 373 376 383 385 389 390 391 399 403 429 438 445]
lineage 45: 5 cells
(296, 3)
(296, 3)
curr_ad     Position  Cell  Count
0          1     1   5388
2          2     1   2756
3          3     1      4
6          4     1   2170
11         5     1      5
donor1_lineage45
[ -1   1   5  12  15  24  26  33  37  38  40  45  47  48  49  52  53  55
  56  57  62  67  68  74  76  77  80  86  89  99 102 103 105 107 109 111
 114 118 119 125 126 133 140 144 145 149 156 158 161 162 166 168 172 173
 175 184 196 210 214 245 246 251 260 261 263 268 275 277 291 294 297 303
 305 306 312 314 315 325 353 355 356 359 365 366 371 372 376 383 389 397
 399 400 411 414 417 418 428 438 439 445]
lineage 46: 5 cells
(244, 3)
(244, 3)
curr_ad     Position  Cell  Count
0          1     1    215
2          2     1     65
6          3     1     68
13         4     1    152
16         5     1    234
donor1_lineage46
[ -1   1   5   8  10  12  15  24  26  29  30  32  33  37  38  40  45  47
  48  49  52  53  55  56  57  62  67  68  74  76  79  86  87  89  90  96
  97  99 100 101 102 103 105 107 109 111 112 113 114 118 119 120 123 124
 125 132 133 140 142 144 145 146 148 149 156 157 158 159 161 164 166 167
 168 170 171 172 173 174 175 176 177 178 179 184 196 210 224 228 233 234
 240 244 245 254 257 260 261 266 271 276 278 279 282 283 286 287 293 299
 303 305 306 314 315 332 334 345 350 353 355 356 358 362 365 368 371 372
 378 379 381 383 384 388 389 394 399 400 409 414 415]
lineage 47: 8 cells
(437, 3)
(437, 3)
curr_ad     Position  Cell  Count
0          1     1    344
2          2     1    184
6          3     1    211
11         5     1      2
13         6     1    280
donor1_lineage47
[ -1   1   5   9  12  15  23  24  33  38  40  45  47  48  49  55  56  62
  67  68  74  76  87  89  96  99 102 103 111 112 113 114 118 119 133 140
 144 145 149 158 161 162 164 166 168 172 173 175 178 184 224 234 246 247
 251 258 261 264 277 282 283 291 297 305 306 332 355 362 365 371 372 378
 379 383 391 398 413 422 438]
lineage 48: 2 cells
(116, 3)
(116, 3)
curr_ad     Position  Cell  Count
0          1     1    231
2          2     1    104
6          3     1    119
10         4     1      2
13         5     1    210
donor1_lineage48
[ -1   1   5   7   8   9  12  15  16  20  23  24  26  30  33  37  38  39
  40  45  47  48  49  50  52  53  55  56  57  62  67  68  70  74  75  78
  79  80  86  87  89  90  91  93  96  97  99 101 102 103 104 105 107 109
 110 111 112 113 117 118 119 120 123 124 133 139 140 141 144 145 146 148
 149 151 153 157 158 159 161 164 165 166 167 168 170 171 172 173 174 175
 176 177 178 179 182 184 210 236 249 261 283 305 306 314 318 325 334 338
 344 365 385 398 403 409]
lineage 49: 4 cells
(220, 3)
(220, 3)
curr_ad    Position  Cell  Count
0         1     1   2943
2         2     1   1445
6         3     1   1027
8         4     1      4
9         5     1      6
donor1_lineage49
[ -1   1   2   5   8  12  15  23  24  33  38  40  48  49  52  53  55  56
  57  61  62  67  68  74  76  78  79  80  87  89  90  96  97  99 100 101
 102 103 105 107 111 112 113 118 119 120 125 126 132 133 140 145 146 149
 157 158 159 161 162 166 167 168 172 173 174 175 177 184 207 210 224 230
 234 236 238 268 273 276 283 286 290 303 306 328 345 350 353 355 356 361
 366 368 371 372 378 389 399 404 405 411 430 434]
lineage 50: 3 cells
(177, 3)
(177, 3)
curr_ad     Position  Cell  Count
0          1     1    595
2          2     1    301
3          3     1      2
6          4     1    261
13         6     1    640
donor1_lineage50
[ -1   1   5  10  12  15  23  24  26  33  37  38  48  49  53  55  56  62
  67  68  74  75  87  89  90  99 102 103 109 111 114 118 119 123 124 125
 126 133 140 142 145 149 151 156 158 161 162 165 166 168 169 170 171 172
 173 175 178 179 184 210 214 242 245 261 271 283 290 308 309 310 322 325
 327 331 332 350 353 355 371 379 380 382 388 389 390 391 392 396 399 401
 404 409 410]
lineage 51: 4 cells
(203, 3)
(203, 3)
curr_ad     Position  Cell  Count
0          1     1    235
2          2     1    127
6          3     1    105
11         4     1      5
13         5     1    253
donor1_lineage51
[ -1   1   2   5  12  15  24  33  48  49  55  56  57  62  74  87  89  90
  99 100 101 102 103 111 118 119 133 140 145 149 157 158 159 161 166 168
 171 172 173 174 175 176 177 184 236 238 242 246 249 309 328 332 353 367
 372 378 385 399 429]
lineage 52: 3 cells
(125, 3)
(125, 3)
curr_ad     Position  Cell  Count
0          1     1    133
2          2     1     52
6          4     1     51
13         5     1    173
16         6     1     96
donor1_lineage52
[ -1   1   5   7   8   9  11  12  15  24  26  33  37  38  40  45  48  49
  53  55  56  57  61  62  67  68  74  76  79  80  86  87  89  90  96  97
  99 100 101 102 103 107 109 111 112 113 114 118 119 120 126 132 133 140
 142 145 146 148 149 151 153 156 157 158 159 161 162 165 166 167 168 171
 172 173 174 175 184 196 210 214 236 245 249 253 257 261 276 291 314 325
 332 339 350 353 355 358 359 363 365 367 368 372 378 380 383 385 389 390
 399 404 410 411 413 415 417 421 445]
lineage 53: 4 cells
(254, 3)
(254, 3)
curr_ad     Position  Cell  Count
0          1     1    261
2          2     1     74
6          3     1     96
9          5     1     38
12         7     1      2
donor1_lineage53
[ -1   1   2   5   6   7   9  12  15  16  18  19  22  23  24  26  27  31
  32  33  38  39  40  45  47  48  49  51  52  53  55  56  57  58  59  60
  61  62  64  67  68  69  70  71  74  76  77  80  81  82  86  88  89  90
  93  96  97  99 100 101 102 103 106 107 109 111 113 114 115 116 117 118
 119 120 124 125 126 131 132 133 134 136 140 142 144 145 146 148 149 153
 154 157 158 159 161 163 164 165 166 167 168 169 172 173 174 175 176 178
 179 184 214 245 356 367]
lineage 54: 2 cells
(149, 3)
(149, 3)
curr_ad    Position  Cell  Count
0         1     1   3999
2         2     1   2290
3         3     1      5
6         4     1   2168
7         5     1     13
donor1_lineage54
[ -1   1   2   5   7   8   9  10  12  15  23  24  26  27  29  30  33  37
  38  39  40  45  47  48  49  52  53  55  56  57  61  62  67  68  74  75
  76  78  79  80  86  87  89  90  96  97  99 100 101 102 103 105 107 109
 111 112 113 114 118 119 120 123 124 125 126 132 133 140 142 144 145 146
 148 149 151 153 156 157 158 159 161 162 164 165 166 167 168 170 171 172
 173 174 175 176 177 178 179 184 188 195 196 207 210 214 215 224 228 229
 234 236 238 241 242 244 245 246 247 248 249 251 252 257 259 260 261 263
 264 266 267 271 275 276 277 278 281 282 283 286 287 290 291 293 297 298
 299 303 305 306 308 309 310 312 313 314 315 316 317 319 320 325 328 331
 332 334 336 338 343 344 345 346 349 350 351 353 355 358 359 362 365 367
 368 371 372 373 378 379 381 383 385 388 389 390 391 394 395 397 398 399
 400 403 404 405 407 409 410 412 415 417 418 419 422 423 427 436 438 442
 445 446]
lineage 55: 31 cells
(1959, 3)
(1959, 3)
curr_ad     Position  Cell  Count
0          1     1   1369
2          2     1    380
3          3     1      8
6          4     1    675
10         7     1    104
donor1_lineage55
[ -1   1   5   9  12  15  24  30  33  38  40  45  48  49  53  55  56  57
  62  67  74  80  86  89  90  99 102 103 105 107 111 112 113 118 119 123
 124 125 133 140 144 145 149 158 161 166 168 170 172 173 175 178 179 184
 286 303 305 310 320 330 331 383 389 399 411]
lineage 56: 3 cells
(130, 3)
(130, 3)
curr_ad     Position  Cell  Count
0          1     1    153
2          2     1     55
6          3     1     86
13         5     1    165
16         6     1    190
donor1_lineage56

[ -1   1   3   5  12  15  16  24  26  33  47  48  49  55  56  62  67  68
  74  89  96  97  99 100 101 102 103 107 111 112 113 114 118 119 120 125
 133 140 145 148 149 151 156 157 158 161 166 167 168 172 173 175 178 184
 196 207 214 238 246 249 260 261 291 293 306 315 320 325 331 346 349 350
 367 371 378 381 383 388 389 390 399 403]
lineage 57: 3 cells
(161, 3)
(161, 3)
curr_ad     Position  Cell  Count
0          1     1    354
2          2     1    131
6          4     1     94
13         5     1    335
16         6     1    219
donor1_lineage57
[]
lineage 58: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor1_lineage58
[ -1   1   2   5   8   9  10  12  15  16  24  33  37  38  39  40  45  47
  48  49  52  53  55  56  57  62  67  68  74  76  78  79  80  87  89  90
  96  97  99 100 101 102 103 107 111 112 113 114 118 119 120 123 125 126
 133 140 142 145 148 149 151 156 158 159 161 162 166 167 168 170 171 172
 173 174 175 176 178 179 184 188 196 198 204 205 206 207 210 214 216 217
 218 219 224 227 228 234 236 238 242 244 245 249 251 254 257 260 261 263
 264 268 271 276 278 282 283 284 286 290 291 292 293 299 305 306 310 312
 320 325 327 328 337 338 343 345 350 353 355 356 358 359 362 363 365 367
 372 375 376 378 379 383 385 386 389 390 391 396 398 399 402 403 404 414
 415 417 418 429 439]
lineage 59: 11 cells
(582, 3)
(582, 3)
curr_ad     Position  Cell  Count
0          1     1   1070
2          2     1    346
6          4     1    616
10         6     1      2
11         7     1      2
donor1_lineage59
[ -1   1   5   7   8  11  12  15  16  23  24  26  30  33  37  38  39  40
  45  47  48  49  52  53  55  56  57  62  67  68  74  75  76  79  80  86
  87  89  90  96  97  99 100 101 102 103 105 107 109 111 112 113 114 118
 119 120 123 124 125 126 132 133 140 142 144 145 146 148 149 153 156 157
 158 159 161 162 164 166 168 170 171 172 173 175 176 177 178 179 183 184
 196 205 207 210 214 215 224 228 234 236 238 241 242 244 245 246 249 252
 254 260 261 263 264 266 267 270 276 281 282 283 286 287 290 291 293 297
 298 299 303 305 306 310 312 315 317 319 320 322 325 327 328 330 331 332
 334 338 339 344 345 346 349 350 353 355 356 359 365 367 371 372 378 379
 383 386 388 389 390 394 396 397 399 400 402 403 404 405 407 410 411 415
 422 429 430 432 434 436 444]
lineage 60: 16 cells
(819, 3)
(819, 3)
curr_ad     Position  Cell  Count
0          1     1    610
2          2     1    166
6          3     1    451
13         7     1   1100
16         8     1    723
donor1_lineage60
[]
lineage 61: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor1_lineage61
[ -1   1   3   5   6  12  13  14  15  16  24  30  33  38  39  40  41  42
  43  47  48  49  51  52  54  55  56  57  59  62  63  67  71  74  76  78
  79  82  83  86  87  89  93  99 100 101 102 103 104 106 109 111 114 117
 118 119 122 123 128 131 133 138 140 144 145 146 148 149 151 156 158 160
 161 163 165 166 168 169 172 173 174 175 179 182 184 286 306 355 365 389]
lineage 62: 2 cells
(122, 3)
(122, 3)
curr_ad    Position  Cell  Count
0         1     1   4658
2         2     1   1439
4         3     1      6
6         4     1   1985
7         5     1     24
donor1_lineage62
[ -1   1   5   7  12  15  24  33  37  48  49  53  55  56  62  74  87  89
 102 103 111 118 119 133 140 144 145 149 157 158 161 166 168 172 173 175
 179 184 246 305 346 350 381 401 403]
lineage 63: 1 cells
(45, 3)
(45, 3)
curr_ad     Position  Cell  Count
0          1     1    300
2          2     1    140
6          3     1     83
8          4     1      2
13         5     1    264
donor1_lineage63
[ -1   0   1   5   7   8   9  10  11  12  13  15  16  18  19  20  21  23
  24  25  27  28  29  33  34  35  37  38  39  40  42  45  46  47  48  49
  52  53  55  56  57  59  60  61  62  64  67  68  69  70  71  74  76  77
  78  79  80  81  82  85  86  87  89  90  93  96  97  99 102 103 104 105
 106 107 109 111 112 113 114 118 119 123 124 125 128 131 132 133 135 138
 139 140 141 142 144 145 148 149 150 151 153 154 156 157 158 161 162 163
 164 165 166 167 168 170 171 172 173 174 175 176 177 179 184 189 192 194
 195 196 198 199 201 203 205 206 207 210 212 213 214 215 217 219 221 224
 226]
lineage 64: 16 cells
(767, 3)
(767, 3)
curr_ad     Position  Cell  Count
0          1     1   4475
2          3     1   2769
6          4     1   2722
9          6     1      2
10         7     1      2
donor1_lineage64
[ -1   1   5   9  12  15  24  26  33  37  38  48  49  53  55  56  57  61
  62  67  74  79  87  89  90  99 100 101 102 103 107 111 118 119 120 133
 140 142 145 149 151 156 158 161 162 166 168 171 172 173 175 178 179 184
 214 242 244 245 246 253 256 257 260 261 264 266 268 280 283 286 291 293
 303 307 309 311 317 327 328 334 342 350 355 366 368 372 378 389 390 398
 399 403 417 418 422]
lineage 65: 4 cells
(211, 3)
(211, 3)
curr_ad     Position  Cell  Count
0          1     1    136
2          2     1     13
6          3     1     82
13         5     1    205
16         6     1    170
donor1_lineage65
[ -1   1   5   9  12  15  24  26  33  38  40  45  47  48  49  55  56  57
  61  62  67  68  74  76  80  87  89  90  96  97  99 102 103 109 111 118
 119 123 124 132 133 140 142 144 145 146 148 149 156 157 158 161 162 166
 168 172 173 174 175 184 188 210 238 241 242 244 245 246 249 257 260 261
 268 277 278 280 283 284 286 290 291 293 303 304 305 306 320 331 332 334
 350 353 355 356 359 372 378 385 388 389 391 399 400 405 418 419 445]
lineage 66: 6 cells
(304, 3)
(304, 3)
curr_ad     Position  Cell  Count
0          1     1    200
2          2     1     80
6          3     1     95
13         5     1    285
16         6     1    186
donor1_lineage66
[ -1   1   5   7   8   9  12  15  24  30  33  39  40  45  47  48  49  52
  55  56  57  62  67  68  74  75  77  79  87  89  96  97  99 102 103 105
 107 109 111 114 118 119 125 133 140 145 149 151 153 156 158 159 161 164
 166 168 172 173 174 175 178 179 184 192 195 196 201 202 210 213 214 215
 228 246 249 261 299 306 331 350 356 388 394 396 417 422 446]
lineage 67: 5 cells
(226, 3)
(226, 3)
curr_ad     Position  Cell  Count
0          1     1    946
2          2     1    254
6          3     1    445
8          4     1      2
10         6     1      2
donor1_lineage67
[ -1   1   5   7  12  15  24  26  33  38  42  47  48  49  52  53  55  56
  57  62  74  76  80  87  89  96  97  99 102 103 105 111 112 113 114 118
 119 120 125 133 140 144 145 149 158 161 162 166 168 172 173 175 178 179
 184 214 234 245 271 276 291 350 372 388 401]
lineage 68: 1 cells
(65, 3)
(65, 3)
curr_ad     Position  Cell  Count
0          1     1    384
2          2     1    186
6          3     1    120
8          4     1      3
13         5     1    269
donor1_lineage68
[ -1   1   2   5   6   8   9  10  11  12  15  18  20  23  24  26  30  33
  37  38  39  40  45  47  48  49  52  53  55  56  58  60  61  62  67  68
  69  71  73  74  76  78  79  80  81  86  87  89  90  91  93  96  97  99
 102 103 105 107 109 111 112 113 114 117 118 119 120 123 124 125 126 131
 132 133 136 140 141 142 145 146 148 149 151 153 154 156 157 158 161 162
 164 165 166 167 168 170 172 173 174 175 178 179 180 184 199 205 206 207
 210 213 214 215 224 228 238 245 249 260 261 264 266 267 270 277 283 286
 287 290 291 293 294 299 305 306 312 315 317 320 325 327 328 331 332 334
 337 344 345 346 350 353 355 362 365 367 368 371 372 373 378 379 381 383
 386 389 391 393 394 397 398 399 400 403 407 409 412 419 422 423 429 431
 436 442 444 445 446]
lineage 69: 11 cells
(593, 3)
(593, 3)
curr_ad     Position  Cell  Count
0          1     1   4814
2          2     1   2323
6          4     1   2474
7          5     1     30
12         9     1      3
donor1_lineage69
[ -1   1   2   4   5   6   7   8  10  12  13  14  15  16  17  18  19  20
  22  24  26  30  31  32  33  35  37  38  39  40  41  43  45  46  47  48
  49  50  51  52  53  54  55  56  57  58  59  60  61  62  64  65  67  68
  69  70  71  74  75  76  77  78  79  80  81  83  84  85  86  87  88  89
  90  91  92  93  96  97  99 100 101 102 103 104 105 106 107 109 110 111
 112 113 114 115 117 118 119 120 121 122 123 124 126 128 129 132 133 136
 139 140 141 142 145 146 148 149 151 152 153 156 157 158 159 161 162 164
 165 166 168 169 170 171 172 173 174 175 176 178 179 180 182 184 196 198
 205 207 210 214 224 225 228 236 245 246 249 254 261 270 276 286 287 291
 299 303 306 315 320 325 327 334 337 343 344 346 350 353 355 365 367 368
 371 372 373 377 383 386 389 391 396 397 398 399 400 405 422 433 436 437
 444]
lineage 70: 10 cells
(597, 3)
(597, 3)
curr_ad    Position  Cell  Count
0         1     1   5032
2         2     1   1893
3         3     1     31
5         4     1      2
6         5     1   2175
donor1_lineage70

[]
lineage 71: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor1_lineage71
[ -1   1   5   7   8  12  15  24  33  37  38  40  45  48  49  52  55  56
  61  62  67  68  74  77  80  86  89  90  96  97  99 102 103 105 107 109
 111 112 113 114 118 119 120 126 132 133 140 142 145 146 148 149 151 156
 157 158 159 161 164 165 166 168 170 171 172 173 174 175 176 177 184 210
 228 234 238 242 244 246 249 250 252 257 261 263 264 272 276 286 290 291
 293 299 305 306 309 314 320 325 328 334 337 339 349 353 355 359 362 365
 366 367 372 383 385 388 389 390 391 399 405 412 419 436 442 444]
lineage 72: 8 cells
(399, 3)
(399, 3)
curr_ad     Position  Cell  Count
0          1     1    380
2          2     1    161
6          3     1    208
8          4     1      2
13         6     1    372
donor1_lineage72
[ -1   1   2   5   8   9  10  12  15  23  24  30  33  38  45  48  49  55
  56  62  67  68  74  75  76  79  87  89  90  96  97  99 102 103 105 109
 111 118 119 120 123 124 126 132 133 140 145 146 149 153 156 158 161 162
 166 167 168 171 172 173 174 175 184 196 207 210 215 229 236 241 260 261
 264 278 283 286 291 296 315 328 334 350 355 356 359 365 367 368 371 372
 381 389 404 418 422 426]
lineage 73: 4 cells
(205, 3)
(205, 3)
curr_ad     Position  Cell  Count
0          1     1    319
2          2     1    166
6          4     1    217
9          5     1      2
11         7     1      5
donor1_lineage73
[ -1   1   2   5   6   7   8   9  10  12  13  15  16  19  20  23  24  26
  30  32  33  37  38  39  40  41  45  47  48  49  52  53  55  56  57  60
  61  62  67  68  69  70  74  75  76  79  80  81  82  85  86  87  89  90
  93  99 100 101 102 103 104 105 106 107 109 110 111 112 113 114 117 118
 119 120 123 124 125 126 127 128 129 131 132 133 138 139 140 142 144 145
 146 148 149 151 153 156 158 161 162 163 165 166 167 168 169 170 171 172
 173 174 175 176 178 184 210 214 238 241 245 246 249 251 261 266 276 277
 283 286 287 291 305 309 314 315 325 332 334 344 350 355 356 368 371 372
 378 379 389 391 398 399 411 415 422 436 438 442 446]
lineage 74: 6 cells
(379, 3)
(379, 3)
curr_ad     Position  Cell  Count
0          1     1   3958
2          2     1   2203
6          4     1   2138
8          6     1     45
11         9     1      9
donor1_lineage74
[ -1   0   1   5   7   8  10  12  15  16  19  24  26  27  31  32  33  37
  38  39  45  46  47  48  49  50  51  52  53  55  56  57  61  62  67  68
  69  74  76  78  80  81  83  86  87  89  90  91  96  97  99 102 103 105
 109 111 113 114 118 119 120 122 123 126 128 131 132 133 138 140 141 145
 146 148 149 151 152 153 156 157 158 159 161 162 164 165 166 168 170 171
 172 173 174 175 176 177 183 184 207 228 233 236 242 244 246 261 286 291
 293 299 303 305 306 309 314 317 325 334 339 350 355 356 359 362 371 374
 378 385 389 391 398 411 441 446]
lineage 75: 3 cells
(207, 3)
(207, 3)
curr_ad    Position  Cell  Count
0         1     1   3257
1         2     1      5
2         3     1   1599
6         4     1   1939
8         5     1      6
donor1_lineage75
[ -1   0   1   3   5  12  15  19  23  24  26  27  31  33  37  38  39  40
  41  42  43  45  46  48  49  50  52  53  55  56  57  59  62  67  68  69
  71  74  76  79  80  81  83  87  89  90  93  96  97  99 102 103 104 106
 107 109 111 114 115 116 118 119 120 125 133 136 140 145 148 149 150 151
 156 157 158 159 161 162 164 166 167 168 169 172 173 175 176 178 179 181
 184 210 228 236 238 245 249 253 260 276 277 283 286 287 293 297 303 306
 312 314 315 317 320 325 328 332 334 335 338 353 355 356 365 367 372 376
 379 389 397 398 399 400 403 409 411 415 417 418 438]
lineage 76: 6 cells
(334, 3)
(334, 3)
curr_ad     Position  Cell  Count
0          1     1   4144
2          3     1   1878
6          5     1   1980
13         6     1   3655
16         7     1   3719
donor1_lineage76
[ -1   1   5   7   8  10  12  15  16  24  26  33  37  38  39  40  48  49
  52  53  55  56  57  62  67  68  74  76  77  78  80  89  90  96  97  99
 100 101 102 103 105 109 111 112 114 118 119 123 124 126 132 133 140 142
 144 145 146 148 149 151 153 156 157 158 159 161 162 166 167 168 171 172
 173 174 175 176 179 184 192 195 196 198 199 205 207 210 212 213 214 215
 217 224 225 226 228 233 236 238 249 251 254 260 261 263 264 269 276 282
 286 291 293 303 308 309 312 314 325 332 334 344 345 346 350 353 355 359
 362 365 367 368 371 372 376 379 386 388 389 394 396 398 399 404 407 409
 412 415 417 425 427 436 442 444]
lineage 77: 14 cells
(640, 3)
(640, 3)
curr_ad     Position  Cell  Count
0          1     1   1129
2          2     1    554
6          3     1    354
13         7     1    854
16         8     1    620
donor1_lineage77
[ -1   1   5   7  12  15  24  33  39  47  48  49  55  56  57  62  74  76
  85  86  87  89  90  96  97  99 102 103 105 111 114 118 119 123 124 132
 133 140 144 145 149 156 158 161 166 167 168 172 173 175 184 189 190 205
 206 208 210 214 215 221 228 234 241 242 245 246 249 253 257 261 272 276
 282 287 291 293 299 303 305 312 315 328 332 339 350 355 365 367 368 372
 373 378 383 385 386 388 389 390 391 394 399 409 436]
lineage 78: 5 cells
(239, 3)
(239, 3)
curr_ad     Position  Cell  Count
0          1     1    592
2          2     1    210
6          3     1    328
13         5     1    695
16         6     1    407
donor1_lineage78
[ -1   1   5   6   8   9  12  13  15  18  19  20  23  24  26  31  32  33
  34  37  38  39  45  47  48  49  54  55  56  57  58  59  60  62  64  67
  68  69  70  71  74  76  78  79  80  81  84  86  87  88  89  90  93  96
  97  99 100 101 102 103 104 107 109 111 112 113 114 117 118 119 120 122
 123 124 125 127 131 132 133 136 139 140 142 143 144 145 146 148 149 151
 153 154 156 157 158 159 161 164 165 166 167 168 169 170 171 172 173 174
 175 176 177 184 246 253 261 291 305 306 307 334 355 358 362 365 367 368
 372 383 389 390 391 395 397 417 436]
lineage 79: 2 cells
(186, 3)
(186, 3)
curr_ad    Position  Cell  Count
0         1     1   6308
2         2     1   3713
6         3     1   3134
7         4     1      6
9         5     1      4
donor1_lineage79
[ -1   1   2   5   7   8   9  12  15  16  23  24  26  27  33  37  38  40
  42  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76  79  80
  86  87  89  90  96  97  99 100 101 102 103 105 107 109 111 112 113 114
 118 119 120 123 124 125 126 132 133 140 142 144 145 146 148 149 151 153
 156 157 158 159 161 162 164 165 166 167 168 170 171 172 173 174 175 176
 177 178 179 183 184 196 210 214 215 224 234 235 236 238 241 244 245 249
 251 254 257 260 261 264 267 268 270 276 278 283 286 287 290 291 293 294
 297 299 305 306 308 314 315 319 320 321 322 325 327 328 329 331 334 337
 338 339 343 344 345 346 349 350 353 355 356 359 365 366 367 368 370 371
 372 373 378 379 381 382 383 385 388 389 394 396 398 399 400 403 404 407
 410 415 417 418 422 423 430 434 436 437 445]
lineage 80: 19 cells
(1078, 3)
(1078, 3)
curr_ad     Position  Cell  Count
0          1     1    336
2          2     1    192
6          4     1    179
13         8     1    332
16         9     1    249
donor1_lineage80
[ -1   1   5  12  15  24  33  48  49  55  56  57  62  74  76  79  87  89
  97  99 102 103 111 118 119 120 132 133 140 145 146 148 149 153 158 161
 166 168 172 173 175 184 228 238 242 244 245 261 275 283 291 299 305 325
 334 351 355 365 371 373 383 389 391 398 403 411 416 442]
lineage 81: 2 cells
(104, 3)
(104, 3)
curr_ad     Position  Cell  Count
0          1     1    319
2          2     1    120
6          3     1    188
13         4     1    368
16         5     1    239
donor1_lineage81
[ -1   0   1   2   5   8  10  11  12  15  16  24  26  27  30  32  33  38
  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76  77  79  80
  86  87  89  90  96  97  99 100 101 102 103 105 107 109 111 118 119 120
 123 124 125 132 133 140 142 144 145 146 148 149 151 156 157 158 159 161
 162 164 166 167 168 170 171 172 173 174 175 176 178 179 184 196 210 228
 229 234 236 238 240 241 243 244 245 246 249 251 253 254 256 259 260 261
 263 264 266 276 277 283 285 286 290 291 293 297 303 305 306 308 310 312
 320 322 325 328 331 332 334 337 339 345 346 349 350 353 355 356 359 361
 362 365 367 368 371 372 373 376 378 389 390 394 395 396 397 398 399 403
 404 409 410 415 417 418 419 429 433 436 437 438 442 444 445 446]
lineage 82: 12 cells
(663, 3)
(663, 3)
curr_ad     Position  Cell  Count
0          1     1    309
2          3     1    138
6          5     1    114
13         9     1    288
16        10     1    193
donor1_lineage82

[ -1   1   2   5   7   8   9  10  12  15  23  24  26  33  37  38  40  45
  47  48  49  52  53  55  56  57  61  62  67  68  74  76  77  78  79  80
  86  87  89  90  96  97  99 100 101 102 103 105 107 109 111 112 113 114
 118 119 120 123 124 125 126 132 133 140 142 144 145 146 148 149 151 153
 156 157 158 159 161 162 164 165 166 167 168 170 171 172 173 174 175 176
 177 178 179 184 196 207 210 214 224 228 229 234 236 237 238 241 242 244
 245 246 249 254 256 257 259 260 261 263 264 266 268 277 283 284 287 290
 291 293 297 299 303 305 306 312 314 317 320 325 326 327 328 332 334 337
 339 340 344 345 350 353 355 357 358 359 362 365 367 371 372 373 378 379
 381 383 385 388 389 391 398 399 400 403 411 412 415 417 422 427 428 430
 433 438 442 445]
lineage 83: 16 cells
(1080, 3)
(1080, 3)
curr_ad     Position  Cell  Count
0          1     1    130
2          2     1     49
6          4     1     75
8          5     1      4
13         9     1    170
donor1_lineage83
[ -1   1   2   3   4   5   7   8   9  10  12  13  14  15  16  18  19  21
  22  23  24  26  28  30  31  32  33  34  37  38  39  40  41  42  44  45
  47  48  49  52  53  55  56  57  58  59  60  61  62  64  65  66  67  68
  70  71  72  74  75  76  77  78  79  80  81  83  84  85  86  87  89  90
  92  93  95  96  97  99 100 101 102 103 104 105 107 109 110 111 112 113
 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 132 133 134
 139 140 142 144 145 146 148 149 150 151 152 153 154 156 157 158 159 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 189 190 193 195 196 197 198 199 201 202 205
 206 207 209 210 212 213 214 215 217 219 220 221 222 223 224 225 226 228
 241 246 253 254 257 260 261 262 264 266 271 276 278 282 283 286 287 291
 293 303 306 308 314 318 320 328 331 334 339 340 343 344 350 351 353 355
 356 359 362 367 371 372 378 379 381 389 390 396 398 399 403 409 434 436
 442 445]
lineage 84: 37 cells
(1897, 3)
(1897, 3)
curr_ad     Position  Cell  Count
0          1     1   4944
2          2     1   3016
6          6     1   3032
8          7     1      2
10         9     1      2
donor1_lineage84
[ -1   1   5  12  15  16  23  24  26  33  37  38  39  40  47  48  49  52
  53  55  56  57  61  62  67  68  74  76  79  86  89  99 102 103 105 107
 109 111 112 113 118 119 120 132 133 140 142 144 145 146 148 149 151 153
 156 157 158 159 161 162 164 166 167 168 169 172 173 174 175 176 178 179
 184 196 200 210 214 224 228 238 240 241 244 249 251 254 259 260 261 263
 264 273 277 282 283 287 290 291 294 297 298 299 303 305 314 315 317 319
 320 325 328 334 338 346 353 355 359 365 372 373 376 381 385 388 389 390
 396 398 399 400 407 415 418 422 429 432 434 439 442 446]
lineage 85: 10 cells
(487, 3)
(487, 3)
curr_ad     Position  Cell  Count
0          1     1    896
2          2     1    326
6          3     1    319
13         4     1    580
16         5     1    643
donor1_lineage85
[ -1   1   5   8  12  15  16  24  33  38  45  48  49  52  55  56  57  62
  67  68  74  79  80  87  89  99 102 103 105 111 118 119 120 123 124 125
 133 140 142 144 145 149 151 153 158 161 162 164 166 167 168 170 172 173
 175 177 178 179 184 196 207 210 214 228 229 234 235 238 241 244 245 246
 249 254 260 261 264 271 276 277 283 285 287 291 293 303 306 320 325 327
 328 332 334 345 350 351 353 355 359 362 365 367 371 372 373 378 379 381
 384 389 390 397 398 399 403 404 405 415 418 420 422 423 434 437 438 442
 444 445]
lineage 86: 8 cells
(392, 3)
(392, 3)
curr_ad     Position  Cell  Count
0          1     1    171
2          2     1     53
6          3     1     80
13         5     1    172
16         6     1    168
donor1_lineage86
[ -1   1   5   7   8   9  12  15  23  24  26  27  29  30  33  38  40  45
  47  48  49  52  53  55  56  57  62  74  76  80  86  87  89  90  99 102
 103 105 107 109 111 113 118 119 123 124 125 133 140 144 145 149 151 153
 156 157 158 161 164 166 168 170 171 172 173 175 177 183 184 196 210 214
 234 235 238 242 244 246 252 253 254 260 261 271 278 283 287 291 297 299
 305 306 312 314 315 319 325 328 331 332 334 339 344 345 350 355 362 365
 370 371 372 378 380 381 383 385 389 399 400 409 412 417 436 442 444]
lineage 87: 9 cells
(416, 3)
(416, 3)
curr_ad     Position  Cell  Count
0          1     1    200
2          2     1     78
6          3     1    112
13         7     1    191
16         8     1    176
donor1_lineage87
[ -1   1   5   8  10  11  12  15  16  23  24  27  33  34  35  38  39  40
  41  45  47  48  49  53  55  56  61  62  69  71  74  75  76  79  81  86
  89  90  96  97  99 100 101 102 103 104 105 111 112 114 116 117 118 119
 120 126 131 132 133 138 140 142 144 145 146 148 149 151 153 157 158 161
 163 164 166 167 168 170 171 172 173 174 175 176 177 182 184 210 214 232
 241 246 257 260 261 267 283 286 291 293 305 307 312 315 338 349 351 353
 356 359 365 371 372 379 381 398 407 409 410 415 422 436 444]
lineage 88: 3 cells
(199, 3)
(199, 3)
curr_ad     Position  Cell  Count
0          1     1   3831
2          2     1   1596
6          3     1   1758
9          4     1      2
11         5     1     82
donor1_lineage88
[ -1   1   3   5   7   8  12  15  24  26  33  37  38  39  40  45  47  48
  49  52  53  55  56  57  61  62  67  68  74  75  76  79  87  89  90  97
  99 100 102 103 109 111 112 113 114 118 119 120 123 124 126 132 133 140
 142 145 148 149 151 153 156 157 158 159 161 162 166 167 168 172 173 174
 175 178 184 187 189 190 196 198 202 205 206 207 210 211 212 213 214 217
 219 226 236 249 261 264 268 283 286 287 291 293 297 303 306 310 325 327
 328 331 337 350 353 354 359 365 368 372 378 388 389 396 397 398 399 403
 407 411 412 422]
lineage 89: 13 cells
(591, 3)
(591, 3)
curr_ad     Position  Cell  Count
0          1     1    728
2          2     1    210
6          4     1    361
13         7     1    693
16         8     1    740
donor1_lineage89
[ -1   1   5  12  15  24  33  38  48  49  53  55  56  61  62  74  80  89
  99 102 103 107 111 118 119 133 140 145 149 156 158 161 166 168 172 173
 175 184 210 241 267 283 303 314 316 320 334 337 372 373 383 415 418]
lineage 90: 1 cells
(53, 3)
(53, 3)
curr_ad     Position  Cell  Count
0          1     1    271
2          2     1     89
6          3     1    109
13         4     1    247
16         5     1    164
donor1_lineage90
[ -1   1   2   3   5   7   8   9  12  15  23  24  26  27  33  37  38  40
  45  47  48  49  52  53  55  56  57  61  62  67  68  74  76  79  80  86
  87  89  90  96  97  99 102 103 105 107 109 111 112 113 114 118 119 120
 123 124 125 126 132 133 140 142 144 145 146 148 149 151 153 156 157 158
 159 161 162 164 165 166 168 170 171 172 173 174 175 176 177 178 179 184
 196 207 210 214 228 234 236 238 243 244 245 249 253 254 261 263 266 268
 270 271 274 275 276 278 283 286 287 291 293 297 299 303 305 306 310 313
 317 318 320 321 325 331 332 333 334 336 337 338 345 351 353 355 359 367
 371 372 373 378 379 381 383 389 390 391 392 394 396 397 398 399 400 401
 403 413 415 417 418 421 422 433 438 446]
lineage 91: 16 cells
(833, 3)
(833, 3)
curr_ad     Position  Cell  Count
0          1     1    168
2          2     1     60
6          5     1     64
13         9     1    108
16        10     1    157
donor1_lineage91
[ -1   0   1   2   3   5   6   7   8   9  10  12  13  15  16  20  22  24
  28  31  32  33  34  35  36  37  38  39  40  41  44  45  47  48  49  50
  51  52  53  55  56  57  58  59  60  61  62  64  65  67  68  69  70  71
  74  75  76  77  78  79  80  81  82  83  84  85  86  87  89  90  91  92
  93  94  96  97  99 100 101 102 103 104 105 106 107 109 111 112 113 114
 116 117 118 119 120 121 122 123 124 126 127 128 129 130 131 132 133 135
 138 139 140 142 144 145 146 148 149 151 153 154 156 157 158 159 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 182
 183 184 189 190 192 195 196 198 205 206 207 210 212 213 214 215 217 219
 222 224 225 226 227 228 229 234 236 238 243 244 245 246 249 260 261 264
 283 286 291 293 299 305 306 308 309 317 320 322 325 326 327 328 332 334
 337 339 344 346 348 350 355 359 365 367 369 371 372 373 378 380 381 388
 389 390 394 397 398 399 407 411 422 427 433 438 445]
lineage 92: 17 cells
(964, 3)
(964, 3)
curr_ad    Position  Cell  Count
0         1     1   4353
2         3     1   2117
6         6     1   2086
8         8     1     55
9         9     1     24
donor1_lineage92
[ -1   1   2   5   7  12  15  24  26  33  37  38  39  40  47  48  49  52
  53  55  56  57  62  67  68  74  77  78  80  86  87  89  96  97  99 102
 103 105 107 109 111 112 113 114 118 119 123 124 132 133 140 142 145 146
 148 149 153 158 161 162 164 165 166 168 170 172 173 175 178 179 184 202
 205 210 214 215 224 238 253 261 268 273 283 287 291 297 305 309 310 314
 333 337 338 339 344 350 351 353 355 365 373 376 379 381 382 383 385 389
 399 414 415 416 436]
lineage 93: 4 cells
(233, 3)
(233, 3)
curr_ad     Position  Cell  Count
0          1     1   1208
2          2     1    409
3          3     1      4
6          4     1    470
13         6     1    939
donor1_lineage93

[ -1   1   5  12  15  23  24  33  37  38  40  48  49  52  55  56  61  62
  68  74  79  86  89  96  97 100 101 102 103 105 107 111 118 119 123 124
 125 126 133 140 142 145 146 149 156 158 161 162 166 168 172 173 175 184
 234 235 251 261 266 271 277 283 286 317 327 334 350 353 358 365 367 381
 383 389 390 392 399 404 412 429 442]
lineage 94: 3 cells
(151, 3)
(151, 3)
curr_ad     Position  Cell  Count
0          1     1    193
2          2     1     63
6          3     1     69
13         4     1    163
16         5     1    130
donor1_lineage94
[ -1   1   5   7   8   9  12  15  23  24  33  38  45  47  48  49  52  53
  55  56  57  62  68  74  76  77  79  86  87  89  90  96  97  99 100 101
 102 103 107 111 112 113 114 118 119 120 123 124 125 132 133 140 142 145
 146 148 149 151 156 157 158 159 161 166 168 172 173 175 176 177 178 179
 184 196 210 214 234 238 240 241 244 245 246 286 291 297 303 306 310 320
 321 322 325 328 331 334 339 349 350 353 355 358 359 362 372 379 385 388
 389 391 398 399 403 409 410 415 418 419 429 436 442]
lineage 95: 5 cells
(284, 3)
(284, 3)
curr_ad    Position  Cell  Count
0         1     1    449
2         2     1    210
6         3     1    146
8         4     1      2
9         5     1      2
donor1_lineage95
[ -1   0   1   5   7   8   9  10  12  13  15  20  23  24  26  27  28  29
  31  33  37  38  39  40  45  46  47  48  49  51  52  55  56  57  59  60
  62  65  67  68  71  72  74  75  76  78  79  80  82  83  84  86  88  89
  90  93  96  97  99 101 102 103 104 105 107 109 110 111 112 113 114 116
 117 118 119 120 121 122 128 131 133 140 141 142 143 145 148 149 151 153
 154 155 156 157 158 159 161 162 165 166 167 168 171 172 173 174 175 179
 184 238 249 261 267 293 309 310 311 328 341 358 365 368 380 389 390 399
 414 440]
lineage 96: 3 cells
(199, 3)
(199, 3)
curr_ad    Position  Cell  Count
0         1     1   4495
1         2     1      4
2         3     1   2556
6         4     1   2623
8         5     1      2
donor1_lineage96
[ -1   1   5   8   9  12  15  24  26  27  30  33  37  39  40  47  48  49
  55  56  57  59  62  67  68  74  76  77  78  86  87  89  90  99 102 103
 105 107 109 111 118 119 120 123 124 125 132 133 140 142 144 145 146 148
 149 151 153 156 158 161 162 166 167 168 171 172 173 174 175 176 179 184
 205 207 210 213 214 221 226 236 238 240 241 249 253 261 262 264 266 276
 287 291 297 298 303 304 306 314 325 334 337 345 350 353 356 362 365 367
 372 378 383 385 389 390 398 399 409 410 411 412 415 418 429 430 438 446]
lineage 97: 8 cells
(379, 3)
(379, 3)
curr_ad     Position  Cell  Count
0          1     1    760
2          2     1    230
6          3     1    262
13         6     1    767
16         7     1    571
donor1_lineage97
[ -1   1   2   5   8  10  12  15  16  24  26  33  38  39  40  45  47  48
  49  52  53  55  56  57  62  68  74  85  87  89  99 102 103 109 111 114
 118 119 123 124 125 126 133 140 144 145 146 148 149 151 153 158 161 164
 165 166 167 168 170 171 172 173 174 175 176 179 184 186 189 190 195 196
 198 202 210 213 216 220 224 225 226 228 234 236 244 249 254 260 261 267
 280 282 283 287 291 293 299 305 306 314 325 328 332 334 335 337 345 349
 352 353 355 356 365 367 368 371 372 378 383 385 389 391 394 398 399 407
 409 417 436 438 444]
lineage 98: 8 cells
(401, 3)
(401, 3)
curr_ad     Position  Cell  Count
0          1     1   1387
2          2     1    310
3          3     1      4
6          4     1    712
13         7     1   1340
donor1_lineage98
[ -1   1   5   8  12  15  23  24  26  33  38  40  45  47  48  49  55  56
  57  62  74  89  90  96  97  99 100 101 102 103 111 118 119 133 140 142
 145 149 158 161 166 168 172 173 175 184 210 238 247 260 261 267 276 297
 303 338 364 367 372 375 385 388 389 422 445]
lineage 99: 3 cells
(134, 3)
(134, 3)
curr_ad     Position  Cell  Count
0          1     1    454
2          2     1    168
6          3     1    168
9          4     1      2
13         5     1    436
donor1_lineage99
cell meta
             new index                        ID              raw ID  \
donor_index
1                   11  AAGGTTCGTTCCAGTA-1_Input  AAGGTTCGTTCCAGTA-1
2                   16  ACAGCGCCATAGCAGG-1_Input  ACAGCGCCATAGCAGG-1
3                   31  AGCGTGCAGAACTAAC-1_Input  AGCGTGCAGAACTAAC-1
4                   34  AGGCGTCAGAACAGGA-1_Input  AGGCGTCAGAACAGGA-1
5                   46  ATGTTTCTCTCGACCT-1_Input  ATGTTTCTCTCGACCT-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      1       64              1
2               Input      1       84              1
3               Input      1       92              1
4               Input      1       13              1
5               Input      1      NaN            NaN
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor2.AD.mtx
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor2.DP.mtx
curr_vcf
  index_x #CHROM    POS REF_x ALT  strand_correlation_x     vmr_x  \
0     NaN   chrM  16512   NaN   C                   NaN       NaN
1   73A>G   chrM     73   73A   G              0.996919  0.382955
2  146T>C   chrM    146  146T   C              0.993106  0.591151
3  150C>T   chrM    150  150C   T              0.979327  0.670372
4  195T>C   chrM    195  195T   C              0.990257  0.623396

   n_cells_over_5_x  n_cells_over_20_x  \
0               NaN                NaN
1             119.0              116.0
2               2.0                1.0
3              61.0               49.0
4              44.0               31.0

   old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Input/MT/cellr_True/Input_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                1.0
2                                                2.0
3                                                3.0
4                                                4.0

   ... n_cells_over_20_y  \
0  ...               NaN
1  ...             329.0
2  ...               NaN
3  ...             177.0
4  ...              22.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Control/MT/cellr_True/Control_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                2.0
2                                                NaN
3                                                3.0
4                                                4.0

      index     REF  strand_correlation       vmr  n_cells_over_5  \
0  16512T>C  16512T            0.772501  0.013277             0.0
1     73A>G     73A            0.995236  0.339875          2768.0
2    146T>C    146T            0.990833  0.665951            15.0
3    150C>T    150C            0.977151  0.800561           714.0
4    195T>C    195T            0.971955  0.669470          1103.0

  n_cells_over_20  \
0             0.0
1          2699.0
2             6.0
3           664.0
4          1027.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Flt3l/MT/cellr_True/Flt3l_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                              368.0
1                                                3.0
2                                                6.0
3                                                9.0
4                                               11.0

   new ID
0     495
1       1
2       2
3       3
4       4

[5 rows x 25 columns]
curr_labels
   new index                        ID              raw ID condition  donor  \
0          2  AAAGGATAGTCGTGAG-1_Input  AAAGGATAGTCGTGAG-1     Input    NaN
1         15  ACAGAAATCTGGCACG-1_Input  ACAGAAATCTGGCACG-1     Input    NaN
2         23  ACCCAAAAGGAAGGTA-1_Input  ACCCAAAAGGAAGGTA-1     Input    NaN
3         25  ACCTGCTCACGCGTTG-1_Input  ACCTGCTCACGCGTTG-1     Input    NaN
4         30  AGCCGCAGTCCGTGCA-1_Input  AGCCGCAGTCCGTGCA-1     Input    NaN

   donor_index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

cell meta
             new index                        ID              raw ID  \
donor_index
1                    2  AAAGGATAGTCGTGAG-1_Input  AAAGGATAGTCGTGAG-1
2                   15  ACAGAAATCTGGCACG-1_Input  ACAGAAATCTGGCACG-1
3                   23  ACCCAAAAGGAAGGTA-1_Input  ACCCAAAAGGAAGGTA-1
4                   25  ACCTGCTCACGCGTTG-1_Input  ACCTGCTCACGCGTTG-1
5                   30  AGCCGCAGTCCGTGCA-1_Input  AGCCGCAGTCCGTGCA-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      2      NaN            NaN
2               Input      2      NaN            NaN
3               Input      2      NaN            NaN
4               Input      2      NaN            NaN
5               Input      2      NaN            NaN
[ -1   0   1   2   5   8   9  10  11  12  13  16  17  24  26  28  29  31
  32  34  35  39  40  42  44  47  49  50  51  54  55  57  58  59  63  64
  69  70  76  79  80  81  82  83  89  90  92  93 101 102 104 105 106 107
 108 110 112 114 116 117 118 119 123 125 126 129 130 131 132 138 139 146
 148 150 151 152 154 155 157 159 162 163 164 165 167 168 170 171 172 173
 174 176 177 178 179 180 181 182 183 184 185 190 200 211 213 217 219 228
 232 235 240 241 242 244 246 247 248 251 252 253 255 257 259 260 261 263
 267 268 270 271 274 275 276 278 279 282 284 286 287 288 290 291 292 295
 296 298 299 301 302 304 305 306 308 310 311 313 314 315 317 318 320 321
 322 327 328 329 333 335 336 338 340 341 342 343 345 346 347 348 352 354
 356 357 358 359 360 361 362 366 369 371 374 375 376 378 379 380 382 383
 384 385 386 389 393 394 395 397 398 400 402 403 404 407 408 409 410 411
 412 413 414 415 416 417 418 419 420 421 422 423 427 428 429 430 434 435
 441 445 446 447 449 453 454 455 456]
lineage 0: 57 cells
(2237, 3)
(2237, 3)
curr_ad    Position  Cell  Count
0         1     1      6
2         3     1      6
3         4     1      3
6         5     1    191
9         6     1    337
donor2_lineage0
[ -1   0   5   8   9  11  13  16  24  26  31  35  40  47  49  50  54  55
  57  58  59  63  64  76  79  82  90  93 101 102 105 106 107 110 112 116
 117 118 119 123 125 132 138 139 148 150 151 152 155 157 159 162 163 168
 170 172 173 174 180 181 190 213 235 244 248 255 260 261 266 268 287 288
 304 310 311 320 324 327 333 338 342 346 360 361 380 385 400 407 410 419
 424 427 434 454 455 456]
lineage 1: 5 cells
(153, 3)
(153, 3)
curr_ad     Position  Cell  Count
0          1     1     12
6          3     1    139
9          4     1    225
10         5     1      3
12         6     1      2
donor2_lineage1
[ -1   1   2   5   8  10  13  16  17  24  26  28  29  32  34  35  39  40
  42  47  49  50  51  54  55  57  58  59  63  64  69  70  76  79  80  81
  82  83  89  90  92  93 101 102 104 105 106 107 108 110 112 114 116 117
 118 119 123 125 126 129 130 131 132 138 139 146 148 150 151 152 154 155
 159 162 163 164 165 167 168 170 171 172 173 176 177 178 179 181 182 183
 184 185 190 200 211 213 217 228 232 240 242 244 248 251 253 255 260 261
 264 267 268 271 274 275 292 295 296 299 301 302 304 306 308 310 311 315
 319 320 322 327 328 333 335 336 338 340 342 345 346 347 352 355 357 361
 362 363 366 371 372 374 375 378 379 385 394 395 400 402 407 410 412 413
 415 416 417 421 427 428 429 430 434 446 447 448 454 455]
lineage 2: 19 cells
(612, 3)
(612, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          4     1    108
9          5     1    247
27        11     1      7
29        12     1      6
donor2_lineage2
[ -1   1   3   5   8   9  10  11  13  16  24  28  29  31  35  39  40  41
  42  47  49  50  51  54  55  57  58  59  64  69  70  76  79  81  82  83
  89  90  92  93 101 102 104 107 110 112 114 116 117 118 119 123 126 129
 130 131 138 139 148 150 151 152 154 159 162 163 164 165 167 168 170 171
 172 173 174 176 177 178 180 182 183 184 185 190 200 210 213 217 226 228
 230 232 245 247 251 252 253 255 260 261 267 268 270 274 276 286 287 291
 292 294 295 296 299 308 310 311 314 320 327 333 336 340 342 347 357 360
 361 366 369 371 374 378 379 380 386 389 395 397 398 400 411 412 413 416
 417 419 423 424 428 434 441 447 449 453 455]
lineage 3: 12 cells
(370, 3)
(370, 3)
curr_ad     Position  Cell  Count
2          2     1      8
6          4     1    399
9          5     1    703
14         9     1      2
17        10     1     42
donor2_lineage3
[ -1   5   7   8  11  14  15  17  20  24  29  33  35  39  40  41  42  43
  49  50  53  55  57  58  59  62  63  70  71  72  73  76  79  82  86  87
  88  89  90 105 106 110 116 117 118 119 120 121 123 126 127 131 139 146
 151 154 155 159 160 163 168 169 170 173 175 176 177 178 179 180 181 184
 185 190 200 213 232 240 244 248 255 267 268 271 287 292 308 311 315 317
 333 336 342 357 360 361 371 375 379 381 385 402 407 410 412 428 430 451]
lineage 4: 5 cells
(150, 3)
(150, 3)
curr_ad     Position  Cell  Count
6          2     1   1684
8          3     1     10
9          4     1   3345
12         5     1      2
15         6     1      2
donor2_lineage4
[  5   8  40  41  51  82  90  93 105 108 110 126 129 190 208 213]
lineage 5: 1 cells
(16, 3)
(16, 3)
curr_ad     Position  Cell  Count
6          1     1    448
9          2     1    997
41         3     1   1748
42         4     1     98
52         5     1      2
donor2_lineage5
[ -1   5   8   9  13  14  16  21  24  26  29  33  35  37  39  40  41  42
  47  50  51  54  57  58  59  62  63  64  66  69  70  76  79  80  82  83
  84  85  89  90  92  93  94  97 101 102 104 108 110 112 115 116 117 118
 123 125 126 127 129 130 131 132 138 141 142 146 148 150 151 152 153 155
 157 159 160 162 163 166 167 168 169 170 176 177 180 181 183 184 187 190
 200 211 213 242 251 261 266 267 268 275 287 299 301 310 311 314 319 322
 327 328 333 335 336 340 342 353 355 357 360 361 362 366 369 372 374 379
 383 386 389 393 400 412 413 419 422 424]
lineage 6: 6 cells
(220, 3)
(220, 3)
curr_ad     Position  Cell  Count
6          2     1   2012
9          3     1   3841
10         4     1      3
14         5     1      5
15         6     1      2
donor2_lineage6
[ -1   1   3   5   8   9  10  11  12  17  20  21  24  26  32  33  34  35
  39  40  41  42  44  47  49  52  54  55  57  58  59  62  64  66  69  70
  71  73  75  76  81  82  83  84  91  92  93  94  95 101 102 107 108 110
 112 114 115 116 117 118 121 123 125 126 131 132 133 138 139 140 142 145
 146 148 150 151 152 154 155 157 159 162 163 164 166 167 168 170 171 175
 178 179 180 181 183 184 185 187 189 190 199 200 213 219 221 228 229 232
 234 244 248 249 252 253 255 264 267 268 274 280 288 292 295 299 304 306
 310 311 327 333 336 340 342 346 348 357 362 366 378 379 380 386 398 400
 402 403 409 411 412 413 416 419 423 425 428 442 449 454]
lineage 7: 8 cells
(249, 3)
(249, 3)
curr_ad    Position  Cell  Count
0         1     1     11
2         2     1      2
4         3     1      4
6         4     1   2716
9         5     1   3922
donor2_lineage7
[  5   8  35  40  49  59  76  79 110 116 119 129 130 146 157 162 164 178
 190 211 238 240 260 267 286 288 295 299 304 322 340 342 364 371 375 378
 400]
lineage 8: 2 cells
(44, 3)
(44, 3)
curr_ad     Position  Cell  Count
6          1     1    157
9          2     1    292
36         3     1      2
41         4     1    297
77         7     1      6
donor2_lineage8
[]
lineage 9: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage9
[ -1   5   7   8  10  11  13  16  20  26  28  29  31  33  35  36  39  40
  41  42  47  49  50  51  54  55  57  58  59  61  64  66  68  69  72  76
  78  79  81  82  83  87  88  89  93 101 102 105 110 112 114 115 116 119
 123 125 126 128 129 130 134 137 138 139 144 145 146 151 152 154 155 159
 162 163 164 165 167 169 171 172 180 184 185 187 190 194 199 200 201 206
 210 211 213 215 216 217 221 224 226 227 228 230 231 253 296 301 311 346
 357 361 362 366 374 379 412 413 414 448]
lineage 10: 9 cells
(215, 3)
(215, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          2     1   1127
8          3     1     28
9          4     1   1586
11         5     1      4
donor2_lineage10
[]
lineage 11: 0 cells
(0, 3)
(0, 3)

curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage11
[ -1   5   8   9  11  13  26  28  35  40  41  42  47  49  51  59  63  70
  76  79  82  89  90  92  93 101 102 105 106 110 112 116 123 126 132 138
 146 148 155 157 162 163 165 177 180 182 183 190 195 206 211 213 216 217
 219 220 221 247 292 342 392]
lineage 12: 2 cells
(70, 3)
(70, 3)
curr_ad     Position  Cell  Count
6          2     1    444
9          3     1    904
10         4     1      4
12         5     1     24
14         6     1      2
donor2_lineage12
[ -1   5   8  10  13  16  24  26  32  34  35  40  42  44  47  49  50  51
  54  55  57  58  59  64  69  70  76  79  82  83  90  92  93 104 105 106
 108 110 112 114 116 117 118 119 123 125 126 131 132 139 146 148 150 151
 152 154 155 157 159 162 163 164 167 168 170 172 173 176 177 178 179 180
 181 182 183 184 185 190 200 213 217 228 232 238 240 244 248 249 251 252
 253 255 257 260 267 268 270 276 278 280 286 287 292 295 296 298 299 300
 301 304 306 308 310 311 315 319 320 322 323 327 333 336 338 340 342 345
 346 351 354 357 360 361 362 366 369 374 375 378 379 385 386 389 393 398
 400 402 403 407 409 410 411 413 417 421 423 425 427 428 429 430 431 432
 434 436 446 447 449 453 454 455]
lineage 13: 13 cells
(376, 3)
(376, 3)
curr_ad     Position  Cell  Count
6          2     1    153
9          3     1    266
36        11     1      6
41        12     1    320
71        26     1      2
donor2_lineage13
[]
lineage 14: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage14
[]
lineage 15: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage15
[ -1   0   1   2   3   5   7   8   9  10  11  12  13  14  15  16  17  19
  20  21  24  26  28  29  30  32  33  34  35  36  39  40  41  42  43  44
  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62
  63  64  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81
  82  83  84  85  86  87  88  89  90  92  93  94  95  97 101 102 104 105
 106 107 108 109 110 111 112 113 114 115 116 117 118 119 121 122 123 125
 126 127 128 129 130 131 132 133 134 136 137 138 139 140 142 144 145 146
 147 148 149 150 151 152 153 154 155 157 158 159 160 161 162 163 164 165
 167 168 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185
 186 187 188 189 190 191 195 199 200 202 205 206 209 210 211 213 215 216
 217 219 220 221 223 227 228 229 255 261 278 286 292 319 327 333 362 366
 371 392 400 403 411 412 430 434]
lineage 16: 26 cells
(910, 3)
(910, 3)
curr_ad     Position  Cell  Count
0          1     1     10
1          2     1      2
6          6     1   2806
9          8     1   3954
10         9     1      2
donor2_lineage16
[ -1   5   8   9  21  22  24  26  28  29  33  34  35  39  40  41  42  44
  49  50  51  53  54  55  56  57  58  59  61  62  63  64  66  69  70  71
  73  76  78  79  81  82  86  87  90  92  93  94  95  97 101 102 103 104
 105 106 107 108 110 111 112 114 116 117 118 119 123 125 126 127 130 131
 135 137 139 142 145 146 148 150 151 152 154 155 158 159 162 163 164 167
 169 171 176 177 178 179 181 182 183 184 185 186 188 190 213 217 219 228
 240 242 244 246 248 249 253 255 259 260 264 267 268 280 286 288 292 296
 299 302 306 308 310 315 333 340 345 353 354 357 360 361 366 370 371 375
 378 379 386 388 393 398 400 411 412 414 416 417 419 421 423 428 434 449
 454]
lineage 17: 6 cells
(241, 3)
(241, 3)
curr_ad     Position  Cell  Count
0          1     1     81
6          2     1   2587
9          3     1   4122
10         4     1     10
22         5     1      2
donor2_lineage17
[ -1   5   8  11  26  32  35  40  50  51  54  55  57  58  59  70  76  79
  83  89  90 104 108 110 114 116 117 118 123 131 138 148 150 151 152 154
 155 157 159 163 164 165 167 170 172 176 190 213 228 240 244 247 253 255
 260 261 264 267 272 287 295 299 303 310 311 333 336 338 342 345 346 357
 358 369 371 378 379 385 393 397 400 411 412 416 423 428 431 434]
lineage 18: 7 cells
(159, 3)
(159, 3)
curr_ad     Position  Cell  Count
6          2     1     91
9          3     1    192
36         7     1     14
41         8     1    161
56        12     1      8
donor2_lineage18
[]
lineage 19: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage19
[]
lineage 20: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage20
[ -1   1   2   5   8   9  10  11  13  16  17  24  26  28  35  39  40  42
  47  49  50  51  54  55  57  58  59  63  64  69  70  76  78  79  82  83
  90  92  93 101 102 104 105 106 107 108 110 112 114 116 117 118 119 123
 125 126 129 130 131 132 138 139 146 148 150 151 152 154 155 157 162 163
 164 165 167 168 170 171 172 173 174 176 177 178 179 180 181 182 183 184
 185 190 194 213 217 233 240 244 246 248 249 250 251 252 264 267 268 271
 273 286 289 292 293 298 299 301 302 306 310 311 313 323 327 333 336 338
 340 342 346 352 353 354 357 360 361 364 366 368 371 372 374 375 379 380
 385 395 400 402 403 409 411 412 414 423 428 430 431 439 441 444 448 449
 450 453 454 455]
lineage 21: 14 cells
(538, 3)
(538, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          4     1    142
9          5     1    278
10         6     1      4
36        15     1     12
donor2_lineage21
[ -1   0   3   4   5   7   8   9  10  13  14  16  17  19  21  25  26  30
  32  35  37  39  40  41  42  46  47  49  50  51  52  54  55  58  59  61
  62  63  64  66  68  69  70  71  75  76  78  79  81  82  83  84  85  86
  89  90  92  93  94  95  96  97 101 102 104 105 106 107 108 110 111 114
 116 117 118 119 120 121 122 123 125 126 128 129 130 131 132 134 138 139
 140 143 145 146 147 148 151 152 154 155 157 159 160 162 163 164 165 167
 168 169 170 171 172 173 174 175 176 177 179 180 181 184 185 186 189 190
 200 210 211 213 217 218 228 232 240 242 252 253 267 268 270 287 291 292
 306 310 311 315 322 327 342 352 353 356 357 361 362 364 366 369 375 378
 379 385 393 398 400 402 403 410 411 413 423 428 429 447 449 454]
lineage 22: 6 cells
(282, 3)
(282, 3)
curr_ad    Position  Cell  Count
0         1     1      8
4         3     1      2
6         5     1   1445
8         6     1      2
9         7     1   2180
donor2_lineage22
[ -1   1   5   8   9  10  11  16  24  26  28  29  35  40  42  47  49  50
  51  54  55  57  59  63  64  69  70  76  79  81  82  83  89  90  92  93
 101 102 105 106 107 108 110 112 114 116 117 118 119 123 125 126 129 130
 131 132 138 139 146 148 150 151 152 154 155 157 159 162 163 164 165 167
 168 170 171 173 174 176 177 180 182 183 184 185 190 240 242 244 246 251
 261 264 267 268 270 274 275 278 292 293 295 301 304 308 310 311 315 317
 319 333 335 338 342 354 361 366 369 371 375 379 390 400 402 403 411 412
 415 416 420 421 423 429 434 441 444 445 449 454]
lineage 23: 7 cells
(282, 3)
(282, 3)
curr_ad     Position  Cell  Count
0          1     1      2
6          3     1     85
9          4     1    121
41        14     1    151
60        23     1      2
donor2_lineage23
[ -1   5   8   9  28  31  35  40  47  49  54  55  59  63  70  79  81  82
  83  89  90  93 101 102 105 106 110 112 123 126 131 132 138 148 150 151
 152 157 162 163 164 173 176 177 180 182 183 184 185 190 213 266 267 274
 277 292 299 310 338 342 347 354 357 361 366 371 379 400 411 423 441 447
 452]
lineage 24: 2 cells
(104, 3)
(104, 3)
curr_ad     Position  Cell  Count
0          1     1     18
6          2     1    103
9          3     1    246
10         4     1      2
36         7     1     26
donor2_lineage24
[ -1   0   1   2   5   8   9  10  11  13  16  24  26  28  29  34  35  39
  40  41  42  47  49  50  51  54  55  57  58  59  63  64  69  70  76  78
  79  81  82  83  89  90  92  93 101 102 104 105 106 107 108 110 112 114
 116 117 118 119 123 125 126 129 130 131 132 138 139 146 148 150 151 152
 154 155 157 159 162 163 164 165 168 170 172 173 174 177 178 179 180 181
 182 183 184 185 190 200 211 213 217 228 230 232 240 242 244 246 247 248
 249 251 252 253 255 257 261 264 267 268 270 271 274 276 277 280 286 287
 292 294 295 296 299 301 302 304 306 308 310 311 314 315 317 320 322 328
 332 333 335 336 338 340 342 345 346 347 352 353 354 357 360 361 362 364
 366 369 371 374 375 378 379 380 385 386 389 392 393 397 398 400 402 403
 406 407 408 409 410 411 412 413 414 416 418 419 420 421 422 423 424 426
 428 429 431 433 434 437 439 442 446 447 450 454 455 456]
lineage 25: 29 cells
(879, 3)
(879, 3)
curr_ad     Position  Cell  Count
0          1     1     22
6          5     1    567
9          6     1    778
17        11     1     16
36        17     1     40
donor2_lineage25

[ -1   5   8   9  12  24  28  35  40  47  50  54  55  57  59  64  69  70
  76  79  82  90  92  93 101 102 107 110 117 118 119 123 126 138 148 150
 151 152 154 155 157 159 163 167 168 170 171 172 174 176 178 181 190 200
 213 232 245 247 255 270 287 295 299 317 320 335 336 338 342 345 346 357
 360 362 366 371 398 400 403 407 411 423 429 431 434]
lineage 26: 4 cells
(126, 3)
(126, 3)
curr_ad     Position  Cell  Count
0          1     1      9
6          2     1     84
9          3     1    195
29         7     1      2
41         9     1    257
donor2_lineage26
[ -1   5   8  16  17  32  35  40  50  51  58  64  69  70  76  90  92 105
 106 108 110 116 123 125 126 139 146 151 164 180 182 183 190 228 244 252
 253 261 267 268 275 298 319 333 342 357 362 366 371 379 398 400 407 410
 412 418 422 444 450 454]
lineage 27: 2 cells
(67, 3)
(67, 3)
curr_ad     Position  Cell  Count
6          2     1    135
9          3     1    229
18         5     1    147
41         8     1    344
51         9     1      2
donor2_lineage27
[ -1   5   8   9  10  17  24  26  28  31  34  35  39  40  50  51  54  57
  58  59  64  69  70  76  82  83  89  90 101 102 104 108 110 112 117 118
 119 123 125 126 146 148 150 151 152 155 163 164 167 168 171 173 174 178
 179 181 190 200 211 213 232 238 240 244 247 248 255 264 267 268 270 291
 292 295 299 302 310 315 317 320 329 333 336 340 342 345 346 347 354 357
 361 362 364 369 374 375 378 379 380 387 388 392 393 395 400 402 411 412
 413 419 434 441 446 454 456]
lineage 28: 5 cells
(167, 3)
(167, 3)
curr_ad      Position  Cell  Count
6           2     1    164
9           3     1    306
41         14     1    333
58         18     1      5
102        29     1      2
donor2_lineage28
[ -1   1   5   8   9  11  13  16  26  28  29  35  40  42  44  47  49  50
  51  54  55  57  58  59  63  64  70  76  79  82  83  89  92 101 102 104
 107 108 110 112 116 118 123 125 126 129 131 139 146 148 150 151 152 155
 159 163 164 165 167 168 171 172 173 174 176 177 178 179 181 182 183 184
 185 190 200 211 217 232 240 242 253 255 257 261 263 264 267 268 270 271
 288 292 295 298 299 301 304 306 310 311 314 315 317 318 333 342 345 346
 347 350 352 361 364 371 374 375 378 379 380 385 386 398 400 407 411 412
 414 417 421 423 429 434 454]
lineage 29: 7 cells
(289, 3)
(289, 3)
curr_ad     Position  Cell  Count
6          3     1    170
9          4     1    296
12         6     1      4
41        13     1    396
45        15     1      2
donor2_lineage29
[  5   8  13  16  39  40  41  49  57  61  69  78  82 102 104 110 119 148
 154 155 159 164 172 178 181 182 190 198 200 204 206 209 213 216 217 222
 224 228 244 247 252 253 260 261 267 336 347 360 361 370 371 379 400 412
 419 430 434]
lineage 30: 4 cells
(79, 3)
(79, 3)
curr_ad     Position  Cell  Count
6          1     1    420
9          2     1    816
41         6     1   1031
42         7     1     34
58         9     1      2
donor2_lineage30
[]
lineage 31: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage31
[]
lineage 32: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage32
[]
lineage 33: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage33
[  5   8  10  40  47  70  83  92 110 119 129 139 154 177 190 242 257 267
 268 286 288 296 301 306 322 327 340 357 366 400 411 424 428 444 445 450]
lineage 34: 1 cells
(36, 3)
(36, 3)
curr_ad     Position  Cell  Count
6          1     1    173
9          2     1    273
11         3     1      2
41         4     1    372
48         5     1      4
donor2_lineage34
[]
lineage 35: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage35
[ -1   1   2   5   8   9  10  12  28  35  40  42  47  49  54  55  59  63
  69  70  76  79  82  89  93 101 102 110 114 116 119 123 125 126 129 130
 131 138 139 146 148 150 151 154 159 162 163 167 168 170 171 176 181 184
 185 190 200 217 240 242 244 246 251 252 253 255 259 267 275 278 280 286
 287 288 292 295 296 299 304 309 310 313 319 333 336 342 345 357 360 364
 369 371 374 375 378 379 385 389 391 393 400 406 410 411 412 429 430 432
 444]
lineage 36: 9 cells
(227, 3)
(227, 3)
curr_ad     Position  Cell  Count
6          4     1     70
9          5     1    155
36        10     1      4
41        11     1    237
64        18     1      4
donor2_lineage36
[ -1   5   6   8   9  10  13  16  17  20  21  26  28  29  31  32  33  35
  38  39  40  41  42  43  44  46  47  49  50  51  54  55  56  57  58  59
  60  62  63  64  67  69  70  72  75  76  78  80  85  86  87  89  90  91
  92  93  95  97 101 102 104 107 108 110 111 112 114 115 116 117 118 119
 122 123 125 126 127 128 129 131 133 134 137 138 139 145 146 148 151 152
 154 159 160 162 163 164 165 167 168 171 172 174 175 176 177 178 179 180
 182 183 184 185 186 187 190 200 206 209 213 216 217 228 232 237 240 244
 247 251 252 253 255 268 270 278 286 288 291 292 296 299 301 310 311 314
 315 319 322 324 329 333 335 336 340 342 345 352 353 354 357 360 361 362
 371 379 380 385 386 389 398 400 403 410 412 413 414 416 422 424 427 428
 430 434 435 447]
lineage 37: 13 cells
(407, 3)
(407, 3)
curr_ad     Position  Cell  Count
6          2     1   1504
7          3     1      6
9          4     1   2217
11         6     1      3
14         7     1      3
donor2_lineage37
[ -1   1   3   5   7   8   9  10  11  13  16  21  23  26  28  31  32  35
  36  40  41  42  43  44  46  47  49  50  51  54  55  56  57  58  59  64
  68  69  70  71  72  75  76  79  80  82  83  85  86  87  89  90  91  92
  93  97 101 102 104 107 108 109 110 111 112 114 115 116 117 118 119 121
 122 123 127 129 130 133 134 136 137 138 146 147 148 150 151 152 154 155
 157 159 160 162 163 165 167 168 169 170 171 172 175 176 177 179 180 181
 182 183 184 185 187 190 200 213 217 232 247 251 255 260 264 266 267 268
 271 278 286 287 292 293 295 299 300 304 311 320 328 333 336 338 355 357
 360 364 366 374 379 386 397 398 400 413 420 428 434 455]
lineage 38: 5 cells
(229, 3)
(229, 3)
curr_ad    Position  Cell  Count
0         1     1     53
2         2     1     20
4         3     1      2
6         4     1   2880
8         5     1     45
donor2_lineage38
[]
lineage 39: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage39
[ -1   5   8  10  34  35  39  40  42  47  49  50  54  58  59  69  70  76
  79  82  89  93 101 102 104 105 108 110 112 114 116 123 125 126 129 132
 138 151 152 154 155 159 162 163 165 168 177 185 190 213 240 244 246 248
 259 268 275 299 306 308 311 320 333 337 338 342 345 347 351 357 366 371
 375 378 385 393 400 402 404 410 411 412 418 419 422 423 424 429]
lineage 40: 4 cells
(150, 3)
(150, 3)
curr_ad     Position  Cell  Count
0          1     1      2
6          2     1    212
9          3     1    284
36         6     1      6
40         7     1     10
donor2_lineage40
[]
lineage 41: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage41
[]
lineage 42: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage42
[ -1   5   8  28  40  92 110 131 162 163 177 190 275 279 285 287 296 310
 320 360 374 434 446]
lineage 43: 1 cells
(23, 3)
(23, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          2     1    108
9          3     1    295
29         4     1      2
41         5     1    349
donor2_lineage43
[  5   8  13  31  40  92 104 105 106 108 110 116 119 126 129 131 148 151
 163 164 167 190 213 232 242 247 260 267 292 299 311 342 347 352 361 379
 400 425 428 429 430 431 447 454]
lineage 44: 2 cells
(53, 3)
(53, 3)
curr_ad      Position  Cell  Count
6           1     1    111
9           2     1    195
32          4     1     98
41          5     1    204
109        10     1      2
donor2_lineage44
[ -1   5   8   9  10  12  19  26  32  33  35  40  41  46  47  53  54  55
  57  59  63  76  79  81  82  83  84  86  90  93 101 102 104 105 106 108
 109 110 112 114 121 123 125 126 132 138 148 151 152 154 157 158 162 163
 165 168 169 170 173 174 177 180 182 183 184 185 186 190 213 261 267 278
 302 310 311 347 372 378 388 412 421]
lineage 45: 2 cells
(89, 3)
(89, 3)
curr_ad     Position  Cell  Count
0          1     1     77
6          2     1   1364
9          3     1   2566
10         4     1     96
11         5     1      2
donor2_lineage45

[]
lineage 46: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage46
[ -1   5   8   9  10  11  13  16  26  28  31  32  34  35  39  40  42  47
  49  50  51  54  55  58  59  63  64  69  70  76  79  82  83  89  90  92
  93 101 102 104 105 106 107 108 110 112 114 116 117 118 119 123 125 126
 129 130 131 132 138 139 146 148 150 151 152 154 155 157 159 162 163 165
 167 168 170 171 172 173 174 176 177 178 179 181 182 183 184 185 190 200
 213 235 240 244 246 252 253 259 261 267 268 287 292 295 296 299 304 306
 308 313 317 319 320 342 346 353 357 360 361 366 374 378 379 380 384 385
 388 393 397 398 400 404 410 411 412 417 424 426 431 454 455]
lineage 47: 10 cells
(364, 3)
(364, 3)
curr_ad     Position  Cell  Count
0          1     1      8
6          2     1    104
9          3     1    234
10         4     1     10
11         5     1      2
donor2_lineage47
[  5   8  40  49  70  79  90 101 102 110 123 151 152 163 165 190 213 255
 267 276 278 288 299 301 306 308 311 315 330 347 357 369 380 385 400 411
 412]
lineage 48: 1 cells
(37, 3)
(37, 3)
curr_ad     Position  Cell  Count
6          1     1     84
9          2     1    212
41         3     1    382
50         4     1      8
71         5     1      4
donor2_lineage48
[ -1   5   8   9  10  13  14  16  18  24  26  29  30  32  34  35  39  40
  41  42  47  49  50  53  54  55  57  58  59  61  63  64  66  70  72  75
  76  79  81  82  84  89  90  97 101 102 105 106 109 110 111 112 114 120
 121 123 132 138 145 146 147 150 151 154 155 157 159 160 162 163 167 168
 173 175 176 177 181 184 185 190 213 244 248 257 286 292 299 304 310 311
 317 322 336 338 342 351 357 360 361 369 371 375 378 380 397 398 400 409
 412 413 429]
lineage 49: 3 cells
(144, 3)
(144, 3)
curr_ad     Position  Cell  Count
0          1     1      3
6          2     1   1266
9          3     1   2518
10         4     1     72
11         5     1      2
donor2_lineage49
[ -1   4   5   7   8  10  11  12  13  14  16  17  21  24  26  27  28  29
  31  32  33  35  36  39  40  41  42  43  46  49  50  51  54  55  58  60
  61  62  63  64  66  67  68  69  70  71  72  73  74  75  76  79  80  81
  82  83  84  85  87  88  89  90  91  92  93  95  97  99 100 102 104 105
 106 107 108 110 112 114 115 116 117 118 119 120 121 122 123 125 126 127
 129 130 131 132 133 136 137 138 139 142 146 148 150 151 154 155 157 158
 159 162 163 164 167 168 170 172 173 174 175 176 181 182 183 185 188 190
 200 204 213 240 244 249 252 253 255 264 267 268 270 286 288 292 295 298
 299 301 311 319 334 338 352 353 354 357 360 361 372 378 379 382 383 384
 393 400 402 403 413 416 418 421 428 430 441 449]
lineage 50: 5 cells
(265, 3)
(265, 3)
curr_ad     Position  Cell  Count
0          1     1     16
6          3     1   2369
9          5     1   4727
11         6     1      8
14         9     1      7
donor2_lineage50
[ -1   3   5   7   8   9  10  11  12  13  14  16  17  19  20  21  24  26
  27  28  29  31  32  33  34  35  36  37  39  40  41  42  43  45  46  47
  48  49  50  51  52  53  54  55  56  57  58  59  61  62  63  64  66  67
  68  69  70  71  72  73  75  76  77  78  79  80  81  82  83  84  85  86
  87  88  89  90  91  92  93  94  97 101 102 104 105 107 108 110 111 112
 114 115 116 117 118 119 120 121 122 123 125 126 128 129 130 131 132 133
 134 137 138 139 140 141 142 144 145 146 147 148 149 150 151 152 153 154
 155 156 158 159 160 162 163 164 165 167 168 169 170 171 172 173 174 175
 176 177 178 179 180 181 182 183 184 185 187 190 200 206 209 213 215 216
 217 219 224 227 228 230 240 242 244 247 248 251 252 253 255 256 257 259
 260 261 264 268 271 275 276 281 283 287 288 290 291 292 295 296 299 304
 308 310 311 312 313 314 319 320 322 324 327 328 333 335 340 342 345 347
 353 357 360 361 362 366 369 371 374 378 379 380 385 389 393 398 400 402
 406 407 409 411 412 413 418 421 427 428 434 441 447 448 449 453 454 455
 456]
lineage 51: 18 cells
(673, 3)
(673, 3)
curr_ad     Position  Cell  Count
0          1     1     46
6          3     1   3381
9          5     1   5661
10         6     1      7
12         8     1      4
donor2_lineage51
[ -1   5   8   9  10  13  40  47  50  54  82  83 104 110 114 125 132 139
 151 152 155 163 165 167 171 172 190 213 252 267 268 271 306 310 371 375
 447]
lineage 52: 1 cells
(37, 3)
(37, 3)
curr_ad     Position  Cell  Count
0          1     1     22
6          2     1     58
9          3     1    278
10         4     1      2
11         5     1      4
donor2_lineage52
[ -1   2   3   5   8   9  10  11  13  16  24  26  28  29  34  35  39  40
  42  47  49  50  54  55  57  58  59  63  69  70  76  78  79  80  82  83
  89  90  92  93 101 102 104 105 106 107 108 110 112 114 116 117 118 119
 123 125 126 129 130 131 132 138 139 146 148 150 151 152 154 155 157 159
 162 163 164 165 167 168 170 171 172 173 174 176 177 178 179 180 181 182
 183 184 190 200 211 213 217 228 232 235 236 240 242 244 247 248 251 252
 253 255 259 260 261 264 267 268 270 271 274 276 278 285 286 287 288 289
 291 292 293 295 296 298 299 301 302 304 305 306 308 310 311 313 314 315
 317 320 324 326 327 328 333 335 336 340 342 345 347 351 354 357 360 361
 362 364 366 369 371 374 378 379 380 385 389 392 393 395 397 398 400 402
 403 407 409 411 412 413 416 417 419 421 422 423 424 428 429 430 434 441
 443 447 449 451 452 453 454]
lineage 53: 23 cells
(634, 3)
(634, 3)
curr_ad     Position  Cell  Count
6          4     1    123
9          5     1    153
41        18     1    161
59        26     1      2
70        29     1      2
donor2_lineage53
[  5   8  28  35  40  42  47  55  57  76 105 106 110 112 123 129 130 148
 155 163 168 173 190 200 213 217 240 253 255 268 274 286 296 299 311 319
 344 347 356 357 361 371 379 385 393 400 411 413 419 442 447]
lineage 54: 2 cells
(58, 3)
(58, 3)
curr_ad     Position  Cell  Count
6          1     1    145
9          2     1    273
29         3     1      2
36         4     1     12
41         5     1    266
donor2_lineage54
[ -1   5   8   9  11  13  16  24  28  29  35  40  47  49  50  51  55  59
  70  76  78  79  82  83  89  92  93 101 102 105 106 108 110 112 116 117
 118 119 123 126 129 130 131 138 139 146 148 150 151 152 154 155 157 162
 163 165 167 170 171 177 178 179 180 181 190 200 211 213 217 240 244 247
 248 252 253 255 261 263 267 268 270 274 278 284 292 294 295 296 299 301
 302 304 306 307 308 310 311 313 315 320 322 327 328 333 335 338 340 342
 345 354 357 360 361 362 364 365 369 371 375 377 378 379 385 386 389 393
 397 400 410 411 412 416 417 419 423 428 434 441 445 447 449 454 455 456]
lineage 55: 9 cells
(301, 3)
(301, 3)
curr_ad     Position  Cell  Count
6          2     1    218
9          3     1    354
10         4     1      2
25         8     1      6
41        12     1    493
donor2_lineage55
[ -1   3   5   8   9  10  11  13  14  15  16  18  19  20  21  24  26  31
  35  40  41  43  44  47  48  49  50  51  53  54  55  57  58  59  61  62
  63  66  67  69  70  71  73  76  79  82  83  84  85  86  88  89  90  92
  93  97 101 102 104 105 106 108 109 110 111 112 113 114 116 117 118 120
 121 123 125 126 132 134 136 138 139 140 142 143 144 146 147 148 151 152
 154 155 157 158 159 160 162 163 164 165 167 168 169 171 172 173 174 175
 176 177 180 182 183 185 187 188 190 200 217 253 255 268 291 301 314 361
 366 379 397 400 403 410 411]
lineage 56: 3 cells
(206, 3)
(206, 3)
curr_ad     Position  Cell  Count
0          1     1     46
6          3     1   2756
9          4     1   4045
10         5     1     47
12         7     1      9
donor2_lineage56
[  5   8  35  40  50  54  89 101 102 110 123 138 154 170 190 213 247 263
 268 287 292 293 295 298 311 315 317 340 378 407 410 444]
lineage 57: 1 cells
(32, 3)
(32, 3)
curr_ad     Position  Cell  Count
6          1     1    196
9          2     1    352
36         3     1      2
41         4     1    381
51         5     1      3
donor2_lineage57
[ -1   2   5   8  35  40  42  50  54  59  63  69  70  76  83 104 110 116
 117 118 123 138 155 157 162 164 167 168 171 174 179 184 190 211 240 244
 247 251 252 255 264 268 277 292 295 296 306 308 317 320 324 325 333 336
 346 353 357 360 361 366 369 374 379 385 400 405 416 424 431 435 455]
lineage 58: 3 cells
(92, 3)
(92, 3)
curr_ad     Position  Cell  Count
0          1     1      2
6          3     1    125
9          4     1    179
36         5     1      8
41         6     1    265
donor2_lineage58

[ -1   5   8   9  10  16  28  35  40  41  42  47  50  54  57  59  63  64
  70  76  82  83  89 101 102 104 105 106 110 112 114 117 118 123 129 130
 131 132 138 148 150 151 154 155 157 159 164 167 170 172 176 177 180 182
 183 190 213 216 217 228 230 244 246 249 251 255 267 268 273 283 292 295
 296 298 299 301 310 311 314 317 320 327 333 340 347 354 357 361 362 366
 371 372 374 375 378 379 385 393 395 400 402 403 406 410 411 412 413 419
 421 430 434 442 445 449]
lineage 59: 7 cells
(208, 3)
(208, 3)
curr_ad     Position  Cell  Count
6          2     1    497
9          3     1    847
11         5     1      2
41         9     1   1001
42        10     1     31
donor2_lineage59
[ -1   0   2   4   5   8   9  10  13  14  18  19  20  26  31  32  33  34
  35  39  40  41  42  47  49  50  51  53  55  57  59  61  62  63  66  69
  70  72  73  76  78  79  80  81  82  83  84  85  86  88  90  92  93  97
 101 102 105 106 107 108 110 114 115 116 119 121 122 123 125 126 128 129
 130 131 132 134 137 138 139 142 146 147 150 151 152 154 155 157 159 162
 163 165 168 170 171 172 174 176 177 184 185 190 212 213 217 219 220 221
 230 231 242 251 253 261 268 280 286 292 308 311 317 322 328 333 347 357
 360 361 371 374 375 378 379 385 386 388 389 400 411 412 421 434 447 451]
lineage 60: 8 cells
(246, 3)
(246, 3)
curr_ad     Position  Cell  Count
1          2     1      2
5          4     1      2
6          5     1   1599
9          6     1   2400
14         9     1      6
donor2_lineage60
[  5   8  40  41  76 101 110 129 155 190 203 224]
lineage 61: 1 cells
(12, 3)
(12, 3)
curr_ad     Position  Cell  Count
6          1     1    411
9          2     1    660
41         3     1    996
42         4     1     36
77         5     1      2
donor2_lineage61
[]
lineage 62: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage62
[ -1   0   1   2   3   5   8   9  10  11  13  16  17  24  26  28  29  32
  34  35  39  40  42  44  47  49  50  51  54  55  57  58  59  63  64  69
  70  76  79  80  81  82  83  89  90  92  93 101 102 104 105 106 107 108
 110 112 114 116 117 118 119 123 125 126 129 130 131 132 138 139 146 148
 150 151 152 154 155 157 159 162 163 164 165 167 168 170 171 172 173 175
 176 177 178 179 180 181 182 183 184 185 190 194 200 211 213 217 219 228
 232 240 242 244 246 247 251 252 253 255 257 259 261 262 264 267 268 269
 270 274 275 276 278 280 281 285 286 287 288 290 292 293 294 295 296 298
 299 300 301 302 304 305 306 308 310 311 312 313 314 315 317 318 319 327
 331 333 334 335 336 337 338 340 342 345 346 347 351 352 353 357 358 360
 361 362 364 366 369 371 374 375 378 379 380 382 383 385 386 389 393 395
 398 399 400 402 404 406 409 410 411 412 413 414 416 417 418 419 420 421
 423 424 425 428 429 430 431 434 435 439 441 445 447 448 449 454 455]
lineage 63: 42 cells
(1277, 3)
(1277, 3)
curr_ad     Position  Cell  Count
6          6     1    147
9          7     1    283
27        15     1      2
41        22     1    283
84        43     1      2
donor2_lineage63
[ -1   1   5   8   9  10  13  16  26  28  29  31  35  39  40  47  49  50
  51  55  57  58  59  64  69  76  79  82  83  89  90  92  93 101 102 104
 105 106 107 108 110 112 116 123 125 129 130 131 132 138 139 146 148 151
 152 154 155 157 159 162 163 164 165 167 168 170 172 173 174 177 178 179
 181 182 183 185 190 200 213 217 219 235 240 252 253 256 261 263 267 268
 270 271 280 283 286 287 292 298 299 301 306 311 313 319 327 328 333 337
 340 342 345 353 357 361 371 378 379 386 391 395 398 400 407 410 412 413
 417 421 424 425 428 434 447 449 454 455]
lineage 64: 7 cells
(285, 3)
(285, 3)
curr_ad     Position  Cell  Count
0          1     1     20
2          2     1      6
6          3     1    109
9          4     1    195
10         5     1     12
donor2_lineage64
[ -1   0   1   5   8   9  10  16  17  24  26  28  34  35  39  40  41  42
  49  51  54  55  59  63  69  70  76  79  82  83  89  90  92  93 101 102
 104 105 106 110 112 114 116 117 118 119 123 126 129 130 131 132 138 148
 150 151 154 157 159 162 163 165 168 170 173 174 176 182 183 184 185 190
 200 202 206 207 213 225 232 235 244 249 252 253 255 257 259 268 274 288
 292 295 298 299 302 304 306 310 311 314 322 328 333 335 336 337 338 340
 342 357 358 360 361 362 374 375 376 378 379 385 388 395 400 402 403 406
 409 410 411 412 417 423 426 427 428 429 431 441 442 453 454 455]
lineage 65: 9 cells
(304, 3)
(304, 3)
curr_ad     Position  Cell  Count
2          3     1      2
6          4     1    691
9          5     1   1293
18         9     1      2
36        14     1      2
donor2_lineage65
[ -1   5   8  24  31  39  40  49  58  82  89  92  93 101 102 110 116 119
 130 151 157 159 167 168 170 190 211 242 247 274 292 295 297 299 333 342
 347 357 360 375 378 379 389 396 400 412 417 428]
lineage 66: 3 cells
(60, 3)
(60, 3)
curr_ad     Position  Cell  Count
6          2     1     89
9          3     1    102
32         5     1      2
41         7     1    171
93        12     1      2
donor2_lineage66
[ -1   1   2   5   8  10  13  16  26  29  31  35  39  40  42  47  50  51
  57  58  76  82  90 101 102 104 105 106 110 114 116 117 118 119 123 126
 132 139 146 148 150 151 152 155 157 164 167 170 172 173 178 179 181 190
 213 217 240 242 244 247 252 253 254 255 257 260 268 282 287 288 289 290
 291 295 299 301 308 310 311 314 323 327 333 342 345 348 351 353 357 361
 366 371 374 375 378 379 380 386 395 397 400 403 411 412 418 419 421 427
 431 434 449]
lineage 67: 6 cells
(179, 3)
(179, 3)
curr_ad     Position  Cell  Count
6          4     1    131
9          5     1    288
30        10     1    202
41        14     1    242
48        16     1      2
donor2_lineage67
[  5   8  16  26  40  41  49  70  89 108 110 125 159 190 199 200 205 210
 211 213 215 224 225]
lineage 68: 1 cells
(23, 3)
(23, 3)
curr_ad     Position  Cell  Count
6          1     1    604
9          2     1   1050
17         3     1      8
27         4     1      2
41         5     1   1577
donor2_lineage68
[]
lineage 69: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage69
[ -1   2   5   8   9  10  13  16  24  26  28  29  34  35  39  40  42  47
  49  50  51  54  55  57  58  59  63  64  69  70  76  79  81  82  83  89
  90  92  93 101 102 104 105 106 107 108 110 112 114 116 117 118 119 123
 125 126 129 130 131 132 138 139 146 148 150 151 152 154 155 159 162 163
 164 165 167 168 170 171 172 173 177 178 179 181 182 183 184 185 190 192
 200 211 213 217 232 240 241 244 247 251 253 255 256 257 259 260 264 267
 268 271 273 274 277 278 280 286 288 290 292 295 296 298 299 301 305 306
 308 310 311 312 315 317 319 322 327 333 334 335 336 339 340 342 345 347
 351 353 354 357 358 360 361 362 364 366 369 371 374 375 378 379 382 383
 389 393 394 400 402 407 409 410 411 412 413 417 418 419 421 428 429 434
 438 447 449 453 454 455 456]
lineage 70: 15 cells
(606, 3)
(606, 3)
curr_ad     Position  Cell  Count
0          1     1     10
6          3     1    257
9          4     1    383
11         6     1      6
35        13     1      2
donor2_lineage70
[]
lineage 71: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage71
[ -1   5   8  10  13  16  26  28  35  40  50  51  57  58  64  69  76  81
  90  92  93 101 104 108 110 114 116 119 123 125 126 129 130 131 138 139
 146 151 155 163 164 167 172 173 174 178 179 181 190 200 211 213 240 255
 261 268 280 288 290 306 310 318 335 378 379 400 402 411 421 424 439 447]
lineage 72: 3 cells
(89, 3)
(89, 3)
curr_ad     Position  Cell  Count
0          1     1      8
6          2     1     12
9          3     1    199
29         8     1      4
41        10     1    206
donor2_lineage72
[ -1   0   1   2   5   8   9  10  11  12  13  16  24  26  28  29  31  32
  35  39  40  42  47  49  50  51  54  55  57  58  59  63  64  69  70  76
  79  81  82  83  89  90  92  93 101 102 104 105 106 107 108 110 112 114
 116 117 118 119 123 125 126 129 130 131 132 138 139 146 148 150 151 152
 154 155 157 159 162 163 164 165 167 168 170 171 172 173 176 177 180 182
 183 184 185 190 200 211 213 217 219 228 232 240 242 244 246 247 248 249
 251 252 253 255 261 264 266 267 268 269 270 271 274 275 278 286 287 291
 292 295 296 298 299 301 304 305 308 310 311 313 315 317 319 320 321 327
 328 333 334 335 336 338 340 342 345 346 347 351 352 353 354 357 359 360
 361 362 364 366 369 371 372 374 375 378 379 380 382 383 385 386 388 389
 393 394 397 400 402 403 407 408 409 410 411 412 413 416 419 421 422 423
 424 428 429 430 434 439 442 446 447 449 450 453 455 456]
lineage 73: 30 cells
(846, 3)
(846, 3)
curr_ad     Position  Cell  Count
6          5     1    169
9          6     1    298
10         7     1      4
25        13     1      2
32        17     1    256
donor2_lineage73
[ -1   5   8  16  26  29  35  39  40  42  49  50  51  54  57  79  92 101
 102 104 110 114 116 117 118 123 125 126 138 146 148 150 151 152 154 157
 159 163 164 167 172 190 200 265 267 268 285 291 292 301 304 311 328 333
 347 361 366 375 400 407 411 417]

lineage 74: 2 cells
(76, 3)
(76, 3)
curr_ad     Position  Cell  Count
6          2     1    110
9          3     1    196
30         6     1    221
36         7     1      4
40         8     1      2
donor2_lineage74
[]
lineage 75: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage75
[ -1   5   8  11  13  26  32  35  40  42  47  49  50  51  54  55  57  58
  59  63  64  69  70  76  79  82  89  92  93 105 106 107 108 110 114 116
 117 118 123 125 126 132 138 139 146 148 150 151 152 155 162 163 164 165
 167 171 172 173 174 180 190 194 200 213 244 248 249 255 258 268 270 281
 292 295 299 301 308 310 311 322 328 333 342 357 362 364 369 378 400 403
 406 412 417 418 421 427 449]
lineage 76: 4 cells
(154, 3)
(154, 3)
curr_ad     Position  Cell  Count
0          1     1      2
6          2     1    140
9          3     1    243
14         5     1      5
27         6     1      9
donor2_lineage76
[ -1   0   5   8  10  13  16  26  35  40  41  49  50  51  54  55  57  58
  59  63  64  69  76  79  83  89  90  93 102 107 108 110 112 116 117 118
 119 123 125 129 130 132 138 139 146 150 151 155 162 163 164 165 167 172
 174 176 189 190 199 200 202 204 211 213 214 228 251 255 261 264 268 271
 286 292 295 296 301 308 311 313 340 342 346 357 360 361 364 366 374 378
 379 400 409 413 417 429 454]
lineage 77: 3 cells
(122, 3)
(122, 3)
curr_ad     Position  Cell  Count
0          1     1     17
6          3     1    544
9          4     1   1035
11         5     1      2
14         6     1      8
donor2_lineage77
[ -1   1   5   8   9  10  13  16  26  35  40  42  47  50  51  57  58  59
  63  64  69  70  76  82  90 101 102 104 108 110 112 119 123 125 126 146
 150 151 152 155 159 162 163 164 167 170 172 174 178 179 181 190 213 228
 232 235 239 244 253 264 268 275 287 295 296 299 302 304 308 310 311 317
 336 338 340 344 345 346 352 353 360 378 379 380 385 391 393 400 403 423
 427 430 434 444 454]
lineage 78: 5 cells
(154, 3)
(154, 3)
curr_ad     Position  Cell  Count
6          3     1    161
9          4     1    214
10         5     1      2
11         6     1      6
17         8     1      3
donor2_lineage78
[]
lineage 79: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage79
[ -1   5   8  16  26  35  39  40  42  47  49  51  54  55  57  58  59  76
  79  82  90 102 104 105 106 110 114 117 118 126 129 130 131 138 139 146
 148 151 152 162 163 164 167 171 173 178 179 181 190 200 217 240 244 248
 249 251 252 253 255 263 267 274 286 295 308 310 311 314 317 323 333 335
 342 345 347 348 357 358 360 361 366 369 371 386 400 413 421 447]
lineage 80: 5 cells
(138, 3)
(138, 3)
curr_ad     Position  Cell  Count
0          1     1      7
6          2     1     11
9          3     1    138
36         6     1      3
41         8     1    179
donor2_lineage80
[ -1   5   8  13  35  40  47  50  54  59  76  79  89  92  93 104 105 106
 110 114 123 126 132 138 146 150 151 152 155 159 162 163 164 165 167 172
 173 177 180 182 183 184 185 190 228 232 248 255 261 264 267 299 304 333
 335 341 342 353 357 362 367 369 375 379 386 398 400 403 414 423]
lineage 81: 3 cells
(95, 3)
(95, 3)
curr_ad     Position  Cell  Count
6          2     1     99
9          3     1    193
14         4     1      4
36         5     1      5
41         6     1    324
donor2_lineage81
[]
lineage 82: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage82
[ -1   0   3   5   8  10  13  17  19  20  26  29  35  36  39  40  41  42
  43  46  49  50  51  52  53  54  55  57  58  59  60  61  62  63  66  69
  70  71  76  82  84  89  90  92  94  95 101 102 104 105 106 108 110 112
 115 116 117 119 123 125 126 127 129 130 138 139 146 147 148 151 154 155
 157 162 163 165 167 168 170 171 172 175 176 177 178 179 181 184 185 186
 187 190 200 222 242 255 262 267 268 285 292 296 327 347 352 369 374 379
 386 393 397 400 416 430 445]
lineage 83: 4 cells
(177, 3)
(177, 3)
curr_ad    Position  Cell  Count
0         1     1     22
1         2     1     60
4         3     1      2
6         4     1   1169
9         5     1   2406
donor2_lineage83
[  5   8  28  40 110 123 168 190 213 270 278 301 379 393 400 401]
lineage 84: 1 cells
(16, 3)
(16, 3)
curr_ad      Position  Cell  Count
6           1     1    119
9           2     1    185
29          3     1      2
41          4     1    312
111         5     1    351
donor2_lineage84
[]
lineage 85: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage85
[ -1   5   8  10  26  35  40  42  47  54  55  57 110 114 119 123 132 150
 163 167 171 173 178 179 180 181 182 183 190 217 228 243 251 264 268 280
 308 311 333 342 345 357 361 362 369 379 385 395 400 410 413 419 429 430
 454]
lineage 86: 1 cells
(55, 3)
(55, 3)
curr_ad     Position  Cell  Count
0          1     1      2
6          2     1    214
9          3     1    309
11         4     1     11
27         5     1      2
donor2_lineage86
[ -1   1   5   8  11  26  39  40  41  47  49  54  55  57  78  83  88  93
 101 110 112 114 116 117 118 123 138 139 146 155 159 167 171 181 183 185
 190 197 199 200 208 209 211 213 217 221 255 287 301 315 319 353 361 369
 373 378 379 380 393 400 412 417 433 441]
lineage 87: 3 cells
(79, 3)
(79, 3)
curr_ad     Position  Cell  Count
0          1     1      2
2          2     1      2
6          3     1    637
9          4     1   1377
41         8     1   2381
donor2_lineage87
[ -1   0   4   5   7   8   9  10  11  13  14  16  17  18  19  21  22  24
  26  27  29  31  32  34  35  40  41  42  43  45  46  47  48  50  53  55
  57  59  61  64  66  67  69  70  71  72  73  76  77  79  80  82  83  84
  85  86  87  88  89  90  95 101 102 104 108 110 114 115 116 117 118 119
 121 123 124 125 126 127 129 130 131 132 137 138 139 140 142 144 146 148
 150 151 152 154 155 157 158 159 160 162 163 164 165 167 168 170 171 172
 173 174 175 178 180 181 182 183 184 185 188 190 200 209 211 213 219 221
 247 268 269 271 333 342 345 351 357]
lineage 88: 4 cells
(192, 3)
(192, 3)
curr_ad    Position  Cell  Count
0         1     1     23
1         2     1     18
6         4     1    382
8         5     1     29
9         6     1   7142
donor2_lineage88
[ -1   3   5   8   9  10  12  13  16  17  24  26  28  29  34  35  40  42
  47  49  50  51  54  55  57  58  59  63  64  69  70  76  79  81  82  83
  89  90  92  93 101 102 104 105 106 107 108 110 112 114 116 117 118 119
 123 125 126 129 130 131 132 138 139 146 148 151 152 154 155 157 159 162
 163 164 165 167 168 170 171 172 173 174 177 178 179 180 181 182 183 184
 185 190 200 213 217 219 228 232 233 240 244 248 249 251 252 256 260 264
 267 268 269 270 271 278 280 287 295 299 301 304 310 315 316 322 327 333
 335 336 342 345 352 354 355 357 361 362 366 369 371 374 378 379 385 386
 387 400 403 407 409 410 411 412 414 416 418 421 423 428 429 430 434 435
 446 450 453 454 456]
lineage 89: 13 cells
(571, 3)
(571, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          3     1    149
9          4     1    246
10         5     1     19
14         8     1      2
donor2_lineage89
[ -1   5   8  29  35  39  40  42  44  47  49  54  79  83 101 102 108 110
 114 123 126 129 130 131 138 150 162 163 167 168 171 179 184 190 232 255
 270 271 283 292 299 304 310 311 317 327 333 334 342 345 346 347 354 357
 371 379 386 400 402 412 415 416 424 440 454]
lineage 90: 4 cells
(93, 3)
(93, 3)
curr_ad     Position  Cell  Count
0          1     1      8
6          2     1    128
9          3     1    249
36         5     1      5
40         6     1      4
donor2_lineage90
[ -1   1   5   8  13  16  17  29  31  32  35  39  40  42  47  49  51  55
  58  63  64  69  70  76  79  82  89  90  93 101 102 105 107 110 112 117
 118 119 123 126 129 130 131 146 148 150 151 152 154 157 159 162 163 165
 168 172 174 177 184 185 190 200 211 213 217 228 242 244 246 247 251 252
 255 264 267 268 281 283 286 291 292 295 296 299 301 306 308 311 314 320
 327 342 345 354 357 360 362 371 378 379 385 393 400 403 409 411 412 415
 416 421 423 424 427 428 429 430 434 441 447]
lineage 91: 7 cells
(204, 3)
(204, 3)
curr_ad     Position  Cell  Count
0          1     1     10
2          2     1      2
6          3     1    253
9          4     1    414
14         5     1      2
donor2_lineage91

[ -1   0   1   2   3   5   7   8   9  10  11  12  13  15  16  19  20  21
  22  24  26  28  31  33  34  35  36  37  39  40  41  42  43  44  46  47
  48  49  50  51  55  56  57  58  59  60  61  62  63  64  65  67  69  70
  71  72  73  76  78  79  80  81  82  83  84  85  86  87  88  89  90  91
  92  93  95  97  98 101 102 103 104 107 108 109 110 111 112 114 115 116
 117 118 119 121 122 123 125 126 127 128 130 131 133 134 135 137 138 139
 140 142 144 145 146 147 148 150 151 152 154 155 157 158 159 160 162 163
 164 167 168 169 170 171 173 175 176 177 178 179 180 181 182 183 184 185
 186 187 190 196 200 201 202 205 206 209 211 213 215 216 217 219 221 228
 230 248 260 267 268 317 327 336 346 386 412]
lineage 92: 17 cells
(519, 3)
(519, 3)
curr_ad    Position  Cell  Count
0         1     1     25
1         2     1      6
2         3     1      5
6         6     1   2384
8         7     1      2
donor2_lineage92
[ -1   5   8  24  35  40  42  47  54  69  70  79  82  83 105 106 107 110
 112 123 148 151 152 155 165 170 182 183 190 244 247 257 262 264 270 287
 292 295 298 299 301 310 311 317 327 335 361 380 381 383 385 389 398 421
 429 445 447 449 455]
lineage 93: 3 cells
(76, 3)
(76, 3)
curr_ad     Position  Cell  Count
6          2     1    159
9          3     1    230
25         4     1      4
36         5     1      4
41         6     1    277
donor2_lineage93
[ -1   5   8  10  35  40  42  69  70  81  83  90  93 101 102 110 117 118
 123 129 130 131 150 154 155 159 163 168 170 190 251 252 253 255 263 288
 302 308 310 311 315 327 333 336 354 357 360 369 374 378 385 386 400 402
 403 410 412 413 416 422 431 441]
lineage 94: 2 cells
(72, 3)
(72, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          2     1    260
9          3     1    468
11         4     1      6
36         5     1     11
donor2_lineage94
[  5   8   9  40  54  55  76  89  93 105 106 110 112 119 123 138 139 151
 152 162 165 190 253 255 299 314 317 345 378 406 415 421 428 447 454]
lineage 95: 1 cells
(35, 3)
(35, 3)
curr_ad     Position  Cell  Count
6          1     1     19
9          2     1    189
10         3     1      6
41         4     1    257
55         5     1      6
donor2_lineage95
[ -1   1   5   8   9  10  11  13  16  24  26  28  29  35  39  40  42  47
  49  50  51  54  55  57  58  59  63  64  69  70  76  79  81  82  83  89
  90  92  93 101 102 104 105 106 107 108 110 112 114 116 117 118 119 123
 125 126 129 130 131 132 138 139 146 148 150 151 152 154 155 157 159 162
 163 164 165 167 168 170 172 173 174 176 177 178 179 180 181 182 183 184
 185 190 200 213 228 232 235 240 242 244 247 248 251 252 253 255 257 260
 261 264 267 268 269 270 271 274 280 283 285 287 288 291 292 295 296 298
 299 300 301 302 304 305 308 310 311 315 317 319 320 322 327 329 333 335
 336 338 340 342 345 347 351 352 353 357 358 360 361 362 366 369 370 371
 375 378 379 380 383 385 386 389 392 393 395 397 398 400 408 409 411 412
 416 417 418 419 420 421 422 424 425 427 428 432 434 441 446 447 451 453
 454 455]
lineage 96: 25 cells
(809, 3)
(809, 3)
curr_ad     Position  Cell  Count
0          1     1     10
6          3     1    139
9          4     1    421
10         5     1      4
11         6     1      9
donor2_lineage96
[]
lineage 97: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor2_lineage97
[ -1   1   5   8   9  10  13  16  24  26  28  29  32  35  39  40  47  50
  51  54  55  57  58  59  64  69  70  76  79  83  90  92  93 101 102 104
 105 106 107 108 110 112 116 117 119 123 125 126 129 130 131 138 139 146
 150 151 152 154 155 157 159 164 165 167 168 170 172 173 174 175 177 178
 179 180 181 182 183 184 190 200 213 228 244 252 255 267 268 270 272 275
 296 306 311 317 319 324 333 334 338 342 345 346 354 357 361 366 371 379
 395 400 407 410 412 418 421 429 449 453]
lineage 98: 5 cells
(201, 3)
(201, 3)
curr_ad     Position  Cell  Count
6          3     1     89
9          4     1    142
36        14     1      8
41        16     1    242
56        21     1      2
donor2_lineage98
[ -1   5   8   9  10  12  13  17  26  28  35  40  41  42  49  50  51  54
  57  64  70  76  79  93 104 110 116 117 118 119 123 129 131 132 138 139
 146 151 152 154 155 162 163 164 165 168 172 173 174 176 177 178 179 181
 182 183 184 185 190 193 200 202 213 216 242 244 246 247 248 252 255 260
 261 267 268 283 287 292 295 296 299 306 310 311 313 317 320 333 342 345
 347 353 357 360 361 368 371 374 375 378 393 395 400 402 411 412 413 416
 419 423 434 435 454]
lineage 99: 5 cells
(175, 3)
(175, 3)
curr_ad     Position  Cell  Count
6          2     1    259
9          3     1    597
27         9     1      6
41        12     1    804
42        13     1     12
donor2_lineage99
cell meta
             new index                        ID              raw ID  \
donor_index
1                    2  AAAGGATAGTCGTGAG-1_Input  AAAGGATAGTCGTGAG-1
2                   15  ACAGAAATCTGGCACG-1_Input  ACAGAAATCTGGCACG-1
3                   23  ACCCAAAAGGAAGGTA-1_Input  ACCCAAAAGGAAGGTA-1
4                   25  ACCTGCTCACGCGTTG-1_Input  ACCTGCTCACGCGTTG-1
5                   30  AGCCGCAGTCCGTGCA-1_Input  AGCCGCAGTCCGTGCA-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      2       10              1
2               Input      2       92              1
3               Input      2       38              1
4               Input      2       51              1
5               Input      2       51              2
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor3.AD.mtx
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor3.DP.mtx
curr_vcf
  index_x #CHROM    POS REF_x ALT  strand_correlation_x     vmr_x  \
0     NaN   chrM  16512   NaN   C                   NaN       NaN
1   73A>G   chrM     73   73A   G              0.996919  0.382955
2  146T>C   chrM    146  146T   C              0.993106  0.591151
3  150C>T   chrM    150  150C   T              0.979327  0.670372
4  195T>C   chrM    195  195T   C              0.990257  0.623396

   n_cells_over_5_x  n_cells_over_20_x  \
0               NaN                NaN
1             119.0              116.0
2               2.0                1.0
3              61.0               49.0
4              44.0               31.0

   old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Input/MT/cellr_True/Input_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                1.0
2                                                2.0
3                                                3.0
4                                                4.0

   ... n_cells_over_20_y  \
0  ...               NaN
1  ...             329.0
2  ...               NaN
3  ...             177.0
4  ...              22.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Control/MT/cellr_True/Control_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                2.0
2                                                NaN
3                                                3.0
4                                                4.0

      index     REF  strand_correlation       vmr  n_cells_over_5  \
0  16512T>C  16512T            0.772501  0.013277             0.0
1     73A>G     73A            0.995236  0.339875          2768.0
2    146T>C    146T            0.990833  0.665951            15.0
3    150C>T    150C            0.977151  0.800561           714.0
4    195T>C    195T            0.971955  0.669470          1103.0

  n_cells_over_20  \
0             0.0
1          2699.0
2             6.0
3           664.0
4          1027.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Flt3l/MT/cellr_True/Flt3l_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                              368.0
1                                                3.0
2                                                6.0
3                                                9.0
4                                               11.0

   new ID
0     495
1       1
2       2
3       3
4       4

[5 rows x 25 columns]
curr_labels
   new index                        ID              raw ID condition  donor  \
0          7  AACCGATAGCCTTTGA-1_Input  AACCGATAGCCTTTGA-1     Input    NaN
1         14  ACAATCGAGTATACCC-1_Input  ACAATCGAGTATACCC-1     Input    NaN
2         19  ACAGGCCGTTGAATAG-1_Input  ACAGGCCGTTGAATAG-1     Input    NaN
3         20  ACATGCAGTCATAGCT-1_Input  ACATGCAGTCATAGCT-1     Input    NaN
4         22  ACCATCCTCACGTCAA-1_Input  ACCATCCTCACGTCAA-1     Input    NaN

   donor_index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

cell meta
             new index                        ID              raw ID  \
donor_index
1                    7  AACCGATAGCCTTTGA-1_Input  AACCGATAGCCTTTGA-1
2                   14  ACAATCGAGTATACCC-1_Input  ACAATCGAGTATACCC-1
3                   19  ACAGGCCGTTGAATAG-1_Input  ACAGGCCGTTGAATAG-1
4                   20  ACATGCAGTCATAGCT-1_Input  ACATGCAGTCATAGCT-1
5                   22  ACCATCCTCACGTCAA-1_Input  ACCATCCTCACGTCAA-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      3      NaN            NaN
2               Input      3      NaN            NaN
3               Input      3      NaN            NaN
4               Input      3      NaN            NaN
5               Input      3      NaN            NaN
[ -1   2   5   8   9  23  24  26  33  37  40  45  47  48  49  52  57  67
  68  74  81  88  97  98  99 101 102 108 110 113 114 115 119 121 125 126
 127 128 133 142 144 145 149 153 156 157 161 163 177 178 183 195 214 217
 231 245 266 280 287 290 309 345 350 379]
lineage 0: 1 cells
(64, 3)
(64, 3)
curr_ad     Position  Cell  Count
0          1     1    411
3          2     1     99
6          3     1     16
9          4     1      2
10         5     1    405
donor3_lineage0
[ -1   1   2   5   8   9  12  15  23  24  26  33  37  40  45  47  48  49
  52  53  55  56  57  62  67  68  74  77  79  80  81  87  88  90  91  97
  98  99 101 102 103 108 110 113 114 115 119 122 125 126 127 128 133 134
 140 142 144 145 146 149 153 157 158 159 160 161 163 164 165 166 170 171
 172 173 174 177 178 183 189 194 195 215 221 222 223 226 228 231 235 243
 245 248 249 251 261 267 274 276 280 282 284 286 288 293 304 321 335 338
 340 345 347 350 353 354 357 358 362 365 375 379 391 392 397 404 421 422
 432 438]
lineage 1: 7 cells
(358, 3)
(358, 3)
curr_ad     Position  Cell  Count
0          1     1    230
2          2     1      2
3          3     1    118
6          4     1     12
10         6     1    125
donor3_lineage1
[ -1   2   5   9  12  23  26  33  37  40  47  52  67  68  74  81  88  97
  98 113 114 115 119 125 126 127 144 145 161 163 170 177 178 183 195 219
 247 259 270 277 295 304 358 392 397 404 410 436 438]
lineage 2: 2 cells
(80, 3)
(80, 3)
curr_ad     Position  Cell  Count
0          1     1    220
3          2     1     67
6          3     1     10
10         4     1    218
13         5     1      2
donor3_lineage2
[]
lineage 3: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage3
[ -1   0   1   2   5   7   8   9  10  23  24  26  30  32  33  37  38  40
  45  47  48  52  53  56  57  61  67  68  74  79  80  81  87  88  90  91
  97  98  99 101 103 104 106 108 110 112 113 114 115 119 121 122 125 126
 127 128 133 134 140 142 144 145 146 149 151 153 156 157 158 160 161 163
 164 165 167 169 171 172 173 174 175 176 177 178 183 189 194 195 198 201
 207 217 219 222 224 226 227 228 231 235 239 241 243 245 246 247 248 249
 256 261 267 271 273 274 276 282 284 286 288 290 294 295 301 304 309 312
 314 315 316 318 321 323 328 330 331 333 335 338 340 345 350 353 354 357
 358 362 365 368 375 379 386 389 391 392 393 396 397 400 404 405 409 430
 432 439]
lineage 4: 13 cells
(650, 3)
(650, 3)
curr_ad     Position  Cell  Count
0          1     1    395
3          4     1    147
6          5     1     36
8          6     1     14
10         8     1    256
donor3_lineage4
[ -1   0   1   2   5   8   9  12  15  23  24  26  33  37  40  45  47  48
  49  52  55  56  61  62  67  68  74  77  79  80  81  87  88  90  97  98
  99 103 104 110 112 113 114 115 119 121 122 125 126 127 133 134 140 142
 144 145 146 148 149 153 156 158 159 160 161 163 164 165 166 167 169 170
 171 172 174 175 176 177 178 183 189 194 195 199 207 215 227 228 231 243
 245 253 259 261 267 274 276 284 286 288 289 293 296 299 304 311 312 318
 329 331 335 338 340 341 343 350 353 358 359 367 379 381 388 389 391 392
 400 403 404 409 410 418 440]
lineage 5: 9 cells
(466, 3)
(466, 3)
curr_ad     Position  Cell  Count
0          1     1    165
3          4     1     69
6          5     1     19
9          6     1      2
10         7     1    135
donor3_lineage5
[ -1   2   5   7   9  16  23  26  33  37  38  40  45  47  52  57  67  68
  74  79  81  88 106 108 112 113 114 115 119 125 126 127 133 144 145 156
 157 160 161 163 164 166 177 178 183 226 227 231 243 273 276 293 295 304
 316 331 341 343 354 358 378 379 432]
lineage 6: 3 cells
(129, 3)
(129, 3)
curr_ad     Position  Cell  Count
0          1     1    106
3          2     1    114
6          3     1     21
8          4     1      9
10         5     1    214
donor3_lineage6
[ -1   1   2   5   7   8   9  10  12  23  24  26  33  37  38  40  45  47
  49  52  53  55  56  57  61  62  67  68  74  76  77  78  79  80  81  87
  88  90  91  97  98  99 101 102 106 108 110 112 113 114 115 119 121 122
 125 126 127 128 133 134 140 142 144 145 146 148 149 151 153 156 157 158
 159 160 161 163 164 165 166 167 170 171 173 175 176 177 178 183 195 198
 204 207 216 217 219 222 226 227 231 233 234 239 243 245 247 249 254 255
 259 265 267 269 270 271 273 274 276 281 282 284 286 291 293 305 309 312
 314 318 321 322 329 330 331 335 336 338 340 341 345 350 353 354 357 358
 359 364 365 373 375 379 381 385 386 387 388 389 391 392 400 401 402 409
 421 427 428 432 436 438 439]
lineage 7: 16 cells
(830, 3)
(830, 3)
curr_ad     Position  Cell  Count
0          1     1    146
3          3     1     74
6          4     1     11
9          6     1      2
10         7     1    117
donor3_lineage7
[ -1   2   5   9  23  24  26  33  37  39  40  47  52  57  61  67  68  74
  81  87  88 106 113 114 115 119 125 126 127 144 145 153 157 161 163 166
 171 177 178 183 187 189 190 195 197 199 215 231 267 286 304 330 335 354
 358 379]
lineage 8: 2 cells
(87, 3)
(87, 3)
curr_ad     Position  Cell  Count
0          1     1    884
3          2     1    315
6          3     1     66
10         4     1   1100
24         5     1    675
donor3_lineage8
[ -1   0   1   2   5   7   8   9  12  15  23  26  32  33  37  38  40  45
  47  48  49  52  53  55  56  57  61  62  67  68  74  77  80  81  87  88
  91  97  98  99 101 102 103 104 106 108 110 112 113 114 115 119 121 122
 125 126 127 128 133 134 140 142 144 145 146 149 151 153 156 157 159 160
 161 163 164 166 167 169 170 171 172 173 174 175 176 177 178 183 189 195
 198 199 201 207 215 217 219 223 226 229 230 231 233 236 237 243 245 247
 249 251 259 267 269 270 273 274 276 277 280 282 284 286 288 296 304 306
 308 309 317 318 335 338 340 343 345 350 353 355 357 358 359 364 368 373
 374 375 377 379 381 382 387 389 391 392 393 394 397 399 400 402 405 409
 410 419 421 436 438]
lineage 9: 12 cells
(641, 3)
(641, 3)
curr_ad     Position  Cell  Count
0          1     1    136
3          4     1     92
6          5     1     17
8          6     1      2
10         8     1    204
donor3_lineage9
[ -1   2   5   9  12  23  24  26  30  33  37  40  45  47  49  52  56  67
  68  74  77  81  88  90  97  98  99 106 108 110 113 114 115 119 125 126
 127 133 142 144 145 146 151 160 161 163 164 170 173 175 176 177 178 183
 222 223 226 231 234 236 245 259 270 273 274 280 282 286 288 304 306 309
 312 314 318 327 334 335 338 343 347 353 354 357 358 364 371 373 377 379
 388 389 392 397 402 410 427]
lineage 10: 4 cells
(208, 3)
(208, 3)
curr_ad     Position  Cell  Count
0          1     1    373
3          2     1    102
6          3     1     21
10         4     1    346
24         6     1    174
donor3_lineage10
[ -1   2   5   9  16  23  26  33  37  40  47  52  67  68  74  79  81  88
 113 114 115 119 125 126 127 133 144 145 160 161 163 164 167 169 177 178
 183 219 227 231 249 267 271 288 293 298 321 322 335 357 358 368 375 378]
lineage 11: 1 cells
(54, 3)
(54, 3)
curr_ad     Position  Cell  Count
0          1     1    484
3          2     1    222
6          3     1     16
10         4     1    434
17         5     1    357
donor3_lineage11
[ -1   2   5   8   9  12  23  26  33  37  40  47  48  49  52  53  56  57
  67  68  74  77  79  80  81  87  88  91  97  98  99 101 102 104 106 108
 110 112 113 114 115 119 121 125 126 127 128 133 134 142 144 145 146 148
 149 151 156 157 159 160 161 163 166 170 177 178 183 228 231 245 271 278
 316 318 335 373 379]
lineage 12: 1 cells
(77, 3)
(77, 3)
curr_ad     Position  Cell  Count
0          1     1    277
3          2     1    125
6          3     1     10
9          4     1     20
10         5     1    212
donor3_lineage12

[ -1   2   5   7   9  20  23  26  33  37  38  39  40  47  48  49  52  53
  56  67  68  70  74  77  79  81  88  90  93  98  99 102 103 104 106 107
 110 112 113 114 115 117 119 120 121 125 126 127 128 129 133 140 142 144
 145 146 149 151 159 160 161 163 166 167 170 177 178 183 195 204 219 221
 264 265 267 273 282 329 343 353 379 411]
lineage 13: 2 cells
(115, 3)
(115, 3)
curr_ad     Position  Cell  Count
0          1     1   2274
3          2     1   1071
6          3     1    144
8          4     1     39
10         5     1   1855
donor3_lineage13
[ -1   2   5   8   9  15  16  23  26  33  37  40  47  48  52  56  57  67
  68  74  77  79  80  81  88  97  98 104 106 108 110 112 113 114 115 119
 122 125 126 127 133 134 142 144 145 151 153 160 161 163 164 170 171 172
 173 174 175 176 177 178 183 195 215 227 231 233 245 267 280 286 288 318
 322 325 335 341 343 350 358 359 361 379 386 392 402 404 430 432]
lineage 14: 4 cells
(185, 3)
(185, 3)
curr_ad     Position  Cell  Count
0          1     1    140
3          2     1     72
10         5     1    164
17         7     1      3
24         8     1     96
donor3_lineage14
[ -1   2   5   7   8   9  15  23  26  33  37  38  40  47  49  52  57  67
  68  74  77  80  81  87  88  91  97  98  99 101 102 106 110 112 113 114
 115 119 122 125 126 127 133 140 142 144 145 146 148 149 153 156 157 159
 161 163 165 166 168 169 170 174 177 178 183 194 195 220 227 228 234 238
 267 270 271 274 282 284 286 288 293 306 312 316 318 328 335 338 340 341
 346 353 358 359 364 373 378 379 382 386 392 395 396 397 402 404 426 432
 437]
lineage 15: 8 cells
(356, 3)
(356, 3)
curr_ad    Position  Cell  Count
0         1     1    151
3         2     1     66
6         3     1     25
8         4     1     10
9         5     1      2
donor3_lineage15
[ -1   2   5   8   9  10  23  26  33  37  38  40  42  45  47  48  52  53
  56  57  61  67  68  74  77  80  81  87  88  90  91  97  98 101 102 106
 108 110 113 114 115 119 122 125 126 127 128 133 134 142 144 145 146 148
 149 151 153 156 157 158 159 160 161 163 165 166 169 170 173 175 176 177
 178 183 195 207 213 219 224 226 227 228 231 236 239 243 245 250 253 267
 270 273 276 286 288 291 295 318 321 329 335 338 340 341 345 347 350 354
 357 358 359 364 368 373 375 379 386 392 397 404 405 410 415 421 432 439]
lineage 16: 8 cells
(405, 3)
(405, 3)
curr_ad     Position  Cell  Count
0          1     1    275
3          2     1     83
10         5     1    280
24         7     1    172
27         8     1    205
donor3_lineage16
[]
lineage 17: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage17
[ -1   2   7   9  23  26  33  37  38  40  47  52  67  68  74  77  79  81
  88 113 114 115 119 125 126 127 144 145 161 163 170 173 177 178 183 243
 254 284 291 309 323 334 364 373 379 381 392 439]
lineage 18: 1 cells
(48, 3)
(48, 3)
curr_ad     Position  Cell  Count
0          1     1    281
3          2     1     64
8          3     1      2
10         4     1    221
24         5     1     79
donor3_lineage18
[]
lineage 19: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage19
[]
lineage 20: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage20
[ -1   2   3   5   7   8   9  12  15  16  19  23  24  26  32  33  37  38
  39  40  42  45  47  48  52  53  55  56  57  61  67  68  71  72  74  76
  77  78  79  80  81  83  87  88  91  94  95  97  98  99 102 103 105 106
 107 108 110 112 113 114 115 119 121 122 125 126 127 130 133 134 140 142
 144 145 146 148 149 151 153 156 157 158 159 160 161 163 164 166 167 169
 170 171 172 173 174 175 176 177 178 183 189 195 198 207 215 219 224 226
 227 228 231 234 239 243 245 248 249 254 266 267 270 271 274 276 277 282
 288 295 298 304 305 309 312 318 323 331 338 340 341 345 347 350 353 354
 357 358 364 370 375 378 379 381 382 389 392 393 394 396 397 398 402 405
 409 410 411 412 415 422 427 431 433 438 439]
lineage 21: 10 cells
(545, 3)
(545, 3)
curr_ad    Position  Cell  Count
0         1     1   3421
3         2     1   2354
4         3     1      2
6         4     1    124
9         6     1     38
donor3_lineage21
[]
lineage 22: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage22
[]
lineage 23: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage23
[ -1   1   2   5   7   8   9  12  15  16  23  24  26  30  33  37  38  40
  45  47  48  49  52  53  55  56  57  62  67  68  74  76  77  79  80  81
  87  88  90  91  97  98 102 103 104 106 108 110 112 113 114 115 119 121
 122 125 126 127 133 134 140 142 144 145 146 148 149 151 153 156 157 158
 159 160 161 163 164 165 167 169 170 171 172 173 174 175 176 177 178 183
 189 195 198 204 207 213 215 217 219 222 226 227 228 231 234 235 236 243
 245 247 248 249 254 259 260 261 266 267 270 271 274 276 280 281 282 286
 288 291 293 296 304 309 311 312 316 318 322 323 328 329 330 335 336 337
 338 340 341 343 345 347 350 351 353 354 358 359 364 367 368 373 375 377
 378 379 381 385 386 387 388 389 391 392 393 396 400 402 403 404 406 408
 409 416 421 422 428 430 432 436 438 439]
lineage 24: 24 cells
(1125, 3)
(1125, 3)
curr_ad     Position  Cell  Count
0          1     1    131
3          3     1     76
6          4     1     10
10         7     1    110
24        11     1     49
donor3_lineage24
[ -1   2   5   8   9  10  12  23  26  33  37  38  40  45  47  52  67  68
  74  76  77  79  81  87  88  97  98 108 112 113 114 115 119 122 125 126
 127 133 144 145 146 149 157 159 160 161 163 170 173 177 178 183 189 195
 207 215 217 222 227 228 236 244 245 254 260 267 273 274 276 280 289 296
 298 299 312 314 318 321 335 338 343 347 352 354 357 358 362 379 381 391
 405 417 427 430]
lineage 25: 4 cells
(200, 3)
(200, 3)
curr_ad     Position  Cell  Count
0          1     1    364
3          2     1    120
6          3     1     20
10         5     1    329
13         7     1      4
donor3_lineage25
[ -1   1   2   5   7   8   9  12  23  24  26  30  33  37  38  40  45  47
  48  52  53  55  56  57  61  67  68  74  77  79  80  81  87  88  90  91
  97  98 101 102 104 106 108 112 113 114 115 119 121 122 125 126 127 128
 133 134 140 142 144 145 146 148 149 151 153 156 157 159 160 161 163 164
 165 166 167 169 170 173 175 176 177 178 183 189 194 195 207 215 219 221
 223 227 231 233 235 239 243 245 247 248 251 254 266 267 268 270 271 274
 276 277 278 284 286 288 293 295 296 298 304 309 312 314 316 318 331 335
 338 340 341 343 345 350 357 359 364 365 368 369 373 375 379 388 389 391
 392 394 395 396 398 404 412 421 432 434 436 438]
lineage 26: 14 cells
(712, 3)
(712, 3)
curr_ad     Position  Cell  Count
0          1     1    240
3          3     1     85
6          4     1     20
10         7     1    250
24         9     1    208
donor3_lineage26
[ -1   0   1   2   5   6   7   8   9  10  12  13  15  16  17  19  20  23
  24  26  27  29  32  33  34  35  37  38  39  40  41  42  43  44  45  47
  48  49  50  51  52  53  55  56  57  58  59  60  61  62  64  65  67  68
  70  71  74  77  78  79  80  81  82  83  84  87  88  90  91  92  95  97
  98  99 101 102 104 105 106 107 108 110 111 112 113 114 115 117 119 120
 121 122 123 124 125 126 127 128 132 133 135 138 139 140 141 142 144 145
 146 148 149 151 152 153 154 156 157 158 159 160 161 162 163 164 165 166
 167 168 169 170 171 173 174 175 176 177 178 180 181 183 189 191 194 195
 198 199 204 207 214 215 217 219 221 222 223 226 227 228 231 233 236 239
 243 245 247 248 251 253 256 259 270 271 274 276 280 284 286 288 293 295
 296 304 306 309 310 311 312 314 316 318 321 323 329 330 331 333 335 336
 338 340 341 342 345 350 351 352 353 354 356 357 358 359 361 364 365 367
 373 375 378 379 381 382 386 388 391 392 393 394 395 396 397 398 404 408
 409 410 411 412 415 419 430 432 436 439 440]
lineage 27: 20 cells
(1124, 3)
(1124, 3)
curr_ad     Position  Cell  Count
0          1     1   3802
3          4     1   2148
6          5     1    266
9          8     1      4
10         9     1   2925
donor3_lineage27
[ -1   2   5   8   9  23  24  26  33  37  38  40  45  47  52  57  67  68
  74  77  78  79  80  81  87  88  90  91  97  98 101 102 104 106 108 113
 114 115 119 122 125 126 127 128 133 142 144 145 146 148 149 151 156 157
 159 160 161 163 170 173 175 176 177 178 183 189 204 224 226 231 243 245
 276 280 284 286 288 294 298 306 318 331 338 341 347 350 358 378 379 382
 383 392 428]
lineage 28: 3 cells
(164, 3)
(164, 3)
curr_ad     Position  Cell  Count
0          1     1    466
3          2     1    191
6          3     1     22
9          4     1      6
10         5     1    384
donor3_lineage28

[ -1   1   2   5   7   8   9  12  13  15  18  20  21  23  25  26  33  34
  37  38  39  40  42  47  48  52  54  55  57  60  61  62  63  64  67  68
  70  71  74  77  79  80  81  87  88  91  92  97  98 101 102 106 107 110
 111 112 113 114 115 119 122 123 124 125 126 127 128 133 135 137 139 142
 144 145 146 148 149 151 156 159 160 161 163 164 165 166 170 177 178 183
 195 207 223 228 231 245 249 273 274 276 282 284 286 288 291 295 309 311
 313 314 316 330 335 336 340 345 350 353 357 359 364 365 379 386 387 390
 392 393 397 415 439]
lineage 29: 6 cells
(306, 3)
(306, 3)
curr_ad     Position  Cell  Count
0          1     1   3404
3          3     1   2059
6          4     1    108
10         7     1   2599
13         8     1      3
donor3_lineage29
[ -1   2   5   9  23  26  33  37  40  47  52  67  68  74  77  81  88  91
  97  98 101 102 113 114 115 119 125 126 127 144 145 148 159 160 161 163
 164 166 177 178 183 198 226 236 243 267 273 274 288 291 309 311 318 328
 350 354 358 379 406]
lineage 30: 3 cells
(122, 3)
(122, 3)
curr_ad     Position  Cell  Count
0          1     1     87
3          2     1     49
6          3     1      3
10         4     1    148
24         5     1    109
donor3_lineage30
[ -1   1   2   3   5   7   8   9  10  12  14  16  19  21  22  23  24  26
  33  37  38  39  40  45  47  49  51  52  53  55  56  57  62  67  68  74
  76  77  79  80  81  84  87  88  90  91  95  97  98  99 101 102 103 104
 106 108 110 111 112 113 114 115 119 121 122 125 126 127 128 130 133 134
 139 140 141 142 144 145 146 148 149 151 152 153 154 156 157 158 159 160
 161 163 164 165 166 167 169 171 172 173 174 175 176 177 178 182 183 189
 194 195 198 199 207 215 219 221 226 227 228 231 233 234 235 236 238 239
 243 245 248 249 250 251 254 256 259 267 270 273 274 276 282 284 286 288
 291 296 298 300 304 309 310 311 312 314 316 318 321 322 329 330 334 335
 338 340 341 345 346 347 350 351 353 354 357 358 359 362 364 365 368 373
 375 378 379 381 382 383 386 387 388 389 391 392 393 396 400 402 403 404
 405 408 409 410 411 412 415 421 422 430 432 438 439 440]
lineage 31: 18 cells
(971, 3)
(971, 3)
curr_ad     Position  Cell  Count
0          1     1   4061
3          3     1   2948
6          5     1    199
9          7     1      5
10         8     1   3840
donor3_lineage31
[]
lineage 32: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage32
[ -1   2   5   9  12  16  23  26  33  37  40  47  52  57  67  68  74  81
  88 101 102 113 114 115 119 125 126 127 142 144 145 161 163 167 177 178
 183 207 228 266 270 284 288 309 340 345 350 354 357 358 379 403 407 415
 423]
lineage 33: 1 cells
(55, 3)
(55, 3)
curr_ad     Position  Cell  Count
0          1     1    346
3          2     1    181
6          3     1     29
10         4     1    385
13         5     1      2
donor3_lineage33
[ -1   2   5   7   9  23  26  33  37  38  40  45  47  48  52  55  67  68
  74  77  79  81  88  90  99 104 106 112 113 114 115 119 125 126 127 133
 140 142 144 145 149 151 156 157 159 161 163 166 169 177 178 183 195 209
 219 231 243 254 259 271 276 288 295 298 312 318 336 340 364 368 379 400
 419 432 438 439]
lineage 34: 4 cells
(170, 3)
(170, 3)
curr_ad     Position  Cell  Count
0          1     1    164
3          2     1     30
6          3     1     19
10         5     1    146
24         6     1     59
donor3_lineage34
[ -1   2   5   7   9  12  15  16  19  20  23  26  29  31  33  36  37  38
  39  40  42  45  47  48  49  50  52  54  56  57  59  60  64  67  68  74
  75  77  79  80  81  82  84  87  88  91  95  97  98  99 101 102 103 105
 106 108 111 112 113 114 115 119 121 122 125 126 127 128 130 131 133 134
 138 139 140 141 144 145 148 149 153 156 157 159 160 161 162 163 164 165
 166 169 170 171 173 174 175 176 177 178 183 189 195 207 215 219 221 226
 236 245 247 267 271 280 281 288 291 293 296 309 318 321 335 340 341 350
 351 358 379 383 388 391 396 398 409 421 427 430 436 438 439]
lineage 35: 5 cells
(282, 3)
(282, 3)
curr_ad     Position  Cell  Count
0          1     1   6043
3          2     1   2496
6          3     1    302
10         5     1   4017
16         7     1      4
donor3_lineage35
[ -1   2   5   7   8   9  10  12  15  16  18  20  23  24  26  30  31  33
  37  38  39  40  41  44  47  48  49  51  52  53  56  57  59  62  64  65
  67  68  70  74  76  77  79  80  81  84  87  88  90  91  97  98  99 100
 104 106 110 113 114 115 119 121 122 123 124 125 126 127 128 129 132 133
 134 137 138 140 141 142 144 145 146 148 149 151 152 153 154 156 157 159
 160 161 163 164 165 166 167 169 170 171 172 173 174 175 176 177 178 181
 183 189 194 195 198 215 227 228 231 236 243 244 245 249 251 261 267 270
 274 276 286 288 293 298 302 304 309 312 318 322 329 331 334 335 338 340
 341 345 347 350 354 358 362 364 368 377 378 379 386 387 388 393 394 396
 398 400 402 408 410 411 415 429 430 431 439]
lineage 36: 10 cells
(532, 3)
(532, 3)
curr_ad    Position  Cell  Count
0         1     1   5260
3         2     1   2806
6         3     1    306
8         4     1     14
9         5     1    127
donor3_lineage36
[ -1   1   2   5   9  12  23  24  26  33  37  38  40  47  48  52  53  55
  56  57  61  62  67  68  74  77  79  81  88  97  98  99 110 113 114 115
 119 122 125 126 127 128 140 142 144 145 146 148 149 161 163 166 167 177
 178 183 195 207 219 223 226 231 243 245 261 267 271 274 284 288 296 298
 309 311 318 330 331 335 338 340 341 350 379 389 392 400 409 410 420]
lineage 37: 3 cells
(156, 3)
(156, 3)
curr_ad     Position  Cell  Count
0          1     1    204
2          2     1      2
3          3     1     61
6          4     1      7
10         5     1    138
donor3_lineage37
[]
lineage 38: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage38
[ -1   1   2   5   6   7   8   9  12  15  23  24  26  27  28  29  30  31
  33  37  38  39  40  43  45  47  48  49  52  55  56  57  58  61  62  67
  68  74  77  78  79  80  81  84  87  88  91  97  98 101 102 105 106 108
 110 112 113 114 115 117 119 121 122 123 125 126 127 128 130 133 140 142
 144 145 146 147 148 149 151 153 156 157 159 160 161 162 163 164 166 167
 168 169 170 171 172 173 174 175 176 177 178 183 189 195 198 199 204 209
 215 216 217 219 221 227 228 231 237 241 243 245 258 260 267 270 271 274
 276 280 286 291 293 295 296 298 305 309 312 314 316 318 321 323 328 329
 331 335 338 341 343 345 347 350 353 356 357 358 368 375 379 381 382 383
 392 393 398 403 404 410 411 412 420 427 428 430 431 439]
lineage 39: 12 cells
(629, 3)
(629, 3)
curr_ad    Position  Cell  Count
0         1     1   4309
2         2     1      5
3         3     1   3072
6         4     1    194
7         5     1      3
donor3_lineage39
[ -1   0   2   5   8   9  11  23  26  33  37  40  45  47  49  52  53  55
  56  57  61  62  67  68  74  76  77  79  80  81  87  88  90  91  97  98
 101 102 103 104 106 108 110 112 113 114 115 119 122 125 126 127 128 133
 142 144 145 146 151 153 156 157 159 160 161 163 166 170 171 172 173 174
 175 176 177 178 183 189 195 198 214 215 217 219 226 227 228 238 243 245
 255 259 260 267 270 274 276 280 295 306 311 316 318 322 335 338 345 347
 349 350 357 358 359 379 382 391 402 403 404 411 415 421 436 438]
lineage 40: 5 cells
(309, 3)
(309, 3)
curr_ad     Position  Cell  Count
0          1     1    379
3          3     1    161
6          4     1     16
10         6     1    253
24         8     1    235
donor3_lineage40
[ -1   2   5   7   9  23  26  32  33  37  40  45  47  52  53  57  61  67
  68  74  77  78  79  80  81  88  91  97  98  99 101 102 108 112 113 114
 115 119 122 125 126 127 128 133 144 145 146 149 151 153 156 157 161 163
 164 166 167 170 173 175 176 177 178 183 198 199 207 219 223 226 227 231
 233 245 247 249 254 259 261 267 274 276 280 288 291 293 296 311 314 318
 323 328 333 338 341 343 345 347 351 354 357 358 359 364 379 381 386 392
 396 397 400 415 425]
lineage 41: 8 cells
(353, 3)
(353, 3)
curr_ad     Position  Cell  Count
0          1     1    351
3          2     1     85
6          3     1     48
10         5     1    357
24         6     1    117
donor3_lineage41
[]
lineage 42: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage42
[]
lineage 43: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage43

[]
lineage 44: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage44
[ -1   2   5   8   9  12  15  23  26  33  37  38  40  45  47  48  49  52
  53  55  56  57  67  68  74  77  79  80  81  87  88  91  97  98  99 101
 102 103 104 106 108 112 113 114 115 119 121 122 125 126 127 128 133 134
 140 142 144 145 146 148 151 153 156 157 158 160 161 163 164 166 169 170
 171 172 173 174 175 176 177 178 183 189 195 198 204 215 219 227 232 236
 243 250 253 256 260 263 267 270 274 280 286 289 290 291 304 306 309 312
 313 314 316 330 331 334 338 340 341 343 345 353 354 357 362 368 373 378
 379 386 391 392 393 395 397 398 405 409 411 415 416 419 427]
lineage 45: 10 cells
(492, 3)
(492, 3)
curr_ad     Position  Cell  Count
0          1     1    183
3          2     1     76
10         5     1    220
24         8     1    105
27         9     1    112
donor3_lineage45
[ -1   1   2   5   7   8   9  12  15  23  26  30  32  33  37  38  40  42
  45  47  48  49  52  53  55  56  57  67  68  74  77  79  80  81  87  88
  90  91  97  98  99 103 104 106 108 110 112 113 114 115 119 121 122 125
 126 127 133 134 140 142 144 145 146 149 151 153 156 157 158 159 160 161
 163 164 166 168 169 170 171 172 173 174 175 176 177 178 183 189 195 199
 204 207 209 217 219 222 223 226 227 228 231 234 235 242 245 247 249 250
 255 259 261 267 270 276 277 280 286 288 290 293 295 304 309 312 316 318
 321 322 323 324 329 335 338 339 340 341 343 345 347 349 353 357 358 364
 368 378 379 382 386 387 389 391 392 393 396 402 409 410 415 416 417 419
 426 430 432 433 436 439]
lineage 46: 15 cells
(717, 3)
(717, 3)
curr_ad     Position  Cell  Count
0          1     1    159
3          3     1     54
8          5     1      3
10         7     1    140
24        10     1     50
donor3_lineage46
[]
lineage 47: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage47
[ -1   1   2   5   9  11  15  16  23  24  26  30  33  37  38  40  45  47
  48  49  52  53  55  56  57  61  62  67  68  74  77  79  80  81  87  88
  91  97  98  99 101 102 104 106 108 110 113 114 115 119 121 122 125 126
 127 128 133 134 140 142 144 145 146 148 149 151 153 156 157 158 159 160
 161 163 164 166 167 168 169 170 171 172 173 175 176 177 178 183 189 194
 195 198 204 207 215 216 217 219 221 222 223 226 227 231 234 236 239 243
 245 247 248 251 253 259 266 267 271 273 274 276 280 286 288 296 298 312
 314 318 321 322 334 335 338 340 345 353 354 357 358 364 365 373 375 377
 378 379 381 382 383 389 392 402 403 405 410 416]
lineage 48: 12 cells
(617, 3)
(617, 3)
curr_ad     Position  Cell  Count
0          1     1    159
3          3     1    125
6          4     1     22
10         5     1    201
24         9     1    116
donor3_lineage48
[ -1   2   5   7   9  23  26  33  37  40  47  48  52  67  68  74  77  81
  88 112 113 114 115 119 125 126 127 133 144 145 146 151 153 161 163 164
 177 178 183 217 222 227 236 245 246 258 260 264 274 295 304 338 350 359
 373 378 379 381 388 396 408 421 427]
lineage 49: 2 cells
(95, 3)
(95, 3)
curr_ad     Position  Cell  Count
0          1     1    282
3          2     1    172
6          3     1     10
8          4     1     17
10         5     1    349
donor3_lineage49
[ -1   2   5   9  12  23  24  26  27  33  37  40  45  47  49  52  56  62
  67  68  74  80  81  88  90 110 112 113 114 115 119 121 122 125 126 127
 128 134 144 145 149 151 156 158 160 161 163 165 167 171 172 174 177 178
 183 204 213 243 245 249 318 338 340 345 350 379 388 389 439]
lineage 50: 2 cells
(101, 3)
(101, 3)
curr_ad     Position  Cell  Count
0          1     1    275
3          2     1    144
6          3     1     13
10         4     1    191
13         5     1     26
donor3_lineage50
[ -1   2   5   9  15  16  23  26  32  33  37  39  40  47  48  49  52  55
  61  67  68  74  78  79  80  81  88  97  98  99 103 104 106 108 113 114
 115 119 121 125 126 127 133 144 145 146 148 156 157 159 161 163 164 165
 166 167 169 173 175 176 177 178 183 185 194 195 199 207 215 219 222 226
 227 228 231 241 245 258 267 270 274 276 277 282 284 288 289 293 296 309
 316 318 321 335 345 350 353 358 373 379 385 388 391 392 396 404 411 439]
lineage 51: 6 cells
(281, 3)
(281, 3)
curr_ad     Position  Cell  Count
0          1     1    650
3          2     1     67
6          3     1     48
10         4     1    709
16         5     1      2
donor3_lineage51
[]
lineage 52: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage52
[ -1   2   5   9  12  23  26  33  37  38  40  42  47  48  52  53  67  68
  74  77  79  81  88  91 112 113 114 115 119 125 126 127 142 144 145 146
 148 151 156 157 159 161 163 170 173 174 175 176 177 178 183 195 207 219
 266 271 274 286 296 316 318 321 322 323 338 340 341 350 353 362 373 416
 421 432 438 439]
lineage 53: 4 cells
(175, 3)
(175, 3)
curr_ad     Position  Cell  Count
0          1     1    102
3          2     1     41
6          3     1      7
10         4     1    151
24         6     1     90
donor3_lineage53
[ -1   2   5   8   9  23  24  26  27  30  33  37  38  40  45  47  49  52
  53  55  56  57  61  62  67  68  74  76  77  79  80  81  87  88  90  91
  97  98 106 110 112 113 114 115 119 122 125 126 127 128 133 134 142 144
 145 146 148 149 156 157 158 159 160 161 163 166 167 170 177 178 183 189
 195 198 207 215 222 223 226 227 228 231 233 234 235 236 243 245 259 260
 266 267 270 273 274 276 280 284 286 288 290 293 297 298 300 304 309 312
 314 318 319 322 329 330 335 336 338 340 341 345 347 350 353 354 357 358
 359 364 366 374 379 386 388 391 392 405 410 430 433 436 439]
lineage 54: 11 cells
(537, 3)
(537, 3)
curr_ad     Position  Cell  Count
0          1     1    277
3          2     1     73
6          3     1     15
10         5     1    238
24         6     1     80
donor3_lineage54
[ -1   2   5   8   9  10  23  24  26  33  37  38  40  47  49  52  53  55
  56  57  62  67  68  74  77  79  80  81  87  88  97  98 101 102 103 104
 106 113 114 115 119 121 122 125 126 127 134 140 142 144 145 146 156 157
 158 159 160 161 163 165 170 173 174 175 176 177 178 183 189 194 199 215
 227 243 245 246 247 255 267 270 274 284 290 295 309 312 321 322 330 335
 338 340 345 353 357 379 382 389 390 404 411]
lineage 55: 4 cells
(205, 3)
(205, 3)
curr_ad     Position  Cell  Count
0          1     1    424
3          2     1    109
6          3     1     21
10         5     1    267
11         6     1      2
donor3_lineage55
[ -1   2   3   5   7   8   9  12  15  16  19  23  24  26  27  30  32  33
  36  37  38  39  40  41  45  47  48  49  52  53  55  56  57  59  61  64
  66  67  68  69  70  74  76  77  79  80  81  87  88  90  91  92  95  96
  97  98  99 101 102 103 104 105 106 108 110 111 112 113 114 115 118 119
 121 122 124 125 126 127 128 129 131 132 133 134 138 140 141 142 144 145
 146 148 149 151 153 154 156 157 158 159 160 161 163 164 166 167 168 169
 170 171 172 173 174 175 176 177 178 179 180 183 189 193 194 195 197 198
 199 200 204 207 215 219 222 223 226 227 229 231 233 235 236 238 239 243
 245 247 249 251 253 255 259 260 261 266 267 270 271 273 274 276 280 281
 282 283 284 286 288 289 290 291 293 295 296 298 301 304 305 306 309 312
 314 316 318 321 323 329 330 335 336 338 340 341 345 347 348 350 353 354
 357 358 359 364 367 368 375 377 378 379 381 382 388 389 391 392 395 396
 398 400 402 405 411 412 414 415 419 421 426 430 432 433 436 438 439 440]
lineage 56: 21 cells
(1182, 3)
(1182, 3)
curr_ad    Position  Cell  Count
0         1     1   3178
3         2     1   1986
4         3     1      2
6         4     1    189
9         6     1     56
donor3_lineage56
[ -1   2   5   9  10  23  26  33  37  40  47  52  55  57  67  68  74  78
  79  81  88 110 113 114 115 119 125 126 127 144 145 160 161 163 164 169
 177 178 183 219 231 274 286 325 335 340 354 379]
lineage 57: 1 cells
(48, 3)
(48, 3)
curr_ad     Position  Cell  Count
0          1     1    129
3          2     1     84
6          3     1     25
10         4     1    142
11         5     1      2
donor3_lineage57
[ -1   1   2   5   8   9  11  12  13  15  19  21  23  24  26  30  31  33
  36  37  38  39  40  41  44  45  47  48  49  50  52  53  55  56  57  60
  61  62  64  65  67  68  69  70  71  72  74  76  77  80  81  83  84  86
  87  88  90  91  95  97  98  99 101 102 103 104 106 107 108 112 113 114
 115 117 119 121 122 124 125 126 127 128 130 134 140 142 144 145 146 148
 149 151 152 153 154 156 157 158 159 160 161 163 164 165 166 167 170 171
 172 173 174 175 176 177 178 179 183 198 207 270 288 295 309 310 357 358
 405]
lineage 58: 2 cells
(189, 3)
(189, 3)

curr_ad    Position  Cell  Count
0         1     1   6410
2         2     1    394
3         3     1   3412
6         4     1    420
9         5     1     28
donor3_lineage58
[ -1   2   5   7   8   9  10  15  23  26  30  33  37  38  40  42  45  47
  48  49  52  53  56  57  62  67  68  74  77  78  79  80  81  87  88  91
  97  98  99 101 102 106 108 110 112 113 114 115 119 121 122 125 126 127
 128 133 134 140 142 144 145 146 148 149 151 156 157 159 161 163 164 165
 166 167 169 170 173 175 176 177 178 183 189 195 198 207 209 215 217 219
 221 222 223 227 228 231 232 233 234 236 245 247 248 250 253 259 261 262
 265 267 270 274 276 280 286 288 290 296 300 304 309 311 312 314 316 317
 318 321 328 329 331 334 335 338 340 341 343 345 347 350 353 354 357 358
 359 361 364 365 368 373 374 375 377 378 379 381 382 383 386 389 392 393
 394 396 397 398 400 402 403 404 405 410 411 412 416 426 428 430 434 436
 438 440]
lineage 59: 17 cells
(870, 3)
(870, 3)
curr_ad     Position  Cell  Count
0          1     1    297
3          2     1     81
6          3     1      9
10         6     1    338
24         9     1     78
donor3_lineage59
[ -1   1   2   5   8   9  10  12  23  24  26  33  37  38  40  45  47  48
  49  52  53  55  56  57  61  62  67  68  74  77  79  80  81  87  88  90
  91  97  98  99 104 106 108 110 112 113 114 115 119 121 122 125 126 127
 128 133 134 140 142 144 145 146 148 151 153 156 157 158 159 160 161 163
 166 169 170 171 172 173 174 175 176 177 178 183 189 194 195 198 204 207
 211 214 215 217 219 221 222 223 224 225 226 228 231 233 236 239 243 245
 247 248 250 260 266 267 270 273 274 276 277 280 282 283 284 286 288 291
 293 295 296 298 304 305 308 309 312 313 316 318 321 330 331 335 337 338
 340 341 345 347 350 353 354 357 358 359 368 373 374 378 379 382 391 392
 395 396 397 398 400 401 402 403 405 409 410 411 422 424 428 430 432 436]
lineage 60: 14 cells
(754, 3)
(754, 3)
curr_ad     Position  Cell  Count
0          1     1    198
3          3     1     96
6          4     1     11
10         6     1    214
24         9     1    163
donor3_lineage60
[]
lineage 61: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage61
[ -1   1   2   5   7   8   9  15  16  23  26  33  37  38  40  45  47  48
  49  52  53  55  56  57  61  62  67  68  74  77  79  80  81  87  88  90
  91  99 101 102 103 104 110 112 113 114 115 119 122 125 126 127 128 133
 140 142 144 145 146 148 149 151 153 156 157 159 160 161 163 166 169 170
 171 173 174 175 176 177 178 183 184 189 195 207 210 219 224 226 227 231
 233 239 243 245 260 261 267 270 274 281 282 284 288 293 295 296 298 299
 304 309 311 312 314 316 321 322 323 329 331 335 338 340 341 345 350 353
 358 364 365 378 379 388 391 392 396 398 402 405 409 411 419 438 439]
lineage 62: 10 cells
(469, 3)
(469, 3)
curr_ad     Position  Cell  Count
0          1     1    179
3          3     1     65
10         7     1    175
24        10     1     96
27        11     1    140
donor3_lineage62
[ -1   1   2   3   4   5   6   7   8   9  10  11  12  13  15  18  19  20
  21  22  23  24  26  27  30  32  33  34  35  36  37  38  39  40  41  42
  43  44  45  47  48  49  50  51  52  53  54  55  56  57  59  61  62  65
  67  68  69  70  73  74  75  76  77  78  79  80  81  82  83  84  85  86
  87  88  90  91  92  95  97  98  99 101 102 103 104 106 108 109 110 112
 113 114 115 117 119 121 122 124 125 126 127 128 130 133 134 135 137 139
 140 141 142 143 144 145 146 148 149 151 152 153 154 156 157 158 159 160
 161 162 163 164 165 166 167 169 170 171 172 173 174 175 176 177 178 180
 181 183 189 194 195 219 222 223 227 228 231 235 236 239 243 245 247 248
 249 257 259 260 261 267 268 270 271 273 274 276 278 280 282 286 288 291
 296 297 298 299 309 311 312 314 316 318 331 335 338 340 347 350 353 356
 357 358 359 364 365 368 373 374 379 381 382 383 385 388 392 393 397 398
 403 406 409 410 411 415 427 436]
lineage 63: 14 cells
(1040, 3)
(1040, 3)
curr_ad    Position  Cell  Count
0         1     1   6679
2         2     1     57
3         3     1   3757
4         4     1      2
5         5     1      2
donor3_lineage63
[ -1   1   2   5   8   9  11  12  15  23  24  26  32  33  37  38  40  45
  47  48  49  52  53  55  56  57  61  62  67  68  74  77  80  81  87  88
  90  91  97  98  99 101 102 103 104 106 108 110 112 113 114 115 119 121
 122 125 126 127 128 133 134 140 142 144 145 146 148 149 151 153 156 157
 158 159 160 161 163 165 166 167 168 170 171 172 173 174 175 176 177 178
 183 195 214 219 221 222 233 235 245 249 251 259 263 267 274 276 286 298
 306 312 321 329 335 340 354 357 358 362 364 373 378 379 398 404 411 412
 439]
lineage 64: 5 cells
(384, 3)
(384, 3)
curr_ad    Position  Cell  Count
0         1     1    116
2         2     1      3
3         3     1     76
6         4     1     23
9         5     1     16
donor3_lineage64
[]
lineage 65: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage65
[ -1   0   2   5   7   8   9  15  23  26  33  37  38  40  45  47  52  53
  56  57  61  62  67  68  74  76  77  79  80  81  87  88  91  97  98  99
 101 102 106 108 112 113 114 115 119 121 122 125 126 127 128 133 140 142
 144 145 146 148 149 151 156 157 158 159 161 163 170 173 175 176 177 178
 183 189 207 219 223 226 227 231 234 235 239 243 245 258 270 271 283 296
 304 309 310 318 321 323 329 338 345 353 358 359 367 368 374 375 379 381
 392 396 404 410 411 422 428 430 432]
lineage 66: 6 cells
(316, 3)
(316, 3)
curr_ad     Position  Cell  Count
0          1     1    308
1          2     1      2
3          3     1     49
10         7     1    207
24         9     1     77
donor3_lineage66
[ -1   2   5   7   9  23  26  33  37  38  40  47  52  57  67  68  74  81
  88  91  97  98 101 102 108 110 113 114 115 119 121 125 126 127 133 140
 142 144 145 146 148 151 161 163 166 170 177 178 183 207 217 219 223 226
 239 245 267 274 280 306 309 318 335 338 341 432]
lineage 67: 3 cells
(132, 3)
(132, 3)
curr_ad     Position  Cell  Count
0          1     1    188
3          2     1    111
6          3     1     16
8          4     1      3
10         5     1    169
donor3_lineage67
[ -1   2   5   8   9  16  23  26  33  37  40  47  52  67  68  74  81  88
  91  97  98 106 110 113 114 115 119 125 126 127 144 145 156 161 163 169
 177 178 183 236 392 407 439]
lineage 68: 1 cells
(43, 3)
(43, 3)
curr_ad     Position  Cell  Count
0          1     1    185
3          2     1     80
6          3     1     11
9          4     1      2
10         5     1    158
donor3_lineage68
[ -1   0   2   5   6   7   8   9  10  11  12  13  15  17  23  24  26  27
  28  30  32  33  37  38  39  40  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  59  61  62  64  67  68  73  74  76  77  79  80  81  84
  86  87  88  90  91  95  97  98  99 101 102 103 104 106 108 110 112 113
 114 115 119 121 122 124 125 126 127 128 130 133 134 135 139 140 142 144
 145 146 148 149 151 153 156 157 158 159 160 161 162 163 164 165 166 167
 168 169 170 172 174 175 176 177 178 182 183 189 195 198 203 204 207 215
 216 217 219 221 223 226 227 228 231 233 234 235 236 238 239 241 243 245
 247 248 251 258 259 260 261 267 270 271 274 276 277 280 281 282 284 286
 288 289 293 294 295 304 305 309 311 312 314 316 318 320 321 322 323 330
 331 335 336 338 340 341 345 347 350 353 354 357 358 359 361 373 374 375
 378 379 380 381 382 383 387 388 389 391 392 393 394 396 397 398 400 402
 403 405 409 410 415 421 430 432 436 438 439 440]
lineage 69: 22 cells
(1163, 3)
(1163, 3)
curr_ad     Position  Cell  Count
0          1     1   2993
3          3     1   1529
6          4     1    190
7          5     1     44
10         8     1   2853
donor3_lineage69
[ -1   0   1   2   5   7   8   9  10  12  15  18  20  21  23  24  26  33
  34  35  37  38  39  40  41  42  44  45  47  48  49  51  52  53  54  55
  56  57  58  59  61  62  64  67  68  74  75  76  77  78  79  80  81  82
  85  87  88  90  91  93  95  97  98  99 104 105 106 108 110 111 112 113
 114 115 116 117 119 121 122 123 124 125 126 127 128 133 134 137 139 140
 142 144 145 146 148 149 151 152 153 156 157 158 160 161 163 164 165 166
 169 170 171 172 173 174 177 178 182 183 231 249 261 267 280 293 296 309
 321 323 341 347 357 379 392 440]
lineage 70: 2 cells
(186, 3)
(186, 3)
curr_ad    Position  Cell  Count
0         1     1   7843
1         2     1     21
2         3     1      6
3         4     1   2357
6         5     1    937
donor3_lineage70
[ -1   2   3   5   7   8   9  10  23  24  26  32  33  37  38  40  42  45
  47  48  52  53  55  57  61  62  67  68  74  76  77  79  80  81  87  88
  90  91  97  98 101 102 106 108 110 112 113 114 115 119 121 122 125 126
 127 128 133 134 142 144 145 146 148 149 151 153 156 157 158 159 161 163
 164 166 167 169 170 171 172 173 174 175 176 177 178 183 189 194 195 198
 199 204 207 215 217 223 226 227 231 236 245 248 249 259 260 267 270 273
 274 276 282 284 285 286 288 291 294 295 296 304 306 309 312 314 318 321
 322 323 329 331 335 336 338 340 341 342 347 350 353 354 357 358 361 364
 365 368 373 378 379 381 382 386 387 388 391 392 394 396 398 400 404 409
 410 414 415 426 432 434 436 440]
lineage 71: 15 cells
(784, 3)
(784, 3)
curr_ad    Position  Cell  Count
0         1     1    258
3         2     1    111
6         4     1     28
8         5     1      4
9         6     1      2
donor3_lineage71

[ -1   2   5   9  15  23  26  33  37  40  47  48  52  56  62  67  68  74
  76  77  79  81  87  88  91  97  99 101 102 104 106 108 110 113 114 115
 119 125 126 127 128 134 142 144 145 146 149 156 157 159 161 163 165 166
 167 170 173 177 178 183 195 215 227 235 243 245 260 267 270 271 274 275
 280 284 286 299 316 318 321 329 335 338 342 345 350 351 357 358 364 365
 371 373 375 378 379 381 382 387 389 391 392 396 400 402 403 411 422 426
 432 436]
lineage 72: 6 cells
(284, 3)
(284, 3)
curr_ad     Position  Cell  Count
0          1     1    301
3          2     1    105
6          3     1     28
10         4     1    324
24         6     1     92
donor3_lineage72
[ -1   1   2   3   5   7   8   9  12  15  23  24  26  33  37  38  39  40
  47  48  49  52  53  56  57  61  62  67  68  74  76  77  79  80  81  86
  87  88  91  97  98  99 101 102 103 104 106 108 110 112 113 114 115 119
 121 122 125 126 127 128 133 134 142 144 145 146 148 149 156 157 159 160
 161 163 164 167 169 170 175 177 178 183 189 194 195 199 204 206 215 217
 219 222 226 231 233 236 239 243 245 248 259 260 267 270 274 276 278 286
 288 289 291 293 295 296 298 304 312 316 318 320 322 330 335 338 340 343
 345 350 358 363 373 379 381 382 386 388 389 391 392 401 402 404 409 427
 438 439]
lineage 73: 11 cells
(520, 3)
(520, 3)
curr_ad     Position  Cell  Count
0          1     1    496
3          3     1    216
6          5     1     24
10         8     1    889
24        11     1    569
donor3_lineage73
[]
lineage 74: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage74
[ -1   1   2   5   9  12  15  16  23  26  33  37  38  40  47  48  52  55
  67  68  74  76  77  78  79  80  81  88  90  91  97  98 101 102 104 112
 113 114 115 119 121 125 126 127 133 134 140 142 144 145 149 151 156 157
 160 161 163 164 165 167 173 174 177 178 183 194 195 204 207 215 222 227
 228 231 235 236 245 256 267 270 281 286 288 291 314 318 321 323 329 338
 340 341 347 354 358 360 364 375 378 379 385 392 394 396 400 405 432]
lineage 75: 7 cells
(322, 3)
(322, 3)
curr_ad     Position  Cell  Count
0          1     1    290
3          3     1     43
6          4     1     10
10         5     1    149
24         9     1    150
donor3_lineage75
[ -1   2   5   7   9  15  23  26  32  33  37  38  40  45  47  48  52  53
  55  57  61  67  68  74  76  77  79  80  81  87  88  91  97  98  99 103
 104 106 108 110 112 113 114 115 119 122 125 126 127 133 134 142 144 145
 146 151 157 159 160 161 163 165 166 169 170 173 175 176 177 178 183 194
 195 198 204 207 209 215 219 221 223 226 227 228 245 247 248 253 260 261
 267 270 276 284 286 293 304 307 312 314 329 334 335 336 338 341 347 350
 353 358 365 373 374 377 379 381 385 386 391 392 396 400 404 405 438]
lineage 76: 8 cells
(376, 3)
(376, 3)
curr_ad     Position  Cell  Count
0          1     1    216
3          2     1     30
6          3     1     12
10         5     1    139
24         7     1     75
donor3_lineage76
[ -1   0   2   5   7   8   9  10  12  23  24  26  27  33  37  38  40  45
  47  52  53  56  57  61  67  68  74  76  77  78  79  80  81  87  88  90
  91  97  98 101 102 104 106 108 110 112 113 114 115 119 121 122 125 126
 127 128 133 140 142 144 145 146 148 149 151 153 156 157 158 159 161 163
 165 166 168 169 170 173 175 176 177 178 183 189 194 195 198 199 204 207
 215 221 223 226 227 231 234 235 236 239 243 245 247 251 253 260 266 267
 270 273 274 276 277 282 283 284 286 288 292 296 299 304 309 311 312 314
 316 318 321 323 328 330 334 335 338 340 341 345 347 350 356 357 358 359
 364 368 373 375 377 378 379 386 388 389 391 392 393 394 396 398 402 403
 409 410 411 415 421 430 432 435 438]
lineage 77: 13 cells
(692, 3)
(692, 3)
curr_ad     Position  Cell  Count
0          1     1    207
3          3     1     92
6          4     1     13
10         7     1    136
24        10     1     68
donor3_lineage77
[ -1   2   5   7   8   9  12  15  23  26  29  33  37  38  40  45  47  48
  49  52  56  57  67  68  74  77  79  80  81  87  88  91  97  98 103 110
 112 113 114 115 119 121 122 125 126 127 128 133 134 140 142 144 145 146
 148 149 151 153 157 158 160 161 163 169 170 171 172 173 174 177 178 183
 195 198 204 218 219 222 231 267 280 286 288 290 304 309 312 314 318 322
 338 340 350 353 354 358 365 368 373 375 379 391 395 409 412 415 431 432]
lineage 78: 6 cells
(293, 3)
(293, 3)
curr_ad     Position  Cell  Count
0          1     1    274
3          2     1     95
8          4     1      6
10         6     1    230
24         9     1     77
donor3_lineage78
[]
lineage 79: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage79
[ -1   2   5   8   9  23  26  33  37  40  47  52  62  67  68  74  77  81
  88  97  98 101 106 113 114 115 119 122 125 126 127 128 133 134 144 145
 146 151 157 159 161 163 165 177 178 183 195 219 226 228 231 240 245 247
 248 270 274 309 311 318 335 341 359 379 383 392 406]
lineage 80: 2 cells
(100, 3)
(100, 3)
curr_ad     Position  Cell  Count
0          1     1    268
3          2     1     71
9          4     1      4
10         5     1    192
24         6     1     73
donor3_lineage80
[ -1   0   1   2   5   7   8   9  10  12  15  16  23  24  26  30  33  37
  38  39  40  42  45  47  48  49  52  53  55  56  57  61  62  67  68  74
  76  77  78  79  80  81  87  88  90  91  97  98 101 102 103 104 106 108
 110 112 113 114 115 119 121 122 125 126 127 128 133 134 140 142 144 145
 146 148 149 151 153 156 157 158 159 160 161 163 164 165 166 167 168 169
 170 171 172 173 174 175 176 177 178 183 186 189 192 194 195 198 199 204
 207 213 214 215 216 217 219 222 223 224 226 227 228 229 231 235 236 239
 243 245 247 249 250 253 254 256 259 260 261 266 267 270 271 273 274 276
 280 282 284 286 288 289 291 292 293 295 296 298 299 304 306 309 311 312
 314 316 318 321 322 323 326 329 330 331 333 335 338 340 341 343 345 347
 350 353 354 355 357 358 359 362 363 364 365 368 372 373 374 375 378 379
 381 382 383 388 391 392 393 394 395 396 397 398 400 401 403 404 405 408
 409 410 415 421 426 430 432 434 436 440]
lineage 81: 23 cells
(1297, 3)
(1297, 3)
curr_ad     Position  Cell  Count
0          1     1   1085
3          4     1    316
6          5     1     83
9          7     1      2
10         8     1   1202
donor3_lineage81
[ -1   1   2   5   7   8   9  10  11  12  16  19  20  23  24  26  29  30
  32  33  37  38  39  40  45  47  48  52  53  55  56  57  62  66  67  68
  70  73  74  76  77  79  80  81  82  86  87  88  90  91  97  98  99 103
 104 106 108 110 112 113 114 115 119 122 125 126 127 133 134 135 140 142
 144 145 146 148 149 151 153 154 159 160 161 163 165 166 167 169 170 171
 172 173 174 175 176 177 178 183 189 194 195 198 204 207 215 216 217 226
 227 231 233 234 235 236 238 239 245 249 253 254 258 259 261 267 268 274
 276 280 284 286 288 290 291 293 295 309 313 316 318 321 322 323 335 336
 338 340 341 345 347 350 353 354 357 358 364 365 368 373 379 381 382 388
 391 392 393 396 397 398 403 409 421 422 424 428 430 432 436 438]
lineage 82: 14 cells
(696, 3)
(696, 3)
curr_ad     Position  Cell  Count
0          1     1   2197
3          3     1   1151
6          4     1     84
8          5     1     10
10         7     1   2206
donor3_lineage82
[ -1   2   5   9  12  23  26  33  37  38  40  47  52  67  68  74  80  81
  88  91 108 110 113 114 115 119 125 126 127 144 145 156 158 160 161 163
 177 178 183 280 298 316 358 373]
lineage 83: 1 cells
(44, 3)
(44, 3)
curr_ad     Position  Cell  Count
0          1     1    318
3          2     1    109
6          3     1     17
10         4     1    298
13         5     1      2
donor3_lineage83
[ -1   2   8   9  23  26  33  37  40  47  49  52  56  67  68  74  81  88
  90 113 114 115 119 121 125 126 127 140 144 145 158 161 163 177 178 183
 189 241 280 316]
lineage 84: 1 cells
(40, 3)
(40, 3)
curr_ad     Position  Cell  Count
0          1     1    225
3          2     1     90
9          3     1      2
10         4     1    151
24         5     1     81
donor3_lineage84
[ -1   1   2   3   5   8   9  23  26  33  37  38  40  45  47  49  52  53
  55  57  61  67  68  74  77  79  80  81  87  88  91  97  98  99 101 102
 106 108 112 113 114 115 119 122 125 126 127 128 133 134 142 144 145 146
 148 149 151 153 156 157 159 161 163 166 170 173 175 176 177 178 183 195
 204 207 215 217 221 222 223 227 239 245 247 248 251 256 259 260 261 270
 271 272 274 282 286 288 291 298 309 318 321 331 335 338 340 341 345 347
 350 357 358 364 377 379 382 386 388 391 393 398 400 403 404 405 409 413
 415 419 422 429 439]
lineage 85: 7 cells
(402, 3)
(402, 3)
curr_ad     Position  Cell  Count
0          1     1    215
3          3     1     61
6          5     1      6
10         7     1    155
24         8     1     65
donor3_lineage85
[ -1   0   2   5   8   9  15  23  24  26  33  37  40  45  47  48  52  53
  57  67  68  74  77  79  81  88  99 108 110 113 114 115 119 122 125 126
 127 140 142 144 145 149 151 156 160 161 163 165 170 177 178 183 195 204
 216 219 222 223 227 228 231 233 239 245 248 270 271 273 288 293 303 304
 309 312 318 326 330 335 338 340 341 350 357 358 368 379 381 384 386 389
 391 404 408 415 436 440]
lineage 86: 5 cells
(238, 3)
(238, 3)
curr_ad     Position  Cell  Count
0          1     1    316
3          3     1    154
6          4     1     13
9          5     1      6
10         6     1    265
donor3_lineage86

[]
lineage 87: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage87
[ -1   1   2   3   5   7   8   9  10  12  15  16  18  19  20  21  23  24
  26  27  29  30  31  32  33  34  37  38  39  40  44  45  46  47  48  49
  50  51  52  53  55  56  57  59  60  61  62  64  65  67  68  69  70  73
  74  76  77  78  79  80  81  82  83  84  86  87  88  89  90  91  93  95
  97  98  99 101 102 103 104 105 106 108 110 111 112 113 114 115 117 119
 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 138 140 141
 142 144 145 146 148 149 151 152 153 154 156 157 158 159 160 161 162 163
 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 180 181 182
 183 189 194 195 197 198 199 203 204 207 209 215 217 219 220 221 222 223
 226 227 228 231 233 234 235 236 239 241 243 245 246 247 248 249 252 253
 254 256 258 260 261 265 267 270 271 273 274 275 276 277 280 281 282 283
 284 285 286 288 289 290 291 293 296 298 304 309 310 311 312 314 316 317
 318 321 322 323 324 328 329 331 332 335 338 340 341 343 345 346 347 348
 350 351 353 354 357 358 359 362 363 364 365 368 373 377 378 379 381 382
 386 387 388 389 391 392 393 394 396 397 398 400 402 404 405 406 408 409
 410 411 412 414 415 419 421 422 426 427 430 431 432 433 438 439 440]
lineage 88: 33 cells
(1900, 3)
(1900, 3)
curr_ad     Position  Cell  Count
0          1     1   2917
3          3     1   1508
6          5     1    162
8          6     1      2
10         8     1   3114
donor3_lineage88
[ -1   0   2   5   7   9  23  26  33  37  38  40  42  45  47  52  53  55
  57  62  67  68  74  77  79  81  88  91 106 110 112 113 114 115 119 125
 126 127 133 144 145 146 148 156 159 160 161 163 164 169 170 173 175 177
 178 183 189 195 215 227 231 241 243 245 259 267 270 274 282 304 309 312
 318 338 351 353 357 358 379 389 391 396 433]
lineage 89: 5 cells
(219, 3)
(219, 3)
curr_ad     Position  Cell  Count
0          1     1    221
3          3     1     65
6          4     1     10
10         6     1    141
24         7     1     91
donor3_lineage89
[ -1   2   5   9  12  15  16  23  24  26  33  37  38  39  40  42  45  47
  48  52  55  56  57  62  67  68  74  77  78  79  81  88  90  91 102 103
 104 113 114 115 119 122 125 126 127 133 134 140 142 144 145 149 153 156
 157 160 161 163 167 170 173 177 178 183 188 189 190 194 195 197 202 205
 215 217 219 222 243 245 259 266 270 286 288 304 309 313 318 321 337 341
 350 353 357 365 373 379 385 389 392 396 428 438 439]
lineage 90: 7 cells
(314, 3)
(314, 3)
curr_ad     Position  Cell  Count
0          1     1   1246
3          2     1    342
6          3     1     65
10         4     1   1045
24         8     1    811
donor3_lineage90
[ -1   2   5   6   7   8   9  12  15  18  19  23  24  26  29  32  33  34
  37  38  39  40  44  45  47  48  49  52  53  56  58  60  61  62  64  66
  67  68  70  71  74  76  77  79  80  81  82  84  87  88  90  91  93  95
  97  98 101 102 103 104 106 107 108 110 112 113 114 115 116 117 119 121
 124 125 126 127 133 134 135 140 142 144 145 146 148 149 151 152 153 154
 156 157 158 159 160 161 163 164 165 168 169 170 171 172 173 174 175 176
 177 178 183 189 195 204 207 213 219 223 226 227 231 247 248 259 274 276
 280 288 295 304 309 312 314 318 322 326 329 330 335 336 338 340 347 357
 358 362 379 381 382 389 391 392 396 403 410 415 417 430 438]
lineage 91: 8 cells
(424, 3)
(424, 3)
curr_ad    Position  Cell  Count
0         1     1   4201
3         2     1   2447
6         3     1    277
7         4     1      3
8         5     1      4
donor3_lineage91
[]
lineage 92: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage92
[ -1   1   2   5   7   8   9  12  16  23  24  26  29  30  33  37  38  40
  45  47  48  49  52  53  55  57  62  67  68  74  76  77  79  80  81  88
  91  97  98  99 106 108 110 112 113 114 115 119 121 125 126 127 128 133
 134 140 142 144 145 146 148 151 153 155 156 157 158 159 160 161 163 164
 169 170 171 172 173 174 175 176 177 178 183 189 195 209 212 215 222 227
 231 238 239 245 246 254 257 259 261 270 274 276 280 281 282 284 286 288
 289 290 293 296 298 299 304 309 310 312 314 316 318 329 336 340 344 347
 348 350 357 358 364 365 368 369 373 378 379 389 391 397 400 404 405 410
 411 432 439]
lineage 93: 14 cells
(623, 3)
(623, 3)
curr_ad     Position  Cell  Count
0          1     1     91
3          3     1     96
9          6     1      2
10         7     1    171
24        10     1     80
donor3_lineage93
[ -1   0   2   5   6   7   8   9  12  13  15  18  19  21  23  24  25  26
  27  29  30  33  37  38  39  40  41  42  43  44  45  47  48  49  51  52
  53  54  55  56  57  59  60  61  62  64  65  67  68  70  71  72  73  74
  76  77  79  80  81  82  83  84  86  87  88  90  91  92  93  95  97  98
  99 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 117 119
 121 122 125 126 127 128 129 130 132 133 134 135 136 138 139 140 142 144
 145 146 148 149 150 151 153 154 156 157 158 159 160 161 162 163 164 165
 166 167 168 169 170 172 176 177 178 183 189 195 197 198 200 204 214 215
 217 219 226 227 228 231 232 234 239 241 243 245 246 247 248 249 250 254
 255 260 261 267 270 271 274 276 281 286 288 290 291 295 296 297 304 305
 306 309 311 312 314 316 318 321 322 330 335 338 340 341 343 345 347 350
 353 357 358 359 364 365 368 377 378 379 382 389 391 392 396 400 405 406
 409 410 412 415 430 432 436 438]
lineage 94: 15 cells
(848, 3)
(848, 3)
curr_ad    Position  Cell  Count
0         1     1   6244
1         2     1      2
3         3     1   2883
6         4     1    241
7         5     1      3
donor3_lineage94
[]
lineage 95: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage95
[]
lineage 96: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage96
[ -1   2   5   9  12  23  26  33  37  38  40  47  49  52  53  57  67  68
  74  77  79  80  81  87  88  97  98 108 113 114 115 119 125 126 127 128
 133 140 144 145 146 149 157 161 163 166 173 175 176 177 178 183 204 214
 224 236 244 267 274 280 286 293 316 322 323 331 338 357 358 362 373 378
 379 403 415 419 440]
lineage 97: 3 cells
(142, 3)
(142, 3)
curr_ad     Position  Cell  Count
0          1     1    258
3          2     1    114
6          3     1     13
10         4     1    278
24         6     1    100
donor3_lineage97
[]
lineage 98: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage98
[]
lineage 99: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor3_lineage99
cell meta
             new index                        ID              raw ID  \
donor_index
1                    7  AACCGATAGCCTTTGA-1_Input  AACCGATAGCCTTTGA-1
2                   14  ACAATCGAGTATACCC-1_Input  ACAATCGAGTATACCC-1
3                   19  ACAGGCCGTTGAATAG-1_Input  ACAGGCCGTTGAATAG-1
4                   20  ACATGCAGTCATAGCT-1_Input  ACATGCAGTCATAGCT-1
5                   22  ACCATCCTCACGTCAA-1_Input  ACCATCCTCACGTCAA-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      3       36              1
2               Input      3       88              1
3               Input      3       69              1
4               Input      3       91              1
5               Input      3       88              2
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor4.AD.mtx
data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donor4.DP.mtx
curr_vcf
  index_x #CHROM    POS REF_x ALT  strand_correlation_x     vmr_x  \
0     NaN   chrM  16512   NaN   C                   NaN       NaN
1   73A>G   chrM     73   73A   G              0.996919  0.382955
2  146T>C   chrM    146  146T   C              0.993106  0.591151
3  150C>T   chrM    150  150C   T              0.979327  0.670372
4  195T>C   chrM    195  195T   C              0.990257  0.623396

   n_cells_over_5_x  n_cells_over_20_x  \
0               NaN                NaN
1             119.0              116.0
2               2.0                1.0
3              61.0               49.0
4              44.0               31.0

   old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Input/MT/cellr_True/Input_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                1.0
2                                                2.0
3                                                3.0
4                                                4.0

   ... n_cells_over_20_y  \
0  ...               NaN
1  ...             329.0
2  ...               NaN
3  ...             177.0
4  ...              22.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Control/MT/cellr_True/Control_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                                NaN
1                                                2.0
2                                                NaN
3                                                3.0
4                                                4.0

      index     REF  strand_correlation       vmr  n_cells_over_5  \
0  16512T>C  16512T            0.772501  0.013277             0.0
1     73A>G     73A            0.995236  0.339875          2768.0
2    146T>C    146T            0.990833  0.665951            15.0
3    150C>T    150C            0.977151  0.800561           714.0
4    195T>C    195T            0.971955  0.669470          1103.0

  n_cells_over_20  \
0             0.0
1          2699.0
2             6.0
3           664.0
4          1027.0

  old data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/Flt3l/MT/cellr_True/Flt3l_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn  \
0                                              368.0
1                                                3.0
2                                                6.0
3                                                9.0
4                                               11.0

   new ID
0     495
1       1
2       2
3       3
4       4

[5 rows x 25 columns]
curr_labels
   new index                        ID              raw ID condition  donor  \
0          4  AAATGCCAGGAACCGT-1_Input  AAATGCCAGGAACCGT-1     Input    NaN
1          6  AACAAAGCAATTCAGC-1_Input  AACAAAGCAATTCAGC-1     Input    NaN
2         12  AATACGCGTCATCGTA-1_Input  AATACGCGTCATCGTA-1     Input    NaN
3         27  ACTAGGTGTATTCACG-1_Input  ACTAGGTGTATTCACG-1     Input    NaN
4         40  ATCCTGCAGACTAATG-1_Input  ATCCTGCAGACTAATG-1     Input    NaN

   donor_index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

cell meta
             new index                        ID              raw ID  \
donor_index
1                    4  AAATGCCAGGAACCGT-1_Input  AAATGCCAGGAACCGT-1
2                    6  AACAAAGCAATTCAGC-1_Input  AACAAAGCAATTCAGC-1
3                   12  AATACGCGTCATCGTA-1_Input  AATACGCGTCATCGTA-1
4                   27  ACTAGGTGTATTCACG-1_Input  ACTAGGTGTATTCACG-1
5                   40  ATCCTGCAGACTAATG-1_Input  ATCCTGCAGACTAATG-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      4      NaN            NaN
2               Input      4      NaN            NaN
3               Input      4      NaN            NaN
4               Input      4      NaN            NaN
5               Input      4      NaN            NaN
[ -1   5  16  27  35  40  42  54  57  64  76  82 104 106 107 109 113 124
 145 149 150 152 153 157 159 160 162 167 172 180 181 186 281 297 308 331
 361 362 365 370 403]
lineage 0: 2 cells
(52, 3)
(52, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          2     1    114
17         3     1      6
28         4     1      2
41         6     1    242
donor4_lineage0
[ -1   0   1   2   5   9  10  12  17  20  21  25  27  33  35  36  37  39
  40  41  42  46  49  51  53  54  55  57  58  61  62  63  64  66  69  70
  71  72  76  78  79  80  81  82  85  86  89  99 100 101 102 104 105 106
 107 108 110 111 113 115 118 120 122 124 125 128 129 130 131 132 133 135
 137 138 145 147 148 149 150 152 153 155 157 159 160 164 165 166 167 168
 170 172 173 176 177 180 181 184 186 194 204 207 210 224 231 235 240 241
 242 243 248 255 257 264 272 274 276 277 278 284 286 290 292 295 299 307
 310 315 321 331 336 342 347 349 350 352 353 357 359 362 365 369 370 371
 380 384 386 391 393 402 406 407 414 428 437 439 447 448]
lineage 1: 8 cells
(307, 3)
(307, 3)
curr_ad    Position  Cell  Count
0         1     1      7
1         2     1      9
2         3     1      2
3         4     1      2
6         5     1   2703
donor4_lineage1
[ -1   2   5   8   9  10  12  13  14  16  21  24  27  32  34  35  37  39
  40  41  42  47  49  50  51  54  55  57  58  59  61  62  63  64  68  69
  70  71  72  75  76  77  78  80  81  82  84  86  88  89  90  91  92  93
  94  97 100 101 104 105 106 107 109 111 113 115 116 117 118 119 120 121
 122 124 125 126 128 129 130 137 138 144 145 147 148 149 150 152 153 155
 156 157 159 160 161 162 163 164 166 167 168 169 170 172 173 174 175 176
 177 178 179 180 181 184 186 204 207 220 224 227 231 233 236 237 240 242
 243 245 249 250 255 257 259 264 273 278 281 282 284 286 287 290 291 292
 297 299 301 303 307 308 311 321 323 324 327 329 331 334 335 336 337 341
 343 346 347 349 350 352 353 355 357 360 362 365 366 370 371 374 376 377
 379 380 385 390 391 397 398 399 402 405 406 410 412 417 419 421 423 426
 427 433 439 447 448 449]
lineage 2: 17 cells
(549, 3)
(549, 3)
curr_ad     Position  Cell  Count
0          1     1     38
3          2     1      2
6          3     1   1827
9          4     1     36
10         5     1     37
donor4_lineage2
[]
lineage 3: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage3
[ -1   5   8   9  13  16  17  25  27  28  31  34  35  39  40  42  47  49
  50  54  55  57  58  59  64  69  70  76  77  78  79  81  82  88  89  91
 100 101 102 104 105 106 107 109 111 113 115 116 117 118 122 125 128 129
 130 131 137 138 145 147 148 149 150 152 153 155 157 160 161 163 164 166
 167 168 169 170 172 173 176 177 178 179 181 186 187 207 210 211 220 226
 228 229 233 236 237 240 241 242 253 255 257 260 262 266 272 278 281 282
 284 286 290 291 295 297 299 308 312 315 316 320 321 323 324 327 329 330
 331 334 340 341 342 343 347 352 357 360 362 363 365 369 370 373 374 377
 384 385 390 391 392 393 401 402 404 406 408 413 419 422 423 426 435 445
 448]
lineage 4: 14 cells
(420, 3)
(420, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          2     1    169
17         6     1      2
26         8     1      4
36        13     1      2
donor4_lineage4
[ -1   5   9  13  28  35  40  49  57  64  69  76  78 100 101 106 107 111
 113 117 122 124 125 130 138 145 147 150 152 153 155 157 161 162 167 172
 173 174 175 177 186 194 224 226 231 236 249 257 262 278 281 282 283 292
 299 329 331 334 350 352 353 355 357 367 370 386 391 401 439 441]
lineage 5: 3 cells
(92, 3)
(92, 3)
curr_ad      Position  Cell  Count
6           2     1     85
41          7     1    268
114        19     1    244
118        20     1      2
126        23     1      2
donor4_lineage5
[]
lineage 6: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage6
[ -1   5   8  16  28  40  42  47  76  80  88  89 101 109 113 115 116 117
 122 145 147 152 155 157 159 167 172 173 186 210 233 248 297 307 321 323
 329 331 369 370 391 392 402]
lineage 7: 1 cells
(43, 3)
(43, 3)
curr_ad     Position  Cell  Count
0          1     1      2
6          2     1    146
9          3     1      2
17         4     1      2
29         5     1      4
donor4_lineage7
[ -1   5   9  10  16  35  40  42  44  47  49  50  51  54  55  58  59  63
  64  76  78  81  82  89 100 101 102 104 105 109 111 113 115 117 118 122
 124 125 128 129 130 145 147 149 150 152 157 159 160 162 164 166 167 169
 172 173 176 177 178 179 180 186 194 207 210 224 229 230 231 233 234 240
 242 243 247 248 249 250 252 255 257 259 262 271 272 273 274 278 281 282
 284 286 289 290 292 295 297 299 301 305 310 321 324 327 329 334 340 341
 342 343 347 350 352 353 355 357 359 360 362 363 365 366 369 370 371 374
 376 377 380 384 386 390 391 392 393 397 401 402 403 408 410 414 415 419
 421 422 423 427 433 436 439 448 449]
lineage 8: 11 cells
(345, 3)
(345, 3)
curr_ad     Position  Cell  Count
0          1     1      8
6          2     1    127
10         3     1      2
41         7     1    409
50        11     1      4
donor4_lineage8
[ -1   1   2   5   8   9  10  11  25  27  28  32  34  35  39  40  42  47
  49  50  51  54  55  57  59  64  69  70  76  78  81  82  88  89  91  92
 100 101 106 107 109 111 113 115 116 117 118 122 124 125 128 129 130 137
 138 145 147 148 149 150 152 157 159 160 161 163 167 168 170 172 176 178
 179 180 181 186 194 210 211 220 224 229 231 233 241 242 251 255 256 257
 259 260 262 264 271 280 283 284 286 287 292 295 297 299 301 305 307 308
 310 321 329 331 333 334 335 340 342 343 348 350 352 357 359 360 365 369
 370 371 375 376 377 379 380 384 391 392 397 399 400 401 402 406 410 412
 413 415 418 419 421 433 435 437 441 442 445 447 448 449]
lineage 9: 18 cells
(453, 3)
(453, 3)
curr_ad     Position  Cell  Count
6          4     1    130
9          5     1      4
12         8     1      2
40        15     1      2
41        16     1    307
donor4_lineage9
[ -1   2   5   8  16  35  39  40  42  47  49  54  59  69  88  89  92 100
 101 109 111 113 115 116 117 118 122 125 128 129 131 137 149 150 152 153
 157 159 161 162 163 164 166 167 169 170 172 173 174 180 181 186 194 207
 210 211 220 236 237 238 240 241 242 248 252 257 264 267 269 277 278 281
 282 283 284 290 291 297 299 303 307 312 315 321 327 331 334 347 348 352
 357 362 370 371 384 391 392 397 399 401 406 407 415 421 423 429 434 439
 442 445 447]
lineage 10: 7 cells
(206, 3)
(206, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          3     1     56
9          4     1      3
17         5     1      2
36         6     1      2
donor4_lineage10
[ -1   5  35  40  76  82 113 116 117 149 152 155 157 162 164 167 172 180
 181 186 257 297 303 327 400 406 419]
lineage 11: 1 cells
(27, 3)
(27, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          2     1     36
36         3     1      2
41         4     1    227
77         5     1      4
donor4_lineage11
[  5  28  35  40  47  51  55  59  69  70  76  78  81  89 100 101 104 105
 107 109 113 122 125 149 150 152 155 157 159 160 162 163 167 169 170 172
 176 178 179 186 207 224 233 242 249 263 274 281 284 290 291 299 303 347
 352 353 357 391 421 433 445 448]
lineage 12: 4 cells
(105, 3)
(105, 3)
curr_ad      Position  Cell  Count
6           1     1     75
41          4     1    113
56          7     1      4
90         14     1      6
105        17     1      6
donor4_lineage12
[ -1   1   2   3   4   5   8   9  10  11  12  13  16  17  20  21  25  27
  28  29  32  35  39  40  41  42  46  47  49  50  51  53  54  55  57  58
  59  63  64  67  69  70  72  76  78  80  81  82  83  85  88  89  92 100
 101 102 104 105 107 109 110 111 113 114 115 116 117 118 121 122 124 125
 127 128 129 130 131 133 137 138 145 146 147 148 149 150 152 153 155 156
 157 159 160 161 162 163 164 165 166 167 169 170 172 173 174 175 176 177
 178 179 180 181 184 186 207 210 231 249 257 260 281 299 310 336 362 376
 384 391 401 403 407 429]
lineage 13: 3 cells
(241, 3)
(241, 3)

curr_ad    Position  Cell  Count
0         1     1   1087
2         2     1      6
3         3     1     94
4         4     1     10
5         5     1      4
donor4_lineage13
[ -1   5  10  25  28  34  35  39  40  42  49  50  54  55  57  58  59  69
  70  76  78  80  81  82  89  91  92 100 101 102 104 105 106 107 113 115
 116 117 118 122 128 129 130 131 147 148 149 152 153 157 159 160 162 163
 164 166 167 168 169 172 173 180 181 186 194 204 207 226 240 241 243 252
 255 257 259 262 267 273 281 286 287 290 292 295 305 313 321 322 324 329
 331 334 335 347 356 357 360 365 366 369 370 376 377 384 390 391 392 393
 397 398 401 406 412 422 426 427 436 439 440 441 449]
lineage 14: 8 cells
(238, 3)
(238, 3)
curr_ad     Position  Cell  Count
6          2     1     34
41         9     1    168
43        10     1      4
55        13     1      2
56        14     1      4
donor4_lineage14
[ -1   0   5   9  10  13  16  27  35  39  40  42  47  49  54  57  59  64
  69  70  76  78  81  82  88  89  91 100 101 111 113 115 116 117 122 124
 125 128 129 130 145 148 149 152 155 157 159 160 161 163 164 167 172 176
 179 180 181 186 194 220 229 233 240 241 242 243 249 255 257 272 278 281
 292 297 299 303 310 315 321 323 330 331 336 350 352 360 370 374 376 377
 384 390 391 393 398 401 402 408 414 422 433 437 445 448 449]
lineage 15: 6 cells
(198, 3)
(198, 3)
curr_ad      Position  Cell  Count
6           3     1     85
41         11     1    175
114        31     1    170
131        40     1      4
153        44     1    172
donor4_lineage15
[ -1   0   1   2   5   7   8   9  10  11  12  13  14  15  16  19  20  21
  22  23  25  26  27  28  29  31  32  33  34  35  36  37  39  40  41  42
  43  45  46  47  49  50  51  52  53  54  55  57  58  59  61  62  63  64
  66  69  70  72  73  74  76  77  78  79  80  81  82  84  85  88  89  91
  92  93  94  97 100 101 102 104 105 106 107 108 109 111 113 114 115 116
 117 118 120 121 122 124 125 126 128 129 130 131 132 133 135 136 137 138
 141 143 144 145 146 147 148 149 150 152 153 154 155 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 172 173 174 175 176 177 178 180 181
 183 184 186 194 200 207 209 210 218 220 224 227 229 231 233 235 236 240
 241 242 243 248 249 252 255 257 260 266 272 273 274 275 278 281 282 283
 284 286 290 292 295 297 299 300 303 305 307 308 310 312 315 321 322 323
 324 327 329 331 334 335 340 342 343 346 347 348 350 352 353 355 357 360
 362 365 366 369 370 371 374 376 380 384 386 390 391 392 393 397 400 401
 402 403 404 406 407 408 410 412 414 415 418 419 421 422 425 426 427 431
 433 434 436 439 442 447 448 449]
lineage 16: 30 cells
(969, 3)
(969, 3)
curr_ad     Position  Cell  Count
0          1     1     42
6          5     1   1360
8          6     1     28
10         8     1      3
11         9     1      2
donor4_lineage16
[ -1   3   5   9  35  39  40  54  55  69  70  76  78  81  92 102 111 113
 118 122 130 137 147 148 150 152 155 157 164 167 172 173 176 178 179 186
 207 210 237 240 243 245 255 272 278 281 286 297 299 301 310 341 347 350
 352 357 362 370 371 376 391 393 401 415 426 427 430 447]
lineage 17: 2 cells
(85, 3)
(85, 3)
curr_ad     Position  Cell  Count
4          2     1      2
6          3     1    231
10         4     1      5
41         7     1    517
56         9     1      4
donor4_lineage17
[ -1   0   1   2   4   5   8   9  10  11  13  14  16  19  25  27  34  35
  39  40  41  42  46  47  49  50  51  53  54  56  57  58  59  62  63  68
  69  70  76  78  79  81  83  85  88  89  91  92  97 100 101 104 105 106
 107 109 111 113 115 116 117 118 122 124 125 131 137 138 144 145 146 147
 148 149 150 152 153 155 157 158 159 160 161 162 163 166 167 168 169 172
 173 174 175 176 177 178 179 180 181 185 186 189 194 195 199 201 202 204
 207 213 217 220 227 228 233 236 237 241 242 243 249 252 257 259 260 267
 272 273 274 278 280 281 283 284 286 290 292 295 297 299 302 306 308 310
 315 321 322 323 324 327 329 331 336 337 340 341 342 347 350 353 357 360
 362 365 366 369 370 376 377 380 386 391 392 393 398 400 401 402 403 406
 413 414 415 421 425 427 442 445 447 448]
lineage 18: 12 cells
(410, 3)
(410, 3)
curr_ad     Position  Cell  Count
1          2     1      3
2          3     1     66
5          5     1      5
6          6     1   1902
15        12     1      2
donor4_lineage18
[ -1   5  35  40  51  63  79 100 101 113 116 117 118 137 147 152 157 159
 164 166 167 172 186 237 241 243 255 257 265 278 297 302 331 341 347 377
 391 402 406 438]
lineage 19: 2 cells
(51, 3)
(51, 3)
curr_ad      Position  Cell  Count
6           2     1     55
36          3     1      4
41          4     1    181
52          5     1      4
101         8     1      2
donor4_lineage19
[ -1   0   5   8   9  10  27  28  32  35  40  42  47  49  50  51  54  57
  59  70  76  80  81  82  89  92 101 102 109 111 113 115 118 122 124 131
 137 138 147 149 150 152 153 155 157 159 162 164 167 169 170 172 173 174
 175 176 177 181 186 187 210 224 225 226 229 231 233 236 242 243 247 248
 255 257 260 264 273 276 281 282 284 295 297 305 307 310 315 324 327 334
 335 342 348 352 353 356 360 362 365 366 369 370 371 379 384 386 390 391
 393 401 402 407 422]
lineage 20: 7 cells
(206, 3)
(206, 3)
curr_ad     Position  Cell  Count
1          2     1      2
6          3     1    130
41        11     1    203
77        21     1      8
81        22     1      2
donor4_lineage20
[  1   5  10  35  40  55  57  58  78  81  89 104 105 107 113 118 122 147
 148 149 152 155 157 159 162 167 172 186 194 204 207 210 229 233 242 252
 292 299 315 321 323 331 341 350 362 370 402 422 448]
lineage 21: 3 cells
(69, 3)
(69, 3)
curr_ad      Position  Cell  Count
6           2     1     84
36          4     1      2
41          5     1    116
105        12     1      8
106        13     1      7
donor4_lineage21
[ -1   1   2   5   8   9  10  13  16  20  25  27  28  33  35  39  40  41
  42  47  49  50  51  54  55  57  58  59  61  63  64  66  69  70  76  77
  78  80  81  82  83  88  89  91  92 100 101 102 104 105 106 107 109 110
 111 113 115 116 117 118 120 122 123 124 125 128 129 130 131 135 137 138
 140 141 144 145 147 148 149 150 152 153 155 157 158 159 160 161 162 163
 164 165 166 167 168 169 170 172 173 174 175 176 177 178 179 180 181 186
 194 204 207 210 211 224 233 235 242 244 255 257 272 273 277 278 281 282
 283 284 290 292 297 299 303 305 315 321 323 324 325 329 330 331 341 342
 347 350 352 360 362 366 369 370 386 391 393 396 402 403 405 407 408 412
 418 419 421 426 427 439 440]
lineage 22: 14 cells
(697, 3)
(697, 3)
curr_ad     Position  Cell  Count
0          1     1    184
6          4     1    668
9          5     1     62
11         7     1     32
14         8     1     50
donor4_lineage22
[]
lineage 23: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage23
[ -1   5  16  34  35  40  69  70  78  88  89 113 122 125 128 130 147 149
 150 152 155 157 160 167 172 173 178 186 204 233 242 252 262 286 297 329
 350 365 391]
lineage 24: 1 cells
(39, 3)
(39, 3)
curr_ad     Position  Cell  Count
0          1     1      8
6          2     1    150
17         3     1      2
35         4     1      2
36         5     1     16
donor4_lineage24
[]
lineage 25: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage25
[  5   8  10  32  35  39  40  42  49  55  59  69  70  76  81  88 104 105
 107 111 113 122 125 137 149 152 157 159 160 167 172 176 181 186 207 210
 220 237 241 243 252 263 270 278 281 297 299 307 321 334 352 370 377 391
 401 402 403 404 412]
lineage 26: 3 cells
(80, 3)
(80, 3)
curr_ad     Position  Cell  Count
6          1     1     72
41         7     1    223
56        10     1      2
60        11     1      6
77        14     1      6
donor4_lineage26
[  5  40 113 149 152 157 162 167 170 172 186 231 243 257 284 370 410 441
 444]
lineage 27: 1 cells
(19, 3)
(19, 3)
curr_ad      Position  Cell  Count
6           1     1     43
41          2     1    204
114         3     1    216
150         4     1      2
153         5     1    171
donor4_lineage27
[  5  10  16  28  35  40  51  57  59  69  70  91 107 113 118 122 124 128
 129 145 147 149 150 152 157 160 161 163 167 169 172 180 181 186 207 210
 231 233 235 252 257 265 273 278 294 297 299 302 315 319 331 357 362 369
 370 391 392 393 397 401 402 413 426 433]
lineage 28: 3 cells
(86, 3)
(86, 3)

curr_ad      Position  Cell  Count
6           1     1    196
36          5     1      8
41          6     1    484
60          9     1      5
114        14     1    554
donor4_lineage28
[  5   9  40  49  54  76  89 113 137 152 157 160 164 167 172 186 207 214
 241 271 278 321 365 391 407 448]
lineage 29: 1 cells
(26, 3)
(26, 3)
curr_ad     Position  Cell  Count
6          1     1    109
10         2     1      4
41         3     1    278
50         4     1      6
55         5     1      6
donor4_lineage29
[ -1   0   2   5   8   9  10  11  13  16  17  25  27  28  32  35  39  40
  41  49  50  51  55  57  58  59  61  63  64  69  70  76  78  79  81  82
  88  89  91  92 100 101 102 106 107 109 111 113 115 116 117 118 122 124
 128 130 137 138 145 147 148 149 152 153 157 159 160 162 164 167 168 169
 170 172 173 174 175 176 177 178 179 180 186 193 194 195 197 198 199 204
 207 208 209 210 211 212 215 216 219 220 222 223 229 233 236 237 240 242
 248 252 255 257 259 264 278 281 284 292 299 301 305 315 322 323 327 331
 334 341 342 347 352 353 355 360 369 370 373 374 376 377 380 384 385 386
 390 391 392 393 400 401 402 404 406 407 408 415 421 422 441 442 447 448]
lineage 30: 16 cells
(455, 3)
(455, 3)
curr_ad     Position  Cell  Count
6          4     1    468
29        14     1      2
41        18     1   1413
42        19     1     46
51        21     1      6
donor4_lineage30
[]
lineage 31: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage31
[ -1   1   2   5   8   9  10  13  16  25  27  28  34  35  39  40  42  44
  47  49  50  51  54  55  57  58  59  63  64  69  70  76  78  80  81  82
  88  89  91  92 100 101 102 104 105 106 107 109 111 113 115 116 117 118
 122 124 125 128 129 130 131 137 138 145 147 148 149 150 152 153 155 157
 159 160 161 162 163 164 166 167 168 169 170 172 173 174 175 176 177 178
 179 180 181 186 194 204 207 224 233 240 241 242 248 253 255 257 258 259
 260 264 265 271 278 281 282 284 297 299 301 307 311 321 342 347 350 352
 353 363 368 369 386 391 398 401 402 404 410 412 413 416 422 436 439 445]
lineage 32: 9 cells
(495, 3)
(495, 3)
curr_ad     Position  Cell  Count
6          4     1     80
10         6     1      8
28        11     1      4
36        14     1     10
41        16     1    157
donor4_lineage32
[ -1   5  27  35  40  42  47  50  64  76  78  82  89  92 100 101 107 113
 122 124 125 138 145 152 153 155 157 160 163 167 172 186 207 241 242 255
 257 266 284 286 293 295 299 327 336 346 357 360 362 370 371 384 397 402
 403 419 426 440]
lineage 33: 3 cells
(82, 3)
(82, 3)
curr_ad     Position  Cell  Count
6          2     1    121
41         5     1    234
83        12     1      2
90        13     1      2
93        14     1      4
donor4_lineage33
[]
lineage 34: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage34
[ -1   5   8  13  16  25  27  35  40  44  54  57  58  76  78  81  91 100
 101 102 104 105 107 109 111 113 115 122 124 131 137 138 145 147 149 152
 153 157 167 168 170 172 173 174 175 176 178 179 180 186 207 233 236 241
 243 247 259 260 273 281 284 290 297 301 309 310 316 321 324 330 342 344
 347 357 360 362 369 370 376 377 391 392 400 408 413 421 433 435 445 448
 449]
lineage 35: 4 cells
(139, 3)
(139, 3)
curr_ad     Position  Cell  Count
0          1     1     10
6          2     1    117
14         4     1      2
17         5     1      2
28         7     1     10
donor4_lineage35
[]
lineage 36: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage36
[]
lineage 37: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage37
[ -1   5  10  40  42  47  49  51  59  69  76  82  89 107 109 111 113 116
 117 118 122 125 128 129 147 149 150 152 157 159 162 166 167 170 172 173
 176 178 179 186 207 237 240 241 243 257 272 281 282 284 299 302 321 352
 366 370 373 376 377 380 387 391 407 426 447]
lineage 38: 4 cells
(111, 3)
(111, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          2     1     62
41         4     1    220
50         7     1      2
70        10     1      2
donor4_lineage38
[ -1   5   8   9  10  35  40  47  50  70  76  78  79  89 104 105 113 122
 147 148 152 153 157 162 164 167 172 186 211 220 231 233 243 252 260 267
 272 282 284 292 299 307 310 314 315 326 329 331 334 347 357 362 370 377
 384 390 391 402 403 414 415 421 441]
lineage 39: 3 cells
(88, 3)
(88, 3)
curr_ad      Position  Cell  Count
6           2     1    164
9           3     1      2
41          7     1    429
114        17     1    443
123        18     1      2
donor4_lineage39
[ -1   1   2   5   8   9  10  13  16  25  27  28  29  34  35  39  40  42
  47  49  50  51  54  55  57  58  59  63  64  69  70  76  77  78  80  81
  82  88  89  91  92 100 101 102 104 105 106 107 109 111 113 115 116 117
 118 122 124 125 128 129 130 131 137 138 145 147 148 149 150 152 153 155
 157 159 160 161 162 163 164 166 167 168 169 170 172 173 174 175 176 177
 178 179 180 181 186 194 207 210 211 220 224 231 233 236 237 240 241 242
 243 249 252 257 259 266 272 275 278 279 281 282 283 284 286 290 292 295
 297 299 302 303 305 306 308 312 315 321 327 329 331 334 335 336 340 343
 347 348 350 352 353 357 359 360 362 363 365 369 370 373 376 379 389 390
 391 392 394 397 398 400 401 402 403 406 409 413 414 416 418 419 421 427
 431 433 436 440 441 442 445 447]
lineage 40: 21 cells
(656, 3)
(656, 3)
curr_ad     Position  Cell  Count
6          4     1    135
41        17     1    270
51        21     1      5
56        24     1      5
83        37     1      3
donor4_lineage40
[ -1   5  40  41  42  47  57  58  69  70  76  89 104 105 113 124 129 130
 137 152 157 159 160 166 167 172 176 178 179 186 191 207 208 210 213 257
 273 290 299 350 353 376 391 392 401 419]
lineage 41: 2 cells
(59, 3)
(59, 3)
curr_ad     Position  Cell  Count
6          2     1    350
41         3     1    869
42         4     1     29
48         6     1      8
58         7     1      2
donor4_lineage41
[  5  35  40  47  76  78  88  89 107 113 115 122 138 145 152 157 159 160
 167 169 172 186 207 233 241 252 273 282 284 307 308 321 329 369 392 397
 399 401 412 415 434 441]
lineage 42: 3 cells
(66, 3)
(66, 3)
curr_ad      Position  Cell  Count
6           1     1     75
41          3     1    223
77          5     1      7
79          6     1      4
114        10     1    239
donor4_lineage42
[  5   8  13  39  40  47  57  76  77  78  89  91 102 113 115 124 152 157
 163 167 172 176 186 243 284 290 297 315 334 350 360 362 370 391 401 403
 415]
lineage 43: 2 cells
(47, 3)
(47, 3)
curr_ad     Position  Cell  Count
6          1     1    142
41         5     1    246
48         6     1     10
58         7     1      2
77         8     1      6
donor4_lineage43
[ -1   0   1   5   8  10  13  17  25  28  39  40  42  47  49  50  51  54
  58  59  64  69  70  76  78  81  82  89  91  92 104 105 106 107 109 113
 115 116 117 118 122 124 125 128 129 130 131 138 147 148 149 150 152 153
 155 157 160 164 166 167 172 173 176 178 179 180 181 186 194 204 207 210
 220 224 229 231 232 233 236 239 240 241 242 243 245 247 252 255 257 260
 262 265 266 271 272 274 277 278 281 282 283 286 293 297 299 303 307 308
 310 311 321 323 324 331 338 342 347 350 352 353 355 357 360 362 365 366
 369 370 371 372 374 376 384 390 391 392 393 394 397 400 402 406 407 410
 414 419 421 422 426 434 441 442 445 447]
lineage 44: 11 cells
(339, 3)
(339, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          4     1    120
29        10     1     10
41        12     1    293
60        20     1      2
donor4_lineage44
[ -1   5  27  28  35  40  50  59 100 101 102 113 122 148 149 152 157 163
 164 167 169 170 172 186 233 270 347 350 360 403 413 422]
lineage 45: 1 cells
(32, 3)
(32, 3)
curr_ad     Position  Cell  Count
0          1     1      2
6          2     1     72
28         3     1      2
29         4     1      2
36         5     1      2
donor4_lineage45
[]
lineage 46: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage46
[ -1   0   1   3   5   7   8   9  10  12  13  16  19  20  21  22  25  27
  28  29  30  31  32  33  34  35  36  39  40  41  42  43  44  45  46  47
  48  49  50  51  52  54  55  56  57  58  59  61  62  66  68  69  70  72
  73  76  77  78  79  81  82  83  84  85  86  87  88  89  90  91  92  94
  97 100 101 102 104 105 106 107 108 109 110 111 112 113 114 115 116 117
 118 119 121 122 124 125 126 127 128 129 130 131 132 137 138 139 141 142
 143 144 145 146 147 148 149 150 152 153 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 179 180 181
 182 183 184 186 188 193 194 202 203 204 207 209 211 215 222 224 233 235
 236 237 240 242 248 249 255 257 259 264 267 273 278 281 282 284 293 297
 305 309 321 324 327 329 331 341 342 343 347 352 360 362 363 366 369 370
 373 376 377 386 391 392 393 395 396 401 402 403 414 419 423 439 441 445]
lineage 47: 16 cells
(587, 3)
(587, 3)
curr_ad     Position  Cell  Count
0          1     1      6
6          5     1   1779
13        10     1      2
23        16     1      2
26        17     1      8
donor4_lineage47
[ -1   0   1   2   5   8   9  13  17  20  27  28  31  33  35  36  39  40
  41  44  52  54  57  58  60  61  63  64  68  70  75  76  77  81  83  87
  88  89  95  97 102 107 111 113 114 117 118 120 122 124 127 128 129 130
 131 138 144 145 146 147 149 152 155 156 157 158 159 160 161 163 164 166
 167 168 169 172 179 180 181 186 190 194 204 207 208 211 217 224 233 235
 238 240 241 243 255 257 259 260 272 276 281 282 284 290 295 297 307 324
 331 347 352 362 365 369 370 371 380 385 391 397 399 405 414 422 436 447
 448]
lineage 48: 6 cells
(203, 3)
(203, 3)
curr_ad    Position  Cell  Count
0         1     1     18
1         2     1      4
2         3     1      3
3         4     1     14
6         5     1   1506
donor4_lineage48
[ -1   2   5   8   9  10  25  28  29  31  35  40  42  47  49  54  58  59
  69  70  76  78  81  82  89  92 100 101 109 111 113 115 118 122 128 129
 130 137 138 147 149 152 153 157 159 160 163 164 167 168 172 180 181 186
 194 204 207 210 233 235 241 247 249 257 258 260 272 278 286 290 294 297
 301 303 315 317 327 331 334 341 342 343 365 370 371 384 386 391 393 397
 400 402 404 405 406 410 415 419 421 422 426 439 448 449]
lineage 49: 6 cells
(176, 3)
(176, 3)
curr_ad     Position  Cell  Count
6          3     1     58
10         5     1      2
41        12     1    341
50        15     1      2

83        24     1      3
donor4_lineage49
[  5  11  40  41  59  79 113 122 138 152 157 167 172 186 188 206 221]
lineage 50: 1 cells
(17, 3)
(17, 3)
curr_ad     Position  Cell  Count
6          1     1    397
12         2     1      4
41         3     1   1044
42         4     1     31
60         5     1      2
donor4_lineage50
[ -1   1   5   8   9  10  11  13  25  27  29  35  40  41  42  47  49  51
  55  57  59  63  69  70  76  79  82 101 102 109 111 113 115 116 117 118
 122 124 125 128 129 131 137 138 147 148 149 150 152 153 157 159 163 166
 167 168 170 172 173 176 178 179 180 181 186 188 194 202 204 207 211 215
 220 224 229 233 234 236 241 243 245 251 252 255 257 260 266 272 278 281
 282 284 286 296 297 299 315 321 329 331 336 341 347 350 352 357 359 365
 368 369 370 376 377 380 390 391 392 396 400 401 402 406 408 412 421 423
 439 440 448]
lineage 51: 8 cells
(259, 3)
(259, 3)
curr_ad     Position  Cell  Count
6          3     1    442
12         7     1      2
14         8     1      4
41        13     1   1486
42        14     1     59
donor4_lineage51
[ -1   0   5   8  10  35  40  42  44  49  54  59  69  76  78  81  89  92
 109 113 116 117 118 122 131 137 149 152 157 159 160 164 166 167 170 172
 173 176 178 179 186 207 210 220 229 233 237 238 240 242 243 245 248 252
 257 260 266 278 283 284 290 297 308 321 341 350 352 353 357 366 368 369
 370 373 376 377 391 393 402 422 424 426 439]
lineage 52: 6 cells
(156, 3)
(156, 3)
curr_ad     Position  Cell  Count
6          3     1     72
9          4     1      2
41         7     1    193
45         9     1    145
55        11     1      6
donor4_lineage52
[  2   5   9  25  28  31  35  39  40  42  47  49  64  69  70  76  78  80
  81  82  89 109 111 113 115 118 122 124 128 137 138 147 152 157 161 162
 163 166 167 172 174 175 177 186 207 224 257 260 262 271 297 299 321 331
 334 341 342 350 352 353 357 360 362 370 371 376 384 391 394 401 404 406
 412 414 437 447]
lineage 53: 4 cells
(112, 3)
(112, 3)
curr_ad     Position  Cell  Count
6          2     1     51
41         9     1    140
43        10     1      4
50        12     1      6
71        15     1      2
donor4_lineage53
[ -1   2   5   8  10  25  35  39  40  42  49  54  57  78  82 100 107 113
 116 117 118 124 131 148 149 152 155 157 164 167 172 174 175 177 180 181
 186 233 241 255 257 278 281 283 299 308 315 331 362 363 369 370 376 391
 392 421]
lineage 54: 3 cells
(82, 3)
(82, 3)
curr_ad     Position  Cell  Count
6          3     1     98
26         6     1      2
36         7     1      4
41         9     1    157
43        10     1      2
donor4_lineage54
[  5  35  40  42  44  58  69  70  76  82  89 113 128 129 130 152 155 157
 164 167 172 174 175 177 180 181 186 210 233 281 290 321 331 347 365 373
 391 397 402 413 436 439 441]
lineage 55: 3 cells
(66, 3)
(66, 3)
curr_ad     Position  Cell  Count
6          1     1     73
41         3     1    211
70         7     1     10
71         8     1      6
83        10     1      2
donor4_lineage55
[ -1   0   2   3   4   5   8   9  10  11  12  13  16  20  21  22  25  27
  28  29  31  32  34  35  36  39  40  41  42  47  49  50  51  53  54  55
  57  58  59  60  61  62  63  64  69  70  72  76  77  78  80  81  82  83
  84  85  87  88  89  91  92  97 100 101 102 104 105 106 107 108 109 111
 113 114 115 116 117 118 120 121 122 124 125 127 128 129 130 131 133 137
 138 141 144 145 146 147 148 149 150 151 152 153 155 156 157 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 186 189 193 194 195 198 202 204 207 209 210 211 213 215 218 222
 229 230 231 233 240 241 242 243 248 255 257 260 262 267 272 278 281 283
 284 286 292 295 297 299 300 302 303 305 307 310 315 316 321 323 324 327
 329 331 335 336 340 343 346 347 349 350 352 357 360 361 365 369 370 376
 377 380 384 386 391 392 393 394 397 399 402 403 405 406 407 408 410 413
 414 415 418 422 441 445 448 449]
lineage 56: 20 cells
(635, 3)
(635, 3)
curr_ad     Position  Cell  Count
0          1     1     24
6          6     1    934
9          7     1      2
13        11     1      2
23        16     1      6
donor4_lineage56
[]
lineage 57: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage57
[]
lineage 58: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage58
[ -1   5  16  27  35  40  47  50  76  89  92 106 111 113 122 138 150 152
 155 157 159 160 167 168 172 174 177 186 207 243 257 264 272 278 287 299
 303 315 321 331 335 341 342 349 353 358 362 365 369 370 380 388 390 391
 397 402 407 410 412 421 423 424 431 436 445 448]
lineage 59: 4 cells
(109, 3)
(109, 3)
curr_ad     Position  Cell  Count
6          2     1    109
17         3     1      2
36         5     1      2
41         6     1    303
77         9     1      2
donor4_lineage59
[ -1   1   5   8   9  11  13  16  25  27  31  32  35  40  41  42  47  50
  51  53  54  55  57  58  59  61  64  66  70  71  72  76  78  79  80  81
  83  84  85  88  92  93  97 100 101 102 108 109 111 113 115 118 122 125
 128 129 137 138 145 147 149 152 153 154 157 159 160 161 162 164 167 168
 169 172 174 175 180 181 186 207 230 241 257 272 273 284 365 366 385 397
 399 402 419]
lineage 60: 3 cells
(130, 3)
(130, 3)
curr_ad     Position  Cell  Count
0          1     1     85
2          2     1     30
6          3     1   1267
9          4     1     18
10         5     1     48
donor4_lineage60
[ -1   1   2   5   6   8   9  10  11  12  13  14  16  17  20  27  28  29
  31  32  33  34  35  36  37  38  39  40  41  42  46  47  49  50  51  52
  53  54  55  57  58  59  60  61  62  63  64  66  69  70  71  72  73  75
  76  77  78  80  81  82  83  84  85  88  91  92  93  97 100 101 102 103
 107 108 109 110 111 113 115 116 117 118 119 120 121 122 124 125 126 128
 129 130 131 132 134 135 137 138 141 143 144 145 147 148 149 150 152 153
 155 156 157 158 159 160 161 162 163 164 166 167 168 169 170 172 173 174
 175 176 177 178 179 180 181 183 184 186 194 242 257 281 286 310 350 353
 354 362 397 400 433]
lineage 61: 2 cells
(187, 3)
(187, 3)
curr_ad    Position  Cell  Count
0         1     1     31
2         2     1     24
3         3     1      5
6         4     1   5089
7         5     1      3
donor4_lineage61
[ -1   2   4   5   7   9  10  11  16  20  27  28  31  33  34  35  39  40
  41  42  43  46  47  49  50  51  52  54  55  57  59  61  62  64  65  66
  67  69  70  71  72  73  75  76  77  78  80  81  82  83  84  85  86  87
  88  89  91  92  93  99 100 101 106 109 111 113 114 115 116 117 118 120
 121 122 124 125 127 128 129 130 131 133 136 138 144 145 146 147 148 149
 150 152 153 155 156 157 158 159 160 161 163 164 166 167 168 169 170 172
 173 174 175 176 177 178 179 180 181 183 184 186 187 188 194 199 202 207
 209 210 215 220 231 233 240 241 248 252 253 255 257 260 272 274 278 281
 282 287 295 299 301 315 326 331 335 352 353 357 360 365 369 378 390 391
 400 401 402 407 447 448]
lineage 62: 9 cells
(349, 3)
(349, 3)
curr_ad     Position  Cell  Count
0          1     1     38
5          3     1      2
6          4     1   1950
8          5     1      2
10         6     1      4
donor4_lineage62
[  5   8  39  40  69  76  92 109 113 115 125 131 152 157 159 162 167 172
 176 186 204 207 257 259 278 297 334 377]
lineage 63: 2 cells
(36, 3)
(36, 3)
curr_ad     Position  Cell  Count
6          1     1     45
9          2     1     10
40         3     1      2
41         4     1    190
70         5     1      4
donor4_lineage63
[ -1   3   5   8   9  25  28  29  35  39  40  42  47  49  54  55  58  59
  63  76  78  80  81  82  88  89  92 100 101 104 105 109 111 113 116 117
 118 122 124 125 128 129 130 131 137 147 148 149 150 152 153 155 157 159
 160 162 163 164 166 167 168 172 173 176 177 186 194 204 207 210 224 229
 240 241 243 248 251 252 259 272 273 275 281 282 283 284 286 290 297 299
 303 304 308 329 331 335 347 352 360 362 369 370 371 376 391 392 393 397
 401 402 410 412 413 414 416 418 421 423 426 440 441 445 447]
lineage 64: 11 cells
(295, 3)
(295, 3)
curr_ad      Position  Cell  Count
6           3     1    108
10          5     1      2
41         11     1    292
43         12     1      2
114        34     1    313
donor4_lineage64
[ -1   1   2   5   7   8   9  10  11  13  14  16  17  18  21  22  25  27
  28  35  36  39  40  41  42  43  46  47  49  50  51  54  55  57  58  59
  63  64  66  69  70  71  76  78  80  81  82  85  86  88  89  91  92  93
  96 100 101 102 106 107 108 109 111 113 115 118 122 124 125 126 128 129
 131 133 136 137 138 145 146 147 148 149 150 152 153 155 157 159 160 161
 162 163 164 166 167 168 169 170 172 173 174 175 177 178 179 186 194 210
 224 227 229 233 238 240 241 248 249 252 255 257 259 269 278 283 284 286
 295 297 299 315 322 331 335 342 347 352 357 360 362 373 376 384 385 390
 391 392 402 412 421 423 426 439 441 447]
lineage 65: 8 cells
(359, 3)
(359, 3)
curr_ad     Position  Cell  Count
0          1     1     21
2          2     1     13
6          4     1   1241
12         9     1      4
14        10     1     49
donor4_lineage65
[ -1   0   1   2   3   4   5   7   8   9  10  11  12  13  16  17  20  21
  25  27  31  32  33  34  35  39  40  41  42  43  46  47  49  50  51  54
  55  57  58  59  61  63  64  66  67  69  70  71  72  74  76  78  79  80
  81  82  83  85  88  89  91  92  94  97  99 100 101 102 104 105 106 107
 109 111 113 115 116 117 118 120 122 124 125 126 127 128 129 130 131 132
 133 136 137 138 143 144 145 147 148 149 150 151 152 153 155 157 159 160
 161 162 163 164 165 166 167 168 169 170 172 173 174 175 176 177 178 179
 180 181 184 186 188 189 193 194 196 199 201 202 203 204 205 207 209 210
 211 212 213 216 217 219 220 221 224 226 228 229 231 233 235 236 237 240
 241 242 243 245 248 249 252 255 257 259 260 272 273 274 278 281 283 284
 286 287 290 291 292 293 297 299 300 302 303 305 307 308 312 315 321 323
 324 327 329 330 331 334 335 336 342 343 347 348 350 352 353 357 360 361
 362 365 366 369 370 371 373 376 377 380 382 384 386 390 391 392 393 396
 397 400 401 402 403 405 406 407 410 412 413 414 415 419 421 425 426 431
 433 437 439 441 445 447 448 449]
lineage 66: 36 cells
(1199, 3)
(1199, 3)
curr_ad    Position  Cell  Count
0         1     1      6
1         2     1     12
5         6     1      5
6         7     1   2635

8         8     1     21
donor4_lineage66
[ -1   5   8  10  13  27  28  29  35  40  42  47  51  57  58  59  64  69
  70  76  81  88  89  92 100 101 106 107 109 113 115 116 117 118 122 124
 128 129 130 131 137 138 145 148 149 152 153 157 159 160 162 163 166 167
 168 170 172 173 174 175 177 181 186 194 204 210 211 220 224 229 233 236
 242 243 245 249 252 257 260 272 274 278 284 290 295 299 302 303 307 308
 321 324 329 330 331 341 347 350 357 360 365 366 369 370 371 376 380 384
 386 391 393 399 400 401 402 404 406 407 410 416 419 432 433 441 447]
lineage 67: 8 cells
(243, 3)
(243, 3)
curr_ad     Position  Cell  Count
0          1     1      2
6          2     1    126
14         5     1      2
36         9     1      4
41        10     1    289
donor4_lineage67
[ -1   2   4   5   8   9  11  13  15  16  19  25  27  28  29  32  35  36
  40  41  42  44  47  49  50  51  54  55  57  58  59  60  62  63  64  67
  69  70  72  76  78  79  81  82  86  88  89  91  92 100 101 102 104 105
 106 108 109 111 113 115 117 118 121 122 124 125 128 129 131 136 137 138
 145 146 147 148 149 150 152 153 155 157 158 159 160 161 162 163 164 166
 167 168 169 172 173 174 175 176 177 178 179 180 181 186 194 207 210 220
 224 226 231 235 236 238 240 241 243 245 247 248 252 255 257 264 265 266
 272 273 274 276 278 281 282 283 284 286 290 295 299 305 306 307 308 312
 315 321 324 329 331 335 336 341 347 350 351 356 357 362 365 366 369 370
 371 382 384 385 390 391 394 397 399 402 403 412 419 421 423 426 439 440
 441 445 447 448]
lineage 68: 17 cells
(506, 3)
(506, 3)
curr_ad     Position  Cell  Count
0          1     1     22
5          3     1      3
6          4     1   1530
10         6     1     74
14         8     1      6
donor4_lineage68
[ -1   1   3   5   8   9  10  13  16  25  27  28  29  32  33  34  35  36
  40  41  42  47  49  50  51  54  55  56  57  58  59  61  63  64  69  70
  71  75  76  78  81  82  84  88  91  92  97  98 100 101 102 104 105 106
 107 109 111 113 115 116 117 118 122 124 125 126 128 129 130 131 133 137
 138 139 145 147 148 149 150 152 153 155 156 157 159 160 161 162 163 164
 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 184 186
 194 207 210 229 231 233 234 241 245 255 257 262 266 274 281 282 284 286
 295 301 308 315 321 329 331 346 347 350 352 353 357 365 366 369 370 377
 380 384 385 390 391 399 401 402 406 410 415 433 441 445 447]
lineage 69: 6 cells
(301, 3)
(301, 3)
curr_ad     Position  Cell  Count
0          1     1     70
2          2     1     23
6          4     1   1139
9          5     1     12
10         6     1      2
donor4_lineage69
[  5  27  35  40  47  69 113 137 152 157 162 167 172 186 207 210 220 241
 252 259 281 292 297 310 352 390 391 441]
lineage 70: 1 cells
(28, 3)
(28, 3)
curr_ad     Position  Cell  Count
6          1     1    106
28         2     1      2
36         3     1      2
41         4     1    278
48         5     1     10
donor4_lineage70
[]
lineage 71: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage71
[ -1   2   5   8   9  11  12  13  17  20  21  26  27  28  33  35  36  39
  40  41  42  47  54  57  58  59  61  63  64  68  69  70  71  74  76  77
  78  79  82  83  88  89  92  97 100 101 102 104 105 107 109 113 114 115
 116 117 118 122 124 125 126 128 129 131 132 133 137 138 144 145 147 148
 149 150 152 153 155 156 157 159 160 162 163 167 168 169 170 172 173 174
 177 178 180 181 183 186 193 194 202 204 205 207 208 210 211 212 213 220
 241 242 243 249 278 281 284 286 295 299 301 308 327 329 334 343 360 362
 365 366 370 385 387 391 403 405]
lineage 72: 9 cells
(279, 3)
(279, 3)
curr_ad     Position  Cell  Count
6          3     1   2078
10         5     1      2
13         7     1      2
14         8     1     60
21        10     1      2
donor4_lineage72
[ -1   5  28  35  40  47  49  69  70  78 109 111 113 118 122 147 149 150
 152 157 160 167 169 172 186 233 271 272 325 327 330 340 342 343 347 365
 380 386 391 399 402 408 415 419]
lineage 73: 2 cells
(55, 3)
(55, 3)
curr_ad     Position  Cell  Count
6          2     1    112
41         5     1    311
48         6     1      4
50         7     1      2
70         8     1      5
donor4_lineage73
[ -1   5   8   9  10  11  13  17  25  27  28  34  35  39  40  41  42  47
  49  50  51  54  55  58  59  63  69  70  76  78  80  81  82  88  89  91
  92 100 101 102 104 105 106 109 111 113 116 117 118 122 124 125 128 129
 130 131 137 145 147 148 149 150 152 155 157 159 160 161 162 163 164 166
 167 168 169 170 172 173 174 175 176 177 179 181 186 192 194 197 204 207
 210 211 224 227 229 231 233 235 240 241 242 243 245 247 248 252 255 257
 261 264 272 273 276 277 278 279 281 282 283 284 285 286 287 290 292 295
 297 299 301 305 310 315 321 324 329 331 332 334 336 340 341 342 343 347
 348 350 352 353 354 355 357 365 366 369 370 371 376 377 379 380 384 390
 391 397 399 400 401 402 403 406 410 414 415 419 423 426 436 440 441]
lineage 74: 16 cells
(498, 3)
(498, 3)
curr_ad     Position  Cell  Count
6          2     1    163
40        14     1      2
41        15     1    677
42        16     1     37
81        31     1      2
donor4_lineage74
[]
lineage 75: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage75
[ -1   5   9  10  27  35  40  49  50  59  70  76  80  81  82  88  89  92
 100 101 102 104 105 107 109 113 118 122 124 125 131 149 150 152 153 157
 159 162 163 164 167 168 170 172 173 176 178 179 180 181 186 194 207 210
 224 235 243 248 252 257 262 274 278 281 284 286 297 299 303 307 308 321
 329 331 335 336 342 345 348 349 350 352 353 360 362 363 373 377 380 384
 391 393 397 400 401 410 441 443 447]
lineage 76: 3 cells
(127, 3)
(127, 3)
curr_ad     Position  Cell  Count
0          1     1      4
6          2     1    189
10         3     1      4
11         4     1      2
28         5     1     10
donor4_lineage76
[  5  35  39  40  54  69  70  76 100 101 107 111 113 116 117 125 130 131
 149 150 152 157 160 164 167 172 173 186 194 204 210 224 233 236 237 254
 282 283 287 291 293 299 307 311 327 347 350 355 357 363 370 391 402 406
 407 426 447]
lineage 77: 3 cells
(77, 3)
(77, 3)
curr_ad      Position  Cell  Count
6           1     1    105
41          4     1    293
55          5     1      4
108        11     1      2
112        12     1      2
donor4_lineage77
[ -1   5   8  40  50  51 113 145 149 152 153 157 167 172 186 236 240 243
 267 271 299 310 339 366 369 401]
lineage 78: 1 cells
(26, 3)
(26, 3)
curr_ad     Position  Cell  Count
0          1     1     11
6          2     1     64
9          3     1      4
41         4     1    129
51         5     1      2
donor4_lineage78
[]
lineage 79: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage79
[ -1   0   1   2   3   5   8   9  10  13  16  27  28  29  34  35  39  40
  42  47  49  50  51  54  55  57  59  63  64  69  70  76  78  81  82  88
  89  91  92 100 101 102 106 107 109 111 113 115 116 117 118 122 124 125
 128 129 130 131 137 138 145 147 148 149 150 152 153 155 157 159 160 161
 162 163 164 166 167 168 169 170 172 173 176 177 178 179 180 181 186 194
 197 204 207 210 211 226 229 233 236 240 241 243 244 245 248 249 251 257
 258 264 272 273 274 275 281 282 284 286 290 292 295 297 299 303 305 308
 310 315 321 328 331 336 337 341 347 350 352 353 355 357 362 366 369 370
 371 375 380 381 384 390 391 393 397 398 402 403 406 408 414 416 419 423
 426 433 441 448]
lineage 80: 19 cells
(533, 3)
(533, 3)
curr_ad     Position  Cell  Count
6          6     1     59
40        17     1      6
41        18     1    235
77        32     1      2
79        33     1      2
donor4_lineage80
[ -1   2   5   8   9  13  25  27  32  35  39  40  42  47  49  50  51  54
  55  57  58  59  63  64  69  76  80  81  88  89  91  92 100 101 105 107
 109 111 113 122 124 125 128 129 137 138 145 147 148 149 152 153 155 157
 159 160 161 162 164 167 172 173 176 180 181 186 210 229 233 236 240 241
 242 243 257 258 272 279 280 281 282 283 284 286 290 295 297 300 316 321
 327 329 331 334 335 347 352 353 357 360 365 370 371 384 385 386 391 392
 393 401 402 403 410 412 421 431 439 445]
lineage 81: 11 cells
(282, 3)
(282, 3)
curr_ad     Position  Cell  Count
0          1     1      2
6          3     1     87
10         5     1      4
36        10     1      5
40        11     1      2
donor4_lineage81
[ -1   1   2   5   8  10  13  16  25  27  28  35  39  40  42  44  47  49
  50  51  54  55  57  58  59  64  69  70  76  77  78  80  81  82  88  89
  91  92 100 101 102 104 105 106 107 109 111 113 115 116 117 118 122 124
 125 128 129 130 131 137 138 145 147 148 149 150 152 153 155 157 159 160
 161 162 163 164 166 167 168 169 170 172 174 175 176 177 178 179 180 181
 186 194 204 207 210 220 229 233 237 240 241 242 243 248 252 255 257 258
 259 260 263 265 272 273 276 278 281 282 283 284 285 286 287 290 295 297
 298 299 301 305 307 308 310 312 321 324 327 331 341 345 347 349 352 353
 357 360 362 363 365 369 370 374 384 386 390 391 393 394 397 399 401 404
 407 408 412 414 415 419 422 426 433 435 436 439 445 447 448 449]
lineage 82: 22 cells
(666, 3)
(666, 3)
curr_ad     Position  Cell  Count
6          4     1    153
14         7     1      6
28        10     1      8
36        12     1      4
41        14     1    313
donor4_lineage82

[  5  13  27  40  42  50  54  76 106 109 111 113 122 138 152 153 155 157
 159 167 168 170 172 186 207 252 257 265 282 286 299 310 321 329 331 364
 370 376 380 406 427 443]
lineage 83: 2 cells
(52, 3)
(52, 3)
curr_ad      Position  Cell  Count
6           1     1     38
41          4     1    168
107         9     1      2
110        10     1      2
114        12     1    217
donor4_lineage83
[ -1   5   8   9  10  13  35  40  42  49  50  57  64  69  76  78  81  92
 107 113 115 116 117 122 128 129 130 131 137 138 145 147 148 149 152 153
 155 157 160 161 163 167 170 172 174 175 177 178 179 186 204 207 210 220
 233 242 243 262 269 272 274 278 282 284 302 308 321 327 331 336 347 350
 352 353 365 369 370 376 391 393 396 397 406 407 410 422 423]
lineage 84: 6 cells
(160, 3)
(160, 3)
curr_ad      Position  Cell  Count
6           2     1     70
41          8     1    103
43          9     1      2
114        20     1    162
123        24     1     10
donor4_lineage84
[  5   8  10  25  35  39  40  42  54  69  70  76  79  82  89 109 111 113
 116 117 122 124 125 148 152 157 167 172 180 181 186 231 233 240 242 243
 246 257 278 282 286 299 308 315 321 355 357 370 377 384 391 402 403 413]
lineage 85: 3 cells
(76, 3)
(76, 3)
curr_ad      Position  Cell  Count
6           1     1    108
41          7     1    278
43          8     1      2
114        18     1    303
153        25     1    266
donor4_lineage85
[ -1   1   2   5   8   9  10  13  27  28  29  31  34  35  39  40  41  42
  49  50  51  54  55  57  63  64  69  70  76  78  81  82  88  89  91  92
 100 101 102 104 105 106 107 109 111 113 115 116 117 118 122 124 125 128
 129 130 131 137 138 147 148 149 150 152 153 155 157 159 160 161 163 164
 166 167 168 170 172 174 175 176 177 179 180 181 186 194 207 210 218 220
 224 226 229 230 231 233 236 237 238 240 241 242 243 247 252 255 257 259
 263 265 272 274 278 281 282 283 284 285 286 290 295 297 299 301 302 303
 305 307 308 310 311 312 321 324 328 329 331 334 335 336 337 341 342 347
 350 352 353 357 359 360 362 365 369 370 371 376 377 380 384 386 388 390
 391 397 400 401 402 403 406 407 408 410 412 414 415 419 421 426 433 434
 437 439 441 443 445 446 447 448]
lineage 86: 21 cells
(599, 3)
(599, 3)
curr_ad     Position  Cell  Count
6          4     1    375
29        10     1      2
41        16     1   1249
42        17     1     15
43        18     1      2
donor4_lineage86
[ -1   5   8   9  10  25  35  40  44  49  54  59  69  70  76  89  91  92
 100 102 113 115 118 122 128 129 130 147 148 149 152 157 162 167 170 172
 176 178 179 186 194 207 211 220 229 231 233 235 249 257 274 281 284 297
 302 331 335 347 350 352 357 362 365 369 372 376 384 391 396 404 406 412
 413 426]
lineage 87: 3 cells
(106, 3)
(106, 3)
curr_ad     Position  Cell  Count
6          2     1     85
26         6     1      2
41         8     1    229
60        12     1      6
77        15     1      4
donor4_lineage87
[ -1   0   1   2   5   8   9  10  12  13  25  27  28  32  35  39  40  42
  44  51  54  58  64  69  70  76  78  80  82  88  89  91 100 101 104 105
 106 107 111 113 115 117 118 122 124 125 131 137 147 148 149 150 152 153
 157 159 160 161 162 163 164 167 169 170 172 173 176 178 179 180 186 187
 207 210 229 231 233 235 236 240 241 242 243 255 257 260 268 273 276 278
 281 282 284 290 292 297 299 307 315 321 323 324 326 329 331 347 350 352
 353 357 362 365 366 370 377 384 390 391 392 393 396 399 400 401 404 405
 407 410 419 421 422 433 441 447 448]
lineage 88: 9 cells
(264, 3)
(264, 3)
curr_ad     Position  Cell  Count
0          1     1      2
6          5     1     97
10         7     1      2
13         9     1      2
36        15     1      2
donor4_lineage88
[ -1   1   5  40  50  51  78  88  92 113 138 145 149 152 157 167 169 172
 186 204 240 242 247 257 272 273 315 331 346 347 352 354 371 383 384 390
 391 393 401 402 403 412 419 431 439]
lineage 89: 3 cells
(68, 3)
(68, 3)
curr_ad     Position  Cell  Count
2          2     1      8
6          3     1    164
41         4     1    374
51         5     1      2
79         7     1      2
donor4_lineage89
[ -1   1   5   8   9  10  13  16  25  27  28  32  35  39  40  42  47  49
  50  51  54  55  57  58  59  64  69  70  76  78  81  82  88  89  91  92
 100 101 102 104 105 106 107 109 111 113 115 116 117 118 122 124 125 128
 129 130 131 137 138 145 147 148 149 150 152 153 155 157 159 161 162 163
 164 166 167 168 169 170 172 173 174 175 176 177 178 179 180 186 194 204
 207 214 220 224 230 236 237 238 241 242 243 245 252 255 257 258 264 265
 273 274 277 278 282 283 284 295 297 299 301 303 305 307 308 315 316 321
 322 323 327 331 334 340 342 346 347 350 351 353 355 360 365 369 370 371
 374 376 385 390 391 399 401 402 410 412 414 415 416 418 419 423 426 431
 435 440 445]
lineage 90: 18 cells
(582, 3)
(582, 3)
curr_ad      Position  Cell  Count
6           3     1     50
28         10     1     13
41         15     1    134
82         31     1      2
114        46     1    192
donor4_lineage90
[ -1   5  40  42  47  81  92 111 113 122 152 157 160 167 172 186 267 278
 284 315 357 402 412]
lineage 91: 1 cells
(23, 3)
(23, 3)
curr_ad     Position  Cell  Count
0          1     1      2
6          2     1     96
41         3     1    255
43         4     1      2
48         5     1      2
donor4_lineage91
[ -1   5   9  10  13  27  28  29  34  35  39  40  42  49  50  51  54  57
  59  64  70  76  78  81  82  88  89  91 100 101 104 105 107 111 113 115
 118 122 124 125 137 138 145 147 148 149 150 152 153 155 157 159 160 161
 162 163 164 166 167 168 169 170 172 176 178 179 180 181 186 207 210 220
 230 233 235 240 241 242 243 247 252 255 257 260 264 273 274 278 279 281
 282 284 285 286 297 299 307 308 316 321 324 329 331 334 335 341 347 352
 362 365 366 370 375 376 380 384 385 390 391 397 401 402 404 410 412 414
 415 420 421 426 427 436 441 445 447]
lineage 92: 8 cells
(256, 3)
(256, 3)
curr_ad     Position  Cell  Count
0          1     1     10
6          2     1    250
14         5     1      7
28         6     1      5
29         7     1      2
donor4_lineage92
[]
lineage 93: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage93
[]
lineage 94: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage94
[ -1   1   5   8  10  13  16  27  35  39  40  42  47  49  50  51  54  57
  58  59  63  64  69  70  76  78  81  88  89  91  92 100 101 102 106 107
 109 113 115 116 117 118 122 124 125 128 129 130 131 137 138 145 148 149
 152 153 155 157 161 163 164 167 168 170 172 173 174 175 177 186 207 229
 231 233 240 248 249 255 257 272 273 281 284 288 292 295 297 321 323 324
 327 331 337 343 352 362 366 370 371 380 391 392 401 402 407 431 449]
lineage 95: 3 cells
(173, 3)
(173, 3)
curr_ad     Position  Cell  Count
0          1     1     24
2          2     1      6
6          3     1    208
14         6     1     10
17         7     1      6
donor4_lineage95
[ -1   5  13  16  17  21  27  31  35  36  37  40  41  42  50  52  58  59
  61  70  73  76  77  83  87  89  97 100 101 104 105 107 109 111 113 117
 124 128 130 131 136 143 144 152 153 156 157 159 160 161 162 163 167 172
 173 186 188 194 202 207 210 215 217 231 243 257 262 272 292 297 321 329
 347 352 353 355 362 392 401 410 422 423 439]
lineage 96: 4 cells
(120, 3)
(120, 3)
curr_ad     Position  Cell  Count
0          1     1      2
6          2     1   1038
14         3     1      2
17         4     1      9
22         6     1      8
donor4_lineage96
[ -1   1   2   3   5   8   9  10  11  13  16  17  27  28  32  34  35  39
  40  42  47  49  50  51  54  55  57  58  59  64  69  70  76  78  80  81
  82  88  89  91  92 100 101 102 104 105 106 107 109 111 113 115 116 117
 118 122 124 125 128 129 130 131 137 138 145 147 148 149 150 152 153 155
 157 159 160 161 162 163 164 166 167 168 169 170 172 173 174 175 176 177
 178 179 180 181 186 194 207 210 220 224 225 229 231 233 237 240 241 242
 243 244 245 249 250 252 255 257 258 260 262 263 265 266 269 270 271 272
 278 282 283 284 286 287 290 291 295 297 299 303 307 315 321 322 324 327
 329 331 334 335 342 343 347 350 352 353 355 357 360 362 365 366 368 369
 370 371 373 374 376 377 380 384 385 390 391 392 393 394 398 399 401 402
 407 410 413 414 419 421 423 425 426 433 439 440 442 445 447 448 449]
lineage 97: 25 cells
(732, 3)
(732, 3)
curr_ad      Position  Cell  Count
6           5     1     65
9           6     1      2
41         19     1    146
114        51     1    231
129        59     1      9
donor4_lineage97
[]
lineage 98: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage98

[]
lineage 99: 0 cells
(0, 3)
(0, 3)
curr_ad Empty DataFrame
Columns: [Position, Cell, Count]
Index: []
donor4_lineage99
cell meta
             new index                        ID              raw ID  \
donor_index
1                    4  AAATGCCAGGAACCGT-1_Input  AAATGCCAGGAACCGT-1
2                    6  AACAAAGCAATTCAGC-1_Input  AACAAAGCAATTCAGC-1
3                   12  AATACGCGTCATCGTA-1_Input  AATACGCGTCATCGTA-1
4                   27  ACTAGGTGTATTCACG-1_Input  ACTAGGTGTATTCACG-1
5                   40  ATCCTGCAGACTAATG-1_Input  ATCCTGCAGACTAATG-1

            condition  donor  lineage  lineage_index
donor_index
1               Input      4       22              1
2               Input      4       62              1
3               Input      4       47              1
4               Input      4      NaN            NaN
5               Input      4       47              2
all_cells_meta    donor_index  new index                        ID              raw ID  \
0            1          1  AAACGAATCTTACTCA-1_Input  AAACGAATCTTACTCA-1
1            2          9  AAGATAGTCGGTACTA-1_Input  AAGATAGTCGGTACTA-1
2            3         13  AATGTCGCACCACGAC-1_Input  AATGTCGCACCACGAC-1
3            4         32  AGGCGAAAGTGCTGAG-1_Input  AGGCGAAAGTGCTGAG-1
4            5         50  CAACCAACACCGTCTT-1_Input  CAACCAACACCGTCTT-1

  condition  donor  lineage  lineage_index
0     Input      0       58              1
1     Input      0       90              1
2     Input      0       60              1
3     Input      0       92              1
4     Input      0       78              1