# Using vireo for multiplexing, followed by lineage tracing of those groups

# 1. Set up

In [1]:
import os
os.chdir("/data2/mito_lineage/")#Analysis/multiplex")

In [2]:
# papermill --cwd /data2/mito_lineage -p INDIR {INDIR} -p OUTDIR data/processed/mttrace/CHIP_april08_2021_Croker/MTblacklist/merged/MT/cellr_True/numread_200/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/clones -p  src/vireo/2_MT_Lineage_Construct.ipynb

In [3]:
pwd

'/data2/mito_lineage'

### Remove this when running in snakemake

In [18]:
in_af = "data/processed/mttrace/TcellDupi_may17_2021/MTblacklist/merged/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donors_mgatk_in/donor0/donor_mgatk/d0.af.tsv"
af = pd.read_csv(in_af, sep="\t")
# Remove cells and positions that are all 0s

In [19]:
cells = af.columns
cells

Index(['AAACGAAAGAACAGGA-1_post', 'AAACGAAAGATTGACA-1_post',
       'AAACGAAAGCCGCAAA-1_pre', 'AAACGAAAGGTACTCT-1_post',
       'AAACGAAAGTAGAAGG-1_post', 'AAACGAAAGTAGCAAT-1_pre',
       'AAACGAAAGTAGTGTA-1_post', 'AAACGAAAGTATCTGC-1_post',
       'AAACGAACAAGCACTT-1_post', 'AAACGAACAAGGCTTT-1_post',
       ...
       'TTTGGTTTCGAGGCTC-1_pre', 'TTTGGTTTCGTTCAGA-1_pre',
       'TTTGTGTCAAAGAGAG-1_post', 'TTTGTGTCAAGGGTAC-1_pre',
       'TTTGTGTGTCATAAGA-1_pre', 'TTTGTGTGTTCTTTCA-1_post',
       'TTTGTGTTCCGGAAAG-1_post', 'TTTGTGTTCCTGACCT-1_post',
       'TTTGTGTTCGCGATGC-1_pre', 'TTTGTGTTCTTAATCC-1_post'],
      dtype='object', length=8017)

In [20]:
af = af.loc[(~((af==0).all(axis=1)))]
af = af.loc[:, (~((af == 0).all(axis=0)))]
#af_meta = pd.read_csv(in_af_meta, sep="\t")
#coverage = pd.read_csv(in_coverage, sep="\t")
#af_meta = af_meta.loc[af.index]

In [22]:
af.columns.str.contains("pre").sum()

22

In [23]:
cells_meta = pd.read_csv("/data2/mito_lineage/data/processed/mttrace/TcellDupi_may17_2021/MTblacklist/merged/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donors_mgatk_in/donor0/donor_mgatk/vireoIn/cells_meta.tsv", sep='\t')
cells_meta

,index,ID,raw ID,new index,condition,donor,donor_index
0,0,AAACGAAAGCCGCAAA-1_pre,AAACGAAAGCCGCAAA-1,1,pre,0.0,1.0
1,1,AAACGAAAGGCTCCTG-1_pre,AAACGAAAGGCTCCTG-1,2,pre,1.0,1.0
2,2,AAACGAAAGTAGCAAT-1_pre,AAACGAAAGTAGCAAT-1,3,pre,0.0,2.0
3,3,AAACGAAAGTGAATAC-1_pre,AAACGAAAGTGAATAC-1,4,pre,1.0,2.0
4,4,AAACGAAAGTGTCACT-1_pre,AAACGAAAGTGTCACT-1,5,pre,1.0,3.0
...,...,...,...,...,...,...,...
15584,15584,TTTGTGTTCCGGAAAG-1_post,TTTGTGTTCCGGAAAG-1,15585,post,0.0,8015.0
15585,15585,TTTGTGTTCCTGACCT-1_post,TTTGTGTTCCTGACCT-1,15586,post,0.0,8016.0
15586,15586,TTTGTGTTCGGATGTT-1_post,TTTGTGTTCGGATGTT-1,15587,post,1.0,6745.0
15587,15587,TTTGTGTTCTTAATCC-1_post,TTTGTGTTCTTAATCC-1,15588,post,0.0,8017.0
15588,15588,TTTGTGTTCTTGCGCT-1_post,TTTGTGTTCTTGCGCT-1,15589,post,1.0,6746.0

In [26]:
cellSamples = pd.read_csv("/data2/mito_lineage/data/processed/mttrace/TcellDupi_may17_2021/MTblacklist/merged/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donors_mgatk_in/donor0/donor_mgatk/vireoIn/cellSNP.samples.tsv", 
                         header=None)

In [36]:
cellSamples

                            0
0     AAACGAAAGAACAGGA-1_post
1     AAACGAAAGATTGACA-1_post
2     AAACGAAAGGTACTCT-1_post
3     AAACGAAAGTAGAAGG-1_post
4     AAACGAAAGTAGTGTA-1_post
...                       ...
5292  TTTGTGTCAAAGAGAG-1_post
5293  TTTGTGTGTTCTTTCA-1_post
5294  TTTGTGTTCCGGAAAG-1_post
5295  TTTGTGTTCCTGACCT-1_post
5296  TTTGTGTTCTTAATCC-1_post

[5297 rows x 1 columns]

In [50]:
cells_meta[((cells_meta["donor"] == 0.0)  & (~(cells_meta["ID"].isin(cellSamples[0]))))]

,index,ID,raw ID,new index,condition,donor,donor_index
0,0,AAACGAAAGCCGCAAA-1_pre,AAACGAAAGCCGCAAA-1,1,pre,0.0,1.0
2,2,AAACGAAAGTAGCAAT-1_pre,AAACGAAAGTAGCAAT-1,3,pre,0.0,2.0
5,5,AAACGAACACGGCCAT-1_pre,AAACGAACACGGCCAT-1,6,pre,0.0,3.0
7,7,AAACGAACATTAACGC-1_pre,AAACGAACATTAACGC-1,8,pre,0.0,4.0
9,9,AAACGAAGTTTAAGGA-1_pre,AAACGAAGTTTAAGGA-1,10,pre,0.0,5.0
...,...,...,...,...,...,...,...
5524,5524,TTTGGTTTCGAGGCTC-1_pre,TTTGGTTTCGAGGCTC-1,5525,pre,0.0,2716.0
5526,5526,TTTGGTTTCGTTCAGA-1_pre,TTTGGTTTCGTTCAGA-1,5527,pre,0.0,2717.0
5532,5532,TTTGTGTCAAGGGTAC-1_pre,TTTGTGTCAAGGGTAC-1,5533,pre,0.0,2718.0
5536,5536,TTTGTGTGTCATAAGA-1_pre,TTTGTGTGTCATAAGA-1,5537,pre,0.0,2719.0
5537,5537,TTTGTGTTCGCGATGC-1_pre,TTTGTGTTCGCGATGC-1,5538,pre,0.0,2720.0

In [47]:
cells_meta[((cells_meta["donor"] == 0.0))].groupby("condition").size()

condition
post    5297
pre     2720
dtype: int64

In [48]:
(cells_meta[((cells_meta["donor"] == 0.0)  & ((cells_meta["ID"].isin(cellSamples[0]))))]["condition"]=="pre").sum()

0

In [49]:
(cells_meta[((cells_meta["donor"] == 0.0)  & (~(cells_meta["ID"].isin(cellSamples[0]))))]["condition"]=="pre").sum()

2720

## 1.1 Parameters

In [4]:
DEBUG=True
INDIR= "data/processed/mttrace/TcellDupi_may17_2021/MTblacklist/merged/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donors_mgatk_in/donor0/donor_mgatk/vireoIn/"
OUTDIR = "data/processed/mttrace/TcellDupi_may17_2021/MTblacklist/merged/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donors_mgatk_in/donor0/donor_mgatk/vireoIn/clones"

donor = 0
n_clone_list="20,40,100"#[20, 40, 100]

In [5]:
n_clone_list = [int(x) for x in n_clone_list.split(",")]
n_clone_list

[20, 40, 100]

## 1.2 Import packages

In [6]:
from os.path import join, exists, dirname
from icecream import ic
from glob import glob
import mplh.cluster_help as ch
import os
from vireoSNP.plot.base_plot import heat_matrix
from vireoSNP import Vireo
import src.pseudo_batch as pb
import vireoSNP
ic(vireoSNP.__version__)
from tqdm import tqdm
import numpy as np
from scipy import sparse
from scipy.io import mmread
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from src.vireo.vireo_utils import run_vireo, plot_vireo_out, extract_clusters, run_elbo, separate_donors
%load_ext autoreload
%autoreload 2
from src.vireo.vireo_utils import run_lineage
#np.set_icoptions(formatter={'float': lambda x: format(x, '.5f')})

ic| vireoSNP.__version__: '0.5.6'

In [7]:
cov = pd.read_csv("/data2/mito_lineage/data/processed/mttrace/TcellDupi_may17_2021/MTblacklist/merged/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donors_mgatk_in/donor0/d0.coverage.txt",
               header=None)
cov

             0                        1    2
0           49   AAACGAAAGCCGCAAA-1_pre  151
1           57   AAACGAAAGCCGCAAA-1_pre  150
2           58   AAACGAAAGCCGCAAA-1_pre  146
3           64   AAACGAAAGCCGCAAA-1_pre  128
4           66   AAACGAAAGCCGCAAA-1_pre  138
...        ...                      ...  ...
1996227  16362  TTTGTGTTCTTAATCC-1_post   41
1996228  16387  TTTGTGTTCTTAATCC-1_post   46
1996229  16512  TTTGTGTTCTTAATCC-1_post   67
1996230  16519  TTTGTGTTCTTAATCC-1_post   63
1996231  16537  TTTGTGTTCTTAATCC-1_post   50

[1996232 rows x 3 columns]

In [8]:
cells = cov[1].unique()
pos = cov[0].unique()

for n in ["A", "C", "G", "T"]:
    curr = pd.read_csv(f"/data2/mito_lineage/data/processed/mttrace/TcellDupi_may17_2021/MTblacklist/merged/filters/minC10_minR50_topN0_hetT0.001_hetC10_hetCount5_bq20/filter_mgatk/vireoIn/multiplex/donors_mgatk_in/donor0/d0.{n}.txt",
               header=None)
    if (~(curr[1].isin(cells))).any():
        print('cells missing')

    if (~(curr[0].isin(pos))).any():
        print('var missing')

In [9]:
cov.head()

    0                       1    2
0  49  AAACGAAAGCCGCAAA-1_pre  151
1  57  AAACGAAAGCCGCAAA-1_pre  150
2  58  AAACGAAAGCCGCAAA-1_pre  146
3  64  AAACGAAAGCCGCAAA-1_pre  128
4  66  AAACGAAAGCCGCAAA-1_pre  138

In [10]:
cov.tail()

             0                        1   2
1996227  16362  TTTGTGTTCTTAATCC-1_post  41
1996228  16387  TTTGTGTTCTTAATCC-1_post  46
1996229  16512  TTTGTGTTCTTAATCC-1_post  67
1996230  16519  TTTGTGTTCTTAATCC-1_post  63
1996231  16537  TTTGTGTTCTTAATCC-1_post  50

In [11]:
cells

array(['AAACGAAAGCCGCAAA-1_pre', 'AAACGAAAGTAGCAAT-1_pre',
       'AAACGAACACGGCCAT-1_pre', ..., 'TTTGTGTTCCGGAAAG-1_post',
       'TTTGTGTTCCTGACCT-1_post', 'TTTGTGTTCTTAATCC-1_post'], dtype=object)

In [12]:
curr.shape

(499125, 6)

In [13]:
curr.loc[~(curr[1].isin(cells))][1].str.contains("post").any()

False

In [14]:
curr.loc[~(curr[1].isin(cells))][1].str.contains("pre").any()

False

In [15]:
curr.loc[~(curr[1].isin(cells))][1]

Series([], Name: 1, dtype: object)

In [16]:
curr[1]

0          AACATCGAGTGTCGGA-1_pre
1          AACATCGAGTGTCGGA-1_pre
2          AACATCGAGTGTCGGA-1_pre
3          AACATCGAGTGTCGGA-1_pre
4          AACATCGAGTGTCGGA-1_pre
                   ...
499120    TTTGTGTTCTTAATCC-1_post
499121    TTTGTGTTCTTAATCC-1_post
499122    TTTGTGTTCTTAATCC-1_post
499123    TTTGTGTTCTTAATCC-1_post
499124    TTTGTGTTCTTAATCC-1_post
Name: 1, Length: 499125, dtype: object

In [17]:
if not DEBUG:
    ic.disable()

# 2 Lineage construction for each donor